[2022-05-23 13:08] SabotageAndi commented on #2601
You learn every day something new. I am using xUnit for years, but I never heard until now about the `BeforeAfterTestAttribute`.
I have to look into it, what it is and why it doesn't work.

[2022-05-24 07:14] baynezy commented on #2601
Thanks @SabotageAndi I have been looking at [what is involved](https://docs.specflow.org/projects/specflow/en/latest/Extend/Plugins.html#generator-plugins) for this. I have some questions, but joining the Discord channel link at the bottom of the page keeps failing. Can you help?

![image](https://user-images.githubusercontent.com/1049999/169971218-ab63073b-d611-4288-b96d-c59cbe396e13.png)

[2022-05-24 07:43] SabotageAndi commented on #2601
Draft PR is here: https://github.com/SpecFlowOSS/SpecFlow/pull/2602

[2022-05-24 08:12] baynezy commented on #2601
That's incredible. Thanks.

[2022-05-25 15:47] shyam-nithyanandham commented on #1768
@ramgkn , I facing the same, but I in advanced stage, report is not generating for me. would you please share me the extent test part of the code, just wanted to understand how fearturecontext, scenario context are configured

[2022-05-25 19:49] mitchell-castillo commented on #2596
I am getting the same issue

[2022-05-26 19:50] ThiagoDv opened #2603 "'BoDi.ObjectContainer' threw an exception. ----> System.Security.VerificationException : Operation could destabilize the runtime."
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

TFS/VSTS/A

[2022-05-30 07:57] SabotageAndi commented on #2603
Could you please provide more information?
Like:
- complete call stack
- a project where this is reproducable
- the type that is getting resolved

This is too less information to say anything except WTF.

[2022-05-31 07:42] diegosasw commented on #2521
I am having similar problems. No warnings but errors, directly.
Using a .NET 6 specflow test assembly to test a .NET 6 class library.

Tests run properly but living doc is not generating. I have the tool
[code]

When running the `livingdoc test-assembly`
[code]

Is livingdoc incompatible with the latest LTS .NET (.NET 6)?

[2022-05-31 15:10] ebwinters commented on #2521
@diegosasw the living doc is not generating? Have you checked contents of the testexecution.json file? Are your routes correct? As mentioned above those are just warnings, when I faced this issue it was due to build machine paths changing, not the livingdoc tool's fault

[2022-06-01 03:57] shack05 commented on #2593
As stated in the docs ScenarioContext.ScenarioInfo is a dictionary containing each of the arguments of the scenario example.
The dictionary will not contain any items if the scenario does not have any examples.

[2022-06-01 10:44] diegosasw commented on #2521
@ebwinters @SabotageAndi yes, you're right.
Sorry, it was the first time I tried living doc and I thought they were errors, but the html is properly generated and working well. Thank you

[2022-06-03 07:22] djvandijk commented on #2591
It IS an issue. Can confirm we run into the same issue. When using a .NET6 test assembly livingdoc cannot find the bindings. The report gets generated, but without the 'Unused Step Definitions' analytics. There it states again 'No step definitions were found in the provided assemblies'.
That's a real shame since finding unused steps is one of the main reason why I'm currently looking into livingdo

[2022-06-12 01:19] Socolin opened #2605 "Colorize test output"
### Link to Feature Request

_No response_

### Implementation Idea

Hello,

I would like to add some colors in the specflow output, it'll make it simpler and easier to find what step failed when reading the test output.
Since Visual Studio does not support it this feature would impact only Rider users and test output on build servers (`dotnet test`)

Here a preview of what it can look like
![imag

[2022-06-13 12:01] SabotageAndi commented on #2605
@gasparnagy your two cents to this?

I am fine with this.

[2022-06-13 12:32] gasparnagy commented on #2605
Looks interesting. We can try in an opt-in fession without too much risk... @Socolin could you please try to make a PR for this so that it is easier to review/test the changes?

[2022-06-20 19:25] ThiagoDv commented on #2603
Hello, good afternoon, can you tell me where I can get more information about the ObjectContainer class. I already read the documentation available on the site but I didn't find clear information, I need to know what the BaseContainer property means and more about the methods of this class.

[2022-06-21 07:34] SabotageAndi commented on #2603
BaseContainer is the parent container of the current container.
Source is here: https://github.com/SpecFlowOSS/BoDi/blob/master/BoDi/BoDi.cs#L592

[2022-06-21 09:27] RadtkeJCJ opened #2608 "Async feature background not awaited in beta version (NET 6)"
### SpecFlow Version

3.10.2-beta

### Which test runner are you using?

xUnit

### Test Runner Version Number

2.4.3

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

[2022-06-21 19:44] ThiagoDv commented on #2603
Is it normal for the Base Container to be null? If not, how can I start it? I'm getting this error when it tries to go through NUnit.ssemblyHooks

Error says: ObjectContainer name does not exist in current context

![image](https://user-images.githubusercontent.com/63684101/174884729-a539069a-d62a-4601-a6fc-873e68efbe59.png)

[2022-06-28 17:18] ThiagoDv commented on #2603
Okay, thanks for the feedback, it's helping me a lot in my studies. One last question and I believe this will be the key to unlocking this error I have in TFS when uploading the automated tests.

specrun + runner comes with a TFS ready configuration as described in the TFS documentation. However, the other test provider options do not come with this configuration (specflow.nunit, specflow.xunit, e

[2022-06-29 09:34] yellowpanda opened #2609 "Security vulnerability"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

2.4.1

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlowSingleFileGenerator custom tool

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.config or con

[2022-06-30 12:21] SabotageAndi commented on #2609
Thanks for letting us know. It will be fixed with SpecFlow 4.
As our dependency is set to >= 1.03, you can manually install a later version to be not affected by this issue

[2022-07-02 00:13] ThiagoDv commented on #2603
Thank you very much for the explanations I managed to solve the problem, apparently because I had steps shared between the features I needed to create a stepbase and put the IObjectContainer in its constructor and make my steps inherit the constructor of this stepsbase class. Now it worked and it's working.

[2022-07-02 00:13] #2603 closed

[2022-07-02 14:42] 304NotModified commented on #2609
Specflow 4? I guess people need a patch for 3. Isnt Specflow 3 supported for security issues?

[2022-07-04 07:11] adrichem opened #2610 "Livingdoc: Custom stepdefinition not included in HTML"
### SpecFlow Version

SpecFlow 3.9.74 and livingdoc 3.9.57

### Which test runner are you using?

MSTest

### Test Runner Version Number

2.2.10

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

V

[2022-07-04 09:54] SabotageAndi commented on #2609
@304NotModified to be able to patch it, we need to remove .NET Core 2.1 support, because the packages we need to update don't let you use them with .NET Core 2.1.
And this triggers at least a minor version change.
Believe me, if I could, I would do only a patch version.

About support for security issues:
Please check our license. It is BSD 3 clause (https://github.com/SpecFlowOSS/SpecFlow/blob/ma

[2022-07-04 11:30] 304NotModified commented on #2609
Newtonsoft.Json 13.0.1 is available for .NET Core 2.1?

See https://www.nuget.org/packages/Newtonsoft.Json/13.0.1#dependencies-body-tab

I guess only updating the reference is good enough and it's just a patch

[2022-07-04 11:32] 304NotModified commented on #2609
Yes I know BSD. And I also know that (larger) companies need security policies. Maybe fill https://github.com/SpecFlowOSS/SpecFlow/security/policy?

[2022-07-04 13:04] SabotageAndi commented on #2609
Until now, nobody yet had asked about it.

[2022-07-04 15:22] vikingkom opened #2612 "Ambiguous steps displayed in Visual Studio 2022 when Specflow.Autofac higher than 3.9.58 is referenced"
### SpecFlow Version

Ambiguous steps displayed in Visual Studio 2022 when Specflow.Autofac higher than 3.9.58 is referenced

### Which test runner are you using?

NUnit

### Test Runner Version Number

4.2.1

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Too

[2022-07-06 07:27] privatemeta opened #2613 "CreateInstance in SpecFlow.Assist skips row element when enum has the same value as the name of row parameter"
### SpecFlow Version

3.9.74

### Which test runner are you using?

SpecFlow+ Runner

### Test Runner Version Number

3.9.31

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Ex

[2022-07-07 13:59] StevenDenman opened #2615 "MSTest TestContext messages mixed up in the output"
### SpecFlow Version

3.9.74

### Which test runner are you using?

MSTest

### Test Runner Version Number

2.2.9

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Command line – PLEASE SPECIFY T

[2022-07-07 14:13] SabotageAndi commented on #2615
Interesting, as they should fixed exactly this issue with 2.2.9 - https://github.com/microsoft/testfx/releases/tag/v2.2.9

[2022-07-08 16:34] StevenDenman commented on #2615
So it seems they have fixed it for the Console.WriteLine when running in Visual Studio, I am not convinced they did anything with TestContext.WriteLine.

Running with dotnet still has issues for both.

I have raised a ticket with them - https://github.com/microsoft/testfx/issues/1146 so I suppose we can close this one, if SpecFlow has issues when it is fixed then I will revisit.

Thanks!

[2022-07-12 12:22] SabotageAndi commented on #2613
I found the issue.
SpecFlow thinks the table is a horizontal table and not a vertical table. It is because the table is so small (only 1 row, 2 columns) and the first row value is the same name as a property.
Code is here: https://github.com/SpecFlowOSS/SpecFlow/blob/master/TechTalk.SpecFlow/Assist/TEHelpers.cs#L222

So simply switching the order of the columns in the Scenario will fix it.

Tbh, I

[2022-07-13 02:51] williamfigtree opened #2618 "Incorrect Visual Studio design time error 'invalid parameter count' when using optional capturing regex groups"
### SpecFlow Version

3.9.74

### Which test runner are you using?

MSTest

### Test Runner Version Number

2.1.2

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.conf

[2022-07-14 08:11] SabotageAndi commented on #2618
Uff, you are using for SpecFlow very complex regex here. I am not sure if we ever implemented such complex regex.

As it is a Visual Studio Extension issue, I will move it in the correct repo.

[2022-07-14 08:17] chris-richards-puregym commented on #2428
Just hit this problem, is there a workaround or an update on when it's likely to be fixed?

[2022-07-14 10:05] dit2100 commented on #2428
there was un update in this area with a new approach, you can find more here:
https://docs.specflow.org/projects/specflow/en/latest/Integrations/Autofac.html
it resolves initial issue with disposal, but creates another one of initiating all necessary helper services (for specflow reports in my case)

so I've abandoned idea of autofac integration at this point of time in favor of build-in solution

[2022-07-14 16:50] chris-richards-puregym commented on #2428
I've managed to create a work around for this by creating a plugin that registers the IObjectContainer in Autofac as externally owned, that way Autofac won't attempt to dispose of it. I don't think this will lead to any memory leaks but let me know if I've missed something.

[code]

[2022-07-15 13:27] sergimola commented on #2428
I am facing exactly this issue and I trying to apply your workaround.
Where do you get the instance `objectContainer` from?
Could you post a larger chunk of code?

Thanks!

[2022-07-15 16:41] SeanKilleen opened #2619 "Unable to Register / use NullValueRetriever"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit and NUnit both have the same failure.

### Test Runner Version Number

* With xUnit: xUnit 2.4.1, xunit.runner.visualstudio 2.4.5, Microsoft.NET.Test.Sdk 17.2.0
* With NUnit: nunit 3.13.3, nunit3testadapter 4.2.1

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .fe

[2022-07-15 16:42] SeanKilleen commented on #2619
Hope this is just a strange mistake I'm making in trying to use it for the first time. If it turns out to be something about the docs etc. that could be improved, I'm happy to take that on as a follow-up task.

[2022-07-18 07:57] SabotageAndi commented on #2619
ValueRetrievers are only for the Assists helper for DataTables. For normal parameters you need a StepArgumentTransformation.

Tbh, I also needed 10 minutes to remember this.

[2022-07-19 13:10] SabotageAndi commented on #2619
Yeah, we tried in the past. Sadly the two concepts are so different integrated into SpecFlow that we would probably end with a third one.
Thanks for the docu PR.

[2022-07-19 14:04] sergimola commented on #2428
This makes it work for me..
Thanks!

[2022-07-19 22:59] AssBackwards opened #2621 "specflow.xunit cyclical dependency"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

3.9.74

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlowSingleFileGenerator custom tool

### Test Execution Method

Command line – PLEASE SPECIFY THE FULL

[2022-07-20 06:53] SabotageAndi commented on #2621
Did you name the project "specflow"?

[2022-07-20 12:03] michaelraue commented on #2580
I could reproduce it, the special thing here is xUnit. If I switch to MSTest then it works.

[2022-07-21 07:47] #2619 closed

[2022-07-21 07:48] SabotageAndi commented on #2580
@michaelraue can you share the project with us? Then we can have a look at it.

[2022-07-21 11:35] SeanKilleen opened #2624 "Documentation request: Fix note styling on NullValueRetriever docs"
A follow up to #2620.  I couldn't see the preview but had followed the Sphinx theme guide. However, it doesn't look like the styling is in place [on the page](https://docs.specflow.org/projects/specflow/en/latest/Bindings/SpecFlow-Assist-Helpers.html#nullvalueretriever-from-specflow-3)

 ![Screenshot_20220721-073247.png](https://user-images.githubusercontent.com/2148318/180203850-bda29a8f-10e5-43a

[2022-07-21 12:29] michaelraue commented on #2580
I also tested NUnit, this works fine. So it seems to be an issue related to xUnit.

[2022-07-21 13:04] AssBackwards commented on #2621
Yes, I see what you mean.
Recreating in a directory called `learning-specflow` has resolved this issue.
Thanks!

[2022-07-21 13:04] #2621 closed

[2022-07-21 13:23] SabotageAndi commented on #2624
@SeanKilleen I fixed the privacy settings (https://docs.readthedocs.io/en/stable/pull-requests.html#privacy-levels) and now everybody should be able to see the PR review.

[2022-07-21 13:55] SabotageAndi commented on #2580
Ok, I found the issue.
For some reason I can't remember, you don't get the global container in the BeforeTestRun hook when you request an ObjectContainer. You get a TestThreadContainer.
In the case of xUnit the execution of the scenario happens on another thread then the BeforeTestRun hook and so it can't resolve the right registration.

Change it to this:
[code]
and it will work.
This uses the gl

[2022-07-21 14:05] #2624 closed

[2022-07-21 14:29] ts46236 commented on #2580
@SabotageAndi does the parameter type have to be `ObjectContainer` and not `IObjectContainer`?

[2022-07-21 14:31] michaelraue commented on #2580
@SabotageAndi Works indeed!
@ts46236 Yes it has to be, because the interface doesn't know `objectContainer.BaseContainer`

[2022-07-21 14:44] michaelraue commented on #2580
I tested a bit more and it works in every environment (VS, Rider, Run, Debug) with every test integration libs (MSTest, NUnit, xUnit).

@SabotageAndi would you suggest to always go with your solution, or am I generally initializing the container in a wrong way? My goal was to create the Web API and the corresponding `HTTPClient` just once for all scenarios, to optimize test execution performance.

[2022-07-21 15:13] SabotageAndi commented on #2580
At the moment only my solution is the one that works.
As said, I have no idea anymore, why we get the TestThreadContainer in the Testrun hooks if you request an ObjectContainer.
I need to update the documentation with this behavior at least.

Not sure if reusing the same instance of the HTTPClient for all scenarios is the right way. Could be that you run into problems when you run your scenarios i

[2022-07-22 15:24] accountrequired commented on #2376
Just noticed: This is a duplicate of #1576 or closely related (same root cause).

[2022-07-25 08:06] SabotageAndi commented on #2609
This is fixed with https://github.com/SpecFlowOSS/SpecFlow/pull/2611

[2022-07-25 08:06] #2609 closed

[2022-07-27 11:43] dotnetnico opened #2626 "EnumerableRetriever does not play together with NullValueRetriever"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

3.9.74

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.conf

[2022-07-28 16:44] jeffacree opened #2628 "Specflow tests not executing as they once did"
### SpecFlow Version

2022.1.75.53377

### Which test runner are you using?

SpecFlow+ Runner

### Test Runner Version Number

Not sure where to find this

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

[2022-07-29 08:10] SabotageAndi commented on #2628
Sorry, but we need more information about this.
You neither entered which SpecFlow version you are using (the NuGet package, not the VS Extension).
Also, you say you are using .NET 5, but using package.config. That is a combination that is impossible.

The only thing what I can say that you try is to build and run the tests on the command line.

Commands are:
Building: `msbuild` or `dotnet build`

[2022-07-29 08:10] #2628 closed

[2022-07-29 13:59] EjaYF commented on #2049
I ran into a simular issue today.

I think this is because the `Dictionary` behind the `ScenarioContext` is not thread-safe (the `SpecFlowContext` is inherited from `Dictionary` and not from `ConcurrentDictionary`).

A work-around would be to use your own `ConcurrentDictionary` inside a single `ScenarioContext` keyvalue pair to store these values or use another kind of semaphore for this purpose.

[2022-08-04 07:46] saiparth opened #2630 "Documentation request:"
What's the alternative solution for calling steps from step definitions? (https://github.com/SpecFlowOSS/SpecFlow/issues/1733)
We can directly call the methods, but we will loose console output which was logging the information like method name and passed arguments.
we can log using reflection, but is there any specflow tool/method which already does this?
Ex:
[code]
Log this
[code]

[2022-08-04 11:54] SabotageAndi commented on #2630
The alternative is the driver pattern: https://docs.specflow.org/projects/specflow/en/latest/Guides/DriverPattern.html
For output please use our dedicated output api: https://docs.specflow.org/projects/specflow/en/latest/outputapi/outputapi.html

But why do you need or want this output?

[2022-08-04 13:12] saiparth commented on #2630
Thanks for reply.
Presently we are not using latest version of specflow and using the deprecated feature of calling steps within the steps. We are using custom framework wherein we read the result.xml of nunit CLI and show the console output in report.

If we upgrade specflow, I will have to directly call the step definition method and manually write the logs. I was thinking to use common method u

[2022-08-04 13:42] SabotageAndi commented on #2630
It is marked as deprecated but not yet removed from 3.9.*. So you can still upgrade to 3.9.*

[2022-08-05 08:11] SabotageAndi commented on #1733
SpecFlow 4.0 removed now this feature.

[2022-08-05 08:11] #1733 closed

[2022-08-07 07:25] kaylumah opened #2633 "Documentation request: Customize generated Xunit code"
Product:
- [ x] SpecFlow
- [ ] SpecFlow+ Runner
- [ ] SpecFlow+ LivingDoc
- [ ] SpecMap

What is missing:
After googleing how to add custom attributes to the generated code I came across https://groups.google.com/g/specflow/c/8Tp0QyfgpbU which does not seem possible anymore in Specflow3 (https://docs.specflow.org/projects/specflow/en/latest/Installation/Configuration.html#specflow-3 I can only con

[2022-08-07 07:45] kaylumah commented on #2633
Would be solved by #2602

[2022-08-07 07:45] #2633 closed

[2022-08-10 18:25] kaylumah commented on #2601
@SabotageAndi thank you for adding the generator plugin, I think that this one will be something for the long run now?

[2022-08-11 14:26] SabotageAndi commented on #2601
So, Verify support is available.
Needed NuGet package: https://www.nuget.org/packages/SpecFlow.Verify/4.0.16-beta
Example: https://github.com/SpecFlowOSS/SpecFlow-Examples/tree/master/Verify/VerifyExample

[2022-08-11 14:26] #2601 closed

[2022-08-12 13:55] Saikrishna-Photon opened #2635 "Test explorer shows tests without fixture data on performing "Clean" in Visual studio"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

##

[2022-08-12 14:10] jtourvieille opened #2636 "Generating the wrong NUnit Attributes"
### SpecFlow Version

3.9.40

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.2

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

##

[2022-08-12 14:11] jtourvieille commented on #2636
problem seems to be in this class:
https://github.com/SpecFlowOSS/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/NUnit3TestGeneratorProvider.cs

[2022-08-12 20:15] clrudolphi commented on #2626
The EnumerableValueRetriever (which processes lists/collections) makes an assumption that every item in the list can be processed by the same underlying value retriever. So when the Value string has "1, `<null>`", the Enumerable retriever uses the Int retriever over and over as it is the retriever established for the first item in the list (subsequently, the NullValueRetriever is never searched fo

[2022-08-16 08:37] SabotageAndi commented on #2635
I had a look at it and I think, we can't do anything to fix it as it looks like an test discovery bug in TestExplorer.
Since VS 2019 Visual Studio has buildin test discovery for NUnit, xUnit and MSTest. But it doesn't cover all features from NUnit. And I think you hit such a case.

If you disable "Discover tests in real time from C# ...." in "Options/Test":
![image](https://user-images.githubuserc

[2022-08-16 08:37] #2635 closed

[2022-08-16 18:38] kaylumah opened #2637 "Documentation request: Xunit Classfixture / IAsynclifetime"
Product:
- [x ] SpecFlow
- [ ] SpecFlow+ Runner
- [ ] SpecFlow+ LivingDoc
- [ ] SpecMap

What is missing:

If we look at the Microsoft Docs for asp.net testing (https://docs.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-6.0) they use an x-unit class fixture. Which offers support for IAsyncLifetime.

This is useful for scenarios where you wish to spin up docker for sql or s

[2022-08-17 08:00] SabotageAndi commented on #2637
Hooks are your way to do this. SpecFlow abstracts features like IAsyncLifetime and provide with the hooks a way that is the same for every test runner.

[2022-08-17 15:28] JagadeesanV commented on #2225
Is it possible to share the powershell script you have created to achieve this. Thanks in advance.

[2022-08-17 18:30] #2637 closed

[2022-08-18 09:01] saiparth commented on #2630
Hi @SabotageAndi
Can you pls share code path where specflow is finding the the method arguments and name?
Ex: for logging this to console
[code]

[2022-08-18 14:16] SabotageAndi commented on #2630
SpecFlow doesn't make this information public.
The logging is using the data that is used to execute the method.

https://github.com/SpecFlowOSS/SpecFlow/blob/master/TechTalk.SpecFlow/Infrastructure/TestExecutionEngine.cs#L483

[2022-08-22 07:39] VitaliiDolotov commented on #2225
Here is the example of the script

`$code = @"
using System;
using System.Collections.Generic;
using System.IO;
using System.Linq;

namespace App
{
    public class FeatureFilesSplitter
    {
		public static string root = @".\SOLUTION_FOLDER";
		public static string specFlowFolderPath = Path.Combine(root, "FOLDER_WITH_SPECFLOW_TESTS");
		public static string tempDirectoryPath = Path.Combine(root,

[2022-08-22 10:49] bollhals commented on #2626
@SabotageAndi Maybe continue here the discussion instead of polluting the PR.

What's the definition of a ValueRetriever? Is the expectation that there is one for a type, or should there be multiple allowed? (If it is the latter, can you shed some light on some usecases?

Why am I asking? => If there should only be one, then the PR fixes it the wrong way. If there should be multiple, then the PR i

[2022-08-22 13:47] tedhols opened #2639 "@ignore tag for Examples generates incorrect NUnit code"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

.NET Core 3.1

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlowSingleFileGenerator custom tool

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.config

[2022-08-22 21:34] clrudolphi commented on #2626
I don't have the background that you all do, so I'll defer to you on the original intent.

I can imagine the input being quite messy with special values that don't map/parse cleanly to values of the type system. This would imply that we should be open to the idea of having multiple value retrievers for any given Property Type.

One way, perhaps, to think of the NullValueRetriever, is as a special

[2022-08-23 06:17] SabotageAndi commented on #2639
We run our integration tests against NUnit 3.13.1 and they are all green. So it irritates me that we generate incorrect NUnit code.
Is it an build error or only a warning?

[2022-08-23 08:05] SabotageAndi commented on #2626
I don't think there is an actual definition of a ValurRetriever or @gasparnagy?
For me, it is a functionality that makes it easier to convert datatables to DTOs/POCOs. I wrote too much code that uses the Row objects directly. It is really boring code to write.

If a ValueRetriever calls another ValueRetriever is a case, that is fine for me. It's all about making it easier.

[2022-08-23 08:46] tedhols commented on #2639
Hi @SabotageAndi - I get the following build error:
##[error]<PathToFeatureFile>(44,59): Error CS0246: The type or namespace name 'Ignored' could not be found (are you missing a using directive or an assembly reference?)

[2022-08-23 08:50] SabotageAndi commented on #2639
@tedhols could you create a project where we can reproduce this issue?

[2022-08-23 09:09] tedhols commented on #2639
Sure - sample project attached.
[SampleProject.zip](https://github.com/SpecFlowOSS/SpecFlow/files/9401103/SampleProject.zip)

[2022-08-23 09:46] tedhols commented on #2639
@SabotageAndi  I forgot to mention in the description I get the same result whether I build within Visual Studio 2022 or using MSBuild on the command line.

[2022-08-24 07:41] SabotageAndi commented on #2639
Thanks for the project. Now I see where the problem is.
We generate invalid code when you put the ignore tag on an example group if there are multiple. Looks like we have a case not covered by our integration tests.

[2022-08-25 14:02] clrudolphi commented on #2502
I believe this is working. I put together a small test project to attempt to recreate your problem.

With a feature file containing:
`''	Scenario: TestingStepArgConverter
	Given a myclass of {myv}
'''
and a binding class of:

'''csharp

    [Binding]
    public class SF2502StepArgumentTransformsUsingCurlyBraces
    {
        [StepArgumentTransformation(@"^(\{[a-z A-Z]+\})$")]
        public MyClas

[2022-08-26 07:24] kevinwee0712 commented on #2521
Still got heaps of warning, but

[2022-08-26 08:50] SabotageAndi commented on #2521
This will be fixed with the next version of SpecFlow+ LivingDoc

[2022-08-26 10:09] hwndmaster commented on #2376
Faced the same issue as the OP. We're dealing with a huge solution with projects where the NUnit tests are residing in the same projects as the production code, separated from it with just a suffix in the namespace, such as ".NUnit". Not good, I know, but it is as it is. In order to solve it we're considering step-by-step taking these tests out of their current location to projects, dedicated for

[2022-08-26 10:28] bonek commented on #1430
You can write RuntimePlugin and GeneratorPlugin yourself overrride XUnit2TestGeneratorProvider. I wrote own exacly like the option №3.

[2022-08-26 12:10] SabotageAndi commented on #2376
Yes, an idea how to fix that without replacing CodeDom would be really cool. I don't have one.
Happy to see an PR to solve this issue.

[2022-08-30 14:12] infinitejest69 opened #2641 "Documentation request: Help with Specflow, Nunit, Azure Devops Pipelines slices"
Product:
- [ x] SpecFlow
- [ ] SpecFlow+ Runner
- [ ] SpecFlow+ LivingDoc
- [ ] SpecMap

What is missing:
So i have an issue and not sure where to start.
My Setup:
c# Test, Nunit with Test adaptor, Azure pipeline running ~ 700 tests over multiple feature files. We use a decent amount of Before and After feature hooks to set up test data.
My issue:
i am using [vsTest@2](https://docs.microsoft.com/e

[2022-08-30 15:10] infinitejest69 commented on #2641
Not Required Think the issue might lie with the pipeline task as it controls the slicing

[2022-08-30 15:10] #2641 closed

[2022-08-31 14:46] Radamonas commented on #2612
We faced this problem as well.

[2022-09-01 11:20] Pianykh opened #2642 "No matching step definition found when feature files and step definition located in different projects when using NUnit console runner"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.15.2

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Command line – PLEASE SPECIFY THE FULL COMMAND LINE

### Spec

[2022-09-01 23:01] Roganik opened #2643 "Documentation request:"
Product:
[x] SpecFlow+ Runner (NUnit3)

https://github.com/SpecFlowOSS/SpecFlow/blob/master/docs/Integrations/NUnit.md

**What is missing:**

Is there a documentation on how test name is constructed? (and is it possible to override it?)
When using NUnit.ConsoleRunner

## Context

In some cases there is a nested folder structure and long scenario description.
And when I run such tests for CI, test

[2022-09-06 22:59] mihaellaiv opened #2644 "Creating new features files directly in Azure DevOps"
### Link to Feature Request

https://support.specflow.org/hc/en-us/community/posts/6648803966109-Creating-new-features-files-directly-in-Azure-DevOps

### Implementation Idea

Hello all,

I know we can EDIT feature files directly in Azure DevOps, when they are stored in Azure DevOps repositories,

It would be great if we could actually also be able to CREATE new features with scenarios, based on s

[2022-09-07 07:31] goblinmaks commented on #2591
@SabotageAndi what of planned date to release new version of livingdoc will be released ?
Thanks,

[2022-09-12 09:15] SabotageAndi commented on #2591
@goblinmaks No date planned. When we are finished, we release it.

[2022-09-12 09:16] SabotageAndi commented on #2642
Does it work if you run `dotnet test`?

[2022-09-12 09:18] SabotageAndi commented on #2643
No, there is no way to adjust the test name construction.
Part is done by NUnit, part is done by the attributes we use and generate and part is done how we generate the code-behind files.
Nothing can be adjusted.

[2022-09-12 09:18] #2643 closed

[2022-09-12 09:19] SabotageAndi commented on #2644
For this we have our Online Gherkin Editor: https://specflow.org/tools/online-gherkin-editor/

[2022-09-12 11:51] NikkTod commented on #2644
Hi @SabotageAndi, thank you for the link.

I saw in the product roadmap that you are currentlly working on some very good things:

- auto-complete suggestions based on existing steps
- enable a way to connect, write, edit and save Gherkin feature files directly from a Git repository
- write and edit Gherkin feature files directly on a Backlog Item in Azure DevOps

Can you please share some timelin

[2022-09-12 13:52] Pianykh commented on #2642
Yes, using `dotnet test` works correctly

[2022-09-12 14:40] clrudolphi commented on #2642
As an experiment I converted the Additional Assembly example to Nunit and observed the same behavior. Works in VS but not with the Nunit console runner.

[2022-09-12 19:23] clrudolphi commented on #2642
@Pianykh how are you invoking the nunit-console .exe - by setting your default directory to the location of the runner and then invoking the runner with the full path of the test dll?
If so, try the reverse. Set your directory to the location of the test project dll, and invoke the nunit-console with its full path.
Such as:

cd \<path to solution>\Features\bin\Debug\net6.0\

<path to solution>\pac

[2022-09-12 19:40] Pianykh commented on #2642
@clrudolphi Wow. Yes, it really works, I really appreciate your help.
This will help me solve my work problems.
But if dig deeper, it seems to me that this is not because the specflow.json file was not found, because if you run the tests in the way specified in the issue, after specifying an assembly to a non-existent project in the specflow.json file, then the resulting error will indicate that a

[2022-09-12 19:47] clrudolphi commented on #2642
The reason I had described it that way was because I had debugged the test from the nunit-console runner using the --debug option and discovered that the specflow.json configuration file was not being respected. Not only were additional Assemblies not included in the configuration, but other elements were set to defaults only (I had set a few items to confirm whether the config was being properly

[2022-09-12 19:58] Pianykh commented on #2642
Hmm.. thanks for the description. In any case, this is the solution to my problem, for which I thank you again.

[2022-09-13 14:36] SabotageAndi commented on #2642
Yeah, the working directory needs to be the directory of the test assembly, that this all is working.

[2022-09-20 10:29] pro-pintuyadav opened #2646 "Specflow+xUnit Parallel Execution on scenario level"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

Specflow.xUnit 3.9.74

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Te

[2022-09-20 10:47] pro-pintuyadav opened #2647 "Generate Sepcflow_LivingDoc in Visual Studio without using CLI"
### SpecFlow Version

3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

Specflow.xUnit 3.9.74

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Sect

[2022-09-20 13:23] pro-pintuyadav commented on #2647
Thanks @SabotageAndi  for clarification.

[2022-09-20 13:27] pro-pintuyadav commented on #2646
Hi @SabotageAndi,

Looking for your input .

[2022-09-21 07:35] SabotageAndi commented on #2647
Sure.

[2022-09-21 07:35] #2647 closed

[2022-09-21 12:56] SabotageAndi commented on #2646
@pro-pintuyadav
You can't do scenario-level parallel execution as it is not supported.

You can find more details about it here: https://github.com/SpecFlowOSS/SpecFlow/issues/2225

[2022-09-21 12:56] #2646 closed

[2022-09-27 12:13] SabotageAndi commented on #2626
https://github.com/SpecFlowOSS/SpecFlow/pull/2638 is merged

[2022-09-27 12:13] #2626 closed

[2022-09-27 22:11] samacm opened #2648 "LivingDoc error - ApplicationInsights:CorrelationIdManager timeout"
### SpecFlow Version

3.9.74

### Which test runner are you using?

SpecFlow+ Runner

### Test Runner Version Number

3.9.31

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

TFS/VSTS/Azure DevOps – Task

[2022-10-05 00:53] robertcoltheart commented on #2599
I'm getting this same issue running a build inside a docker container on Bamboo:

[code]

[2022-10-05 12:51] savagerob commented on #2225
Any movement on this please? we are stuck between using a supported product with slower execution times or sticking to specrun+ which wont be suitable in the longer term.

[2022-10-07 07:52] SabotageAndi commented on #2225
@savagerob No movement currently and planned to do. This would need a major part of SpecFlow changed and we are only a small team. This is out of scope for us at the moment.

[2022-10-13 02:25] juanp817 opened #2650 "[SpecFlow] System.UnauthorizedAccessException: Access to the path 'C: is denied."
### SpecFlow Version

3.0.225

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.6.1

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

###

[2022-10-13 03:34] juanp817 commented on #2650
Turns out feature.cs file was set as read only. unchecked read only and I am getting this error when I run my scenarios
    OneTimeSetUp: System.MissingMethodException : Method not found: 'Void BoDi.ObjectContainer.RegisterTypeAs(System.String)'.

[2022-10-13 12:18] SabotageAndi commented on #2650
You are using a 3 1/2 year old version.
Please use the latest version and open a new issue if the issue still exists.

[2022-10-13 12:18] #2650 closed

[2022-10-14 06:23] Prashanth-m-achary opened #2651 "The lines you included in default.srprofile seem to be missing."
The lines you included in default.srprofile seem to be missing.

_Originally posted by @Stephen-Mc in https://github.com/SpecFlowOSS/SpecFlow/issues/1076#issuecomment-373337272_

[2022-10-14 07:26] shubautomation opened #2652 "[BeforeTestRun] and [AfterTestRun] blocks runs for every Test cases in single execution cycle"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

.NET Core 3.1

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

TFS/VSTS/Azure DevOps – Ta

[2022-10-14 08:34] SabotageAndi commented on #2652
I wasn't able to reproduce the issue with your sample, but I found other issues.

- Don't save static instances of Feature/ScenarioContext - you will get very quick into trouble. Always get them via Context Injection
- Console.WriteLine is not catched by NUnit. You have to use TestContext.WriteLine to get output.

[2022-10-14 08:35] SabotageAndi commented on #2651
Please use our issue template for creating new issues.

[2022-10-14 08:35] #2651 closed

[2022-10-14 08:39] shubautomation commented on #2652
Hi @SabotageAndi

that means for you sample project is working fine? Have you tried on MAC OS? But it is not working for me means [BeforeTestRun] and [AfterTestRun] is getting executed for every TC in single run.  Can you suggest what can be done here.
Currently struggling to resolve this issue and it is blocker for me. Any other way or piece of code you like to look into it?
Anything related to n

[2022-10-15 09:01] avishekjana-89 opened #2653 "Living Doc not getting updated in Azure DevOps even though specflow+LivingDoc task is successful"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

.NET Core 3.1

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

TFS/VSTS/Azure DevOps – Task – PLEASE SPECIFY THE NAME O

[2022-10-16 11:08] shubautomation commented on #2652
Hi @SabotageAndi

Any you please reply? Still I am facing the same issue.

[2022-10-17 07:29] SabotageAndi commented on #2653
Could you post the output of the task here?

[2022-10-17 09:39] avishekjana-89 commented on #2653
![20221017_150757](https://user-images.githubusercontent.com/49497720/196144592-72de8903-a4b2-4bb1-8ea2-87d312b48738.jpg)

[2022-10-17 09:49] Cali007UK opened #2655 "Background only applies to the first Scenario in a feature file"
### SpecFlow Version

3.9.40

### Which test runner are you using?

SpecFlow+ Runner

### Test Runner Version Number

3.9.31

### .NET Implementation

.NET 5.0

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

[2022-10-17 11:47] avishekjana-89 commented on #2653
Yes, definitely, otherwise the code was not pulled from the repo and the previous test task should not be run if the correct branch was not chosen.

[2022-10-17 13:01] avishekjana-89 commented on #2653
Another point to be added in this ticket, before last Friday this task was working as expected. After that suddenly we see this strange problem. Please be noted that we didn't change version of any code in this meantime.

[2022-10-18 10:29] shubautomation commented on #2652
Hi @gasparnagy

Can you please me here as @SabotageAndi  is on vacation. It is blocker for me.

[2022-10-18 11:57] SabotageAndi commented on #2653
Hmm, so the upload works.
Could you post two more screenshots?
1. The configuration of the build step
2. this part of your living doc:
![image](https://user-images.githubusercontent.com/859801/196422917-9680f60e-3d15-4c05-9326-1e1511579dc8.png)

[2022-10-18 12:14] gasparnagy commented on #2652
@shubautomation I can try to look at it tomorrow.

[2022-10-18 12:40] SabotageAndi commented on #2655
And the SpecFlow+ Runner isn't supported anymore. More details here: https://specflow.org/using-specflow/the-retirement-of-specflow-runner/

[2022-10-18 12:49] Cali007UK commented on #2655
I will close this, Background not accepting tags is not a limitation I'd come across.

There's no way most of the teams that use +Runner can migrate away when we end up losing so much functionality that the other frameworks don't give us as easily (Targets, Actions, Cucumber Json reports)

[2022-10-18 12:49] #2655 closed

[2022-10-18 13:44] shubautomation commented on #2652
Hi @SabotageAndi

Thanks for reply.
As per my understanding I am not using any Nunit setup attributes. It is nUnit.AssemblyHooks.cs file which is default called and it is created once we installed specflow package to our project.

Also, it is working fine in windows OS.

If you can pinpoint any nunit Attributes which I am using, I will be getting rid of them. But as per my understanding I am not u

[2022-10-18 13:44] shubautomation commented on #2652
Hi @gasparnagy
thanks for reply. Will wait for your update.

[2022-10-20 10:07] gasparnagy commented on #2652
@shubautomation I have reviewed the solution and this looks good. I don't know why you got the problems on Mac (I don't have a Mac, so cannot test it unfortunately).

My suggestions:
- Check what happens if you run the tests on Mac from the command line and not from Visual Studio (`dotnet test`)
- Check what happens if you use an other IDE, like Visual Studio for Mac 2022 or Visual Studio Code
- I

[2022-10-21 10:23] gasparnagy commented on #2600
@JoshKeegan I have started to analyze this issue and it feels that there is definitely some problems with the implementation, but I am not sure really what the expected result should be. A long comment comes...

I'm not a super expert in Execution Context (EC), but what I have learned and experienced was that normally the EC only flows down, but not up. So for example the following code fails (xUn

[2022-10-21 14:38] gasparnagy opened #2657 "Exceptions in async void step definitions are swallowed in SpecFlow v4 beta"
### SpecFlow Version

4.0 beta

### Which test runner are you using?

xUnit

### Test Runner Version Number

2.4.2

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.con

[2022-10-21 14:39] gasparnagy commented on #2657
Maybe we should not allow `async void` step definitions at all in SpecFlow v4?

[2022-10-24 06:40] gasparnagy commented on #2608
Fixed by PR #2654, thx @laingsimon 💯!

[2022-10-24 06:40] #2608 closed

[2022-10-24 06:51] gasparnagy commented on #2230
Analyzed and this is still a problem with v4.0 beta, because the transformation infrastructure does not realize that the method with return type `Task<Device>` can be used to get the parameter of type `Device`.

Looking into it...

[2022-10-24 12:30] #2230 closed

[2022-10-24 13:24] SabotageAndi commented on #2657
Good idea! Let's do it!

[2022-10-25 09:04] #2657 closed

[2022-10-25 23:43] aacuadras opened #2664 "Background not executing at Rule level"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.1

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlowSingleFileGenerator custom tool

### Test Execution Method

Command line – `dotnet test -l "console

[2022-10-26 06:16] thisisnewbi opened #2665 "Specflow living doc is not generating when pipeline fails"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.13.3

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Command line – PLEASE SPECIFY THE FULL COMMAND LINE

### Spec

[2022-10-27 04:57] avishekjana-89 commented on #2653
Please find all details as requested. We run tests from the regression branch of the repo, but no living document is published under regression in Azure Devops. Although another pipeline is running with the master branch of the same repo, it is published correctly in ADO.

![20221027_101405](https://user-images.githubusercontent.com/49497720/198195584-1373fb96-cc9d-43ba-9153-90b88afea541.jpg)
![20

[2022-10-27 12:33] gasparnagy commented on #2652
I close this for now since we cannot reproduce it and there is a workaround. If you get any new input or the workaround does not work, please reopen

[2022-10-27 12:37] gasparnagy commented on #2600
I think I got to a better understanding of the problem and found a fix that is implemented in #2658. Please review that and add your comments.

[2022-10-27 13:39] bjowes opened #2666 "Duplicate step registrations when using AutoFac"
### SpecFlow Version

3.9.74

### Which test runner are you using?

MSTest

### Test Runner Version Number

3.9.74

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in app.con

[2022-10-27 13:47] bjowes commented on #2666
Investigating the source, it seems that the root cause is this line:
https://github.com/SpecFlowOSS/SpecFlow/blob/5c7dd1a0492c3b8e44f7d76ce617c2a361fa78b8/Plugins/SpecFlow.Autofac.SpecFlowPlugin/ContainerBuilderFinder.cs#L41
Is causes all steps to be registered before the GlobalDependencies container is initialized. However, all the steps are later registered again, by TestRunnerManager. Hence, al

[2022-10-27 16:52] jrod567 commented on #2225
Throwing out my support/need for scenario level parallel execution.  This is quickly becoming a problem for us from an execution time perspective.

[2022-10-27 20:56] clrudolphi commented on #2664
I can reproduce this. Rule Backgrounds are skipped during test method generation. The parser seems to recognize these and the VS add-in properly color codes them (leading me to believe that this is valid syntax per Gherkin).

@SabotageAndi @gasparnagy - is this omission by design or simply not yet implemented yet?

I can take a stab at adding this feature and would propose the following approach:

[2022-10-28 09:20] gasparnagy commented on #2664
@clrudolphi Thx for looking into this.

The Rule-level background is a black sheep. ~5 years ago someone brought it up on a Cucumber conf, we discussed it and decided to drop the idea, because the complexity it causes overweighs the benefits, but someone in the meanwhile implemented that in Cucumber as a PR and got merged. So finally it was supported by Cucumber and people started to use it so we

[2022-10-28 15:21] clrudolphi commented on #2664
Certainly. Thanks for the suggestions.
On a tangential note - ScenarioPartHelper method SetupFeatureBackground() has the following code and I'm confused by it - hoping you can clarify:
`

       public void SetupFeatureBackground(TestClassGenerationContext generationContext)
        {
            if (!generationContext.Feature.HasFeatureBackground())
            {
                return;

[2022-10-28 17:13] JoshKeegan commented on #2600
I've taken a look at the changes and it seems like a good solution. I was expecting this to need a much larger change to create two separate paths for async & sync bindings, so managing to keep it all in a single code path is nice (even if it creates an area with some subtle complexities). I like the idea of using the IoC container to store the context, very elegant and not something I've seen don

[2022-10-28 17:17] JoshKeegan commented on #2600
Also just re-read your initial response. Not sure how much you've looked into it but `async void` is interesting in test runners. If I remember correctly xunit has a custom `SynchronizationContext` so that they can run these, track them running and wait for them to finish. It might be worth looking at that for some inspiration on solving your `async void` problem which appears to be the same.

[2022-10-29 18:52] clrudolphi commented on #2664
@gasparnagy PR2668 submitted. Welcome your thoughts.

[2022-11-01 13:08] Dlegostaev opened #2669 "Enums with DescriptionAttribute are not transforming properly by SpecFlow."
### SpecFlow Version

4.0.16-beta and 3.9.74

### Which test runner are you using?

xUnit

### Test Runner Version Number

2.4.2

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Sdk-style project format

### .feature.cs files are generated using

SpecFlowSingleFileGenerator custom tool

### Test Execution Method

Visual Studio Test Explorer

### SpecFlow Section in a

[2022-11-01 13:24] BlackGad commented on #2521
@SabotageAndi but where I can find release date? Or maybe you have some additional information? :)

[2022-11-01 14:07] SabotageAndi commented on #2521
It will be released together with SpecFlow 4. But for that we don't have also a release date.
It is: when it's done

[2022-11-01 18:54] BlackGad commented on #2521
What timeframe do you have in mind? Days, weaks, months?)

[2022-11-02 08:45] japj commented on #2600
Hi, I also ran into the issues that #2582 solves (in 3.10.2-beta)

I was wondering, is there an official 3.10 release planned (after this specific issue is resolved)?

[2022-11-02 09:22] gasparnagy commented on #2600
@japj There will be no v3.10, we have "renamed" it to v4.0. We are very close to release it - I hope within a few weeks.

[2022-11-02 09:30] gasparnagy commented on #2600
@JoshKeegan Yes, I have tried with your sample and it worked.

About "async void" -- for now we decided to not allow it (#2662). Let's see if someone defines a concrete use-case and then we can re-think. (For test runners the problem is different, because there is no dependent action on the execution of the test, but for us a step has to be followed by another one. And if one is not awaitable (lik

[2022-11-02 09:41] japj commented on #2600
Thanks for clarifying, great to hear!

I guess this also means we should try the latest 4.0 beta instead of the 3.10 one then?

[2022-11-02 09:51] JoshKeegan commented on #2600
@gasparnagy good to know it works with that repro, thanks 👍

RE `async void`: not allowing it is a good idea, I can't think of a use case for it in Specflow. It might just trip a few people up on the v4 upgrade.

*If* a use-case does appear though, I'd still recommend looking at xunit. Since tests within the same class or collection are executed sequentially (creating a dependant action) they effe

[2022-11-02 10:23] gasparnagy commented on #2600
@japj Yes, exactly.

[2022-11-02 10:44] gasparnagy commented on #2664
@clrudolphi On the `SetupFeatureBackground()` method. This is a strange thing. The method has been extracted from `UnitTestFeatureGenerator` in commit `91c77da3` (2019) and the original method was:

[code]

I guess the change was to introduce a "using-style" handling of the source information that we did earlier using the `AddLineDirective` methods.

Since the `GenerateStep` methods also set the s

[2022-11-04 22:12] clrudolphi commented on #2669
You were very close to success. I've modified your approach by creating a SpecFlow run-time plugin that overrides the default StepArgumentTransformer to use the code you posted in your repro.

Please take a look at this sample project:
[https://github.com/clrudolphi/EnumDescriptionStepArgumentTransformer](https://github.com/clrudolphi/EnumDescriptionStepArgumentTransformer)

HTH

[2022-11-07 03:54] VijayaSree2019 opened #2670 "SpecFlow.Tools.MsBuild.Generation.3.9.74\build\SpecFlow.Tools.MsBuild.Generation.targets(93,5): error MSB4062: The "SpecFlow.Tools.MsBuild.Generation.GenerateFeatureFileCodeBehindTask" task could not be loaded from the assembly"
### SpecFlow Version

3.9.74

### Which test runner are you using?

NUnit

### Test Runner Version Number

3.9.74

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

TFS/VSTS/A

[2022-11-07 09:53] mrampass commented on #1920
facing the same issue in visual studio 2022 for Mac , even a workaround would be great .

[2022-11-08 12:12] SabotageAndi commented on #1920
We don't have access to a Mac anymore to have a look at this issue.

[2022-11-08 14:11] SabotageAndi commented on #2653
Does your release pipeline have a build artifact?
There is an issue in Azure DevOps that a release pipeline only gets the branch information when it is connected to a build pipeline artifact as the first dependency, but it doesn't know the branch if it is connected e.g. to a nuget package

[2022-11-08 15:23] avishekjana-89 commented on #2653
@SabotageAndi Thanks for your response. We are using repository as source under artifact in release pipeline. Even we were able to see living doc for same pipeline till first week of Oct Month also. Interestingly, I have followed same setup steps in my local machine, its working as expected over there.

We investigated issue deeply from our end and observed that all documents are properly stored i

[2022-11-08 15:31] SabotageAndi commented on #2653
Ok, so your source type of artifact is something else than "Build".
That is the reason why it is not working. You need a build as the first artifact in the pipeline.
Without that SpecFlow+LivingDoc does not get the branch information it needs.

Docs are here: https://docs.specflow.org/projects/specflow-livingdoc/en/latest/Guides/azdoreleasepipeline.html

[2022-11-08 15:55] SabotageAndi commented on #2653
I have no idea why it worked. It shouldn't have.
Can you try it with a build artifact, please?
That is also the only officially supported way how to use the LivingDoc task in release pipelines of Azure DevOps.

[2022-11-08 16:07] avishekjana-89 commented on #2653
@SabotageAndi it worked with build artifact. The issue is being observed when release pipeline is created with repository source type. Can we have application team engaged why it doesn't working?

[2022-11-08 23:01] drwharris opened #2671 "Ping Pong renaming of member variables in feature files"

[2022-11-09 09:55] SabotageAndi commented on #2671
The generation of the code-behind file is done at compile time and not via the VS Extension anymore (since years).

Could you post your NuGet package list of the project?

[2022-11-09 10:10] SabotageAndi commented on #2653
The reason is that Azure DevOps doesn't provide the branch information we need if the artifact source is something else than a build artifact. This is a behavior of Azure DevOps that we can't change.
Nothing we can do here. Sorry.

[2022-11-09 12:35] Dlegostaev commented on #2669
@clrudolphi
Tried your solution, adapted to project, used POC and it worked! Thank you!

To someone who will face the issue:
Chris helped me to implement my 3rd idea - "3. Use custom StepArgumentTypeConverter."

Here I created a new branch with plugin added, which is using Enum processing method from my repro repo.
https://github.com/Dlegostaev/SpecFlowEnumIssue/tree/plugin

Pay attention that an

[2022-11-09 12:38] #2600 closed

[2022-11-09 23:10] drwharris commented on #2671
Here you go

[2022-11-10 03:36] clrudolphi commented on #2669
I see your point. I made an unfounded assumption about the behavior of StepArgumentTypeConverters. I'm working on fixing that problem.
I don't think a full reimplementation will be required, but I'm still investigating the full API surface area of the built in argument type converter.

[2022-11-10 19:42] clrudolphi commented on #2669
Please take another look at my example project [here](https://github.com/clrudolphi/EnumDescriptionStepArgumentTransformer)

The EnumStepArgumentTypeConverter is enhanced to encapsulate the built-in StepArgumentTypeConverter and it delegates all non-Enum type conversions to it.
The demonstration feature file was enhanced to show existing type conversions working, along with use of the Descriptive

[2022-11-10 22:09] VijayaSree2019 commented on #2670
Hi, Could you please look at this issue as I cannot successfully build the test project on the build server.

[2022-11-15 12:05] Dlegostaev commented on #2669
Thank you for your response, Chris!

I've also thought about solution like yours, but there were some issues in my attempt.
I've tried it in my repro project, and one test in my solution is failing - it's name is "**Check first definition**" in "**SimilarStepDefinitionSignatures**" feature file.

Looks like the root of cause is that new code over **StepArgumentTypeConverter** is not returning fals

[2022-11-15 17:03] clrudolphi commented on #2669
Happy to continue the conversation, Diego.

I am not understanding the problem you are trying to highlight. I have copied your feature files, enums, and step bindings in to my solution. See [here](https://github.com/clrudolphi/EnumDescriptionStepArgumentTransformer)

One potential snag is that you're working with the SpecFlow 4 beta, while my solution is back on 3.9.74.  As such, I had to eliminat

[2022-11-15 17:07] nvborisenko commented on #2574
Also report doesn't contained failed scenarios if they failed in [BeforeFeature] hook.

[code]

Then scenarios are not marked as failed in the report.

[2022-11-15 17:31] clrudolphi commented on #2669
So, I created a branch that upgrades to SpecFlow v4 beta and updated my type converter to match the async signatures required.
I reverted the changes I had made to your SimilarStepDefinitionSignatures feature file so that it was using gherkin expressions.

Everything that I expected to pass, does pass. The SimilarStepDefinitionSignatures feature still has that ambiguous step definition problem men

[2022-11-16 00:52] VijayaSree2019 opened #2672 "Error CS0305 Using the generic type 'ValueTask<TResult>' requires 1 type arguments while generating obj\x64\Debug\NUnit.AssemblyHooks.cs"
### SpecFlow Version

SpecFlow.4.0.16-beta

### Which test runner are you using?

NUnit

### Test Runner Version Number

NUnit.3.13.3

### .NET Implementation

equal or greater .NET Framework 4.6.1

### Project Format of the SpecFlow project

Classic project format using `packages.config`

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Executio

[2022-11-16 00:53] VijayaSree2019 commented on #2672
Using Visual studio 2022 with latest Specflow extension installed

[2022-11-16 08:39] Dlegostaev commented on #2669
I'm happy to continue it too.

Regarding this point:

I've tried it once on both versions, for me it looks like there are no significant changes between these versions in terms of the issue.
Regarding Async conversion in v4, for me it looks like there is nothing special about it, same methods from v3 but in Task wrapper

Regarding that statement:

If I'm not mistaken in my past investigation, v4 t

[2022-11-16 10:12] akalcik opened #2673 "Unable to run tests using SpecFlow with `dotnet test` on solution with central NuGet package management"
### SpecFlow Version

3.9.42

### Which test runner are you using?

xUnit

### Test Runner Version Number

2.4.3

### .NET Implementation

.NET 6.0

### Project Format of the SpecFlow project

Classic project format using `<PackageReference>` tags

### .feature.cs files are generated using

SpecFlow.Tools.MsBuild.Generation NuGet package

### Test Execution Method

Command line – PLEASE SPECIFY TH

[2022-11-16 16:39] clrudolphi commented on #2669
I understand now. I've modified the branch of my [code ](https://github.com/clrudolphi/EnumDescriptionStepArgumentTransformer/tree/UpgradeSpecFlowtoV4) that is compatible with v4. CanConvert now confirms that the target type is an Enum and that the Enum has the Description attribute applied to its fields. If so, it invokes the Convert method and returns true if that succeeds. If the target type is

[2022-11-16 22:17] Fortudie commented on #2639
@SabotageAndi Hello! Could you inform if any news about fixing this problem? Or could you say how to fix it temporary?

[2022-11-21 13:04] Dlegostaev commented on #2669
I'm not an expert in the SpecFlow, but for me it looks quite logical, CanConvert method have exception handling logic inside during execution of (Do)Convert method. Besides that, in some cases it returns a result without calling a (Do)Convert method, so it sounds as yours `and a framework would test each agent in turn to find the one that should be invoked`, and could provide some structuration an

[2022-11-22 12:57] Swaroop5312 commented on #2514
Hi @SabotageAndi I'm able to generate living Doc report from command prompt, but I don't know how to see the link (in code level I need to do any changes ) in test explorer can you please help me, I have updated my Spec flow+Living Doc

[2022-11-23 13:07] AlexeyLapchinskiy commented on #1920
Facing exactly the same issue in Rider 2021 on Silicon CPU.
Project C# 10, .Net 6, xUnit and Specflow.
After first test debug or run all feature files just disappear.
<img width="841" alt="image" src="https://user-images.githubusercontent.com/75988799/203554289-0f12b9ad-e3cd-4afd-84b7-a5c5d4be63ea.png">

[2022-11-28 00:51] VijayaSree2019 commented on #2670
Any update on the above issue that I am facing. Your response will be much appreciated @SabotageAndi