[2019-01-02 21:57] Blackbaud-ChrisKessel commented on #686
@SabotageAndi I was thinking about jumping into this one and taking a look as I'm running up against an issue that xUnit might solve. However I have noticed that alot has changed in the code base. Mainly the absence of 'specflow.exe' in the tools. Is there an easy way to fire off something like 'GenerateAll' without too much effort?

[2019-01-03 13:16] mstypsan commented on #1336
I have the same issue with .net core 2.2. Instead of  TechTalk.SpecFlow.VisualStudio.CodeBehindGenerator.exe generating the code for the Feature file, it prints this System.BadImageFormatException.

[2019-01-03 13:32] SabotageAndi commented on #1137
@jkonecki The VS2017 extension is already build for .NET 4.6: https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/TechTalk.SpecFlow.VsIntegration.csproj#L52

Probably we should first switch to package references (https://blogs.msdn.microsoft.com/visualstudio/2018/10/10/simplify-extension-development-with-packagereference-and-the-vssdk-meta-package/).

BTW- disabling of load

[2019-01-03 13:33] SabotageAndi commented on #1137
@jkonecki Why do you need already the support for VS2019? It's in it's first preview.

[2019-01-03 13:39] jkonecki commented on #1137
Purely because the preview is out and I would like to start using it :-)

On Thu, 3 Jan 2019, 13:33 Andreas Willich <notifications@github.com wrote:

[2019-01-04 14:07] JuliusSenkus commented on #1357
Hi, maybe there is at least an estimate when SpecFlow 3.0 will be released?

[2019-01-07 09:00] #1255 closed

[2019-01-07 09:04] SabotageAndi commented on #1336
@mstypsan You have to remove the SpecFlowSingleFileGenerator from you feature files. It can't handle .NET Core assemblies.

See https://specflow.org/2018/specflow-3-public-preview-now-available/ - Generating Code-behind Files

[2019-01-07 09:07] SabotageAndi commented on #686
@Blackbaud-ChrisKessel The best way to generate code- behind files with SpecFlow 3 is to use the MSBuild task.

[2019-01-07 09:13] mstypsan commented on #1336
@SabotageAndi  So let me explain a bit more what I discovered so far. I followed the instructions here https://specflow.org/2018/specflow-3-public-preview-now-available/.
When I use my VS2017 and I create a new feature file, the autogenerated code has this  Unhandled Exception: System.BadImageFormatException, the issue refers to.
Then I go and remove SpecFlowSingleFileGenerator from you feature fi

[2019-01-07 09:50] SabotageAndi commented on #1375
Ah, you are running your whole application in the SpecFlow scenario and so you have to ramp up the WPF runtime, Dispatcher, ...

I am not sure, if trying to get it run within SpecFlow will work. We have some stuff that depends on the Thread Id and when you start a new thread within, where the bindings are called, you will get problems with the DI containers.

Could your issue perhaps solved on a u

[2019-01-07 10:17] SabotageAndi commented on #1378
Please add a '\' at the end of your path. So it should be 'C:\temp\'.
And probably you need to restart VS that it works every time.

This issue will be fixed with https://github.com/techtalk/SpecFlow.VisualStudio/pull/40.

[2019-01-07 10:22] FantasyTeddy commented on #1375
Thank you for your response. I'm taking over this issue from @ElMaxxi since he is not working on this anymore.

We came to the same conclusion, that enclosing the entire WPF runtime is not really possible with the SpecFlow architecture.
Our main intention was to get as close as possible to the real execution behavior by spinning up a dispatcher loop, but this seems to be a problem which should not

[2019-01-07 11:35] Elangopalakrishnan opened #1379 "How to customize the specflow cshtml file"
Hi All,

I need to customize the .cshtml report by adding some client information.
based on https://specflow.org/plus/documentation/Tutorial:-Customising-Reports/ guidance,

I just opened the MyReportScreenShots.cshtml in specflow project itslef.
I have added the references and i got cshtml Intellisenses.
And i change the cshtml file and saved/buit the specflow project
Ran the test cases and gener

[2019-01-07 11:39] SabotageAndi commented on #1379
Did you change your srProfile?
Is the template file copied to the output directory?

[2019-01-07 11:45] SabotageAndi commented on #1375
Nothing to add from me, I am out of ideas.

So I am closing this issue. Thanks for the response.

[2019-01-07 11:45] #1375 closed

[2019-01-07 11:52] SabotageAndi commented on #1336
@mstypsan As long as the SpecFlowSingleFileGenerator is there, you get this error. When you add a new file, it is also executed and so you end with the exception in the newly added file.

When you say `experimental instance of VS2017` do you mean starting devenv.exe with /Root Exp or using the SpecFlow Extension from the MyGet feed?

[2019-01-07 14:30] SabotageAndi commented on #1336
@mstypsan Ok, you don't get the exception in the experimental instance probably, because the extension is not installed. The extensions are not shared between instances.

[2019-01-07 15:18] stevozilik commented on #1357
Breaking change should be a conscious (manual) opt-in

Please create a new SpecFlow 3 extension and leave the current one on SpecFlow 2

[2019-01-07 16:40] sivatvu commented on #1377
No, why should I do that? How can I do that in the existing project which is already in my Github?

[2019-01-07 19:45] Blackbaud-ChrisKessel commented on #686
PR #1380 for this
 xunit.collection is a class level attribute only.
Only allows one 'xunit.collection' attribute per class.
Uses feature level tag:  '@xunit:collection(<COLLECTION_NAME>)'
COLLECTION_NAME allows alpha, numeric, '-', and '_'
COLLECTION_NAME does not allow white space (just like any other tag)

[2019-01-08 08:17] Regenhardt commented on #1377
After you clone and open it in your IDE, you gotta Nuget restore on the solution so it loads third party libraries from Nuget. Although I think visual studio has that automatically on rebuild.

git doesn't put nuget packages into the repo, just the info which packages arerequired. Therefore, each time you newly clone, you gotta nuget restore.

[2019-01-08 08:41] SabotageAndi commented on #1377
@Regenhardt thanks for this good explanation

[2019-01-08 08:49] godrose commented on #1348
@SabotageAndi Any update on this issue? Is it planned to be a part of 3.0.0 release?

[2019-01-08 09:55] #1378 closed

[2019-01-08 10:02] SabotageAndi commented on #1347
resolved with #1367

[2019-01-08 10:02] #1347 closed

[2019-01-08 11:35] Elangopalakrishnan commented on #1379
@SabotageAndi , worked well,,,, Thank you !!!!

[2019-01-08 11:35] #1379 closed

[2019-01-09 09:52] sivatvu commented on #1377
Thank you for your response.

I have restored my packages but still unable to build my solution! Please see the below error that I am getting on the auto generated feature.cs file

![image](https://user-images.githubusercontent.com/16304522/50891475-40b40b80-13f4-11e9-9b94-322be36059c7.png)

[2019-01-09 10:00] SabotageAndi commented on #1377
When you open the `ThinkMoneyMobileApp.feature` and save it, are the errors still there?
These messages are generated, when the code-behind file is generated, what is by standard done when you save the feature file in Visual Studio.

[2019-01-09 10:11] sivatvu commented on #1377
Yes, the errors are still there.
I can run the same code in my local without any errors but these errors comes only when I open it from my repo!

[2019-01-09 10:56] Regenhardt commented on #1377
Does your project have a reference to SpecFlow.<YourTestFrameworkChoice>, for example SpecFlow.NUnit? I had that literally yesterday.

[2019-01-09 13:34] SabotageAndi commented on #726
@ChristopherHaws I know this is an old issue, but do you still get it?

[2019-01-09 13:38] SabotageAndi commented on #749
If you have a CustomTool set on your feature files, the code-behind file is generated by the VS Extension and VS.
I don't think we can do here much.

Preferred solution is to use the MSBuild integration https://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2019-01-09 13:38] #749 closed

[2019-01-09 13:39] Regenhardt commented on #1377
What do the warnings say? Messages should be in the Error List.

[2019-01-09 13:48] SabotageAndi commented on #1001
The MSBuild Task was rewritten for SpecFlow 3.0. Please reopen this issue if you get it with SpecFlow 3.0

[2019-01-09 13:48] #1001 closed

[2019-01-09 13:49] #1028 closed

[2019-01-09 13:51] SabotageAndi commented on #936
resolved with #1093

[2019-01-09 13:51] #936 closed

[2019-01-09 13:53] SabotageAndi commented on #517
SpecFlow 3.0 works with the lastest NUnit 3 version.

[2019-01-09 13:53] #517 closed

[2019-01-09 13:53] SabotageAndi commented on #737
Should be fixed with SpecFlow 3.0.

[2019-01-09 13:59] Regenhardt commented on #1314
Hi @SabotageAndi , I'd like to take on this task, as it seems a good simple start and I'd like to help getting to Core support.

Problem is: I can't figure out how to develop in this part of the repo. When I clone and restore /SpecFlow.VisualStudio and start the ...2017.sln, I get lots of errors. So I cloned the main repo, and that of course doesn't have SpecFlow.VisualStudio (although automatic t

[2019-01-09 14:01] SabotageAndi commented on #1314
@Regenhardt You are right in the SpecFlow.VisualStudio repro.

What errors are you getting. You need the VS SDK installed and make a NuGet restore.
Than they should be gone.

[2019-01-09 14:02] SabotageAndi commented on #1268
Because of inactivity, I am closing this issue.
Please reopen if necessary.

[2019-01-09 14:02] #1268 closed

[2019-01-09 14:06] #1254 closed

[2019-01-09 14:09] SabotageAndi commented on #1341
From the error, I think you didn't removed the SpecFlowSingleFileGenerator from your csprojs.
It's described in https://specflow.org/2018/specflow-3-public-preview-now-available/ - Generating Code-behind Files

[2019-01-09 14:33] sivatvu commented on #1377
It's not about a single error! The whole feature.cs file is crashed!

We could not find a data exchange file at the path TechTalk.SpecFlow.SpecFlowException: Unable to find plugin in the plugin search path: SpecRun. Please check http://go.specflow.org/doc-plugins for details.

Please open an issue at https://github.com/techtalk/SpecFlow/issues/
Complete output:
TechTalk.SpecFlow.SpecFlowException:

[2019-01-09 14:36] SabotageAndi commented on #1314
All is fine for you.
VS doesn't know that these are templates and so you get this errors.
Sometimes also Resharper doesn't recognize this file as templates.

[2019-01-09 14:37] Regenhardt commented on #1314
Since it won't let me build it, how can I check whether or not I made any mistakes? This case is quite simple, but there might be other circumstances another time.

[2019-01-09 14:38] SabotageAndi commented on #1377
Yes, you get this error, because the VS Extension can't file a needed file.
The yellow warnings are probably there, because it can't find the files.
Could you post your csproj file? Perhaps something is there wrong.

[2019-01-09 14:41] SabotageAndi commented on #1314
You get this error as a build error? These files aren't mark to compile.

[2019-01-09 14:42] sivatvu commented on #1377
https://github.com/sivatvu/GreenLemonAutomationTests

[2019-01-09 14:55] SabotageAndi commented on #1377
You checked in your package folder.
Don't do that! You have the folders for the packages, but no files.
NuGet only checks the existence of the folder and not if single files are missing.
So the NuGet restore does nothing and you are still missing files.

Good idea is to update your .gitignore to this one: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore
It has all entries for

[2019-01-09 15:10] okyrylenko opened #1382 "New Feature suggestion. Add a constructor that excepts a string for PendingStepException to be able to set customized message when pending a step"
It would be nice to be able to set a custom message when setting a step to pending instead of generic "Step is not implemented" to be able to provide more info why the step is not implemented.
I guess adding a constructor that excepts a string to PendingStepException class and then printing that message in console would be great.

[2019-01-09 15:20] vijethcr opened #1383 "Specflow 3.0 beta VS 2017 autogenerated file refers to older version 1.9"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
- [ ] .N

[2019-01-09 15:45] SabotageAndi commented on #1383
If you have the classic project system, you have to add this at the end of the csproj (before the project tag ending):

[code]

This adds the .feature.cs files to the assembly to compile.

[2019-01-09 15:56] vijethcr commented on #1383
Thanks @SabotageAndi .One more observation
![image](https://user-images.githubusercontent.com/38640346/50911138-3d04a100-1455-11e9-8c74-a21349d0b6ff.png)

[2019-01-09 15:59] SabotageAndi commented on #1383
Yes, sadly.
If you use the sdk- style project system, it will but the code-behind file under the feature file.
But that doesn't work with the classic project system.

[2019-01-09 16:08] okyrylenko commented on #1382
@SabotageAndi thanks, I'll take a look

[2019-01-09 19:05] sivatvu commented on #1377
Is there any document to refer?

[2019-01-09 20:16] hans4111 commented on #1374
I apologize for the long delay. I was on Holiday for Christmas and the New Year.

I added platform="x86" and attempted the run the command again. I received the same error.

[2019-01-10 03:42] vijethcr commented on #1383
@SabotageAndi Yes the above suggestions does work for me. But then i have ended up changing the csproj to .net core now. so this fixes the issues for me.
Thank you for the quick response @SabotageAndi

[2019-01-10 06:58] Regenhardt commented on #1314
You were right, it wasn't an actual build error, I just saw the Error List pop up red all over the place :)

[2019-01-10 07:21] SabotageAndi commented on #1383
Thanks for the info.
I will close this issue now.

[2019-01-10 07:21] #1383 closed

[2019-01-10 07:35] SabotageAndi commented on #1377
Here is the Microsoft Docs for this: https://docs.microsoft.com/en-us/nuget/consume-packages/packages-and-source-control

[2019-01-10 10:42] SabotageAndi commented on #1314
resolved with https://github.com/techtalk/SpecFlow.VisualStudio/pull/41

[2019-01-10 10:42] #1314 closed

[2019-01-10 11:14] Stephen-Mc commented on #1357
@stevozilik: While I would agree with that statement in principle, how would you address all the cons? In the long run, having 2 extensions will almost certainly be more work for us over the long term. We would need a viable alternative that address the cons of 2 extensions as well.

[2019-01-10 12:30] basdijkstra opened #1384 "Feature request: enable table aliases to be used in SpecFlow.Assist CompareToInstance and CompareToSet methods"
### SpecFlow Version:
- [ ] 3.0
- [X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number: 3.11.0

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [X]	No

### .NET Framework:
- [X]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-01-10 15:05] SabotageAndi commented on #1234
As @Sambafrosch issue was fixed (#1378) and @sivatvu has created an own issue, there is nothing new here.
Therefore I close this issue.
If you have this error, please open a new issue.

[2019-01-10 15:05] #1234 closed

[2019-01-10 20:20] tsecomandi commented on #1348
I have the same issue.

Changing the project target framework to net471 would make it wait for the completion of the [AfterTestRun] hook?

[2019-01-10 20:57] nvborisenko commented on #870
Might be related https://github.com/techtalk/SpecFlow/issues/1348

[2019-01-11 10:51] aqiftekhar commented on #1262
I just updated my Specflow version from 2.0 to 1.9 and it worked. this means specflow 1.9+ do not support coded ui when it comes with custom generator provide.

[2019-01-11 14:46] stevozilik commented on #1357
@Stephen-Mc

That's the case with any versioned software, devs are used to it (nuget)

Mutex with warning - like when preventing one EXE to start multiple times?

This is subjective opinion stating this approach is not good, which can also be reverted

Protects - breaking changes

[2019-01-11 19:23] nvborisenko commented on #1348
Just try. What I gathered is nunit gives 30secs for [AfterTestRun] completion (nunit-console.exe supports only full net framework). VsTest gives 100ms for 'netcoreapp' tests. Not sure, need verify.

Please don't forget to report your results.

@SabotageAndi it seems specflow should rely on [TestAssemblyCleanup] attribute, which is specific for every unit test framework. I guess this is not easy fi

[2019-01-11 19:32] SabotageAndi commented on #1348
In <= SpecFlow 2.4 we have a NUnit Addin for it.
See https://github.com/techtalk/SpecFlow/blob/line-v2.4/Installer/NuGetPackages/SpecFlow.NUnit.Runners/SpecFlowNUnitExtension.cs

Not sure if it worked after 1.9.
Now it will not, because it is using ScenarioContext.Current.

One of the problems I don't yet know how to solve, is that the AssemblyCleanup attributes are sometimes only allowed once per

[2019-01-11 20:06] nvborisenko commented on #1348
As to me AssemblyCleanup per one assembly is expected.

What about single code file generation: may be it can be resolved by msbuild `props and targets`. For example if my project references to "SpecFlow.NUnit" package, and I want to build my project, then `target from SpecFlow.NUnit` package adds file for compilation on "prepare for build" phase. I hvae no big experience here.. just thoughts.

[2019-01-14 12:33] SabotageAndi commented on #1350
@bhushansona So I had finally some time to have a look at this.
It looks like, you don't have added the `Parallelize` attribute to your code.
MSTest V2 has parallel execution turned off by default. You have to enable it.

See <https://blogs.msdn.microsoft.com/devops/2018/01/30/mstest-v2-in-assembly-parallel-test-execution/> and <https://www.meziantou.net/2018/03/01/mstest-v2-execute-tests-in-paral

[2019-01-14 16:15] StevenBlair123 commented on #1348
We have been experiencing this problem. Hoping someone can come up with a solution.

We are using:

xUnit
net core 2.0
SpecFlow.xUnit 3.0.161-beta

AfterTestRun is not being fired.
We tried running with our debugger, and occasionally, the source file containing the AfterTestRun method is shown, but immediately the process stops.

[2019-01-15 13:40] Tragedian commented on #1357
@SabotageAndi It clarifies greatly and adds just the sort of context I feel this conversation needed to help understand why maintaining backwards-compatibility may be unreasonable.

[2019-01-15 13:42] SabotageAndi commented on #1357
@Tragedian Glad to hear that.

[2019-01-15 14:20] Stephen-Mc commented on #1357
I've updated the first post with Andi's reply to provide additional context to new visitors to this discussion.

[2019-01-15 15:13] Knewcombe opened #1386 "Comments before 'Feature Description' causes errors within VS."
Comments before Feature Description causes errors within VS.

### SpecFlow Version:
- [ ] 3.0
- [x] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: v3.11.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

[2019-01-15 15:20] SabotageAndi commented on #1386
Interessting. Looks like a bug in the Gherkin parser.

[2019-01-15 15:36] sivatvu commented on #1377
I am really sorry, I can't figure it out!

It works locally but when I open the project via github my feature.cs crashes!! Please help

[2019-01-15 15:38] SabotageAndi commented on #1377
You still have your packages folder checked in.
**Delete it!** In your repo and where you checked it out.
Then do a NuGet restore.
Then it should work.

[2019-01-15 15:45] sivatvu commented on #1377
Remove this folder completely?

![image](https://user-images.githubusercontent.com/16304522/51191566-96991f80-18dc-11e9-8c70-3358802c58ad.png)

[2019-01-15 15:57] sivatvu commented on #1377
I can't delete my packages folder and commit my code!
Error message in the Output!

Error: hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ...') before pushing again.
hint: See the 'Note about fast-for

[2019-01-16 16:16] immeraufdemhund commented on #1334
Are there any updates to this? or any work-arounds? I just hit the same problem with specflow 2.4.0 new project but i'm using NUnit as my provider. the config page shows that it is valid https://github.com/techtalk/SpecFlow/wiki/Configuration

[2019-01-17 18:37] jeffroinc opened #1388 "Unable to Generate Code Behind After Adding SpecSync"
### SpecFlow Version:
- [ ] 3.0
- [x ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4.5
- [ ]	before .NET 4.5
- [

[2019-01-17 18:38] SabotageAndi commented on #1388
@gasparnagy This is yours.

[2019-01-17 19:39] gasparnagy commented on #1388
For synchronizing automated test cases, only the "MsTest" unit test provider can be used due to the limitations of Azure DevOps (TFS/VSTS). See https://specsolutions.gitbook.io/specsync/important-concepts/synchronizing-automated-test-cases for more details.

[2019-01-17 19:39] #1388 closed

[2019-01-18 19:36] gasparnagy commented on #1364
In BoDi, there is a workaround: the IContainerDependentObject interface (this is implemented by the Steps base class BTW. If your class (or base class) implements this interface, BoDi notifies you through the `IContainerDependentObject.SetObjectContainer` method, so you can initialize any properties.
So you can make a base class that implements this and in the `SetObjectContainer` goes throuh the

[2019-01-18 20:05] johnathanbeal commented on #1138
I have reproduced this issue.
I have an original SpecFlow solution that does not present with the unable to find plugin error.
However when I try to create a new solution based on the original I am seeing the error in the 2nd SpecFlow solution.
The error is "Unable to find plugin in the plugin search path: SpecRun"
If tried setting the app.config without specifying a path and with specifying a pat

[2019-01-19 15:26] Dietatko opened #1389 "Feature request: Adding value retrievers for URIs and nullable strings/objects"
In my project I needed and implemented 2 custom value retrievers. I wanted to ask whether these are something you would like to see in your repository. I would create PR for that.

1.  A value retriever for System.Uri type. I guess this would be useful also for others. Question is what should be retrieved for empty strings. Should it be empty string Url or null?

2. When empty value is specified f

[2019-01-19 20:45] abcplex opened #1390 "testrunner=null when run the test"
I have an existing project which I cloned and try to run a feature, I am getting

[code]
CallStack says,

`**Specifications.dll**!Specifications.Specs.MyFeature.ScenarioSetup(TechTalk.SpecFlow.ScenarioInfo scenarioInfo)`

Also, `private TechTalk.SpecFlow.ITestRunner testRunner;` variable is null when I check `this.testRunner`.

The project is running with other teammates. I have installed VS 2017

[2019-01-20 20:44] BElluu opened #1391 "Dont have SpecFlow Feature File in my VS 2017"
Hello,

I created test project, installed all extensions but I don't see SpecFlow Feature File.

![image](https://user-images.githubusercontent.com/11333925/51444773-541c7c00-1cfc-11e9-8bc3-2798da1ca89a.png)

![image](https://user-images.githubusercontent.com/11333925/51444777-64ccf200-1cfc-11e9-9f2d-a8f877b43981.png)

[2019-01-21 08:44] SabotageAndi commented on #1390
Please open a new issue and fill out all the requested information.
Without these, we can't help you. Thanks.

[2019-01-21 08:44] #1390 closed

[2019-01-21 08:56] SabotageAndi commented on #1389
@Dietatko
A PR for the 1. point would be welcomed.

About the 2. point:  I don't like to change the default behaviour. This would be breaking potential a lot of people, because they rely that an empty string will be still an empty string.
The question is, if it would be possible to somehow configure this behaviour.
Any suggestions?

If you send PRs, please split it in two. Thanks

[2019-01-21 19:16] abcplex commented on #1390
requested information? What do you mean? Sorry I didn't get. I am asking why I am unable to run the tests.

[2019-01-22 00:49] richardgavel commented on #1318
Sorry for the delay. See https://github.com/techtalk/SpecFlow/pull/1392

[2019-01-22 08:38] SabotageAndi commented on #1318
@richardgavel Don't worry about the delay. Thanks for it. I made some comments at the PR.

[2019-01-22 14:34] brian-menzies commented on #894
Just to add, it's still happening with SpecFlow 2.4.1 and NUnit 3.11.0.

[2019-01-22 19:00] nvborisenko opened #1394 "Custom execution listeners"
Hello SpecFlow team,

I am investigating a way how to create a realtime report on fly during scenarios execution. I see that I can create a runtime plugin and inject `ITestRunner` object. There I am able to handle all events related to report (failed/passed scenarios/features). But it seems this is not good way because of my plugin override user's registered `ITestRunner` (usually `DefaultTestRunn

[2019-01-22 22:00] snow-jallen commented on #1137
[ Sends happy thoughts to anyone working on this item so SpecFlow can support VS2019 ]

[2019-01-23 08:17] Elangopalakrishnan commented on #1191
@SabotageAndi I'm also seeing all .srprofiles displays twice in solution explorer,
Is it fixed?

[2019-01-23 17:18] stevozilik opened #1395 "Make SpecFlow Plugins in same test assembly possible"
### SpecFlow Version:
- [ ] 3.0
- [x ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Issue Description
I would like to create a new ITraceListener for MsTestV2 parallel test execution, the default behavior seems to be messed up. I'm reading in order to do that, I need to create a new plugin
https://github.com/techtalk/SpecFlow/wiki/Configuration

How to create a plugin:
[https://githu

[2019-01-24 13:57] SabotageAndi commented on #1191
@Elangopalakrishnan not yet, but it's only a display error. The file is there only one time.

[2019-01-24 14:03] SabotageAndi commented on #1395
About the TraceListener:
We implemented one for SpecFlow 3: https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.MSTest.SpecFlowPlugin/MSTestTraceListener.cs

About the plugin infrastructure:
Yeah, in SpecFlow 2 it's a little bit too complicated. But there was no need to change it, as it is the same way as in SpecFlow 1.*.
We changed it a little bit in SpecFlow 3. The naming

[2019-01-24 14:05] SabotageAndi commented on #1395
btw, I took the liberty to rename the issue.

[2019-01-24 16:03] FestTestQA commented on #838
https://github.com/techtalk/SpecFlow/wiki/Troubleshooting-Visual-Studio-Integration#steps-are-not-recognised-even-though-there-are-matching-step-definitions

[2019-01-24 18:32] manoj12419 commented on #439
I am still facing this issue in VSTS 17,
I have cleared temp file but didn't worked out

[2019-01-25 07:37] Elangopalakrishnan commented on #1349
@SabotageAndi @Stephen-Mc  Thanks for explanations.
Closing the issue.. :+1:

Thanks,
Elango

[2019-01-25 07:37] #1349 closed

[2019-01-25 08:13] privatemeta opened #1396 "Visual Studio Crash on GIT Branch change"
### SpecFlow Version:
- [ ] 3.0
- [x] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.8.3

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-01-25 10:44] stevozilik commented on #1395
@SabotageAndi

thank you for quick response

I've replicated the same plugin/trace listener config in my SpecFlow 2.4.1 project, including how it's registered with the plugin using CustomnizeScenarioDependencies ObjectContainer (breakpoint hit), but my ITraceListener is never constructed/used, the tests are still writing to 'StandardOutput'

Any ideas?

[2019-01-25 11:23] Elangopalakrishnan opened #1397 "How to log a warnings for Specflow tests and report in html report"
Hi All,

I'm trying to log a warning messages for my specflow tests,
code -  NUnit.Framework - Assert.Warn("msgs");
But at the end the tests are being passed and reported as Passed in html report also.
Expected- Tests should report as warnings,

**NuGet Packages -**
MSTest.TestAdapter - v1.2.0
MSTest.TestFramework - v1.20.0
NUnit3TestAdapter - v3.10.0
NUnitTestAdapter - v2.1.1
Specflow - v2.3.2
Sp

[2019-01-28 11:49] oliTheTM opened #1398 "Custom Generator AddIn Does Not Load"
I have a simple Generator AddIn that applies NUnit Retries to those Scenarios that declare it (as a tag).
However, it never, ever, ever gets called.
I am using VS-2017 Professional.
Things I have done:

I have named it: **SpecFlowRetries.SpecFlowPlugin.dll**

In App.config of the calling VS-project:
[code]

Indeed, the folder: SpecFlowRetries is in the VS-solution dir. and contains the add-in and

[2019-01-28 11:51] oliTheTM commented on #1398
P.S. I have injected a debug statement in Initialize of IGeneratorPlugin that throws an exception; so I will know exactly if this addin has been called or not.

[2019-01-28 12:19] yanislavg commented on #972
Hi @SabotageAndi ,
Could you please advise on this issue?
Still reproducible on SpecFlow v2.4.1 with SpecRun v1.8.5!
Why the bug label was removed on  on Jun 27, 2018?

[2019-01-28 14:11] SabotageAndi commented on #1398
It would have helped, if you have filled out the issue template. The SpecFlow version would be interesting.

From your description it looks good. I have no quick idea what the error is.

We have here (https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs.Generator.SpecFlowPlugin/GeneratorPlugin.cs) a working GeneratorPlugin that is used by SpecFlow itself.

[2019-01-28 14:15] oliTheTM commented on #1398
Sorry, here you go:

### SpecFlow Version:
- [ ] 3.0
- [X] 2.4
- [] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number: 3.12.0 (NUnit)

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [X]	No

### .NET Framework:
- [X]	>= .NET

[2019-01-28 14:18] oliTheTM commented on #1398
...Would the generated files' comment-header give any useful information for diagnosis?

[2019-01-28 15:51] reallydontask opened #1399 "AzureDevOps Unreliable Tests"
AzureDevOps Unreliable Tests

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [x]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4.5

[2019-01-28 16:16] SabotageAndi commented on #1399
Please use the latest version and report back if your issue is still there.

[2019-01-29 08:56] SabotageAndi commented on #1336
Because of inactivity, I am closing this issue.

[2019-01-29 08:56] #1336 closed

[2019-01-29 09:23] SabotageAndi commented on #1398
If you can share it, it would help.

[2019-01-29 09:33] SabotageAndi commented on #1398
Did you forgot the GeneratorPlugin assembly attribute to copy here? Or is it missing at all in your code?

[code]

[2019-01-29 09:34] oliTheTM commented on #1398
Ah, no I didn't; I just organized it in the AssemblyInfo.cs file (VS Project best-practice).

[2019-01-29 10:01] oliTheTM commented on #1398
By the way; that example plugin you referenced; is there a binaries folder you could share of it so I can deduce if the error is exterior to my plugin?

[2019-01-29 11:19] StuartFergusonVme commented on #1348
Done a bit more investigation on this issue and have confirmed as the issue suggests that the AfterTestRun method is indeed being fired but the code in this does not complete :(

Added in a foreground thread starting in BeginTestRun in an effort to keep the process from being unloaded but this does not seem to help, in fact it seems to hinder the issue as the AfterTestRun stops being called.

Also

[2019-01-29 19:52] SabotageAndi opened #1400 "Too much APIs are public"
see public API diff here: https://www.fuget.org/packages/SpecFlow/3.0.161-beta/lib/net45/diff/2.4.1/

These APIs should not be public:

[code]

[2019-01-29 20:51] hans4111 commented on #1374
@SabotageAndi Just checking to see if you had anymore ideas, I haven't heard on this for awhile. Thanks

[2019-01-29 20:53] SabotageAndi commented on #1374
Sorry, no new news. I wasn't able yet to reproduce the issue.
Could you try to reproduce the issue in a small sample project?

[2019-01-30 14:50] reallydontask commented on #1399
Hi

I've tried upgrading to 3.0.161-beta and the same issue occurs

Any ideas?

[2019-01-30 15:49] reallydontask commented on #1399
Having had a discussion with our testers it turns out that the issue also happens locally

[2019-01-30 16:57] ninjaboy commented on #1348
hi guys, we are using xUnit, .netcore2.2, specflow.xunit 3.0.161-beta as well
Can confirm that AfterTestRun is not running neither by using `dotnet test`, nor by running the tests in VS Tests runner in debug.
I can also confirm that I am certain that it is not running because there are some processes to be closed in the `AfterTestRun` which remain hanging.

[2019-01-30 18:21] BasHamer opened #1401 "Can't create new projects using specrun (tried on multiple machines, same error)"
### SpecFlow Version:

- [X ] 2.4

### Used Test Runner
- [X ] SpecFlow+Runner

Version number:

### Visual Studio Version
- [X ]	VS 2017

### Are the latest Visual Studio updates installed?
- [ X]	Yes

### .NET Framework:
- [X ]	>= .NET 4.5

### Test Execution Method:
- [X ]	Visual Studio Test Explorer

### &lt;SpecFlow> Section in app.config

[code]

### Repro Project

### Issue Description

[1/

[2019-01-30 18:21] BasHamer commented on #1401
[ConsoleApp4.zip](https://github.com/techtalk/SpecFlow/files/2813914/ConsoleApp4.zip)

[2019-01-30 18:23] SabotageAndi commented on #1401
Ok, this is very strange.
Does the folder `C:\Users\bhamer\source\repos\ConsoleApp4\packages\SpecRun.Runner.1.8.5\tools\SpecFlowPlusRunner` exists?

[2019-01-30 18:31] BasHamer commented on #1401
ok, thanks, I was going nuts trying to figure out why it didn't work :/

[2019-01-30 18:36] BasHamer opened #1402 "Looking for best practices; Handling Aggregate Exceptions"
### SpecFlow Version:
- [X] 2.4
### Used Test Runner
- [X] SpecFlow+Runner

Version number:

### Visual Studio Version
- [X]	VS 2017
### Test Execution Method:
- [X]	Visual Studio Test Explorer

[code]

results in the following output, please note that "noodles" appears 6 times. As in my case this message is quite detailed (and long) this means that outputs end up being thousands of lines long. Wh

[2019-01-31 09:49] SabotageAndi commented on #1348
We have it on our backlog, but didn't had yet the time for it. So feel free to send us PRs to fix this.

And I still have no idea how to solve this. see my comment https://github.com/techtalk/SpecFlow/issues/1348#issuecomment-453631649. So if somebody has a brilliant idea, I am open for suggestions.

In the Issue https://github.com/Microsoft/vstest/issues/1873 @nvborisenko opened, the VSTest teams

[2019-01-31 11:48] Dietatko commented on #1389
The Uri value retriever implemented in #1403

[2019-01-31 15:37] SabotageAndi commented on #1401
As this is solved, I close this now.

[2019-01-31 15:37] #1401 closed

[2019-01-31 17:25] SabotageAndi commented on #1389
implemented with #1403

[2019-01-31 17:25] #1389 closed

[2019-01-31 19:47] nvborisenko commented on #1394
@gasparnagy @SabotageAndi is it good choice to decorate already registered `ITestRunner` of `ITestExecutionEngine` objects in BoDy container?

[2019-02-01 09:57] oliTheTM commented on #1398
@SabotageAndi for this: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs.Generator.SpecFlowPlugin/GeneratorPlugin.cs is there a binaries folder I can have of it please?

[2019-02-01 14:00] reallydontask commented on #1399
We're doing the scenarios sequentially.

[2019-02-01 15:23] SabotageAndi commented on #1354
I have some PR in work in progress that enables SpecFlow itself to be build on Mac OS (https://github.com/techtalk/SpecFlow/pull/1404).
When this is working, I will have a look on this more in detail.

[2019-02-01 16:06] SabotageAndi commented on #1399
Interesting. In that case, we would need a small project where we can reproduce the issue.
Could you provide one?

[2019-02-01 16:07] SabotageAndi commented on #1398
What do you mean with binaries folder?

[2019-02-01 16:12] SabotageAndi commented on #1394
I would not do it. When some other plugin is also dependent on an override of these, the last one wins.

I am not sure if it is possible, but you could try to add "hooks" in the BindingRegistry in your plugin.

[2019-02-01 16:16] SabotageAndi commented on #1402
I am not sure if you can do anything here.

We call `ToString()` on the raised exception and with AggregateException, this text will get big.

Some of the repeated tests is also from VSTest itself. You have the `Result StackTrace` and the `Result StandardError`. That is not from the SpecFlow+Runner.

You could inherit from AggregateException and override the ToString- method to get something short

[2019-02-01 17:33] sheikhjebran commented on #919
Hi Dear,
I also downgraded the version and its working smooth

[2019-02-01 20:49] gasparnagy commented on #1394
@nvborisenko I agree with @SabotageAndi . In this project I have created such an "event" system, maybe you can use it: https://github.com/cucumber-ltd/cucumber-pro-plugin-specflow/tree/master/src/Cucumber.Pro.SpecFlowPlugin/Events

[2019-02-02 17:52] reallydontask commented on #1399
That's going to prove tricky but I'll see what I can do

[2019-02-03 12:44] godrose commented on #686
@sabotageandi Is this included into 161?

[2019-02-04 00:31] oliTheTM commented on #1398
Basically a DLL for the example plugin thats' souce is refernced in my previous comment. I can use that as a control for this problem.

[2019-02-04 08:58] SabotageAndi commented on #686
@godrose No, but it will be in 3.0.169 which is uploaded now to NuGet.org.

[2019-02-04 09:00] SabotageAndi commented on #1398
Build SpecFlow from source. Then you have it.
Be aware that this is for SpecFlow 3 only. It will not work with SpecFlow 2.4.

[2019-02-04 11:18] nvborisenko commented on #1394
Thanks for proposal. Big problem of Hooks approach is that hooks are not guaranteed for invocation. For example if users `AfterFeature` hook fails, my hook is not invoked.

[2019-02-04 15:17] reallydontask commented on #1399
Not sure if this will help but on some tests we get this, see below

On a data driven tests we get some with the nullreference exception and some with this one
[code]

[2019-02-04 15:34] SabotageAndi commented on #1348
I think, this would be possible to add to the code- generator.

[2019-02-04 15:50] markhobson opened #1405 "Invalid step not reported running dotnet test"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.11.0

### Visual Studio Version
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013
- [x]	Rider

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4.5
- [ ]	befor

[2019-02-04 16:34] SabotageAndi commented on #1405
Could you update to the latest preview package and try it again?

[2019-02-04 16:42] markhobson commented on #1405
I'm using the latest [3.0.169-beta version of SpecFlow from NuGet](https://www.nuget.org/packages/SpecFlow/3.0.169-beta), how do I obtain the preview package? Is this in reference to the [public preview](https://specflow.org/2018/specflow-3-public-preview-now-available/)? I assumed this was Visual Studio specific, which I'm not using.

[2019-02-04 17:45] oliTheTM commented on #1398
Do you think that this issue is a defect? Or what can we do differently? At the moment we have nuget packages that have constraints against SpecFlow 3 sadly.

[2019-02-04 23:08] BasHamer commented on #1402
ok, I can probably do that.

[2019-02-05 08:20] gasparnagy commented on #1394
@nvborisenko yes, that is right. In mid-term, we would need to integrate this event system into SpecFlow itself. But this can be used as a temporary solution until it will be implemented. BTW: you can make sure that your hook you add from code executes first by setting a very low Order value.

[2019-02-05 09:14] Regenhardt commented on #1315
Do we have to implement an IWizard for the template? Couldn't find another way to set that attribute.

[2019-02-05 10:40] SabotageAndi commented on #1315
This has to be fixed in the NuGet packages.

Putting this into a `SpecFlow.targets` file and adding it to the NuGet package should work.
[code]

[2019-02-05 10:42] SabotageAndi commented on #1394
@gasparnagy Any reason why you didn't implement this in SpecFlow itself?

[2019-02-05 10:56] SabotageAndi commented on #1405
Ok, you updated the project. It was still using beta-132 and I wasn't sure if we worked on this something in the meantime.

[2019-02-05 11:34] markhobson commented on #1405
Yes, sorry I wasn't clear. I upgraded the example from 3.0.167-beta to 3.0.169-beta:
[code]

[2019-02-05 12:13] gasparnagy commented on #1394
@SabotageAndi only time...

[2019-02-05 13:36] narcis-pv commented on #1348
Another temporary workaround

`using System.Collections.Generic;
using Willow.Test.Acceptance;
using Xunit;
using Xunit.Abstractions;

[assembly: CollectionBehavior(DisableTestParallelization = true)]
[assembly: TestCollectionOrderer(
    CollectionOrderer.TypeName,
    CollectionOrderer.AssemblyName)]

namespace Your.Test.Acceptance
{
    using System.Linq;
    using StepDefinitions;
    using Te

[2019-02-05 15:50] oliTheTM commented on #1398
Which Minor Version does it work for?

[2019-02-06 13:10] gittadesushil opened #1407 "Specflow does not find custom plugin during compilation"
### SpecFlow Version:
- [ ] 3.0
- [x] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
SpecFlow.Nunit - 2.4.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	b

[2019-02-06 13:46] SabotageAndi commented on #1407
We changed with SpecFlow 3 the whole plugin loading logic. GeneratorPlugins are now defined via MSBuild.
Have a look here: https://github.com/techtalk/SpecFlow/tree/master/Plugins/TechTalk.SpecFlow.MSTest.Generator.SpecFlowPlugin

For SpecFlow < 3, you have to live with the workaround.

[2019-02-09 11:18] Regenhardt commented on #1315
This packaging stuff is complicated. Do I make that file a solution item in .Build solution folder? How do I tell nuget to use it as targets? Will it just do it becuase it's .targets?
Sorry I'm really lost. MSDN isn't really helpful, unless I build a completely new project.

[2019-02-09 12:02] Regenhardt commented on #1400
Should the extensions all be internal? There is for example this one that is not on your list:
`public static string[] SplitByString(this string value, string separator, StringSplitOptions options)`
And can I unify usage of built-in keywords `string` instead of class name `String`?
Do you have written down code style somewhere?

[2019-02-11 08:49] SabotageAndi commented on #1400
`string` and `String` should be unified to everywhere `string`. But please make separate PRs for it. Makes it easier to merge and review the changes.
We have no written coding style. Please use the same that you find in the source.

[2019-02-11 08:57] SabotageAndi commented on #1315
Yeah, manual nuget package creation is complex.
You have to add the file into https://github.com/techtalk/SpecFlow/tree/master/TechTalk.SpecFlow/build (new folder needed) and add `<file src="build\**\*" target="build" />` into the https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/SpecFlow.nuspec like https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.xUnit.

[2019-02-12 09:47] cosminstirbu commented on #870
According to Microsoft this is a SpecFlow issue :-? https://developercommunity.visualstudio.com/content/problem/177319/systemargumentexception-the-type-systemvoid-may-no.html

[2019-02-12 10:09] SabotageAndi commented on #870
Probably something we are doing that behaves a little bit different on Windows and Mac (with Mono).
But when we fix #1348 and use a more test runner standard way, it should fix this also.

[2019-02-12 10:21] #1400 closed

[2019-02-12 14:28] nbalakin opened #1410 "Improve async steps exception"
Specflow uses AsyncHelpers class to invoke async steps and if the step throws an exception it will be rethrown with rewriting its original stack trace. We can use `System.Runtime.ExceptionServices.ExceptionDispatchInfo` class to rethrow the exception with its original stack trace so it's easier to figure out what's the problem from the log.

[2019-02-13 11:47] dod0o opened #1412 "ScenarioStepContext.Current set to null on ScenarioInitialize method"
`ScenarioStepContext.Current` becomes NULL after the execution of the method `void ScenarioInitialize(TechTalk.SpecFlow.ScenarioInfo scenarioInfo)` when trying to run a scenario from another scenario via reflection.

### SpecFlow Version:
- [ ] 3.0
- [X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version n

[2019-02-13 16:42] Tragedian commented on #1362
As this has been open for two months without further input, let's assume there's limited interest in discussing this particular topic. Can we move forward in any way?

This is a feature I would personally like to see in SpecFlow 3; getting generated files out of source control and out of the project structure is a generally good thing. If SpecFlow is moving to exclusively generate code as a build

[2019-02-14 08:29] #1410 closed

[2019-02-14 09:22] SabotageAndi commented on #1412
I would say you had luck that this was working at all. We don't support this behavior actively.

Executing a scenario involves a lot of state and executing a Scenario within a Scenario would make a lot of headache.

Personally I am against of support this at all, because I think it is against the idea behind BDD. You have to look at least at 2 scenarios to understand one scenario.
That's not simpl

[2019-02-14 10:02] SabotageAndi commented on #1362
With SpecFlow 3 we are moving nearly exclusive to generate the code-behind files during build. Nearly only, because we need to be for at least some time backward compatible.

I see no difference if we put the files under `obj` or any other folder. It will influence the next build in all folders. The Globbing in sdk-style projects works this way.
The `obj` is only a known location. And as written b

[2019-02-14 11:13] dod0o commented on #1412
Hi,
thanks for your reply.

I don't think it's complicated to understand what's going on.

Let me give you an example (using a finance/banking API):
Scenario 1 - opening a client (this calls the API, creates a new customer and adds his details in the FeatureContext). The FeatureContext is saved and exported to a json file.
Scenario 2 - The FeatureContext is imported from the json file and with tha

[2019-02-14 11:15] Tragedian commented on #1362
The difference is that when you put _any_ files underneath the project root (but not in excluded locations like `/bin` and `/obj`), the default include mechanisms will find them on the next build unless you go to lengths to explicitly exclude them. When you put generated files into a project structure *you can't ignore them from source control*: they have to be tracked items to handle when you swi

[2019-02-14 11:40] SabotageAndi commented on #1362
Yeah, I forgot that you have to manually change the .gitignore file.

From my experience, the normal globbing in the sdk-style projects include everything in the `obj`- Folder. We could remove all `*.feature.cs` files first from the `Compile`- ItemGroup and then add all new files to it again.

And yes, perhaps we did it wrong with our experiments. The whole MSBuild code is here: https://github.com

[2019-02-14 11:47] Tragedian commented on #1362
I'll work on a PR for the MSBuild code.

[2019-02-14 11:51] SabotageAndi commented on #1412
I understand that it is useful for you.

But I think you can also solve your requirements in a different way that call scenarios from another scenario.

But why don't you use the `Background` for your example?
When you create multiple customers, why don't you simple call the method multiple times? This works best if you use the driver pattern. Here is a good blog post about it: http://leitner.io/2

[2019-02-16 20:32] reallydontask commented on #1399
The solution we've done is to run the test via a powershell script.  There is a loop that reads an array of categories and each category contains at most 10 tests.

This seems to do the trick

[2019-02-18 08:02] Sean2210 opened #1413 "ON advice outlined below"
Please open an issue at https://github.com/techtalk/SpecFlow/issues/
Complete output:

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
-

[2019-02-18 09:42] SabotageAndi commented on #1343
Issue is inactive => closed

[2019-02-18 09:42] #1343 closed

[2019-02-18 10:12] oliTheTM commented on #1398
@SabotageAndi Which Minor Version does it work for?

[2019-02-18 11:18] SabotageAndi commented on #1398
The plugin in the current source? It works for the latest 3.0 release

[2019-02-19 12:35] #1398 closed

[2019-02-19 12:40] oliTheTM opened #1415 "Non-existent NUnitv3.11 Attributes Referenced in SpecFlowv3.0 Generator Output"
### SpecFlow Version:
- [x ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x ]	No

### .NET Framework:
- [x ]	>= .NET 4.5
- [ ]	before .NET 4.5
- [

[2019-02-19 12:41] SabotageAndi commented on #1377
Closed because of inactivity and irrelevance to SpecFlow. You have problems in using git.

[2019-02-19 12:41] #1377 closed

[2019-02-19 12:44] SabotageAndi commented on #1415
Plugins and UnitTestProvider aren't configured anymore via app.config in SpecFlow 3.
This is done via plugins.

See: https://github.com/techtalk/SpecFlow/blob/master/docs/Breaking%20Changes%20with%20SpecFlow%203.0.md#unit-test-provider-is-configured-via-plugin

You have to use the `SpecFlow.NUnit` package.

[2019-02-19 12:46] oliTheTM commented on #1415
Thanks Andi

[2019-02-19 12:52] oliTheTM commented on #1415
Sorry @SabotageAndi but SpecFlow.NUnit is not compatible with your latest Beta release.

[2019-02-19 14:23] SabotageAndi commented on #1415
There is also a pre-release for SpecFlow.NUnit available: https://www.nuget.org/packages/SpecFlow.NUnit/3.0.169-beta

[2019-02-20 07:53] SabotageAndi commented on #1350
@bhushansona Do you have still problems? Is still solved for you now?

[2019-02-20 13:34] david1995 commented on #1085
Hi @liamharries, this issue should be fixed now. It will be shipped with the next preview of SpecFlow+ Runner 3.0.

The report summary for the aforementioned scenarios now looks like this:
![image](https://user-images.githubusercontent.com/11648207/53093986-36b81900-3519-11e9-9419-1fb7efb6de96.png)
Besides displaying the number of randomly failed tests in the header, the orange bar represents the

[2019-02-20 13:58] #1415 closed

[2019-02-20 13:58] oliTheTM commented on #1415
Thanks again Andi.

[2019-02-20 14:06] oliTheTM opened #1416 "Question About Hooks"
By **https://github.com/techtalk/SpecFlow/wiki/Hooks#user-content-hook-execution-order** (the Note at the end), does this imply that, given 2 hooks _A_, _B_.
If:
    1. _A_ precedes _B_ in execution.
    2. Both of their types are distinct.
    3. _A_ threw an exception.
Then:
     _B_ will always be executed?

[2019-02-20 15:51] orik007 opened #1417 "stepAssemblies configuration in core"
Hi,

I want to use [Binding] attribute for class in different project. In full framework there is a section in appConfig <stepAssemblies>.

But does this feature work in .core? my specflow.json looks like this
{
  "language": {
    "feature": "cs-CZ"
  },
  "stepAssemblies": [
    {
      "assembly": "e2eTests.Shared.dll"
    }
  ]
}

It seems the element stepAssemblies is ignored.
Thanks

[2019-02-20 19:44] SabotageAndi commented on #1416
I think B will then never get executed

[2019-02-20 19:45] SabotageAndi commented on #1417
Here is the unit test with an example: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.RuntimeTests/Configuration/JsonConfigTests.cs#L341

[2019-02-20 19:59] AmirHNK opened #1418 "SpecFlow behind code has syntax error or duplicate code after a build"
### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.3.2

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-02-21 09:07] SabotageAndi commented on #1418
You wrote that the code-behind file is generated at build.
How did you integrate the MSBuild integration?

[2019-02-21 09:07] #1085 closed

[2019-02-21 09:17] SabotageAndi commented on #1413
You have a problem in your app.config.
Something is defined twice.

[2019-02-21 09:17] #1413 closed

[2019-02-21 09:37] oliTheTM commented on #1416
Ok, in that case, is the only solution to ensuring _B_ will always run, to catch any exception _A_ throws? Or is there another way that you know?

[2019-02-21 09:50] orik007 commented on #1417
It is just test for json file structure. Seems in .core it is not implemented.

[2019-02-21 10:13] SabotageAndi commented on #1417
There shouldn't be a difference for .NET Framework and .NET Core in the implementation.

The test for it is here: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs/Features/Execution/ExternalSteps.feature#L6
Yes, it is described in app.config style, but we are transforming this in the background to the specflow.json.

[2019-02-21 10:36] Sean2210 commented on #1413
Thanks it happens when I download the tool onto my virtual platform. I cannot understand why though. I have tried unistall and re-install several times with the same result!!

[2019-02-21 11:24] SabotageAndi commented on #1416
If the order is important, you have to catch the exception.
If not, you could change the order on the hook attribute.

[2019-02-21 12:58] oliTheTM commented on #1416
Let's say _A_ is an AfterSceneario and _B_ is an AfterFeature then, if there is only 1 feature, _B_ will follow _A_. In this case, is the only solution to ensuring _B_ will always run, to catch any exception _A_ throws? Or is there another way that you know?

[2019-02-21 14:56] Smithy7876 opened #1419 "Tests run in Visual Studio but not command line"
### SpecFlow Version:
- [ ] 3.0
- [X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: SpecRun 1.8.5

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X ]	>= .NET 4.5
- [ ]	before .N

[2019-02-21 15:16] AmirHNK commented on #1418
I have 6 projects under my solution that only contain the .feature files. I choose one of them to be the startup project. Lets call it ProjOne. In the App.config of ProjOne, I have:

`  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="CommonTestImplementation" />
      <stepAssembly assembly="ProjOneTestImplementation" />
      <stepAssembly assembly="ProjTwoTestImplementation" />

[2019-02-22 09:11] SabotageAndi commented on #1416
Yes, in that case the only option is to catch all exceptions in A.

[2019-02-22 09:14] SabotageAndi commented on #653
As @samholder wrote, individual adaption is not possible.
As I think, everything is already answered, I am closing this issue.

[2019-02-22 09:14] #653 closed

[2019-02-22 09:15] SabotageAndi commented on #408
The reports are removed for SpecFlow 3 => closing this issue.

[2019-02-22 09:15] #408 closed

[2019-02-22 09:35] oliTheTM commented on #1416
Isee. Thanks @SabotageAndi .

[2019-02-22 10:08] SabotageAndi commented on #842
This should be fixed with SpecFlow 3, as we aren't using `Console.WriteLine` anymore for the output. Now we are using the APIs from the test frameworks.

[2019-02-22 10:08] #842 closed

[2019-02-22 10:12] SabotageAndi commented on #927
We are working on it. See https://github.com/techtalk/SpecFlow/issues/1311.

As the other issue is more actual, I will close this.

[2019-02-22 10:12] #927 closed

[2019-02-22 10:14] SabotageAndi commented on #1072
This is fixed with SpecFlow 2.4

[2019-02-22 10:14] #1072 closed

[2019-02-22 10:15] SabotageAndi commented on #1082
Is this problem still happening?

[2019-02-22 10:22] SabotageAndi commented on #1039
build & release pipeline for Mac OS and Linux is enabled

[2019-02-22 10:22] #1039 closed

[2019-02-22 11:11] SabotageAndi commented on #1077
#1108 is merged for SpecFlow 3.
You could try this out.
But as Silverlight is dead, we won't make SpecFlow work with it again.

[2019-02-22 11:11] #1077 closed

[2019-02-22 11:12] SabotageAndi commented on #1195
Closed because of answered & inactivity.

[2019-02-22 11:12] #1195 closed

[2019-02-22 11:15] SabotageAndi commented on #1102
SpecFlow.exe is gone with SpecFlow 3 and the MSBuild integration is completely different. As we are integrated much better with MSBuild now, I think this problem is solved.

[2019-02-22 11:15] #1102 closed

[2019-02-22 12:56] SabotageAndi commented on #1180
We updated the documentation what do to for MSBuild generation and wrote a blog post about it.

[2019-02-22 12:56] #1180 closed

[2019-02-22 13:03] SabotageAndi commented on #1269
Closing this issue, because I think it's answered.
Please reopen if necessary.

[2019-02-22 13:03] #1269 closed

[2019-02-22 13:16] SabotageAndi commented on #1276
Sorry to response so late after you created the issue. It did go under.
Do you have still the issue?

[2019-02-22 13:17] #1256 closed

[2019-02-22 13:19] jasonhornatcrowe commented on #1276
I think this issue is now resolved.

Jason Horn CSPO, CSM
Crowe LLP
Direct Dial: (317) 429-5872
jason.horn@crowe.com<mailto:jason.horn@crowehorwath.com>
www.crowe.com

From: Andreas Willich <notifications@github.com>
Sent: Friday, February 22, 2019 8:16 AM
To: techtalk/SpecFlow <SpecFlow@noreply.github.com>
Cc: Horn, Jason <Jason.Horn@crowe.com>; Author <author@noreply.github.com>
Subject: Re: [te

[2019-02-22 13:20] SabotageAndi commented on #1276
Ok, then I will close the issue.
If it happens again, please reopen the issue or create a new one.

[2019-02-22 13:20] #1276 closed

[2019-02-22 14:15] SabotageAndi commented on #1363
PR is merged, Issue closed.

[2019-02-22 14:15] #1363 closed

[2019-02-22 14:18] SabotageAndi commented on #1358
You can get the FeatureContext in the Before/After-Feature Hooks as parameter

[code]

[2019-02-22 14:18] #1358 closed

[2019-02-22 19:07] nvborisenko commented on #1394
`Order` can help me to handle events before/after user's hooks, it's useful.

The major problem, that I want to raise, is SpecFlow cannot guarantee that [After] hook will be invoked in case of failed [Before] hook. I mean that any failed hook in execution chain breaks consistency of execution flow. I understand this is fully dependent on unit provider/generator. Do you see whether we can improve s

[2019-02-23 08:20] Seikilos opened #1421 "What role do "Reports" play for SpecFlow agenda? (..in regard to xUnit)"
I am evaluating whether SpecFlow is something we want to use to achieve traceability on requirements down to code. While the code integration is acceptable and usable, I noticed some issues generating reports for xUnit and that the reporting features are rewritten for 3.x version to support .Net Standard and .Net Core better.

Technically I am asking for sort of dev commitment (or the opposite of

[2019-02-23 16:16] gasparnagy commented on #1394
@nvborisenko I think implementing the event system is the right solution for this, the generator does not need to be altered. Just we have to make sure that when firing the events, all exceptions should be caught.

[2019-02-24 03:11] icnocop commented on #1275
For reference, this is a similar issue: https://github.com/techtalk/SpecFlow/issues/265

[2019-02-25 06:59] sheenaagrawal commented on #1419
Any updates on this? I am also facing the same issue after I updated SpecRun.Runner from 1.7.0 to 1.8.5

[2019-02-25 16:25] nvborisenko commented on #1394
Should we reuse existing hooks system or introduce new one based on hooks system.It seems as easy implementation we can extend `IBindingHook` with some special flag and `TestExecutionEngine` fires these hooks even if previous one was failed (which is not `special`). Is it good way?

[2019-02-25 17:44] SabotageAndi commented on #1419
Sorry, we are currently moving to a new office and have some cases of illness in the team.

In the command line you use the assembly as parameter. Any reason you aren't using the `srProfile`- File as target?
If you use the assembly, you are running complete on default values.

[2019-02-25 20:00] nvborisenko commented on #1394
To be more specific:
[code]

I propose a new `special` property for hooks, may be `SafeInvocation`, which means that `TestExecutionEngine` will invoke this hook in any case.
[code]

Please propose a good naming for this property, or even better solution to implement it.

[2019-02-26 00:22] Priyasolanke commented on #960
Hi,
I have four Default.srprofile for different environment. How to point one of them in app.config.

regards,
Priya

[2019-02-26 09:26] SabotageAndi commented on #960
@mazum 	Please don't hijack closed issues with a different question. Especially when there is already an issue for it: https://github.com/techtalk/SpecFlow/issues/772

@Priyasolanke 	You have to define the used srProfile in a runsettings file. See https://specflow.org/plus/documentation/Configuring-SpecFlowPlus-Runner-Visual-Studio-Test-Explorer-Integration/ - Custom Configuration

[2019-02-26 15:36] dfaraz commented on #1054
I have updated to the latest version of 2017 & installed the Specflow 3 preview extension as well. When adding a new specflow file the code behind fail and throws the following error.
---------------------------------------------------------------------------------
We could not find a data exchange file at the path Unhandled Exception: System.BadImageFormatException: The module was expected to con

[2019-02-26 15:43] dfaraz opened #1422 "Generating code behind fails"
### SpecFlow Version:
- [ x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4.5
- [ ]	before .NET 4.5
- [

[2019-02-26 15:54] SabotageAndi commented on #1422
After adding the feature file, you have to edit the csproj file manually (we are working on it) - see https://specflow.org/2018/specflow-3-public-preview-now-available/ - Generating Code Behind files.

As you have to add the `SpecFlow.Tools.MsBuild.Generation` nuget package to your project, your code-behind files will be regenerated when you build the project.

[2019-02-26 16:30] dfaraz commented on #1422
Thanks for the quick response.

I was doing all that but not building the project again hence why the file was not getting regenerated. Thanks for pointing that out

________________________________
From: Andreas Willich <notifications@github.com>
Sent: 26 February 2019 15:54
To: techtalk/SpecFlow
Cc: dfaraz; Author
Subject: Re: [techtalk/SpecFlow] Generating code behind fails (#1422)

After addin

[2019-02-27 13:42] Planche95 commented on #1417
I have the same problem, i have defined stepAssemblies in specflow.json file but i still get "No matching step definition found for one or more steps"

[2019-02-27 13:48] SabotageAndi commented on #1417
When you execute the scenario or in VS?

[2019-02-27 13:49] Planche95 commented on #1417
When I execute scenario

[2019-02-27 13:50] SabotageAndi commented on #1417
🤔 could you create a small project to reproduce the issue?

[2019-02-27 14:30] Planche95 commented on #1417
I'm trying but i in cs genrated from feature file i get:

[code]

[2019-02-27 14:39] Planche95 commented on #1417
https://github.com/Planche95/Specflow-test

[2019-02-27 15:40] AmirHNK commented on #1418
So it was able to fix this by shortening a few of my scenario descriptions.

[2019-02-27 15:40] #1418 closed

[2019-02-27 17:16] Planche95 commented on #1417
Ok i found why my code generation doesn't work:

- When i added new feature file a new feature.cs file generates automatically
- based on https://specflow.org/documentation/Generate-Tests-from-MsBuild/ i removed "SpecFlowSingleFileGenerator" custom tool entry from this feature file
- I deleted feature.cs file to generate a new one

When i deleted feature.cs this was added to .csproj:

`<ItemGroup>

[2019-02-27 17:22] SabotageAndi commented on #1417
@Planche95 	yes, see #1311. It's currently a manual step. We are working on a solution. This issue is the one thing that holds us currently from a final release of SpecFlow 3.

[2019-02-27 17:34] Planche95 commented on #1417
Yea, my bad i din't read article to the end 😞 i updated https://github.com/Planche95/Specflow-test with external project and "stepAssemblies" in json, it doesn't work

[2019-02-28 07:06] Planche95 commented on #1417
Weird, when I add "stepsAssemblies" Specflow Plugin can navigate to external steps with "Go to Definition", but it can't be found during execution.

Also Specflow Plugin doesn't really work well for me in terms of updating the feature file when a new steps are added, I have to restart visual studio to make it find new steps.

[2019-02-28 12:15] Planche95 commented on #1417
@SabotageAndi any updates?

[2019-02-28 16:11] SabotageAndi commented on #1417
No. I didn't had a look at it yet.
As I am working on #1311 I don't think I will have a look at it in the next week or two.

But that's the good thing about OSS. You could have a look at the source and find the issue on your own. ;-)
Here is a start point: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Configuration/JsonConfig/JsonConfigurationLoader.cs#L86
It's where we read t

[2019-02-28 16:12] SabotageAndi commented on #1422
@dfaraz So your problem is solved?
Please close the issue then!

[2019-02-28 18:08] #1422 closed

[2019-03-01 00:02] orik007 commented on #1417
https://github.com/techtalk/SpecFlow/blob/652ed713862ba943ac3bb8cf4141ac1b66322c96/TechTalk.SpecFlow/Configuration/JsonConfig/JsonConfig.cs

Isnt problem that all [JsonProperty] are commented?
[DataMember] is for xml no? What deserializer specflow uses? Usualy it is case sensitive, you need to use jsonproperty or deserialiser who watches [DataMember] (which would be strange in json :-)

[2019-03-01 06:53] Planche95 commented on #1417
It's a duplicate of #1315, when I set "Copy to Output Directory" to "Copy Always" on this json file it works

[2019-03-01 08:47] SabotageAndi commented on #1023
resolved with #1414

[2019-03-01 08:47] #1023 closed

[2019-03-01 09:36] arminbrandy commented on #1302
We have tried to move all of /Assist from TechTalk.SpecFlow to a new project TechTalk.Specflow.Assist and referenced TechTalk.SpecFlow in .Assist. But an error occured TechTalk.SpecFlow/Bindings/StepArgumentTypeConverter.cs line 122, in which the class GuidValueRetriever from /Assist is used, but due to it's moving not found anymore.

Because GuidValueRetriever from .Assist depends on other Code f

[2019-03-05 06:14] achauhan29 opened #1423 "Specflow integration with Coded UI in VS 2017"
Specflow integration with Coded UI in VS 2017

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [x ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.0.0

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Fr

[2019-03-05 07:24] SabotageAndi commented on #1423
I think it worked in the past.
We have a documentation page about it: https://specflow.org/documentation/Using-SpecFlow-with-CodedUI-API/

I have not more info about it. You have to be on your own.

Be aware

- SpecFlow 1.9 is more than 6 years old.
- SpecFlow 1.9 will not be supported by the VS Extension in the future: https://specflow.org/2018/vs-integration-breaking-changes-affects-all-users/
-

[2019-03-05 07:24] #1423 closed

[2019-03-05 10:43] Jordank321 commented on #1311
Hello, is there any progress update on this as it is causing some irritation in my team when adding new features, otherwise specflow 3 is working really well for us.

[2019-03-05 14:32] godrose commented on #916
@gasparnagy The VS look is the expected one

[2019-03-05 14:45] SabotageAndi commented on #1311
We are still working on it. It's not that easy to fix it.

PR for enable/disable of custom tool: https://github.com/techtalk/SpecFlow.VisualStudio/pull/45
Issue about the ItemGroup changes: https://github.com/dotnet/project-system/issues/4483

The part of VS that we need is not that well documented.

[2019-03-05 19:48] BassaForte commented on #1180
@SabotageAndi  We tried the steps from the [documentation](https://specflow.org/documentation/Generate-Tests-from-MsBuild/) for an SDK project using Specflow 2.4.1 and NUnit 3.10.1 with Console Runner 3.8.0 but it didn't work until we used the elements @ghelyar suggested:

[code]

Perhaps the documentation is incorrect? It still references the section that didn't work for us in an SDK project:

[c

[2019-03-05 19:52] SabotageAndi commented on #1180
@BassaForte what didn't work? Did you never had the code-behind files compiled into the test assembly?

[2019-03-05 19:54] BassaForte commented on #1180
We did, it would compile, but we had to compile it twice to make the dll contain the code-behind files. Once would create them, but all the tests through a runner would say "no test fixture found".

[2019-03-06 00:33] MoreStromboli opened #1424 "Cannot regenerate files (public preview)"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.13.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-03-06 01:37] EdouardMYOB opened #1425 "No coverage in feature files when testing with NCrunch"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit
- [x]	NCrunch + Xunit

Version number: 3.23.0.10

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4.

[2019-03-06 05:57] SabotageAndi commented on #1424
Please add your repro project. Simple to be sure that we look at the same csproj file. Thanks!

[2019-03-06 11:07] oliTheTM opened #1426 "SpecFlow Generator v3 tests are not compiled"
### SpecFlow Version:
- [x ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number: 3.12.0

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x ]	No

### .NET Framework:
- [x ]	>= .NET 4.5
- [ ]	before .NET

[2019-03-06 11:23] jg11jg commented on #1424
I am getting same issue.  I opened up the Bowling.SpecFlowXUnit .netcore sample  clean out of github.  Zero changes to the project or any other file.  The scenarios ran file, all tests passed.  I deleted the Punk..feature.cs file.  And now right-click Regenerate Feature Files won't regenerate it.

![image](https://user-images.githubusercontent.com/21290414/53877804-0d5fb880-4002-11e9-997f-0e667278

[2019-03-06 11:26] jg11jg commented on #1424
![image](https://user-images.githubusercontent.com/21290414/53877960-7e06d500-4002-11e9-8349-b1718460db13.png)

VS details. I just installed the specflow extension (following https://specflow.org/2018/specflow-3-public-preview-now-available/) this morning.

[2019-03-06 11:27] jg11jg commented on #1424
![image](https://user-images.githubusercontent.com/21290414/53878059-cde59c00-4002-11e9-9859-fc348c1ad39a.png)

[2019-03-06 11:28] jg11jg commented on #1424
I just installed techtalk specflow addin this morning following these instructions: https://specflow.org/2018/specflow-3-public-preview-now-available/

[2019-03-06 11:44] jg11jg commented on #1424
I just upgraded my visual studio 2017 to 15.9.8 and the ability to regenerate feature files is now there, and if I delete Punk..feature.cs it will reappear on next build.

Just to be clear on that point, after deleting Punk..feature.cs, if I right clicking to regenerate features it does NOT create the feature.cs.  However, doing a project build DOES create the feature which it wasn't before.

[2019-03-06 15:04] RajaAutomation commented on #884
@aliaksandrbasau @gasparnagy can you please let me know if this issue is still open or has been resolved as part of any specflow release.

[2019-03-06 15:06] RajaAutomation commented on #884
@aliaksandrbasau can you please let me know if the work around you have provided is available in any release version of NUnit.

[2019-03-06 16:07] RajaAutomation commented on #884
@gasparnagy will we also face same issue if we use SPECRUN as an unit test provider instead of NUNIT.

[2019-03-06 17:56] oliTheTM commented on #1426
Never mind I fixed it. It's not a Bug.

[2019-03-06 17:56] #1426 closed

[2019-03-06 18:46] MoreStromboli commented on #1424
I added the repro project, however today I am unable to reproduce the error popup. When I add a feature file, no custom tool is there and no code behind is created.

[2019-03-07 01:52] aliaksandrbasau commented on #884
@RajaAutomation I have checked the latest stable release of SpecFlow (2.4.1) and both issues I mentioned earlier (`testRunner` field being static and wrong fixture setup/teardown attributes) are resolved.
Although I didn't check whether the original issue is reproducible.
SPECRUN didn't have the issue because it's NUnit-specific and occurs only when NUnit runs tests (not fixtures) in parallel.

[2019-03-07 09:19] RajaAutomation commented on #884
@aliaksandrbasau Thank you for the quick response. Currently we are using specflow 2.3.2 and the issue is occurring.
Any idea if this is the issue with my hooks setup or is it the expected behavior of specflow 2.3.2

[2019-03-07 09:46] SabotageAndi commented on #1426
how did you fixed it?

[2019-03-07 09:52] SabotageAndi commented on #1424
SpecFlow 3 on .NET Core only generates the code-behind file at compile time.
It isn't anymore generated when you save the feature file.

We forget to remove the context menu, when you are in a .NET Core project.

[2019-03-07 10:14] SabotageAndi commented on #1425
I don't think we can do here anything.
My assumption currently is, that NCrunch doesn't look at the #line directives (https://github.com/techtalk/SpecFlow-Examples/blob/feature/netcore-examples/NETCore%20Examples/BowlingKata-SpecFlowJson-xUnit/Bowling.SpecFlowXUnit/Features/Punkteberechnung.feature.cs#L27).

Docs: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/preprocessor-direc

[2019-03-07 13:30] shivani-22 commented on #474
Generate step definition is missing from my VS 2010 too. Could  you please help

[2019-03-07 13:43] Stephen-Mc commented on #474
Have you installed the VS extension? @shivani-22

[2019-03-07 14:17] aliaksandrbasau commented on #884
@RajaAutomation If you are talking about the original issue (random test failures when tests are being executed in parallel), than it's not an issue with your hooks setup nor expected behavior of specflow but a defect in specflow.
But I would double-check that this issue really describes the issue you encountered. If adding `[assembly: Parallelizable(ParallelScope.Fixtures)]` to `AssemblyInfo.cs`

[2019-03-07 14:24] RajaAutomation commented on #884
@aliaksandrbasau ....
Here is the problem i am facing

I have multiple feature files and each feature file has multiple scenario outlines and each scenario outline has multiple examples.

When i use Parallelizable(ParallelScope.Fixtures)], one example of scenario outline 1 of feature A runs in parallel with another example of scenario outline 1 of feature B.
However my intention is to run the feat

[2019-03-07 15:00] aliaksandrbasau commented on #884
@RajaAutomation And if you are running Tests in parallel instead of Fixtures, you get random test failures, right?

[2019-03-07 15:15] RajaAutomation commented on #884
All tests fail with one of the below reasons -
1. System.NullReferenceException : Object reference not set to an instance of an object.
2. System.ArgumentException : An item with the same key has already been added.

[2019-03-07 15:18] marwahaks commented on #1082
Nope, thank you.

Kind Regards,

Kam Marwaha
View my Linkedin Profile
<https://uk.linkedin.com/pub/kam-marwaha/11/676/79a>[image: View my profile
on LinkedIn]

On Fri, 22 Feb 2019 at 10:15, Andreas Willich <notifications@github.com>
wrote:

[2019-03-07 15:21] aliaksandrbasau commented on #884
@RajaAutomation Yep. You've found the right issue. Unfortunately there is no fix or workaround for it besides running Fixtures in parallel instead of Tests.

[2019-03-07 15:25] samholder commented on #1364
Thanks for the input. I see little appetite for this and solutions above are sufficient for me

[2019-03-07 15:25] #1364 closed

[2019-03-07 15:29] elias551 commented on #884
Hello all, I'm not working anymore on the project where I was facing this problem, but I can confirm that adding the `Parallelizable` attribute in `AssemblyInfo.cs` solved my issue

[2019-03-07 15:44] mrbighokage opened #1427 "How I should configure "data exchange file at the path"?"
Hi guys. I have an error on build feature because of windows username = "Юрий"

"We could not find a data exchange file at the path C:\Users\Р®СЂРёР№\AppData\Local\Temp\zxmdnk5j.zgx"

http://prntscr.com/munpo7

How I should configure "data exchange file at the path"?

### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Ru

[2019-03-07 16:13] MoreStromboli commented on #1424
I did some testing in .NET Core, but the project I posted is .NET full framework. We're trying to support both, but the central problem is that the code behind does not regenerate for .NET full framework. And with the sample project, the code behind does not generate on build.

I will update my post and remove any .NET Core references since that appears to be operating normally then.

[2019-03-07 16:23] RajaAutomation commented on #884
@aliaksandrbasau Thank you for the information.
Do you if anyone from specflow team is looking into this issue. @gasparnagy @aliaksandrbasau

[2019-03-07 17:48] aliaksandrbasau commented on #884
@RajaAutomation I'm not a part of specflow team so I don't really know.

[2019-03-07 18:20] StuartFergusonVme commented on #1356
Has any progress been made on this issue, even a preview release ?

[2019-03-08 04:38] bvpkumar opened #1428 "Specflow designer generated code is using old SpecFlow 1.9.0.77"
### SpecFlow Version:
- [ ] 3.0
- [x] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: Nunit 3.11

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4

[2019-03-08 12:05] ghelyar commented on #1180
I'm also still having the same problem. For a new project, I followed the new documentation. However, without the `IncludeGeneratedFeatureFiles` target that I mentioned in this issue, no tests are found by the runner. For example, nunit-console.exe reports "Has no TestFixtures"

If you just run them from visual studio it appears to work, but only because one build generates the .feature.cs file an

[2019-03-08 12:56] SabotageAndi commented on #1427
You can do this in the options:
![image](https://user-images.githubusercontent.com/859801/54029761-dc21ec80-41a9-11e9-9f02-0411d64208bb.png)

Use something that contains only ASCII chars.

But a much easier would be, if you use the MSBuild integration: https://specflow.org/2019/generating-code-behind-files-using-msbuild/

[2019-03-08 12:56] #1427 closed

[2019-03-08 13:22] gasparnagy commented on #884
@RajaAutomation after scanning through the discussion, I think what you should check first if the issue still exsits if you upgrade to SpecFlow v2.4.1, because there is a good chance that is has been fixed.

[2019-03-09 16:58] Tragedian commented on #1362
Finally found time to spend on this, and doesn't look too hard _if_ I **take out support for generating the files within the project hierarchy.** It's more challenging to support both ways of processing, due to the extra effort being spent in manipulating the `<Compile>` items.

@SabotageAndi, @david1995, do you think it's worth the additional complexity to continue supporting having the generated

[2019-03-11 08:16] SabotageAndi commented on #1362
When switching branches works without problems and the Test Explorer navigation is still working, I don't care where the `feature.cs` -files are.
So no problem for me if you can't configure this.

[2019-03-11 10:52] RajaAutomation commented on #884
@gasparnagy I have upgraded the specflow to v2.4.1 and for some reason i am not able to see  the tests in the UNIT TEST EXPLORER.
I am using the NUnit as the unittestprovider.

Is this a known issue.

[2019-03-11 10:55] sphinxy opened #1430 "xUnit ICollectionFixture<TFixture> inject new instance of TFixture into steps instead of pre-initialized one."
### SpecFlow Version:
- [x ] 3.0 (3.0.169-beta)
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number: 3.0.169 - beta

### Visual Studio Version
- [x]	VS 2017 15.9.7
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .

[2019-03-11 11:10] RajaAutomation opened #1431 "Tests not visible in unit test explorer after upgrading to specflow 2.4.1 from specflow 2.3.2."
Tests not visible in unit test explorer after upgrading to specflow 2.4.1 from specflow 2.3.2.

### SpecFlow Version:

- [x] 2.4.1

### Used Test Runner

- [x]	NUnit (3.10.1)

Version number:
- [x]	NUnit (3.10.1)

### Visual Studio Version

- [ ]	VS 2015

### Are the latest Visual Studio updates installed?
- [ ]	Yes

### .NET Framework:
- [x]	>= .NET 4.5

### Test Execution Method:
- [x]	Visual St

[2019-03-11 11:12] sphinxy commented on #1430
I've check current impelentation and it seems that we should register this TFixture in xunit generater code we already e.g. for ITestOutputHelper:
`
testRunner.ScenarioContext.ScenarioContainer.RegisterInstanceAs<TFixture>(_tFixture);
`

A problem that namespace of this TFixture is unknown, it's somewhere in custom user code, so I don't know how to use it.

All info that we have in generater code

[2019-03-11 11:25] gasparnagy commented on #884
@RajaAutomation No. It should work. Make sure you have the latest NUnit visual studio test adapter. (Restart of VS might be also needed).

[2019-03-11 13:22] RajaAutomation commented on #884
@gasparnagy I have checked it and i am using NUnit Visual Studio Test Adapter (3.13.0) which is the latest stable version available.
Restarting of Visual Studio did not give me any results.

[2019-03-11 13:46] RajaAutomation commented on #1431
Tried by deleting the temporary files as well however same issue persists

[2019-03-11 13:55] Stephen-Mc commented on #884
According to [this issue on Stack Overflow](https://stackoverflow.com/questions/19298347/nunit-unit-tests-not-showing-in-test-explorer-with-test-adapter-installed), this can happen if there is a mismatch with the bit version of your target platform and the architecture specified under Test -> Test Settings -> Default Processor Architecture. There's quite a lot of posts there (some more recent than

[2019-03-11 15:11] PavanGurramQA opened #1432 "Specflow - How to pass parameter in Scenario outline description"
Please can you help me in providing an solution on how to pass parameter in Scenario outline description of Spec Flow? Please see below for an example:

Scenario Outline : Testing Given I navigate to Then I should see Home page

Examples:

|Application|

|Test|

|Test1|

I know this is possible in Cucumber but don't know the way to do it in Specflow. Appreciate your response. Thanks in advance.

[2019-03-11 15:39] RajaAutomation commented on #884
@Stephen-Mc Implemented all the posts available in that forum however issue still persists.

@gasparnagy @Stephen-Mc I have found similar open issue reported when specflow  upgraded to v2.3.2 from v2.2.1 (https://github.com/techtalk/SpecFlow/issues/1201) . In my case its an upgrade from v2.3.2 to v2.4.1.

[2019-03-11 16:06] RajaAutomation commented on #884
After adding SpecFlowSingleFileGenerator as the custom tool value in feature file properties the tests are visible in test explorer.

[2019-03-11 16:06] RajaAutomation commented on #884
Issue still persists

[2019-03-11 16:18] RajaAutomation commented on #1431
After adding SpecFlowSingleFileGenerator as the custom tool value in feature file properties the tests are visible in test explorer.

![image](https://user-images.githubusercontent.com/39882066/54139382-53a98300-4419-11e9-87a9-c27717ba8ed4.png)

[2019-03-11 17:59] MoreStromboli commented on #1424
So can we remove the .NET Core support label? This is a .NET full framework issue.

[2019-03-11 22:02] MoreStromboli commented on #1424
I had missed an important step in the documentation. Adding the "target" markup according to this article fixed it:
https://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2019-03-11 22:02] #1424 closed

[2019-03-12 09:24] oliTheTM opened #1433 "SpecFlow version 3 Beta HTTP Response Problem"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.12.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-03-12 09:26] oliTheTM commented on #1433
P.S.: We know this has something to do with SpecFlow because the only change we made was to upgrade SpecFlow to 3.0, install SpecFlow.NUnit and install SpecFlow.Tools.MsBuild.Generation.

[2019-03-12 11:30] SabotageAndi commented on #1433
We changed the execution of async step bindings, because some user had deadlocks.

see https://github.com/techtalk/SpecFlow/blob/748d78df5cb5cd10200df9f4b34f03f110709ee9/TechTalk.SpecFlow/Bindings/BindingInvoker.cs#L48

PR: https://github.com/techtalk/SpecFlow/pull/1108

We would at least need an project to reproduce this behavior. Or best would be a PR with a failing test at least (with a fix is

[2019-03-12 11:41] glyad opened #1434 "Unable to generate .feature.cs files in classic style project"
Unable to generate .feature.cs files in classic style project - error is displayed in output:
specflow.tools.msbuild.generation\2.4.1\build\SpecFlow.Tools.MsBuild.Generation.targets(72,5): error : Object reference not set to an instance of an object

### SpecFlow Version:
- [x] 2.4.1

### Used Test Runner
- [x]	Xunit

2.4.1

### Visual Studio Version
- [x]	VS 2017

### Are the latest Visual Studio

[2019-03-12 11:44] glyad commented on #1434
It could have something with the VS extension version. This setup used to work well...

[2019-03-12 13:17] oliTheTM commented on #1433
@SabotageAndi Ok then, how best to send you my Visual Studio project?

[2019-03-12 13:36] SabotageAndi commented on #1433
@oliTheTM Can you put it into a repo here on GitHub?

[2019-03-12 13:37] SabotageAndi commented on #1434
@glyad We have here <https://github.com/techtalk/SpecFlow-Examples/tree/master/MSBuild/OldCSProj_SpecFlow24> a working example. Try to compare your project with it.

[2019-03-12 13:54] oliTheTM commented on #1433
Sorry, I can't do that; let's try this...

This is the Binding that hangs:
[code]

This is the definition of `Await()`:
[code]

Here; the mutex is being implemented as a .NET `ManualResetEvent`.

Finally; the curried statement is the REST API Test Gherkin statement implemented by RESTAssured that transitively triggers the await mentioned in the description of this Issue.

Any more information you

[2019-03-12 14:34] SabotageAndi commented on #1432
see https://docs.cucumber.io/gherkin/reference/#scenario-outline

[2019-03-12 14:34] #1432 closed

[2019-03-12 16:21] PavanGurramQA commented on #1432
Hi @SabotageAndi The URL that you've shared is for Cucumber but I'm looking for the same implementation for SpecFlow. I have tried using the same way described in the URL but it is not working for SpecFlow. Please help. Thanks.

[2019-03-13 18:48] pooja1908 opened #1435 "Feature file is not generated with SpecSync"
Feature File is not generated after I add SpecSync .
I have 100+ scenarios which I was to put in AzureDevOps in differet test suites using Specsync. But The feature File is not generated . Is there any way I can do with/without  SpecSync

### SpecFlow Version:
- [ ] 3.0
- [ X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUni

[2019-03-14 08:49] SabotageAndi commented on #1435
SpecSync is not from us. It is a separate tool from @gasparnagy

[2019-03-14 08:49] #1435 closed

[2019-03-14 10:04] Stephen-Mc commented on #1432
SpecFlow uses the same Gherkin parser as Cucumber. There is no difference.

[2019-03-14 12:04] littlegenius666 commented on #1428
@SabotageAndi bump
We have same problem on our solution. After updating to Specflow 2.4.1, `feature.cs` files are generated with `[System.CodeDom.Compiler.GeneratedCodeAttribute("TechTalk.SpecFlow", "2.2.0.0")]`
It causes build failures.

[2019-03-14 12:06] littlegenius666 commented on #1428
Once it suggested regenerating files, I tried that. Version's changed to 2.4.0.0.
But after rebuild, everything's changed back to 2.2.0.0

[2019-03-14 12:07] PavanGurramQA commented on #1432
Hi @Stephen-Mc Thanks for your response. I've already tried to implement but it isn't working out. The parameter value is not getting parsed to the outline description. Please see the attached picture. Any help is really appreciated. Thanks.
<img width="1061" alt="Screen Shot 2019-03-14 at 12 05 14" src="https://user-images.githubusercontent.com/36418052/54355733-c4d37b00-4651-11e9-8af1-ca63bcaabd

[2019-03-14 12:17] gasparnagy commented on #1435
@pooja1908 could you please drop me a mail to specsync@specsolutions.eu so that I can help.

[2019-03-14 12:54] SabotageAndi commented on #1428
If it is changed at build, you have MSBuild generation enabled. Are you using the correct version imports in your csproj?

[2019-03-14 13:03] SabotageAndi commented on #1433
Your step isn't async. How do you await the Task from the library?

[2019-03-14 13:09] SabotageAndi commented on #1431
Are you using the MSBuild integration?

[2019-03-14 13:21] SabotageAndi commented on #1430
How is IAsyncLifetime used in XUnit? I don't know this interface.

[2019-03-14 13:32] sphinxy commented on #1430
"A new IAsyncLifetime interface is available, which can be placed onto test classes, class fixtures, and collection fixtures. This allows asynchonous initialization (InitializeAsync) and cleanup (DisposeAsync)."

Current behaviour: with adding of @xunit:collection(SampleCollection), xunit recognize collection, then recognize collection TFixture and if IAsyncLifetime added, run InitializeAsync for

[2019-03-14 15:32] mxdotnet commented on #747
Any resolve to this?

[2019-03-15 08:38] SabotageAndi commented on #1356
We have a first test version in our MyGet VSIX Feed (https://www.myget.org/F/specflow-vsix/vsix/).
We didn't do a elaborately testing yet on it. So bugs can happen.
Also it is not yet migrated to AsyncPackages (#1137).

Because of API deprecation, we had to remove the "Run/Debug SpecFlow Scenarios" menu entries.

[2019-03-15 10:34] anandprasathm opened #1436 "Suggestion for using SpecFlow+Runner (SpecRun) for C# Automation"
Hi Friends,

On One of our client projects, we are using Specflow for Automation testing. Currently, we are using MSTest as the TestRunner.
We have come across 'SpecFlow+Runner (Specrun)' which is having more features than that of MSTest as it supports parallel execution.
However it seems to be a licensed product but we have evaluation version as well.
From the below website, it seems that the onl

[2019-03-15 10:37] Stephen-Mc commented on #1436
In terms of functionality there is no difference. However, you may not use the evaluation version for production purposes, as that would be in breach of the terms of the license.

[2019-03-15 10:47] Planche95 opened #1437 "The best way to wait in Specflow"
Hello!

I'm testing some API with SpecflowTest. So my scenarios looks like this:

[code]

Create, call, check code from response, and check response with Database.

But now I have a scenario where the API that I'm testing work asynchronous to change the state, so it return the response before the state is actually changded. I know that the process of changing the state takes about 3min, so in my s

[2019-03-15 12:29] anandprasathm commented on #1436
@Stephen-Mc Thanks for getting back to me on this. Will check with the Specflow team reg. the licenses.

[2019-03-15 12:29] #1436 closed

[2019-03-15 15:58] oliTheTM commented on #1433
The `await` is in the method `ExecuteCall()` of the `RA` namespace (see beginning of this issue) which is called, transitively, from the `Then()` method in the RESTAssured curried statement.

[2019-03-15 17:36] joelransom commented on #1138
I'm having this same sympton as jonathanbeal and I've been trying to resolve it for the last 24hrs. Has anyone proposed a solution? I'm at my wits end.

[2019-03-15 17:44] johnathanbeal commented on #1138
@joelransom , I was not able to solve this, I had to restart my project from scratch.  Somehow recreating it managed to avoid the error.

[2019-03-16 00:29] bryhuang opened #1438 "Construction function in Test steps class is not called at very beginning"
Construction function in Test steps class is not called at very beginning

### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number: 2.4.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Y

[2019-03-16 02:08] SabotageAndi commented on #1438
Sorry, but I have no clue what you are talking about.
Please create a complete example.

[2019-03-17 03:13] SabotageAndi commented on #1138
@johnathanbeal you had in your package.config SpecRun.SpecFlow.2-3-0 in version 1.7.0, but you are referencing 1.7.1 in your app.config.
You should not need to set the path for the plugin if you are using package.config.

@joelransom Do you know that you have support when you have a SpecFlow+ License.  See https://specflow.org/specflow-support/

[2019-03-17 10:50] hiradyazdan commented on #1083
it seems to me most of the development fixes for this project are by-passed to the next version and none of the major issues on the version are fixed in their own version. I am sorry but I don't think this is the right way!

In every version I tried one major issue made me to go for another older or newer version which either of them has their own issues that are again fixed within the newer versi

[2019-03-17 20:54] SabotageAndi commented on #1083
@hiradyazdan You know this is an Open Source project. You can easily send a PR with backported fixes to us. We will merge it and publish a new patch-version of an older version.
For the 2.4 version the branch is here: https://github.com/techtalk/SpecFlow/tree/line-v2.4
For the 2.3 version the branch is here: https://github.com/techtalk/SpecFlow/tree/line-v2.3

We are a very small team with limited

[2019-03-18 11:24] anandprasathm opened #1439 "Specflow Parallel Execution using MsTest not working"
**Specflow Parallel Execution using MsTest**

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
-

[2019-03-18 15:35] oliTheTM commented on #1416
@SabotageAndi Sorry there was one more thing I wished to understand:

I have a `WebDriver` (Selenium) test that, in one of the Steps, usually throws an Exception (which is fairly common cross web-client).

The `AfterScenario` step should called succeeding this Step; in which it tears-down the corresponding web-driver.
But given what you've already said, it would never run.
This would cause the web

[2019-03-18 19:29] nvborisenko opened #1440 "v3.0 beta stops to support .net 4.5 because of System.IO.FileSystem supports 4.6"
I don't know what package is dependent on `System.IO.FileSystem 4.3.0`, but `System.IO.FileSystem` supports only .net framework 4.6.

I'm not sure whether this is expected, just don't forget to update documentation related to supporting .net framework.

[2019-03-18 21:42] schoi1 opened #1441 "SpecFlow v2.4.1 generates feature file using SpecFlow Generator 2.3.0 in Visual Studio for Mac"
### SpecFlow Version:
- [ ] 3.0
- [x] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.0.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-03-18 21:55] SabotageAndi commented on #1440
@nvborisenko Could you please create a repro project for this and link it here?
Dropping support for .NET 4.5 is not intended.

[2019-03-18 21:56] SabotageAndi commented on #1441
How is the code-behind file generated? By MSBuild or when you save the Feature- file in Visual Studio for Mac?

[2019-03-18 22:04] schoi1 commented on #1441
When we first create the feature file, the cs file is auto-generated.

[2019-03-18 22:31] SabotageAndi commented on #1441
Then it is probably a problem with the Extension for Visual Studio for Mac. This extension is not maintained by us.
I would recommend to use the MSBuild generation to get rid of this IDE dependency. We have here a blog post about it: https://specflow.org/2019/generating-code-behind-files-using-msbuild/

[2019-03-18 22:31] #1441 closed

[2019-03-19 11:39] nvborisenko commented on #1440
We can blame `SpecFlow.CustomPlugin` package.

[NUnitTestProject2.zip](https://github.com/techtalk/SpecFlow/files/2983037/NUnitTestProject2.zip)

[2019-03-19 13:12] sdekosky commented on #879
Hi @SabotageAndi: When will Specflow 3.0 for .NET Core be officially released where we don't have to use all of the work arounds for generating code behind and other changes? What is the exact issue that prevents this release? I would like to use specflow on .NET Core using specflow.json as configuration. Thanks!

[2019-03-20 03:56] ekambanchokkappan commented on #1419
Hello,
I do have this same problem

I am using SpecRun 1.7.1
I am executing similar like above with a filter option to run.
Any solution for this?

[2019-03-20 03:58] ekambanchokkappan commented on #799
I do have the same issues, I am not using Docker
I couldn't have "%TEMP%\VisualStudioTestExplorerExtensions\ folder " this folder in my machine

Any other solution for this issue?

[2019-03-20 04:01] SabotageAndi commented on #1419
@ekambanchokkappan 	Not yet. I got no answer yet from @Smithy7876 or @sheenaagrawal.
A project to reproduce this issue would help very much.

[2019-03-20 04:01] SabotageAndi commented on #799
@ekambanchokkappan Please open a new issue.
VS changes in the meantime and the folder is not there anymore.

[2019-03-20 04:12] ekambanchokkappan commented on #1419
Do you have any prerequisites to run this SpecRun using CLI?.
If I use NUnit instead of SpecRun its works well, But I wanted to use SpecRun since my project is using SpecRunn

[2019-03-20 04:22] SabotageAndi commented on #1419
@ekambanchokkappan No. What is your command line that you are executing?

[2019-03-20 04:25] SabotageAndi opened #1442 "Question from #879"
From @sdekosky:

Hi @SabotageAndi: When will Specflow 3.0 for .NET Core be officially released where we don't have to use all of the work arounds for generating code behind and other changes? What is the exact issue that prevents this release? I would like to use specflow on .NET Core using specflow.json as configuration. Thanks!

[2019-03-20 04:26] SabotageAndi commented on #879
@sdekosky 	Please don't comment on closed issues. I created for your question a new one at #1442

[2019-03-20 04:28] ekambanchokkappan opened #1443 "The argument type 'System.MarshalByRefObject' cannot be converted into parameter type 'TechTalk.SpecRun.Common.Logging.ITestLogger'"
The argument type 'System.MarshalByRefObject' cannot be converted into parameter type 'TechTalk.SpecRun.Common.Logging.ITestLogger'

### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are

[2019-03-20 04:29] ekambanchokkappan commented on #1419
SpecRun.exe run default.srprofile /basefolder:C:\..\..\..\..\..\UITests\bin\Debug\  /filter:"@Auto"

[2019-03-20 04:31] SabotageAndi commented on #1442
@sdekosky: SpecFlow 3.0 will be released soon.
We are working hard that you don't have to edit the csproj after adding a new feature file. This is the main point why we didn't released it yet.

Discussion is in this issue: https://github.com/techtalk/SpecFlow/issues/1311

Are you using any other work arounds?

[2019-03-20 04:34] SabotageAndi commented on #1440
`SpecFlow.CustomPlugin` is to make runtime and generator plugins. Mainly for generator plugins which have to be .NET 4.7.1.
You don't have to reference this in your test project.

[2019-03-20 04:35] SabotageAndi commented on #1443
Do you get it also when you run any example from https://github.com/techtalk/SpecFlow.plus.Examples/?

[2019-03-20 07:03] godrose commented on #1434
@SabotageAndi We're using `PackageReference` format so the two last import targets lines in the .csproj don't work for us.

[2019-03-20 07:36] godrose commented on #1434
FYI, Re-installing the extension seems to help.

[2019-03-20 10:29] nvborisenko commented on #1440
I'm creating runtime plugin. To do it, based on docs, I can refer to `SpecFlow.CustomPlugin` package to make my plugin compilable. This way requires my plugin to be targeted to `net471`. So, users cannot use my plugin in tests project with `net45`.

I see that your official plugins doesn't refer to `SpecFlow.CustomPlugin`, they refers to `SpecFlow` project. As a result I may make a conclusion that

[2019-03-20 11:17] pcardiga commented on #1114
Hi
Does anyone have any feedback on this issue?
Or some workaround...?
I'm also having the same behaviour as reported by @realfaisalk

[2019-03-20 21:00] SabotageAndi commented on #1137
This issue is hopefully resolved with https://github.com/techtalk/SpecFlow.VisualStudio/pull/53.

[2019-03-20 21:00] #1137 closed

[2019-03-20 21:01] SabotageAndi commented on #1356
New version of the package is on MyGet which uses now AsyncPackage.

[2019-03-20 21:09] ekambanchokkappan commented on #1443
Yes, I have tested with this example also, Same error. The below screen print from the SpecFlow example project

C:\Sample\SpecFlow.Plus.Examples\AppVeyor_Support\packages\SpecRun.Runner.1.8.0\tools>SpecRun.exe run default.srprofile /basefolder:C:\Sample\SpecFlow.Plus.Examples\AppVeyor_Support\MyProject.Specs\bin\Debug\  /filter:"@Auto"
SpecRun v1.8.0. Copyright (c) TechTalk 2011 - 2019
http://www

[2019-03-21 08:28] SamJongenelen commented on #1439
Are you running in VS itself or via CLI? Did you make sure the .runsettings are used ?

[2019-03-21 08:34] SamJongenelen opened #1444 "[Q] Wire application logging to the Specflow logger"
Hey guys,

I'm trying to attach my applications' ILogger (Serilog) to the test output.

What is the best way to do this?  Can't seem to find any info on it

[2019-03-21 12:17] anandprasathm commented on #1439
@SamJongenelen Thanks for getting back to me on this.
I am running the tests on Visual Studio and i have .runsettings file configured as well.
I have also enabled 'Run Tests in parallel' button as well.
Since, i am using Specflow, all my tests start and ends in Hook class.
Is there anything else that i am missing?

Thanks in Advance.

[2019-03-21 15:38] SabotageAndi commented on #1439
@anandprasathm You have worker set to 0. Is this limiting it?
We execute in the SpecFlow 3 Test Suite the tests on 4 threads and they are working.

[2019-03-21 15:39] SabotageAndi commented on #1444
You have to implement a TraceListener (https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.xUnit.SpecFlowPlugin/XUnitTraceListener.cs) and register it.

[2019-03-21 17:21] jensakejohansson commented on #1299
Was there any solution for this? Having the same issue.

[2019-03-21 18:07] SabotageAndi commented on #1434
@godrose So old-project format and PackageReference?

[2019-03-21 19:59] anandprasathm commented on #1439
@SabotageAndi I have set the workers to 4 but still my tests are running one by one.
I have added the project files in the below clone URL.
Could you please have a look at this and help me with my parallel execution?
https://github.com/anandprasathm/MsTestV2.git

Thanks.

[2019-03-21 20:35] planetaryrasengan opened #1445 "SpecFlow.VisualStudio.CodeBehindGenerator - System.BadImageFormatException"
TechTalk.SpecFlow.VisualStudio.CodeBehindGenerator is throwing a BadImageFormatException for existing project after upgrade SpecFlow 3 upgrade. No new feature files were added.

### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [X]	Xunit

Version number: 2.4.1

### Visual Studio Version

[2019-03-21 20:36] SabotageAndi commented on #1445
Did you adjusted your csproj as it was written in the blog post? https://specflow.org/2018/specflow-3-public-preview-now-available/

[2019-03-21 20:38] mrpeteryu commented on #1445
Yes, no new feature files were added to project, but I did remove all references to feature files within the csproj as indicated in the blog.

[2019-03-21 20:39] SabotageAndi commented on #1439
@anandprasathm If you have the problem with SpecFlow 3, I will have a look at it. We are about to release it in the next days. No time to analyse this in an old version.

[2019-03-21 20:40] SabotageAndi commented on #1445
Do you have the preview VS Extension installed?

[2019-03-21 20:45] mrpeteryu commented on #1445
Both VS extension and SpecFlow.Tools.MsBuild.Generation have been installed.

I also used the XUnit example from:

https://github.com/techtalk/SpecFlow-Examples/tree/master/BowlingKata/BowlingKata-XUnit

and added a project reference to a shared project, which has some common step definitions and was able to reproduce the exception.

[2019-03-21 20:49] mrpeteryu commented on #1445
corrected xUnit example link.

[2019-03-21 21:21] SabotageAndi commented on #1445
In the VS Extension Option, you can turn of the Single File generator:
![image](https://user-images.githubusercontent.com/859801/54785878-97a04300-4be4-11e9-832a-da3eb93c0d3f.png)

Try to set it to false.

[2019-03-21 22:55] jronay opened #1446 "Latest Specflow caused "Stopped Working" dialog popup .Net Core 2.2"
![StoppedWorking](https://user-images.githubusercontent.com/4587258/54790206-9544e580-4bf2-11e9-8a02-6bd578588ac3.png)

### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number: NUnt3TestAdapter 3.13.0

### Visual Studio Version
- [X]	VS 2017 v15.9.8
- [ ]	VS 2015
- [

[2019-03-21 23:02] SabotageAndi commented on #1446
1. We don't see having a dependency on `Microsoft.NET.Test.Sdk` as our job, because we don't need anything from it. I think xUnit is doint it, but NUnit not.

2. When you use the preview extension mentioned in https://specflow.org/2018/specflow-3-public-preview-now-available/ the version has an option `Enable SpecFlowSingleFileGenerator`.
![image](https://user-images.githubusercontent.com/859801/5

[2019-03-21 23:03] SabotageAndi commented on #1446
possible a duplicate of #1445

[2019-03-21 23:07] jronay commented on #1446
1. The tests would not be detected with NUnit and Specflow unless the mentioned SDK was referenced.
2. The setting you mentioned was set as you indicated, and yet the popup still occurs
![image](https://user-images.githubusercontent.com/4587258/54790446-6d09b680-4bf3-11e9-9b90-4242ac9baba6.png)

[2019-03-21 23:08] jronay commented on #1446
Thanks for the quick reply :)

[2019-03-21 23:10] SabotageAndi commented on #1446
@jronay when do you get the error then?

[2019-03-21 23:13] jronay commented on #1446
If I load the project and click on the Calculator.feature file then the stopped working popup occurs. The calculator feature uses the basic calculator add tests.

[2019-03-21 23:16] jronay commented on #1446
p.s. I'm not sure I follow your comment about not having a dependency on the test SDK, because for those of us that use NUnit, the specflow tests will not run without it -- seems to me if you support NUnit, then there is a "dependency" on the test SDK, intended or not.

[2019-03-21 23:30] SabotageAndi commented on #1446
The Test SDK dependency story is "complicated". It is needed for the unit test project that VSTest finds tests. No test runner needs the dependency. It's only needed because of the tooling. And I think it's only needed for .NET Core. Not for .NET Desktop Framework.

Additionally the different test frameworks have different approaches to it:

SpecFlow+Runner: the SpecRun.Runner package has the depe

[2019-03-21 23:42] jronay commented on #1446
@SabotageAndi I understand part of your reasoning. But just to be clear, in .Net Core 2.2, specflow with NUnit does not work at all (you can't run the tests because they are not detected) unless you install the test SDK mentioned.
As developers using the specflow product in .Net Core, (hopefully there will be many soon) we should not have to "discover" this by researching the reported error, which

[2019-03-22 08:08] glyad commented on #1434
@SabotageAndi
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Import Project="$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props" Condition="Exists('$(MSBuildExtensionsPath)\$(MSBuildToolsVersion)\Microsoft.Common.props')" />
  <Import Project="$(USERPROFILE)\.nuget\packag

[2019-03-22 11:43] anandprasathm commented on #1439
@SabotageAndi Thanks.
I will check the same on Specflow version 3 and will come back if the issue still persists.

[2019-03-22 13:29] mrpeteryu commented on #1445
Setting was already set to false

[2019-03-22 17:54] mrpeteryu commented on #1445
@SabotageAndi on two different incidents, PreLoadAssemblies() threw an exception while trying to load the following assemblies:

1) C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\Common7\IDE  (**api-ms-win-core-file-l1-2-0.dll**)
2) C:\windows\system32   (The file it failed to load was **aaclient.dll**)

[2019-03-22 21:22] roux69 commented on #743
Hey, I seem to encounter a similar issue. Now this issue jsns has opened is over 2 years old and still open. Is there any news on this? (below is more details about my similar issue)

- I have a feature with a tag, and 2 scenarios with different tags.
- In my step definitions file, the class is bound to the feature tag. S
- Some steps are bound to the scenario tags.
- I also have have one step tha

[2019-03-23 03:17] SabotageAndi commented on #1446
Some provoking questions, (only for thought process, please take no offense in them):

Can you run your NUnit Tests without NUnit3TestAdapter in VS? - No
Did NUnit or SpecFlow has a dependency on it? - No
Did you add the dependency to the project yourself? - Yes

I have the view, it is the same with Microsoft.NET.Test.Sdk.

Needing this dependency is sadly and the user has to know it.

The expecta

[2019-03-23 03:23] SabotageAndi commented on #743
@roux69 Your sample is not working? I don't see why it shouldn't.

Could you please send a PR with a failing test?
Please put the test in https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs/Features/Execution/ScopedSteps.feature

Thanks!

[2019-03-24 09:37] jnsn commented on #743
I can confirm this issue is still present using the latest version of SpecFlow.

We still resolve to putting the steps in different files and put the [Scope] attribute on the class level rather than the method level were we would like to put it.

[2019-03-24 10:30] jnsn commented on #743
I have updated the existing scenario to describe what's going wrong, but I don't know why the PR build succeeded, or if it was supposed to fail anyway.

[2019-03-24 10:58] SabotageAndi commented on #743
In the build, we don't execute tests. That happens only in the releases. Linux and Mac OS is currently broken. Windows was green before the PR. So it should be now red. Let's wait until it is finished.

[2019-03-24 12:57] greendimka opened #1448 "SetComparisonExtensionMethods.CompareToSet<T> does not use value retrievers for values in table"
When I use table.CreateInstance<SomeClass>() - every registered IValueRetriever is used.
But when I use table.CompareToSet<SomeClass>() - registered IValueRetriever instances are simply ignored.

[2019-03-24 17:46] jnsn commented on #743
The release build doesn't seem to fail, so I don't quite know what I did wrong. The edit I made should fail in a test run.

I ran into the issue when using NUnit. Are the builds executed against a specific test frameworks, or should it be something that works or breaks for all?

If needed, I can provide a quick working sample application to demonstrate what is going wrong.

[2019-03-25 08:55] SabotageAndi commented on #1448
Please reopen this issue with an filled out template.

[2019-03-25 08:55] #1448 closed

[2019-03-25 08:57] SabotageAndi commented on #743
@jnsn
In you comment you used the Tag property. In the scenario it is the Scenario Name. Perhaps is the issue with the tags.

And please create a new scenario for this. Don't change the existing one. I don't like scenarios that tests multiple things at one.

[2019-03-25 09:10] jnsn commented on #743
The problem occurs with both scenarios and tags. In my initial report I had an example with a scenario.

I will update the PR later today with a new scenario.

[2019-03-25 13:33] mrpeteryu opened #1451 "SpecFlowPackagePackage did not load correctly v2018.1.58.20861"
SpecFlow for Visual Studio 2017 version **2018.1.58.20861** shows a package loading error.

### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:
2.4.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates i

[2019-03-25 13:36] SabotageAndi commented on #1451
Should be fixed with the next version.
Release is currently running: https://dev.azure.com/specflow/SpecFlow/_releaseProgress?_a=release-pipeline-progress&releaseId=183

[2019-03-25 13:43] mrpeteryu commented on #1451
confirmed, ty.

[2019-03-25 13:43] #1451 closed

[2019-03-25 14:16] mrpeteryu opened #1452 "[Q] SpecFlow 3 Shared Steps Assembly - No matching step definition found for one or more steps"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [X] Xunit

Version number: 2.4.1

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X] Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-03-25 14:29] SabotageAndi commented on #1452
We have a scenario that test this case: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs/Features/Execution/ExternalSteps.feature#L6
It is green and get's executed for .NET 4.5.2 and .NET Core 2.0.

So from your input I have no idea what is failing here.

There are now two options:
 - Create a PR with a failing test (preferred)
 - Create a complete repro project

[2019-03-25 15:08] SabotageAndi commented on #1311
Thanks to @dasMulli this issue is now fixed with commit https://github.com/techtalk/SpecFlow/commit/b52d415bc1ea9afc8e641c4fbb0c89a3a4d4e416

[2019-03-25 15:08] #1311 closed

[2019-03-25 15:09] SabotageAndi commented on #1452
Btw, did you saw https://github.com/techtalk/SpecFlow/issues/1417
Could it be the same?

[2019-03-25 15:13] SabotageAndi commented on #1341
Closed because of inactivity.

[2019-03-25 15:13] #1341 closed

[2019-03-25 15:14] SabotageAndi commented on #1368
I think it's solved and was inactive nearly 3 months => closing

[2019-03-25 15:14] #1368 closed

[2019-03-25 15:15] SabotageAndi commented on #1348
The release of SpecFlow 3 is near. We (TechTalk Team) will not have time to fix this before.

[2019-03-25 15:17] narcis-pv commented on #1348
@SabotageAndi Honestly, this seems like a MAJOR issue. Better not release it, then release with this kind of broken behavior.

[2019-03-25 15:23] SabotageAndi commented on #1348
It will go to the known issues (FYI: @Stephen-Mc).
We have to release because of the VS 2019 release, which happens on April 2nd. Can't change that.

The problem exists "only" for .NET Core. Full Framework is still working. And if you need more than 100 ms.
A Workaround also exists. Do the cleanup before the TestRun, so that you are sure to have a clean environment.

And for NUnit and MSTest we st

[2019-03-25 15:24] SabotageAndi commented on #1350
Closed because of inactivity.

[2019-03-25 15:24] #1350 closed

[2019-03-25 15:40] nvborisenko commented on #1348
For NUnit: https://github.com/nunit/docs/wiki/SetUpFixture-Attribute

[2019-03-25 15:41] SabotageAndi commented on #1348
@nvborisenko Do you know if there can be more than one class without namespace with the attribute?

[2019-03-25 16:09] SabotageAndi commented on #1356
So, I made today probably the last changes to the extension for VS2019.
It will probably be in the marketplace on Thursday.

[2019-03-25 16:09] #1356 closed

[2019-03-25 16:13] SabotageAndi commented on #1235
For VS2019 we had to remove this feature. The APIs, we were using, are removed with VS2019 (https://github.com/Microsoft/vstest/issues/1830).

[2019-03-25 16:13] #1235 closed

[2019-03-25 16:16] SabotageAndi commented on #477
Because of VS2019 we had to remove this feature. The APIs for the VS Test Explorer, we were using, are removed with VS2019 (https://github.com/Microsoft/vstest/issues/1830).

[2019-03-25 16:16] #477 closed

[2019-03-25 16:17] nvborisenko commented on #1348
Yes.
[NUnitTestProject3.zip](https://github.com/techtalk/SpecFlow/files/3004324/NUnitTestProject3.zip)

[2019-03-25 16:28] nvborisenko commented on #1348
For MSTest: https://www.meziantou.net/2018/02/12/mstest-v2-test-lifecycle-attributes

[UnitTestProject2.zip](https://github.com/techtalk/SpecFlow/files/3004376/UnitTestProject2.zip)

And cannot define more that one [AssemblyInitialize] attribute.

Actually cannot understand why Specflow generator requires more than one definition of `setup` attribute.

[2019-03-25 18:21] SabotageAndi commented on #1348
@nvborisenko SpecFlow doesn't require multiple setup attributes.
But there are users out there, that are using the test frameworks attributes already and mix them with hooks.
When we now create a new class with them, two are defined and I have no idea what the test runners are doing.

[2019-03-25 18:43] nvborisenko commented on #1348
Now I see. In my opinion SpecFlow should work as documented. Hooks should work by default, because of by default clients use SpecFlow feature files as tests "container". But for whom, who mixes feature files and unit tests "container", SpecFlow should leave a comment how to combine several invocations of `setup` methods into one if unit framework doesn't support multiple `setup` methods (MsTest).

[2019-03-25 19:13] jnsn commented on #743
I have found the issue while doing some tests, trying to figure out why my edit didn't break when it should have.

In my scenario, and in the case of @roux69 the scope is also set on the class level. This is a case that's not tested in any of the scenarios.

If the `Scope` attribute is added to a method, it only works if _both_ the scenario and the tag are present. If either one is absent, the `Am

[2019-03-25 19:44] gasparnagy commented on #1433
My example, producing the same issue was using the `WebApplicationFactory<Startup>` from the `Microsoft.AspNetCore.Mvc.Testing` package to self-host an ASP.NET Core app. `WebApplicationFactory<Startup>.CreateClient()` returns an `HttpClient` that works perfectly from a normal sync unit test by calling the `.Result` property, but not from a sync SpecFlow step definition, where it causes a deadlock.

[2019-03-26 12:27] Regenhardt commented on #1315
I'm not sure whether it's my nuget package explorer or the target stuff I don't understand well enough, but one of those things lets me not do this properly. sorry about that.

[2019-03-26 20:04] mrpeteryu commented on #1452
@SabotageAndi  I believe this was my problem. Thank you.

[2019-03-26 20:04] #1452 closed

[2019-03-26 20:10] MattKeenum commented on #884
Using NUnit3TestAdapter 3.12.0, NUnit 3.11.0 and SpecFlow 2.4.1

If, in your assembly, you have `[assembly: Parallelizable(ParallelScope.Fixtures)]` then it will correctly run test fixtures in parallel.

If, in your assembly, you have [assembly: Parallelizable(ParallelScope.Children)] then it will given similar error messages to those referenced above.

Will we get the ability to run parallelizati

[2019-03-26 20:20] mrpeteryu commented on #1445
@SabotageAndi I haven't encountered the exception after upgrading to the latest SpecFlow VS extension.

I also did notice the _Regenerate Features_ right click option is no longer available.

[2019-03-27 07:10] #1433 closed

[2019-03-27 07:40] SabotageAndi commented on #1445
Yeah, we also noticed the missing context menu entries yesterday. I will have a look at it now.

[2019-03-27 07:41] SabotageAndi commented on #884
@MattKeenum Because how SpecFlow work, parallelization on test level will not work without a lot of rewrite.

[2019-03-27 10:51] MattKeenum commented on #884
@SabotageAndi Thank you for clarifying. Is SpecFlow being rewritten for .Net Core? Or can we expect the same behavior there as well?

[2019-03-27 11:07] oliTheTM commented on #1433
@gasparnagy So what version of SpecFlow should I use that has this fix?

[2019-03-27 11:13] SamJongenelen commented on #1444
I was able to use XUnit's `ITestOutputHelper` by injecting it in the ctor of my steps class.
This requires _XUnit.Abstractions_ and works, thanks !

[2019-03-27 11:13] #1444 closed

[2019-03-27 11:14] emielvantoor opened #1454 "Feature files removed from Rider explorer after update to Specflow-3.0.181-beta"
Feature files removed from Rider explorer after update to Specflow-3.0.181-beta.
I and some of my colleagues use Rider as the default code editor. We know there is no official support for SpecFlow in Rider yet. However, after installing SpecFlow-3.0.181 we noticed that Rider excludes .feature files from the project.

I discovered that by undoing this commit:
https://github.com/techtalk/SpecFlow/co

[2019-03-27 11:15] SabotageAndi commented on #1433
@oliTheTM 	it's in 3.0.187-beta

[2019-03-27 11:16] SabotageAndi commented on #884
There was no rewrite for .NET Core. It will be the same behaviour in SpecFlow 3 as in SpecFlow 2.

[2019-03-27 11:35] SabotageAndi commented on #1454
@emielvantoor No, reverting this is no option. It is needed for Visual Studio.
It is needed to get rid of an automatic change in the project file (see https://github.com/techtalk/SpecFlow/issues/1311 - it's the ItemGroup - Remove).

The feature files should be included in the project because of: https://github.com/techtalk/SpecFlow/blob/master/SpecFlow.Tools.MsBuild.Generation/build/SpecFlow.Tools

[2019-03-27 11:47] SabotageAndi commented on #1454
If you add following in your csproj:

[code]

You should see your feature files again.

[2019-03-27 12:00] emielvantoor commented on #1454
Yes, that seems to work! Thank you!

[2019-03-27 12:00] #1454 closed

[2019-03-27 16:01] planetaryrasengan commented on #1445
used latest vs extension and things are back to normal

[2019-03-27 16:01] #1445 closed

[2019-03-28 15:18] SabotageAndi commented on #1059
Coded UI is deprecated by Microsoft (https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2017).
As SpecFlow 3 is only supporting MSTest V2 (which also has no Coded UI support) I am closing this issue

[2019-03-28 15:18] #1059 closed

[2019-03-28 15:18] SabotageAndi commented on #1183
Coded UI is deprecated by Microsoft (https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2017).
As SpecFlow 3 is only supporting MSTest V2 (which also has no Coded UI support) I am closing this issue

[2019-03-28 15:18] #1183 closed

[2019-03-28 15:18] SabotageAndi commented on #1331
Coded UI is deprecated by Microsoft (https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2017).
As SpecFlow 3 is only supporting MSTest V2 (which also has no Coded UI support) I am closing this issue

[2019-03-28 15:18] #1331 closed

[2019-03-28 15:19] SabotageAndi commented on #1262
Coded UI is deprecated by Microsoft (https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2017).
As SpecFlow 3 is only supporting MSTest V2 (which also has no Coded UI support) I am closing this issue

[2019-03-28 15:19] #1262 closed

[2019-03-28 15:19] SabotageAndi commented on #747
Coded UI is deprecated by Microsoft (https://docs.microsoft.com/en-us/visualstudio/test/use-ui-automation-to-test-your-code?view=vs-2017).
As SpecFlow 3 is only supporting MSTest V2 (which also has no Coded UI support) I am closing this issue

[2019-03-28 15:19] #747 closed

[2019-03-28 15:21] SabotageAndi commented on #1026
Done

[2019-03-28 15:21] #1026 closed

[2019-03-28 15:21] SabotageAndi commented on #1034
Done

[2019-03-28 15:21] #1034 closed

[2019-03-28 15:21] SabotageAndi commented on #1344
Closed because of inactivity. Please reopen or create a new issue if necessary.

[2019-03-28 15:21] #1344 closed

[2019-03-28 16:07] pete-ryu opened #1455 "No tests found found for RunSelectedOperation | RunSelectedWithDebugOperation"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [X]	Xunit

Version number: 2.4.1

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4.5
- [ ]	before .NET 4.5
-

[2019-03-28 16:13] SabotageAndi commented on #1455
I tried the examples here:

https://github.com/techtalk/SpecFlow-Examples/tree/master/SpecFlow.json/BowlingKata-SpecFlowJson-xUnit
https://github.com/techtalk/SpecFlow-Examples/tree/master/NETCore%20Examples/BowlingKata-SpecFlowJson-xUnit

And in both I could start a single scenario and debug it.

Can you check them if they work for you?

[2019-03-28 16:55] planetary-rasengan commented on #1455
Both examples work.

I observed only some of the tests have this problem. The other half of the tests, I'm actually able to run the selected test via Test Explorer with no issue.

[code]

[2019-03-28 16:57] SabotageAndi commented on #1455
Ok, in that case we will need a project to reproduce this.

The whole output is from the xUnit Test Adapter or Test Explorer. For xUnit we only generate code. Discovery and execution is done by xUnit.

[2019-03-28 17:01] SabotageAndi commented on #1348
I thought about how this could be implemented.

For getting the additional file into the project, I would create an additional MSBuild task, that add the file to the Compile- ItemGroup.
If possible, I would write the file to the obj- Folder.

The xUnit Code- Generator (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/XUnitTestGeneratorProvider.cs & http

[2019-03-28 18:36] SeanKilleen opened #1456 "Cannot regenerate feature files after upgrade: "Could not find CodeBehindGenerator binary" --"
I recently upgraded the SpecFlow extension in VS 2017, after which time feature file regeneration appeared to break. I completely uninstall & reinstalled the extension in VS to confirm.

Whenever regenerating feature files, all the `*.feature.cs` files contain the following text:

In this folder, the `.exe` file in the reference appears not to exist, though a DLL file by the same name does:

_____

[2019-03-28 18:45] SeanKilleen commented on #1456
I am currently in the process of upgrading my Visual Studio to v15.9.10 to ensure that it is not a variable in the process.

Also FYI, we use `SpecFlow.Autofac` Nuget package, latest stable (`v1.1,0`)

[2019-03-28 18:57] SabotageAndi commented on #1456
From the screenshot it looks like there is a packaging problem.

I will have a look at it tomorrow.
I would suggest to use the MSBuild integration.

[2019-03-28 20:48] NikoYanez commented on #1456
Hey, I am also seeing this issue. Attached is a screenshot of the same folder, missing the same .exe file.

![Capture](https://user-images.githubusercontent.com/20930692/55191705-414d7a00-5179-11e9-8806-d4e672860ef4.PNG)

[2019-03-28 21:52] dcdraper opened #1457 "Open Test from Test Explorer Does Nothing"
Visual Studio - Can no longer open test (F12) from Test Explorer, attempts do nothing

### SpecFlow Version:
- [x ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed

[2019-03-28 21:59] dcdraper commented on #1457
This is a productivity killer for sure, since we are working with numerous feature files and test order does not match since they get automatically sorted in Test Explorer. I had to revert to 2.x until this gets fixed :(

[2019-03-28 22:06] brychart commented on #1456
Hi all, looks like I'm in the same boat. No .exe but a dll of the same name. I just updated my VS to 15.9.10 this morning.

[2019-03-28 22:09] SeanKilleen commented on #1456
A few notes:

* Yep, confirmed this remains broken for me after upgrade to VS 2017 v15.9.10.
* Weirdly enough, I don't see this release on an official release channel (e.g. in GitHub) so I wasn't sure if the release was intentional. Per @SabotageAndi, I think the release was at least intentional -- just might have had an issue with packaging.

FYI, everyone who updates the SpecFlow extension at th

[2019-03-28 22:16] alan50 commented on #1456
I m in the same boot!

[2019-03-28 22:41] whywhy36 commented on #1456
same here.

[2019-03-28 22:51] nuzolx commented on #1457
I have upgrade today, same configuration as you and for me it works.

[2019-03-28 22:53] nuzolx commented on #1456
Same but I have fix it with the MSBuild integration.
https://specflow.org/2019/updating-to-specflow-3/ (Updating SpecFlow, Steps 6-8).

[2019-03-28 22:57] dcdraper commented on #1457
@nuzolx good news for you :) I will try again another day, too much time spent on this for me.

[2019-03-29 02:25] dandamann commented on #1456
This is also affecting the Visual Studio 2015 extension.

[2019-03-29 07:42] SabotageAndi commented on #1456
@SeanKilleen 	Release was intentionally for the SpecFlow 3 Release.

When we migrated to the new sdk-project format, we forgot to set the output type to exe. No idea how we and the users of the preview extension (more than 100 people) didn't found this.
Sorry for the inconvenience.

When the build https://dev.azure.com/specflow/SpecFlow/_build/results?buildId=287 and release is finished, I will up

[2019-03-29 10:45] HoofdletterD commented on #1456
Might be me, but I still have this issue, even after update.

[2019-03-29 10:47] SabotageAndi commented on #1456
@HoofdletterD I didn't upload the extension yet as I found another issue.

[2019-03-29 10:53] gasparnagy commented on #1348
@SabotageAndi yes, this is a good idea: see #1458 for an easy way to ensure that the AfterTestRun hooks are called.

[2019-03-29 10:56] HoofdletterD commented on #1456
Ah ok, thanks for the update. The issue has status "closed" now, but I recon that was a bit too early then.

[2019-03-29 10:58] SabotageAndi commented on #1456
The commit closed the issue automatically.

[2019-03-29 11:04] SabotageAndi commented on #1456
Extension is now updated!

[2019-03-29 11:04] SabotageAndi commented on #1456
I will let this issue open until I get feedback from you guys that the problem is now solved.
So please give it.

[2019-03-29 11:12] MateuszZajac90 commented on #1456
after update specflow I still has problem that CodeBehindGenerator is not at location.

[2019-03-29 11:14] SabotageAndi commented on #1456
@MateuszZajac90 which version of the extension do you have installed? It should be 2019.0.6.*

[2019-03-29 11:16] SabotageAndi commented on #1456
And if you use SpecFlow 3, you have to use the MSBuild Generation.

[2019-03-29 11:20] jakepens71 commented on #1456
Nuget package shows that I am on latest version 3.0.188 but still having problem after updating this morning as well.

[2019-03-29 11:20] MateuszZajac90 commented on #1456
@SabotageAndi
I have:
VisualStudio: 2017
SpecFlow: 3.0.188
Gherkin: 6.0.0
No I'm during install MSBuild Generation

[2019-03-29 11:21] SabotageAndi commented on #1456
@jakepens71
This is fixed in the VS Extension, not in the NuGet package.
You have to update the extension and restart VS.

[2019-03-29 11:28] Jorge-Moreira commented on #1456
@SabotageAndi I think that is missing the dependency of Newtonsoft in the Nuget package version:  3.0.188

[2019-03-29 11:29] SabotageAndi commented on #1456
@Jorge-Moreira We don't use Json.NET anymore in SpecFlow. We changed it to Utf8Json.

[2019-03-29 11:30] SabotageAndi commented on #1456
Screenshot from extension window:
![image](https://user-images.githubusercontent.com/859801/55229819-50d2ce80-521e-11e9-906b-7800142e1196.png)

The fixed version is 2019.0.6.44807 or higher.

[2019-03-29 11:30] Jorge-Moreira commented on #1456
@SabotageAndi so, any idea why I'm getting this error:

[code]

[2019-03-29 11:36] serkancura commented on #1456
I installed version 2019.0.7.57549  with extention
But I am getting error below.

We could not find a data exchange file at the path System.IO.FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=9.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.

Please open an issue at https://github.com/te

[2019-03-29 11:43] SabotageAndi commented on #1456
In the VS Extension we still use Json.NET.
It is missing in the VSIX. No idea what loads the assembly on my machine, that I don't get this issue. Give me some minutes and then there will be a new version on the preview gallery.

[2019-03-29 11:43] HoofdletterD commented on #1456
Checked, and still get the same errors as before

[2019-03-29 11:45] jakepens71 commented on #1456
@SabotageAndi - I upgraded the extension to `2019.0.6.44807` but still seeing the same issue:

`Could not find CodeBehindGenerator binary at location C:\USERS\JSHAY\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_FB271A49\EXTENSIONS\AHC4OJGY.S01\TechTalk.SpecFlow.VisualStudio.CodeBehindGenerator.exe.
Please open an issue at https://github.com/techtalk/SpecFlow/issues/`

![devenv_2019-03-29_07-41-35](htt

[2019-03-29 11:54] MateuszZajac90 commented on #1456
It helps. Now it's working and issue was fixed in my case.
What I did:(maybe it will be helpful for someone)
1. Update Visual Studio to version
2. In Extension and Updates I update specflow for VS 2017 to version 2019.0.6
3. In Nuget packet I update specflow to version: latest stable.
4. Remove using sourcetree all changes contain this errors.
5. Restart Visual Studio.
6. Rebuild project.
7. Creat

[2019-03-29 12:02] Jorge-Moreira commented on #1456
Try to uninstall and install it again. It fixed my issue.

[2019-03-29 12:16] HoofdletterD commented on #1456
I can't even uninstall it. Could not find file "x/y/z/LICENSE.txt", allthough it's there...

[2019-03-29 12:17] sebbas32 commented on #1456
Did it, and still have the issue

[2019-03-29 12:18] SabotageAndi commented on #1456
@sebbas32 could you check the folder if it is really not there?

[2019-03-29 12:23] HoofdletterD commented on #1456
I see a file LICENSE.txt in the folder, so I recon the uninstaller should see atleast _something_.

[2019-03-29 12:44] SabotageAndi commented on #1456
@serkancura
On the MyGet Preview Gallery is now a `2019.0.8.3301` version. It includes the `Newtonsoft.Json` assembly.
Could you try it out if it solves your problem?

[2019-03-29 12:56] sebbas32 commented on #1456
Just checked, and is not there.

[2019-03-29 13:02] FabioPereira1010 commented on #1456
I had the same problem after updating.

What you're getting it's the previous error.

Try to delete that error content from that feature.cs file, save it, change anything in the feature file associated to that .cs and build again

For me it's working right now

Hope it helps

[2019-03-29 13:03] SabotageAndi commented on #1456
@FabioPereira1010 good point. Thanks for it. You have to regenerate the code-behind file by saving the feature file. The error doesn't go away automatically.

[2019-03-29 13:09] kevinboss commented on #1456
The latest release works if you manually copy the Newtonsoft.Json 9 DLL into the extension folder.

[2019-03-29 13:09] sebbas32 commented on #1456
@FabioPereira1010 thank you very much! that solved my issue. Now its working again

And thank you @SabotageAndi  for your help as well.

[2019-03-29 13:12] SabotageAndi commented on #1456
@kevinboss The version on the preview Gallery has already the dll included. I have not uploaded it yet to the marketplace, because I got no response from @serkancura yet.

[2019-03-29 13:34] serkancura commented on #1456
Sorry for late, It fixed for me.

Version: 2019.0.8.3301

 

Thanks @SabotageAndi

[2019-03-29 13:36] sdekosky commented on #1456
Hi @SabotageAndi: This is definitely an issue after updating to VS 2017 15.9.10 version. I definitely have did not update "SpecFlow for Visual Studio 2017" extension prior to upgrading VS. Did not have this issue prior to upgrade. So after upgrade to 15.9.10 I was not able to generate the code behind as described above. After I un-installed the older "SpecFlow for Visual Studio 2017" extension ver

[2019-03-29 13:38] nafanialt commented on #1456
Thanks FabioPereira1010 for the hint. In addition- one could use "Regenerate Feature Files" while right clicking project name in solution explorer. No need to mess with feature files or generated code at all.

[2019-03-29 13:51] johns397 commented on #1456
I've got the latest version (2019.0.6.44807) [I'm running on VS 2017) and was able to rebuild the feature.cs files (unfortunately it added an extra blank line at the end of each which made VS/TFS think there are changes that needed to be checked in).   However, now when I bring up the feature file all the steps are showing up in 'purple' indicating that they are not (properly) linked to the steps!

[2019-03-29 13:56] sdekosky commented on #1456
Hi @SabotageAndi: Please direct me to SpecFlow for Visual Studio Extension version 2019.0.83301 in the MyGet Preview Gallery. We this fix the above issue described by me and johns397 above?

[2019-03-29 14:01] SeanKilleen commented on #1456
Hey all, just to recap here since I'm away from a PC where I can test this:

✅ It sounds like the issue I originally reported was resolved
⚠️ ✅ It sounds like another issue around missing Newtonsoft.Json has been found & fixed
⚠️ It sounds like there may be another bug around the extension picking up on mappings after regenerating step files.

My suggestion is that we close this issue and create s

[2019-03-29 14:01] #1456 closed

[2019-03-29 14:11] Jorge-Moreira commented on #1456
Same here, I can't see the version in the marketplace

[2019-03-29 14:15] SabotageAndi commented on #1456
@Jorge-Moreira It wasn't till 2 min ago in the marketplace. It was only on our MyGet Preview (see https://specflow.org/2018/specflow-3-public-preview-now-available/ - Installing the Preview Visual Studio Extension). The extension is currently in verifying phase on the marketplace. In probably 5 - 10 mins you will get it in VS.

[2019-03-29 14:21] sdekosky commented on #1456
@SabotageAndi: Does the above version work for SpecFlow 2.4.1? I'm not using SpecFlow 3 yet.

[2019-03-29 14:23] SabotageAndi commented on #1456
@sdekosky Yes. The Extension works for SpecFlow >= 2.3.2.

[2019-03-29 14:51] pooja1908 opened #1459 "Cannot not find CodeBehindgenerator binary at location"
Could not find CodeBehindGenerator binary at location

### SpecFlow Version:
- [ ] 3.0
- [ X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

<package id="SpecRun.Runner" version="1.8.5" targetFramework="net461" />
### Visual Studio Version
- [ X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are t

[2019-03-29 14:51] pooja1908 commented on #1459
I have upgraded the Specflow to the latest from marketplace

[2019-03-29 14:52] SabotageAndi commented on #1459
Duplicate of https://github.com/techtalk/SpecFlow/issues/1456

[2019-03-29 14:53] SabotageAndi commented on #1459
@pooja1908 Are you sure you have the latest extension installed?

[2019-03-29 14:55] pooja1908 commented on #1459
yes
, It says 2019.0.8.3301

[2019-03-29 14:56] SabotageAndi commented on #1459
After the update, did you saved the feature file again. The error doesn't go away automatically.

[2019-03-29 15:00] sdekosky commented on #1456
@SabotageAndi: Thank you for the update! It works when generating step definitions local to the feature file project. **Still does not work when referencing step definitions from a remote project assembly in App.config** This was working prior to these updates.  Did anything change when referencing app.config assembly?   VERSIONS: Visual Studio 15.9.10/.NET 4.7.1/SpecFlow 2.4.1/SpecFlow for Visual

[2019-03-29 15:00] pooja1908 commented on #1459
@SabotageAndi  I did it just now.! it worked thanks!

[2019-03-29 15:00] SabotageAndi commented on #1459
👍

[2019-03-29 15:00] #1459 closed

[2019-03-29 15:01] SabotageAndi commented on #1456
@sdekosky Please open a new issue for that.

[2019-03-29 15:01] SabotageAndi commented on #1456
I locked the issue, because the problem is solved. Please open new issues if needed. Thanks!

[2019-03-29 15:23] sdekosky opened #1460 "Unable to Reference Remote step assembly (app.config) from feature file"
Not able to map feature file to step definition via remote assembly

### SpecFlow Version:
- [ ] 3.0
- [X] 2.4.1
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [X ]	MSTest 1.4.0
- [ ]	NUnit
- [ ]	Xunit

Version number:
1.4.0

### Visual Studio Version
- [X ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed? 15.

[2019-03-29 15:38] SabotageAndi commented on #1460
Sorry, but I don't get where the error is. At runtime? Does the Intellisense has a problem? Or the syntax highlighting?

[2019-03-29 15:45] sdekosky commented on #1460
At Runtime Syntax is not highlighting. When I attempt to go to definition the error is : "No matching step binding found".  I have the correct reference in app.config which has always worked previously.

[2019-03-29 15:46] sdekosky commented on #1460
at runtime and when I attempt to go to definition

[2019-03-29 15:51] sdekosky commented on #1460
Just an FYI I would rather use the specflow.json configuration if I could instead of app.config. I could not get this to work in SpecFlow 2.4.1. Did the update to the "SpecFlow for VS 2017 extension" require use of specflow.json as the config for remote assembly step definitions?

[2019-03-29 16:26] nuzolx commented on #1460
What is the synthax to do that in json config?
Because I have the same issue.

[2019-03-29 17:07] urzur opened #1462 "The type or namespace name 'TestFixtureSetupAttributeAttribute' does not exist in the namespace 'NUnit.Framework' (are you missing an assembly reference?)"
Hello,

I recently installed SpecFlow for Visual Studio 2017 version 2019.0.8.3301 because I was encountering the following issue:
https://github.com/techtalk/SpecFlow/issues/1456
And although I am no longer encountering the "Could not find CodeBehindGenerator binary" error I am unable to run my specflow tests with NUnit (even when creating a new project) since I am getting the following error:

T

[2019-03-29 17:31] sdekosky commented on #1460
Hi @SabotageAndi: Have you had a chance to look at the issue i'm encountering?

[2019-03-29 18:02] SabotageAndi commented on #1460
No, I am at home in Vienna, Austria. It's 19:01 and I am in the weekend.
I will have a look on Monday.
A project to reproduce your issue would be great than.

[2019-03-29 18:04] jimcomiskey commented on #1460
@sdekosky I am having the same problem. have you tried enabling Specflow Tracing and looking for errors in the Specflow output? when I do so, I find this error:

[code]
I am wondering if you are encountering the same problem.

[2019-03-29 19:30] sdekosky commented on #1460
Hi @jimcomiskey: **Thanks for doing this**!!! I enabled SpecFlow tracing and I am getting the same error as you. However, after re-installing SpecFlow for VS 2017 extension latest version (2019.0.8.3301), my tests do execute correctly during run time when referencing my step assembly through app.config. The issue now is that I can't "Go To Definition" from the Feature file with the remote referenc

[2019-03-29 19:50] jimcomiskey commented on #1460
No, that's the only error I'm seeing. I'm not having problems with running the tests, only the issue of the Feature files not finding step definitions in the external assembly. It was working fine for me until the Specflow extension was upgraded automatically in the past couple of days.

[2019-03-29 20:05] johns397 opened #1463 "SpecFlow doesn't navigate to steps in separate DLL."
SpecFlow doesn't allow navigating to features in separate project's DLL.

### SpecFlow Version:
- [ ] 3.0
- [ X] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ X]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [X ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
-

[2019-03-29 20:08] sdekosky commented on #1460
Looks like we definitely have the same issue.

[2019-03-29 20:12] erlis commented on #1462
I'm receiving something similar

![image](https://user-images.githubusercontent.com/137626/55259959-80450380-523d-11e9-9051-75db72b8000e.png)

[2019-03-29 20:17] jimcomiskey commented on #1460
@sdekosky  I rolled back to an older version of the Specflow Visual Studio extension from here: https://github.com/techtalk/SpecFlow.VisualStudio/releases and turning off "Automatically update this extension", and things are back to normal for me now.

[2019-03-29 20:58] MathieuDiepman commented on #1462
![image](https://user-images.githubusercontent.com/1908315/55262304-bc905800-526d-11e9-989f-2f39c19cbfa8.png)
Similar issues here.

[2019-03-29 21:05] xDazedx opened #1464 "Command Line for SpecRun_3.0.255 - Calls to Missing Folder"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

3.0.255

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
- [ ] .NET Core

[2019-03-29 21:29] MathieuDiepman opened #1465 "Multiple issues in feature file generation after upgrading to 2019.0.8.3301"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4.5
- [ ]	before .NET 4.5
- [ ] .N

[2019-03-29 21:56] jimcomiskey commented on #1460
Submitted PR to fix this. https://github.com/techtalk/SpecFlow.VisualStudio/pull/55

[2019-03-29 23:10] MathieuDiepman commented on #1465
I was able to resolve all compilation and generation issues by following this guide: https://specflow.org/2019/updating-to-specflow-3/

[2019-03-29 23:11] #1465 closed

[2019-03-29 23:14] MathieuDiepman opened #1466 "Autofac not supported in Specflow 3"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4.5
- [ ]	before .NET 4.5
- [ ] .N

[2019-03-30 02:51] okyrylenko commented on #1463
I am having same issue with SpecFlow3 extension and Speclow 2.3.2 nuget package, NUnit as a test runner

[2019-04-01 07:04] SabotageAndi commented on #1466
SpecFlow.AutoFac (https://github.com/gasparnagy/SpecFlow.Autofac) is not maintained by the SpecFlow Team.
It's done by @gasparnagy on it's own.

[2019-04-01 07:04] #1466 closed

[2019-04-01 07:59] SabotageAndi commented on #1460
PR is now merged. Thanks @jimcomiskey

In some minutes it will be on the preview extension gallery. See https://specflow.org/2018/specflow-3-public-preview-now-available/ - Installing the Preview Visual Studio Extension

[2019-04-01 08:03] SabotageAndi commented on #1463
This is a dupliate of #1460.

Thanks to @jimcomiskey for the fix. It's on the preview extension gallery in some minutes.

[2019-04-01 08:03] #1463 closed

[2019-04-01 08:05] SabotageAndi commented on #1462
I think you need to regenerate the code behind feature files.

As you didn't filled out the template and haven't attached a project to repro, I can't help you further.

[2019-04-01 08:55] mrtank opened #1467 "False error message about missing xmlns in the <Project> tag. .net v4.5.2"
False error message about missing xmlns in the <Project> tag. .net v4.5.2

### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
Haven't got to the test runner

### Visual Studio Version
- [ ] VS 2019
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest V

[2019-04-01 09:20] mrtank commented on #1467
I have removed the references to the SpecFlow nuget, and all affiliates, and it still didn't load the project. It looks like SpecFlow.Nunit is the wrong doer. After removing SpecFlow.Nunit I could reload the project, and downgrade to 2.4. Everything works now.

[2019-04-01 10:37] SabotageAndi commented on #1467
Looks like we are missing the ToolsVersion and xmlns on these files:

https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.NUnit.Generator.SpecFlowPlugin/build/SpecFlow.NUnit.props
https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.xUnit.Generator.SpecFlowPlugin/build/SpecFlow.xUnit.props
https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTal

[2019-04-01 11:59] Haxy89 commented on #1457
Have the same bug!

[2019-04-01 12:04] Haxy89 opened #1468 "ScenarioContext.Current is obsolete. How to use Context Injection"
How to change this:

[code]

To use Context Injection?

[2019-04-01 12:06] SabotageAndi commented on #1457
Please provide an example to reproduce this issue.

[2019-04-01 12:29] erlis commented on #1462
@SabotageAndi  I'll open one myself with all the details.

[2019-04-01 12:47] erlis opened #1469 "Compilation error on Steps definition after all is setup correctly"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [X] Xunit

Version number:
v3.0.188

### Visual Studio Version
- [X] VS 2019
- [X] VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4.5
- [ ]	be

[2019-04-01 13:02] SabotageAndi commented on #1469
Never saw this, so we need a project to reproduce this issue.

[2019-04-01 13:44] erlis commented on #1469
I'll create a github project. Thanks for looking into!

[2019-04-01 14:05] SabotageAndi commented on #1468
[code]

That should work. I would suggest also to get the DriverContext via ContextInjection.

[2019-04-01 14:06] johns397 commented on #1460
Is it on the market place yet?  If so, which version number should we be looking for?

[2019-04-01 14:11] erlis commented on #1469
@SabotageAndi  now this is weird, in a clean project it works... I'll go deep into this I suspect something is caching a corrupted file or something. From my part I think you can close this because I don't think this is a SpecFlow problem.

Thanks once again

[2019-04-01 14:12] SabotageAndi commented on #1464
We changed the command line parser in SpecFlow+Runner 3. The parameters are now prefixed with a `--` and not a `/` anymore.
See https://specflow.org/plus/documentation/SpecFlowPlus-Runner-Command-Line/

I noticed that we forgot that to mention in the release notes. @Stephen-Mc 	could you please add an entry for it. Thanks!

[2019-04-01 14:15] SabotageAndi commented on #1469
Are you using package.config or PackageReference. Are both projects compiled against the same .NET Framework version?
Do you get it on a command line build also?

[2019-04-01 14:16] SabotageAndi commented on #1460
@johns397 Did you read my last comment?
It is in our preview extension gallery, not the market place. How you can set it up is written in the attached link.

Version number is 2019.0.9.46639

[2019-04-01 14:18] erlis commented on #1469
I was adding this to an existing full .net project. I'm using package.config and I'm using .net framework 4.6.2 everywhere.

I haven't configured yet the command line build yet, was trying to introduce first the specflow on the project.

[2019-04-01 14:19] SabotageAndi commented on #1469
Is it more than a `msbuild` in the directory of the solution file?

[2019-04-01 14:21] erlis commented on #1469
didn't understand the question. Are you asking if there's more than ONE msbuild?

[2019-04-01 14:25] yohny opened #1470 "No tests discovered after migration to v3.0"
### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version of SpecFlow.MsTest nuget: `3.0.188`

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]

[2019-04-01 14:27] SabotageAndi commented on #1469
No, I was asking if your build process is more complicated, than executing `msbuild` on the command line in the directory of your solution.
`msbuild` makes then a full build of your solution, but without caching and other shenanigans of Visual Studio.

[2019-04-01 14:30] SabotageAndi commented on #1470
I assume you are using the old project format.

Are the tests in your test assembly? Have a look with dotPeek to check them.
If they are not there, something is wrong with the target.

[2019-04-01 14:35] sdekosky commented on #1460
Hi @SabotageAndi, @jimcomiskey and all: Thanks for fixing the issue above. I just tested out the new extension and it works!

[2019-04-01 14:35] fractalocity opened #1471 "Feature file won't bind to CS files"
### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
nunit.framework = 3.11

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .N

[2019-04-01 14:37] SabotageAndi commented on #1471
duplicate of https://github.com/techtalk/SpecFlow/issues/1460

[2019-04-01 14:37] #1471 closed

[2019-04-01 14:47] midgetgem opened #1472 "Can no longer Toggle All Outlining in Visual Studio"
### SpecFlow Version:
- [X] 3.0

### Visual Studio Version
- [X]	VS 2017

### Are the latest Visual Studio updates installed?
- [X]	Yes

### .NET Framework:
- [X]	>= .NET 4.5

### Test Execution Method:
Resharper

### &lt;SpecFlow> Section in app.config or content of specflow.json
[code]

### Issue Description
When viewing a feature file in Visual Studio, the outlining options are no longer availa

[2019-04-01 14:52] erlis commented on #1469
Ohh I see, sorry. The build that fails is while I'm on Visual Studio. No more msbuild.

I just did a cleanup, I removed all the bin and obj folders, I also removed the content of my packages folder and did a fresh Nuget Restore and I have the same failure.

I removed the Tools.MsBuild.Generation and added the XUnit back in my app.config  and now I got the error consistent with the editor too. This

[2019-04-01 14:59] erlis commented on #1469
I've removed the Tools.MsBuild.Generation  and back to old SpecFlowSingleFileGenerator. Now, I think this generating something wrong fir xUnit 2, check the image below.

and here in the xUnit page I've found that xunit.extensions have been deprecated in v2

https://xunit.net/docs/upgrade-extensions

![image](https://user-images.githubusercontent.com/137626/55337533-de0b6280-546c-11e9-8666-c0b8ad6a

[2019-04-01 15:00] SabotageAndi commented on #1469
At the top of the code-behind is a header that has some version numbers in it. What are they?

[2019-04-01 15:03] erlis commented on #1469
how is this even possible SpecFlow 1.9 ??????????

// ------------------------------------------------------------------------------
//  <auto-generated>
//      This code was generated by SpecFlow (http://www.specflow.org/).
//      SpecFlow Version:1.9.0.77
//      SpecFlow Generator Version:1.9.0.0
//      Runtime Version:4.0.30319.42000
//
//      Changes to this file may cause incorrect behav

[2019-04-01 15:08] erlis commented on #1469
I think I've used specflow in the past... is it possible something is "cached" with the old version?

![image](https://user-images.githubusercontent.com/137626/55338314-75bd8080-546e-11e9-87b0-546841c51713.png)

I'll do a search on the entire hard drive for it....this can explain why this crazy error

[2019-04-01 16:08] yohny commented on #1470
Yes, I'm using old project format.

I can see the tests in resulting assembly using dotPeek.

[2019-04-01 16:13] okyrylenko commented on #1437
I know it does not directly answering your question, take a look at RestAssured for .Net. This project is tailored for API testing and may have the built-in features that you are looking for https://github.com/lamchakchan/RestAssured.Net

[2019-04-01 16:55] SabotageAndi commented on #1472
Please provide a screenshot. I am not sure what do you mean. Thanks!

[2019-04-01 17:01] SabotageAndi commented on #1469
@erlis 	This is no crazy error.
If the Visual Studio Extension can not find a referenced TechTalk.SpecFlow.dll, it falls back to an old SpecFlow version.
Do you have the CustomTool still set on your feature files? This has to be set, that the VS integration generates the code-behind file.

[2019-04-01 17:06] SabotageAndi commented on #1464
Not that I am aware of it.

I am not sure if the `:` are still needed after the parameter.
@david1995 do you know?

[2019-04-01 17:07] midgetgem commented on #1472
Well it won't work for me any more, it now looks like this:
[image: image.png]

where it used to have the symbol to collapse it like this:
[image: image.png]

On Mon, Apr 1, 2019 at 5:55 PM Andreas Willich <notifications@github.com>
wrote:

[2019-04-01 17:11] xDazedx commented on #1464
I removed them and it is running now. Your docs were updated to use -- but the colon is still there so you may want to update.

https://specflow.org/plus/documentation/SpecFlowPlus-Runner-Command-Line/

[2019-04-01 17:11] #1464 closed

[2019-04-01 17:12] SabotageAndi commented on #1464
@Stephen-Mc could you please update the docs, thanks!

[2019-04-01 17:49] erlis commented on #1469
@SabotageAndi Yes, I've been back and forth with the Tools.MsBuild.Generation, at this time I've that removed with the CustomTool set in my feature file.... so TechTalk.SpecFlow.dll is fugitive :) no one can find it... I really don't know what's going on with this solution then. Hey I really appreciate all the time you have put into this 💯

[2019-04-01 18:23] CpBobette opened #1473 "Specflow will not build using MSTests"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.0.118

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	be

[2019-04-01 20:10] xDazedx opened #1474 "SpecRun Report Name Jenkins Command Line"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

SpecRun.Runner.3.0.255

### Visual Studio Version
- [ ] VS 2019
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .

[2019-04-01 20:45] pete-ryu commented on #1455
can't reproduce issue after computer reboot.

[2019-04-01 20:45] #1455 closed

[2019-04-01 22:02] fractalocity commented on #1460
I had the same issue. It took more than just making sure that the fixes to VS2017 specflow extension were in place.

Would have been nice to know the below information this morning.

**Note**: The specflow Feature and *.cs files were originally created in VS2015 and with an older version of SpecFlow (specflow 1.9.x). Not sure due to this fact, the project needed this extra configuration/informatio

[2019-04-02 03:24] Nagendracv opened #1475 "Specflow will not run with specrun"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
3.0.255

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	be

[2019-04-02 04:00] Nagendracv commented on #1475
I removed xunit from the list above. And now I get a different error.:

SpecFlow designer codebehind generation is not compatible with MSBuild codebehind generation. The custom tool must be removed from the file. See http://www.specflow.org/documentation/Generate-Tests-from-MsBuild	SpecflowHeadless	C:\***\Tests\Specflow\SpecFlowFeature1.feature

[2019-04-02 04:03] Nagendracv commented on #1475
Followed the steps to remove singlefilegenerator and I'm back to square one...

Error	[SpecFlow] System.Configuration.ConfigurationErrorsException: Unrecognized element 'unitTestProvider'.
at System.Configuration.ConfigurationElement.DeserializeElement(XmlReader reader, Boolean serializeCollectionKey)
at System.Configuration.ConfigurationSection.DeserializeSection(XmlReader reader)
at TechTalk.Spe

[2019-04-02 06:41] SabotageAndi commented on #1475
With SpecFlow 3 you don't configure the unitTestProvider in the config anymore. This is done by the individual NuGet packages (see https://specflow.org/2019/updating-to-specflow-3/).
You need to add <https://www.nuget.org/packages/SpecRun.SpecFlow.3-0-0/> to your project and don't have SpecFlow.xUnit, SpecFlow.NUnit or SpecFlow.MsTest in your project, as you can only have one unit test provider.

[2019-04-02 06:46] Haxy89 commented on #1468
@SabotageAndi

``
[Binding]
    public class FrameworkHooks
    {
        private readonly IObjectContainer objectContainer;

        private static DriverContext DriverContext { get; } = new DriverContext(AppDomain.CurrentDomain.BaseDirectory);

        private readonly ScenarioContext scenarioContext;
        private readonly FeatureContext featureContext;
        private readonly ScenarioStepCo

[2019-04-02 06:53] Haxy89 commented on #1457
After update to newest speclfow my Test Explorer window in VS 2017 doesn't show any tests.
Vs 2017
The newest Specflow for VS 2017 extension
NUnit 3.11
NUnit.Console.Runner 3.10
NUnit3TestAdapter 3.13
Specflow 3.0.188
Specflow.Tools.MsBuild.Generation 3.0.188
Specflow.NUnit 3.0.188

I did no changes after update specflow except removed config about nunit runner from app.config.
My project is in .n

[2019-04-02 07:27] Cylox opened #1476 "Generator plugin load fails with FileNotFoundException: TechTalk.Specflow cannot be loaded"
### SpecFlow Version:
- [X] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number:
3.10

### Visual Studio Version
- [ ] VS 2019
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes -> 15.9.10
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4.5

[2019-04-02 07:34] SabotageAndi commented on #1476
We changed how plugins work with SpecFlow 3. There is now a little bit of MSBuild magic involved.

I think we are not yet completely done with the documentation. But NUnit, XUnit and MSTest have now also plugins. Have a look at the source code of them.

I will check how far we are with the documentation for it. Could take some hours, as I am on my way to London.

[2019-04-02 07:36] SabotageAndi commented on #1474
Could you post your srProfile?

[2019-04-02 07:39] SabotageAndi commented on #1473
The unit test provider in the config is gone. That option is not there anymore and so you get an error.

You configure it via the NuGet packages. Do you have other packages from SpecFlow than SpecFlow.MSTest in your project?

Are you using MSBuild Generation and have the CustomTool still set?

[2019-04-02 07:39] SabotageAndi commented on #1472
There are no images.

[2019-04-02 08:31] Cylox commented on #1476
@SabotageAndi  thanks for your fast response!
Okay, so I assume this means that the old way of specifying the plugin just in the app.config is not sufficent anymore or obsolete. It would be great if the plugin documentation page could reflect this. I've seen the MSBuild generator package but since I found no documentation how to integrate a custom generator with this package I tried to do it the o

[2019-04-02 08:45] SabotageAndi commented on #1476
Good point with the plugin config section. No idea why it's still there. I have to check.

The biggest change for the plugins, that for generator plugins, a MSBuild ItemGroup has to be filled.
Here is it for xUnit: https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.xUnit.Generator.SpecFlowPlugin/build/SpecFlow.xUnit.props
We build our generator plugins currently for .NET 4.

[2019-04-02 09:07] PuzzledRays commented on #1202
Hi, I am using SpecFlow version 2.3.2 on VS Professional 2017. I have encountered this problem from yesterday. When I make a change in my App.config, I am asked if I would like to regenerate my feature files. Giving 'Yes' results in the error "We could not find a data exchange file at the path System.IO.DirectoryNotFoundException: Could not find a part of the path ". The workaround is to give 'No'

[2019-04-02 09:18] SabotageAndi commented on #1202
@PuzzledRays Permanent solution is to use MSBuild generation: https://specflow.org/2019/generating-code-behind-files-using-msbuild/

[2019-04-02 09:31] Haxy89 opened #1477 "Can't use Specflow.Unity plugin with Specflow 3"
Message: OneTimeSetUp: System.TypeLoadException : Method 'Initialize' in type 'SpecFlow.Unity.UnityPlugin' from assembly 'SpecFlow.Unity.SpecFlowPlugin, Version=2.2.0.0, Culture=neutral, PublicKeyToken=null' does not have an implementation.

[2019-04-02 09:43] SabotageAndi commented on #1477
This plugin is not maintained by us. And SpecFlow 3 had changes to it's plugin system. It is probably not yet updated.

[2019-04-02 09:43] #1477 closed

[2019-04-02 09:58] Stephen-Mc commented on #1464
I've updated the docs and added a note the the release announcement about the change  in syntax

[2019-04-02 10:14] zplan commented on #1476
I have a similar issue:

I have my own generator in Secflow 2.x I used it like this:

App.config:
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <specFlow>
    <unitTestProvider name="mstest.v2" />
    <trace traceSuccessfulSteps="f

[2019-04-02 11:26] FestTestQA opened #1478 "Plugin sudden causing generation fails"
### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [x]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:3 .10

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	befor

[2019-04-02 11:34] midgetgem commented on #1472
can you see them now?

On Tue, Apr 2, 2019 at 8:39 AM Andreas Willich <notifications@github.com>
wrote:

[2019-04-02 11:51] zplan opened #1479 "Documentation how to write custom generator/plugin not up to date"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [x] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NET 4.5
- [ ] .NET

[2019-04-02 12:21] PuzzledRays commented on #1202
@SabotageAndi Thanks for getting back. Any reason as to why this error was not generated when I had initially upgraded to SpecFlow 2.3.2 (sometime last year), if this was a bug related to this version?

[2019-04-02 12:50] CpBobette commented on #1473
Thank you for the quick reply.

The documentation is a bit confusing, and I thought you could still use app.config to specify the unit test provider.

I have two projects using Specflow.MsTest and 1 using SpecFlow and NUnit 3.11.
In order to build the project, I need to reference NUnit in all the projects,.
I have those nugets in the solution and MsBuild Generation Set and deactivated the Custom T

[2019-04-02 12:56] SabotageAndi commented on #1479
We are working on it. We didn't expect so much plugins out there and that they migrate so fast to SpecFlow 3.0.

[2019-04-02 12:59] Nagendracv commented on #1475
The following documentations are then misleading. Please have it updated.
https://specflow.org/plus/documentation/Migrating-to-SpecFlow-Runner/

also in https://specflow.org/2019/updating-to-specflow-3/
It needs to be updated that if the elements in app.config are not removed, it needs to be removed manually.

[2019-04-02 13:02] Nagendracv commented on #1475
Now I get the following erro...
'SpecRun.exe' is not recognized as an internal or external command
Which means specrun path has not got installed properly as well.

[2019-04-02 13:06] CpBobette commented on #1473
I managed to fix my issue.

I uninstalled everything related to Specflow and started by installing NUnit in the project needing it.
I then used Specflow.MsTest and Specflow.Nunit (not Specflow).

I am uncertain of what happened there, I will try to build a repro and upload it.

[2019-04-02 13:11] erlis commented on #1469
Quick update!

I removed everything and installed SpecFlow version 2.4.1 and everything works now, go figure!

Something with version 3 is causing my weird compilation error.

![image](https://user-images.githubusercontent.com/137626/55405033-3868f980-5527-11e9-9382-75102f06aa19.png)

[2019-04-02 13:17] Stephen-Mc commented on #1472
Do you meant this?

![Expand-in-feature-file](https://user-images.githubusercontent.com/11058269/55405470-6f0c3780-555a-11e9-95b1-745a549a1a7b.png)

[2019-04-02 13:30] Stephen-Mc commented on #1475
You need to remove the Custom Tool entry from your feature files, as described [in the link in the error](https://specflow.org/documentation/Generate-Tests-from-MsBuild/) when using the MSBuild integration.

You are right, the migrating chapter in the documentation is out of date and no longer applies to SpecFlow 3. You need to install just one of the unit test provider packages (in this case `Spe

[2019-04-02 13:31] midgetgem commented on #1472
Yes!  That doesn't work for me now, there's no little minus and they don't
collapse when I use the edit menu or keyboard shortcut.  It stopped working
when the Specflow for Visual Studio 2017 extension updated yesterday.

On Tue, Apr 2, 2019 at 2:17 PM Stephen McCafferty <notifications@github.com>
wrote:

[2019-04-02 14:01] Stephen-Mc commented on #1478
The new VSIX for SpecFlow 3 is not compatible with SpecFlow versions lower than 2.3.2. You will need to manually install an older version of the extension from [here](https://github.com/techtalk/SpecFlow.VisualStudio/releases). Make sure that you disable the option to automatically update extensions to prevent the extension from automatically updating again.

1. Select Tools | Extensions and Updat

[2019-04-02 14:29] ParagRaut opened #1480 "After upgrade of VS Specflow plugin to V3, Generation mode under code behind file generation missing AppDomain option"
I'm using custom plugin to generate code behind files, currently that plugin only works if the generation mode is selected as AppDomain. After auto upgrade (which is annoying) I cannot see AppDomain option anymore

![image](https://user-images.githubusercontent.com/16030809/55410440-25284f00-5564-11e9-8484-0279c96c9531.png)

I also lost ability to right click to run the specflow feature file optio

[2019-04-02 14:46] rik-smeets commented on #1457
I experience this issue too. It seems to be caused by the new way in which the generated code is not longer included in the `.csproj`. If you click on the test, you will see 'Source: no source available'.

Previously, the generated code was part of the `.csproj` like this:
[code]

If you keep this code in the projectfile for your feature files after migrating, opening the test from the test explor

[2019-04-02 14:48] StarWars999123 commented on #1479
I agree with it. But as far as I understood, app.config should still be usable for NetFramework 4.6 projects, but for Plugins it does not work.

[2019-04-02 15:17] Nagendracv commented on #1475
Thanks All!
Finally managed to compile and restart the work on my project with specflow+ using Specflow 3.0.
Though I still get the error... which is still fine as i know the path of specrun.exe
'SpecRun.exe' is not recognized as an internal or external command

[2019-04-02 17:20] johns397 commented on #1460
Yes, I saw that but I don't want to upgrade to SpecFlow 3 if I don't have to (and don't have the bandwidth to test this)   Will this fix be released on SpecFlow 2.4.0.x?

[2019-04-02 17:25] SabotageAndi commented on #1460
@johns397 this issue has nothing to do with SpecFlow 3 or 2.4. It is in the VS Extension. You will get the update automatically when it is published to the marketplace.

[2019-04-02 17:39] ds12will opened #1481 "Automated Upgrade Specflow Extention Breaks Bindings"
### SpecFlow Version:
- [ ] 3.0
- [x ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ x]	NUnit
- [ ]	Xunit

Version number: 3.11

### Visual Studio Version
- [ ] VS 2019
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ x]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4.5
- [ ]

[2019-04-02 17:43] xDazedx commented on #1474
Andi - I am going to put this on hold for now.

[2019-04-02 17:43] SabotageAndi commented on #1457
I repeat, I need a project to reproduce this issue. Complete to clone from where, no step for step description.

Jumping from the test explorer to the feature file works in the SpecFlow solution. There we are using xUnit.

So please provide us one. Thanks!

[2019-04-02 17:45] StarWars999123 commented on #1460
When will we receive an update @SabotageAndi ? Do you have any plan for this yet?

[2019-04-02 17:50] xDazedx opened #1482 "After Upgrade - Unable to See Tests In VS"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
SpecRun.Runner.3.0.255

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .N

[2019-04-02 17:51] SabotageAndi commented on #1480
Removing the AppDomain generation mode is one of the breaking changes we announced in Oktober 2018 (https://specflow.org/2018/vs-integration-breaking-changes-affects-all-users/).

You will need to manually install an older version of the extension from [here](https://github.com/techtalk/SpecFlow.VisualStudio/releases). Make sure that you disable the option to automatically update extensions to pre

[2019-04-02 17:52] SabotageAndi commented on #1482
Anything in the test output?

[2019-04-02 17:52] SabotageAndi commented on #1482
Btw, unitTestProvider and plugins aren't anymore set in the app.config.

[2019-04-02 17:53] ds12will commented on #1481
I think this is the same issue as - https://github.com/techtalk/SpecFlow/issues/1460

But this does seem to be a very BIG issue that's impacting many people that use SpecFlow

[2019-04-02 17:56] xDazedx commented on #1482
Yeah I saw it was optional but I am not using the json file. I thought it was needed if not using that? I commented it out and rebuilt. No go.

output
========== Build: 2 succeeded, 0 failed, 0 up-to-date, 0 skipped ==========

[2019-04-02 17:57] StarWars999123 commented on #1470
I have a similar issue and it occurs for me with NUnit tests too.
(Version of Specflow Extension: 2019.0.9.466399)

[2019-04-02 18:01] SabotageAndi commented on #1460
@StarWars999123 Extension will get updated automatically.
I am currently at a conference in London (and it's 7:00 pm here currently). I hope I find tomorrow morning some time to upload the extension to the market place.

[2019-04-02 18:02] SabotageAndi commented on #1482
Thats the output from the build pane. I would like to see it from the test pane.
![image](https://user-images.githubusercontent.com/859801/55425236-d980a000-5579-11e9-8fc0-46d15c48fe78.png)

[2019-04-02 18:03] SabotageAndi commented on #1481
Fix is already in the preview extension gallery. See https://github.com/techtalk/SpecFlow/issues/1460#issuecomment-478476123

Release to the marketplace will be in the next days.

[2019-04-02 18:03] #1481 closed

[2019-04-02 18:05] SabotageAndi commented on #1475
@Nagendracv If you use `<PackageReference>` runtests.cmd can not work, as there is no local package folder.

`vstest.console.exe` and `dotnet test` are working for command line execution.

[2019-04-02 18:07] SabotageAndi commented on #1470
We have some MSBuild examples (https://github.com/techtalk/SpecFlow-Examples/tree/master/MSBuild). I would compare them with your project @yohny.
Without project to reproduce it, I am currently out of ideas.

[2019-04-02 18:26] StarWars999123 commented on #1470
@SabotageAndi Those seam not to be up to date: https://github.com/techtalk/SpecFlow-Examples/blob/master/MSBuild/OldCSProj_SpecFlow232/OldCSProj_SpecFlow232/App.config references the <unitTestProvider> Element.

[2019-04-02 18:30] ds12will commented on #1460
@SabotageAndi Thank you for quickly responding to this as I'm sure you'll get many of these

[2019-04-02 18:38] StarWars999123 commented on #1470
That might have been helpful! In my case, I installed the build generator package after I added the entry:
[code]
After I moved the entry within the .csproj file to the end again, it works now. Thanks @SabotageAndi

[2019-04-02 18:51] StarWars999123 commented on #1460
I just wanted to know, whether it might be days, weeks or even month, until we get a release.
Sounds perfect. I hope you are able to see something from the conference at least! Thank you very much!

[2019-04-02 18:55] SabotageAndi commented on #1470
Probably not. Nuget adds the imports from package update/install always at the end.
Using PackageReference in the old- project system might minimize this problem.

[2019-04-02 19:42] xDazedx commented on #1482
Missed that!

[4/2/2019 1:40:56 PM Informational] ------ Discover test started ------
[4/2/2019 1:40:59 PM Warning] No test is available in C:\TFS\Path\Dev\Test\Automation\UI\Path\Tests\bin\Debug\Tests.dll. Make sure that test discoverer & executors are registered and platform & framework version settings are appropriate and try again.
[4/2/2019 1:41:00 PM Informational] ========== Discover test f

[2019-04-02 19:45] yohny commented on #1470
I will try to create a mininmal repro project as I can not provide the original project. Anyway in my case the `AfterUpdateFeatureFilesInProject` target is already at the end of .csproj (and it seems to work as I can see the tests in resulting assembly)

[2019-04-02 20:20] SabotageAndi commented on #1482
Ok, looks like it isn't loading the test adapter at all.
Which NuGet packages do you have installed?

[2019-04-02 21:04] xDazedx commented on #1482
Here is what I have.....
![2019-04-02_15-03-30](https://user-images.githubusercontent.com/12139018/55436077-99f58c00-5558-11e9-80b6-f356b8799fad.png)

[2019-04-02 22:01] xDazedx commented on #1482
Then for grins I downgraded to the below. If I try and update all, I get this:
Error		Unable to resolve dependencies. 'SpecFlow 3.0.188' is not compatible with 'SpecRun.SpecFlow.2-4-0 3.0.255 constraint: SpecFlow (>= 2.4.0 && < 2.5.0)'.

![specflow3](https://user-images.githubusercontent.com/12139018/55438984-64ed3780-5560-11e9-8412-840c5033455d.png)

[2019-04-02 22:35] xDazedx commented on #1482
Removed everything again and just followed https://specflow.org/getting-started/#InstallSetup

Notice I still have two SpecRun.SpecFlow?

Output
[4/2/2019 4:34:39 PM Informational] ------ Discover test started ------
[4/2/2019 4:34:43 PM Warning] No test is available in C:\TFS\Dev\Test\Automation\UI\Tests\bin\Debug\Tests.dll. Make sure that test discoverer & executors are registered and platform &

[2019-04-03 00:43] dcdraper commented on #1457
@SabotageAndi I will try to create a test project when I get a chance to do so :-( Sorry I cannot do that right now, since I really do not want to move away from SpecFlow.
I am using Nunit, as indicated in my initial report.

[2019-04-03 07:42] Cylox commented on #1479
Note that generator plugins now need at least .NET 4.7.1, also had to find that out the hard way.

[2019-04-03 07:47] Cylox commented on #1476
@SabotageAndi I was able to fix my plugin due to the guidance you provided with the plugins contained within the SpecFlow repo.
@zplan It basically boils down to copying and adapting the .props and .targets files from the build directory. Instead of specifying the path in the app.config, specify the path in the .targets file.

One really great improvement by the way is the generation speed of the

[2019-04-03 07:48] SabotageAndi commented on #1476
@Cylox good to hear that you was successful.

[2019-04-03 07:50] Cylox commented on #1479
I have the very strong feeling that the fast updates are due to the per default enabled breaking update of the VS SpecFlow extension. At least this is the reason I'm currently working on the update.

[2019-04-03 07:57] Cylox commented on #1460
We make heavy re-use of step definitions through step assemblies and this hit us quite hard since we had to roll back the version manually on all dev and tester machines.

[2019-04-03 08:11] Cylox commented on #1470
I have seen the same problem today and the reason for me was that the NUnit.Engine package was updated to a version > 3.9.0 which is not compatible with the NUnit3TestAdapter package. In that case assembly load failures are logged in the Test Output Window. Unfortunately there is no test adapter package available which currently supports versions of NUnit.Engine > 3.9.0, so I had to downgrade the

[2019-04-03 10:07] #1468 closed

[2019-04-03 11:17] ParagRaut commented on #1480
Thanks for reply Andi, I am using Specflow 2.4 when the plugin got updated. After update I lost ability to also run/debug Specflow feature directly by right clicking file from solution explorer. That’s something many people use

[2019-04-03 11:44] Shamshiel commented on #1479
Has someone an idea how to get Specflow to pick up a Runtime plugin in .NET Core only with specflow.json?

[code]

Is the syntax correct? If I reference my Plugin project directly it works but as a Nuget package it doesnt'.

[2019-04-03 11:52] nuzolx commented on #1476
@Cylox how did you load plugins?
specflow.json or something in the csproj?

[2019-04-03 12:20] Cylox commented on #1476
@nuzolx I added the necessary build files to the plugin package, just like it is done with the plugins that re contained within the specflow repository. Then I removed all plugin sections from the app.config files in the tests that use the plugin. I have only verified the generator functionality of the plugin so far, but I have also a runtime plugin whose functionality I have not verified yet.
For

[2019-04-03 12:34] xDazedx commented on #1482
Resolved - For anyone else facing this issue, here is something to look at.

Our solutions have 2 projects in them. One project is specific to Selenium and the other is SpecFlow.  When upgrading, I only made the below change in the SpecFlow csproj file because the other has no references to SpecFlow.  This morning I thought I would add it to the other csproj file for grins and this built everythin

[2019-04-03 12:34] #1482 closed

[2019-04-03 12:41] nuzolx commented on #1476
@Cylox Sorry but this to me seems a little too magical. You have to include the plugin at some point for it to be used, right?

[2019-04-03 14:01] oanguin opened #1484 "Specflow Feature Files Generation Error"
### SpecFlow Version:
- [x] 3.0
- [ ] 2.4
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:

### Visual Studio Version
- [ ] VS 2019
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4.5
- [ ]	before .NE

[2019-04-03 14:57] SabotageAndi commented on #1480
@ParagRaut We had to remove these 2 context menu entries, because Microsoft removed APIs from Visual Studio 2019 that we used. See https://specflow.org/2019/changes-to-the-specflow-visual-studio-extension/

SpecFlow 2.4 should work with the OutOfProcess Generation. The extension supports SpecFlow >= 2.3.1.
But the best for you would be to switch to MSBuild integration to generate the code-behind f

[2019-04-03 15:33] Nagendracv opened #1485 ""specflow+" scenarios getting "skipped" with specflow "3""
![image](https://user-images.githubusercontent.com/19173124/55491746-185b3800-5604-11e9-9f5b-12d5733cd2ca.png)

Without giving any reason, tests are getting skipped with Specflow+ and Specflow 3.0

Im using VS 2017
Latest updates
.Net 4.6.2
Launched test on commandline on desktop

[2019-04-03 16:20] #1475 closed

[2019-04-03 16:26] Nagendracv commented on #1485
Please ignore.
The documentation for .srprofile needs better documentation with samples on how to use.
My setting was
''''
<Execution stopAfterFailures="3" testThreadCount="1" testSchedulingMode="Sequential" />
''''
As a suggestion, the default .srprofile which gets created must contain retryCount rather than stopAfterFailures

[2019-04-03 16:26] #1485 closed

[2019-04-03 17:38] johns397 commented on #1460
I have turned off auto-updates for this extension after being 'burned' by the one last week!  I was just getting ready to use a SpecFlow test for a demo when the extension auto-updated and caused me problems.   [Today I picked up the preview version and it does seem to fix the problem.  I hope in the future you have a unit test for this so that this kind of problem doesn't get released to the user

[2019-04-03 17:51] xDazedx commented on #1474
Ok Andi - I fixed my SpecFlow 3 beta solution upgrade so I finally feel good posting accurately about this. The below is what my .srprofile looks like and in Jenkins, we are still returning "TestRunReport.htm". I am renaming it and moving it in Jenkins but I wanted to point it out to you guys.

`
<?xml version="1.0" encoding="utf-8"?>
<TestProfile xmlns="http://www.specrun.com/schemas/2011/09/Test

[2019-04-03 18:53] okyrylenko opened #1486 "Steps are displayed as binding while there is no step definition exist when using Scenario Outline"
### SpecFlow Version:
- [ ] 3.0
- [ ] 2.4
- [ X] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ ] VS 2019
- [ X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ X]	No

### .NET Framework:
- [ X]	>= .NET 4.5
- [ ]	befor

[2019-04-03 19:45] SabotageAndi commented on #1485
@Stephen-Mc can you have a look at this?

[2019-04-03 19:52] SabotageAndi commented on #1460
@johns397 this is an open source project. We are happy to receive PRs that increase our stability.
The repo for the Visual Studio extension is here: https://github.com/techtalk/SpecFlow.visualStudio/

We had about more than 100 users of the preview extension and nobody filed an issue about it.

[2019-04-03 19:54] SabotageAndi commented on #1474
Ok, nothing unusual here.

@david1995 please have a look at this. Thanks!

[2019-04-03 19:56] SabotageAndi commented on #1479
You don't configure it anymore. It has to be in the output directory and end with `.SpecFlowPlugin.dll`.
See https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Plugins/RuntimePluginLocator.cs#L33

To get it copied via a NuGet package, you need some MSBuild magic. Something like this: https://github.com/techtalk/SpecFlow/blob/master/Plugins/TechTalk.SpecFlow.MSTest.Generator.SpecFlo

[2019-04-03 20:07] zplan commented on #1479
I am getting more confused now.
We have the scenario, that we have our own MSTest-Generator but we use the MSTest-Runtime from Specflow.

To have the MSTest-Runtime from Specflow, I have to install the Specflow.MSTest nuget package and within this package, the MS-Test Generator from Specflow gets installed automatically via MSBuild. How can I now only use the Runtime with our own Generator? Do I h

[2019-04-03 20:49] FestTestQA commented on #1478
Many thanks for taking the time to help me out :)
That resolved our issues.

[2019-04-03 20:51] SabotageAndi opened #1487 "Remove Generator Fallback from VS Extension"
The VS Extension has a fallback to the integrated generator when it can't detect the used SpecFlow version. This is irritating users and should be removed.

[2019-04-03 21:01] SabotageAndi commented on #1479
@zplan What are your changes to the MSTest- Generator? Perhaps it makes sense to contribute it back?
If not, you have to create your own NuGet package and package our MSTest Runtime package into it.

[2019-04-03 21:56] ParagRaut commented on #1480
Hi Andi I tried generating code behind files by using MsBuild integration method and I see feature.cs is generated in file system on disk but it’s not visible/included in project as code behind linked to the feature. So ultimately the tests are not shown in MsTest window :(
I tried disabling Legacy single file generator and removing same from feature file property, in short I did exactly as mentio

[2019-04-03 21:57] SabotageAndi commented on #1480
Did you add the Target at the end of the csproj?

[2019-04-03 22:03] ParagRaut commented on #1480
I think I did, I also looked at sample projects provided (Bowling ones) they don’t have it included in their csproj files, still they work. So I also removed them from my project.

Also one more thing I observed is when I try to use unitTestProvider tag in either app.config or specflow.json it throws error on compile times stating it cannot identify unitTestProvider and plugin tag. I have to remov

[2019-04-03 22:09] SabotageAndi commented on #1480
@ParagRaut unitTestProvider is removed from the config (see https://specflow.org/2019/updating-to-specflow-3)

Which example has no Target? We wanted to update all examples to use MSBuild generation, like https://github.com/techtalk/SpecFlow-Examples/blob/master/BowlingKata/BowlingKata-MsTest/Bowling.SpecFlow/Bowling.SpecFlow.csproj#L125.

[2019-04-03 22:31] ParagRaut commented on #1480
Hi Andi, I saw it here
https://github.com/techtalk/SpecFlow-Examples/blob/master/SpecFlow.json/BowlingKata-SpecFlowJson-MsTest/Bowling.SpecFlowMsTest/Bowling.SpecFlowMsTest.csproj

Target is full framework 4.7 and no target like your example is mentioned

[2019-04-03 22:35] ParagRaut commented on #1480
Oh sorry, I got confused. It’s traditional style project vs. sdk style project difference. I got it now

[2019-04-04 02:16] nzgeek opened #1488 "SpecFlow license URL points to YOURLS license"
### SpecFlow Version:
- [x] 3.0
- [x] 2.4
- [x] 2.3
- [x]	2.2
- [x]	2.1
- [x]	2.0
- [ ]	1.9

### Issue Description
The license URL in the `.nuspec` file for SpecFlow points to [http://go.specflow.org/license](http://go.specflow.org/license). This is the URL that's picked up by NuGet.org when displaying info for the [SpecFlow package](https://www.nuget.org/packages/SpecFlow).

When visiting this UR

[2019-04-04 05:25] nuzolx commented on #1476
Andy idea how to debug custom plugin? Before it was possible to attach to VS AppDomain but right now...no idea.

[2019-04-04 05:44] Cylox commented on #1479
You don't have to reference the SpecFlow.MSTest nuget package in order to use the MSTest generator functionality in your own plugin. The generators are included in the standard SpecFlow nuget package, all the generator plugin packages just alter the configuration to tell specflow to use the desired generator. Just have a look at the generator plugins, you'll find out that they are more or less one

[2019-04-04 06:59] SabotageAndi commented on #1488
Thanks for pointing this out.
No idea why the url broke.