[2017-10-13 12:22] alexandis commented on #643
Hi. Not to create a separate question I am asking here: how to MAKE SURE WebDriver is disposed (I use Selenium with SpecFlow) in [AfterTestRun] method IF EXCEPTION HAPPENS during test running? I want it to happen properly both when running from VS and running in any other way.
Thanks.
P.S. Currently I've discovered a lot of zombie IEDriverServer instances in memory after several test failures even

[2017-10-14 02:21] icnocop opened #955 "Ability to generate a test class inheriting from a base class"
SpecFlow v2.2
MSTest 2015
Visual Studio 2015 Update 3
.NET Framework 4.6.1

I'd like to have the option for the generated test classes to automatically inherit from a base class.

What I'm currently doing is manually defining the base class of the generated partial test class in a separate file in my project.

This becomes "annoying" when I have more than a dozen features that need to inherit from

[2017-10-14 17:47] RichLinnell commented on #955
Is it not possible to perform the file deployment in a ```[Before]``` step?

[2017-10-14 17:56] olegkov commented on #857
had the same problem just now but luckily it already worked on another project on VS2017.
my solution was to downgrade Nunit to 3.6.0.0 for that project

it appears that NUnit.Framework.TestFixtureAttribute is something that is not present in Nunit 3.8.1.0
it now works for me without issues

[2017-10-14 18:53] icnocop commented on #955
No, the `DeploymentItem` attribute doesn't take affect when put on a `[Before]` step.

[2017-10-14 19:33] RichLinnell commented on #955
ah, yes I see, I wasn't aware of this MSTest attribute.  I did notice though when I read about it in this article that you can actually configure MSTest to run in the build folder (see step 3) https://msdn.microsoft.com/en-us/library/ms182475.aspx

[2017-10-16 11:23] evilC commented on #863
Can you give us an estimate as to when this new version will be available?
This bug causes me considerable inconvenience on a daily basis. In 2 hours work so far today I have had to restart VS 5 times already!
I am pretty flabbergasted at the attitude towards this bug - how can an issue that causes multiple crashes on a daily basis be known about for years but no fix pushed?
Also, this issue appea

[2017-10-16 11:35] Stephen-Mc commented on #863
Hey evilC,

SpecFlow is open source, and relies on users contributing to the source code for development. If a bug is causing you headaches, then that should be all the motivation you need to grab the repo and start fixing it.

[2017-10-16 11:58] evilC commented on #863
OK, we are going to try to get one of our devs to look at it next week - can you maybe supply us with whatever information you have gathered about the root causes of this bug?

[2017-10-16 12:37] SabotageAndi commented on #863
Sources of the VS Integration are here: https://github.com/techtalk/SpecFlow.VisualStudio
Prerequisites and debugging should be documented in the readme.md.

No idea what the root cause is of this error. Never found the time to look at it. Sorry.
@gasparnagy anything you could remember?

@evilC If you have problems to start working on the VS Integration, ping me on our Gitter channel.

[2017-10-16 14:35] evilC commented on #863
Taking a brief look at the error and the code, it looks like GetFileScope is being called while the GherkinLanguageService instance is disposed.
So in order to fix, I am unclear which avenue we should be pursuing...

Should we be trying to stop it being Disposed?
Should we be trying to make it gracefully back out if GetFileScope is called while it is disposed?

ie, what would happen if we changed

[2017-10-16 16:41] rolfea opened #956 "Ignore entire Feature file with @ignore tag"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number: 2.1.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2017-10-16 20:10] nemesv opened #957 ""copy" feature in the step definition report is not working in modern browsers"
![image](https://user-images.githubusercontent.com/251330/31632670-10d624e0-b2be-11e7-88dd-75fa2b29766f.png)

### SpecFlow Version:
- [x]	2.2
- [x]	2.1
- [x]	2.0
- [x]	1.9

### Issue Description

The `copy`  functionality is currently problematic at least 3 ways:

- the copy is no longer working in modern browsers (FF56, Chrome 61, Edge), I get a warning popup with the text:

Your browser doesn't

[2017-10-17 07:10] #915 closed

[2017-10-17 07:13] SabotageAndi commented on #915
@SamJongenelen I merged a fix from @nemesv for this (#958) into master. Could you check it also?
Thanks!

[2017-10-17 09:19] goblinmaks commented on #943
Andreas, did you had time to look at this issue ?
Please notify in case if I can help..

Thanks,

[2017-10-17 12:29] SabotageAndi commented on #833
So it took a little bit longer as expected, but with the today released pre-release of SpecFlow+Runner (1.7.0-rc001), we added this feature.
Be aware that this is currently to be seen as experimental and could be changed or removed from the runner.
It is also only available when you execute the tests via VSTest (VisualStudio, TFS/VSTS or vstest.console.exe).

We added a new configuration for VSTes

[2017-10-17 12:29] SabotageAndi commented on #836
@serialbandicoot please have a look at https://github.com/techtalk/SpecFlow/issues/833#issuecomment-337215550
We added a feature for this.

[2017-10-17 12:37] SabotageAndi commented on #943
Sorry to not coming back to you earlier.
You are using SharedAppDomain in this project. With this threadIsolation we can not assign the Console output to the correct thread and so to the correct scenario. This is a limitation, that will be fixed in the future.
As workaround until then I suggest to switch to AppDomain threadIsolation.

[2017-10-17 18:55] robbaman commented on #820
I'm a bit confused, has this issue been resolved already? I'm using v2.2.1 of the SpecFlow NuGet package and v2017.1.6 but in VS2017 using a test project with the new project format doesn't generate the code behind files for my .feature files.

[2017-10-17 18:57] SabotageAndi commented on #820
@robbaman There is only support for the new project system in the MSBuild integration (http://specflow.org/documentation/Generate-Tests-from-MsBuild/). And this is limited.

[2017-10-17 19:13] robbaman commented on #820
Ah I see, this solution kind of feels like a hack at the moment. The instructions on the page don't seem to work exactly as provided (for instance my packages are apparently stored in a shared ```.nuget``` folder instead of in the ```..\packages``` folder.

Is there any ETA on when (if ever) the VS2017 plugin will simply work again with the custom tool?

Thanks for the quick reply btw :)

[2017-10-17 19:15] SabotageAndi commented on #820
@robbaman No, no ETA. Probably never, as when we are finished with .NET Core support (https://github.com/techtalk/SpecFlow/projects/2) the code-behind files will be gone.

[2017-10-17 20:16] JasonArm commented on #936
Using Specflow 2.2.2 with MSTest framework:
Since updating, I have had a similar problem at the end of the scenario, but in this case both `ScenarioContext.Current` and `FeatureContext.Current` are null.  I can just about understand the removal of ScenarioContext at that point; although  it leaves us with no hook between AfterStep and AfterScenario to do any scenario clean-up/admin work.  But, in

[2017-10-17 20:19] robbaman commented on #820
I may have missed it, but is there any documentation on the recommended workflow in the new project system.

I mean, if adding the VS addon and the NuGet package alone does not work, what other steps are required to make it work.

I suppose I can just use the old project system for my test projects for now, but Id prefer to use the latest and greatest...

[2017-10-17 20:32] SabotageAndi commented on #820
No, there isn't any documentation for it.
I have it working in a project, by using the MSBuild integration and some changes to the target files.

I will have a look if somebody can document this. But this could take some time. In the meantime I would stick to the old project system.

[2017-10-18 06:39] robbaman commented on #820
Alright, thanks for the quick response.

[2017-10-19 10:29] omrihaim opened #959 "IBindingInstanceResolver EOL"
The latest version of SpecFlow removed the support for IBindingAssemblyLoader, and the alternative wasn't documented. I suggest updating the documentation on ITestObjectResolver, and considering returning the IBindingAssemblyLoader interface also to support plugins for previous versions (SpecFlow.AutoFac and SpecFlow.Unity)

### SpecFlow Version:
- [x ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used

[2017-10-19 10:31] SabotageAndi commented on #959
Why do you think we removed support for it?
It is still here: https://github.com/techtalk/SpecFlow/search?utf8=%E2%9C%93&q=IBindingAssemblyLoader&type=

[2017-10-19 11:56] omrihaim commented on #959
Sorry, I meant IBindingInstanceResolver that enabled replacing underlying IoC solution.

[2017-10-19 12:00] SabotageAndi commented on #959
Ah, ok. I think we renamed it with SpecFlow 2.2, but I can't remember the new name.
@gasparnagy You did probably this change. Any idea how it is called now?
And you should update SpecFlow.AutoFac for 2.2. ;-)

[2017-10-19 12:17] omrihaim commented on #959
Thanks. I guess it was changed to ITestObjectResolver, and defiantly a new version for 2.2 would be great :)

[2017-10-19 12:24] SabotageAndi commented on #959
The sources for SpecFlow.Autofac are here: https://github.com/gasparnagy/SpecFlow.Autofac
You could update it and send @gasparnagy a pull request.

[2017-10-19 12:27] omrihaim commented on #959
You are right :)
Will do!

[2017-10-23 12:47] Icaroto commented on #688
Hi I'm having a similar issue but on my case, replacing the [StepDefinition(@)] didn't work. This is the full error:

[code]
Is it related or is something completely different?
Specflow 2.2.0 and 2.2.1

[2017-10-23 13:47] mazum opened #960 "Only 1 Target is detected by the specrun, although I used 2 targets in srprofile"
I am using following feature file:

[code]
**SR Profile:**
[code]

**App.Config:**

[code]

**Issue:** All the SR Profile targets are not created. Only 1 is created.

[2017-10-23 13:59] SabotageAndi commented on #960
Could you post a screenshot of the scenarios you are seeing?

[2017-10-23 16:22] adamfriedland opened #961 "The type 'System.Object' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.Runtime'."
### SpecFlow Version:
- [x]	2.2
- [x]	2.1
- [x]	2.0
- [x]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 2.1.15

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [ ]	V

[2017-10-23 17:01] SabotageAndi commented on #961
This is an issue with the SpecFlow+Runner at the generation of the result report.
If you don't need/want the reports, you could disable the generation of them in the srProfile (see http://specflow.org/plus/documentation/Report/).

[2017-10-23 18:23] erapopor commented on #922
This is now working in Visual Studio 2017 build 15.3.5.  The issue can be closed.

[2017-10-23 18:24] erapopor commented on #923
This is now working in Visual Studio 2017 build 15.3.5.  The issue can be closed.

[2017-10-24 06:58] #923 closed

[2017-10-24 06:58] #922 closed

[2017-10-24 08:11] adamfriedland commented on #961
Thank you @SabotageAndi that does seem to have solved my issue. Just out of general curiosity though, is there a reason this only breaks on the 2017 test runner when it worked fine on the 2015 version of it?

[2017-10-24 08:58] SabotageAndi commented on #961
No, this should not break.
You are not alone, we got from somebody else the same error message via a support ticket. I wasn't yet able to reproduce this. It is probably something with assembly resolving during the compile and run of the report razor template.

[2017-10-24 09:28] VincentSpecflow opened #962 "Specflow issue with the debug execution order of the scenarios"
Specflow issue with the debug execution order of the scenarios

### SpecFlow Version:
- [ ]	2.2
- [x]	2.1
- [ ]	2.0
- [ ]	1.9

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Issue Description

[code]
Hi everybody,

Above is an example of my FEATURE.feature file, which contains a bunch of scenarios. Running my test (

[2017-10-24 10:48] mazum commented on #960
PFA the screenshots of the scenario.
![specflow_issue](https://user-images.githubusercontent.com/25652798/31939058-05599e92-b905-11e7-9ba2-dcb21ef54c92.png)

[2017-10-24 12:27] gasparnagy commented on #936
@JasonArm I am not aware of any changes in v2.2.1 that would change the availabilit of ScenarioContex or FeatureContext in an AfterScenario hook. They should not be null! Please double check and if you still experience this behavior than create a new issue for that.

Here we were only talking about the availability of the test context in the scenario context. Since the generated code adds it to th

[2017-10-24 12:43] gasparnagy commented on #955
@icnocop @RichLinnell I think this is a perfect example when you can write a small generator plugin that works in your project context.

See the doc here: http://specflow.org/documentation/Plugins/

You can also see a similar example here: http://blog.majcica.com/2015/05/07/getting-started-with-specflow-and-codedui/

(I am closing this, but feel free to reopen if the plugin idea does not work.)

[2017-10-24 12:43] #955 closed

[2017-10-24 13:23] SabotageAndi commented on #960
I had a look at this. And it is working for me:
![image](https://user-images.githubusercontent.com/859801/31945360-43b67696-b8cf-11e7-879e-d99a1f2faf34.png)

I put the repo project here: https://github.com/SabotageAndi/GH960

Could you compare it with your project?

[2017-10-24 13:35] gasparnagy commented on #863
@evilC it would probably just work. do you want to make a PR and check out the integration package generated by the build?

[2017-10-24 15:35] Dreamescaper commented on #893
Any reason not to use existing [Obsolete] attribute for that?

[2017-10-24 16:10] SabotageAndi commented on #950
Resolved with #951

[2017-10-24 16:10] #950 closed

[2017-10-25 13:22] mazum commented on #960
Thanks Andy. The issue is resolved. The File Properties of Default.srprofile had issue. "Copy to Output Directory" was marked "Do not copy". So, specrun never got srprofile to work on.

Thanks again for your help.

[2017-10-25 13:22] #960 closed

[2017-10-25 13:23] SabotageAndi commented on #960
Glad that I could help and that there is no bug for me to fix. ;-)

[2017-10-26 02:41] mazum commented on #960
Hi Andy,

I am guilty of going off topic now. But anyways, do we have spec flow for
Visual Studio for Mac?

Regards,

Abhi.

On Thu, 26 Oct 2017 at 12:23 am, Andreas Willich <notifications@github.com>
wrote:

--
Regards,

*Abhishek Mazumder*
+61-0469 861 356

[2017-10-26 11:56] StarWars999123 opened #964 "Idea: Run definition report on solution"
### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [X]	VS 2017
- [X]	VS 2015
- [ ]	VS 2013
### .NET Framework:
- [X]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [ ]	Visual Studio Test Explorer
- [ ]	TFS/VSTS – Task – PLEASE SPECIFY THE NAME OF THE TASK
- [X]	Command line –

### Issue Description
A large solution contains all

[2017-10-26 12:34] BlythMeister commented on #930
@ChristopherHaws @gasparnagy @SabotageAndi Is there any way to get some traction on this (even if i need to help with raising a PR) as this is starting to become more critical for me.

I am more than happy to help code a solution to my issues if required :)

[2017-10-27 11:51] gasparnagy commented on #930
@BlythMeister A PR would be great. We could change the Newtonsoft.Json dependency to a lower version (like 7). On the other hand, as this will be an ongoing issue, we should make at least one Scenario Outline in the SpecFlow specs, that tries to access the config with different Newtonsoft.Json dependencies (from 7 to 10). These tests generate a project file in the temp folder and build them with m

[2017-10-30 22:06] vrushb opened #966 "When executing the test in Specflow Mstest Command prompt we are getting error 'Index was outside the bounds of the array' ."
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [ ]	Visual S

[2017-10-30 22:46] SabotageAndi commented on #966
Please fill out the issue template and not write all in the title.

[2017-10-30 22:48] vrushb commented on #966
When executing the test in Specflow Mstest Command prompt we are getting error 'Index was outside the bounds of the array' .
Here is the screenshot
![image](https://user-images.githubusercontent.com/32072026/32199442-c39c7ffe-bd89-11e7-9112-665847d3b468.png)

Tried with nunit3 3.6 and above doesn't work , Only 2.6.4 shows no errors but does not execute specflow tests.Any suggestions welcome

[2017-10-30 22:50] SabotageAndi commented on #966
MsTest.exe is used when you use MsTest as testing framework. If you want to use NUnit, use the NUnit console runner.

[2017-10-30 22:55] vrushb commented on #966
Yes I am doing same
"%ProgramFiles(x86)%\Microsoft Visual Studio 14\Common7\IDE\mstest.exe"
/testcontainer:Specs\bin\Debug\Specs.dll
/resultsfile:TestResult.trx

"...\NUnit-2.6.4\NUnit-2.6.4\bin>nunit-console.exe \bin\Debug\Specs.dll
/category=smoke
But no luck .
Can be an issue related to MSTestV2?

[2017-10-30 23:24] vrushb commented on #966
Any further suggestions or do you have any examples??

[2017-10-31 15:30] gasparnagy commented on #948
The same issue is present for GeneratorPlugins: the CustomizeDependencies is called twice

[2017-11-01 00:28] honeynair commented on #854
Hi,
I am also facing same issue and it is very much annoying.
I am using specflow 2.2.1 with visual studio 2015 along with nunit 3.8.1. I have upgraded my specflow and nunit recently to the above mentioned versions from previous versions specflow 1.9.0 and nunit 2.6.4. Any suggestion to fix this issue would be great help.

Thanks

[2017-11-01 04:00] gasparnagy commented on #966
@vrushb the MsTest tests should be normally called with `vstest.console`. `mstest.exe` is the old tool. maybe that shows a better error message...

[2017-11-01 19:02] vrushb commented on #966
You are right ! I could find the same answer and I can run it through vstest.console .I was completely unaware mstest.exe is old method .When I copy same vstest.console on server it does not work so calling it from same location when running on server. Is this again a version compatibility issue?
 Well Thanks for the response !

[2017-11-03 04:55] baskar3078 commented on #946
Am interested to contribute , let me know if I can take and work any.

[2017-11-03 08:48] SabotageAndi commented on #946
Sorry, I forgot to remove the labels. @david1995 is already working on this.

But there are a lot of other issues marked as 'up-for-grabs' https://github.com/techtalk/SpecFlow/labels/up-for-grabs or 'first-timers-only' https://github.com/techtalk/SpecFlow/labels/first-timers-only

[2017-11-03 10:06] forssen71 opened #970 "@ignore tag not working if more tags exist (XUnit)"
Sorry, ignore this issue....  new to specflow and I found what I did wrong.

[2017-11-03 10:15] #970 closed

[2017-11-03 11:57] pratishek commented on #888
I am trying to use @DamirAinullin plugin and it's throws the same error mentioned in the title:
#error Generation error: Exception has been thrown by the target of an invocation. -> Collection was modified; enumeration operation may not execute.

@SabotageAndi : Any update on this ?

[2017-11-03 16:25] SabotageAndi commented on #934
I did some work for this in the #971 PR.
Please have a look.

The props file isn't currently there. Any idea how to do this with a NuGet package so the end- user has not to change this values in his package folder but in his project folder?

[2017-11-03 20:32] ChristopherHaws commented on #934
@SabotageAndi Any property you add into a props file will be loaded first. Users can override these setting by simply setting them in their csproj directly.

Given the following props and csproj files, when running through msbuild, the effective value of TestProp would be Bar.

Foo.props
[code]

Foo.csproj
[code]

If the user wanted to change the settings for all the projects in their solution, th

[2017-11-03 20:38] SabotageAndi commented on #833
@ChristopherHaws Did you had any chance to have a look at this?

[2017-11-03 20:38] SabotageAndi commented on #836
@serialbandicoot  Did you had any chance to have a look at this?

[2017-11-03 21:00] ChristopherHaws commented on #833
@SabotageAndi I will take a look at this right now. Thanks for the update! :)

[2017-11-03 21:27] ChristopherHaws commented on #833
@SabotageAndi Would it be possible to have a `TestRetryResults` option similar to `Unified` that is for `AtleastOnce`? For example, with the current setup, if our retryCount was set to 3, we would need to know to set the passRate to 33.333 in order for this to work.

In our case, we only care if the test passes at least one time.

[2017-11-03 22:07] ChristopherHaws commented on #833
@SabotageAndi I am receiving the following error when trying to run the test:

[code]

If I remove the `VSTest` element it runs without issue.

**Packages.config**
[code]

**Default.srprofile**
[code]

[2017-11-04 01:06] aliaksandrbasau commented on #884
@gasparnagy I have checked your assumption from https://github.com/techtalk/SpecFlow/issues/884#issuecomment-314414958 and it's correct. When running tests from the same fixture in parallel, NUnit creates one instance of the fixture class, calls `FeatureSetup` (method with `TestFixtureSetUpAttribute`) and then runs the tests in parallel. All tests (even those that are running in different threads)

[2017-11-04 01:18] aliaksandrbasau commented on #894
@SabotageAndi Indeed. The issue is the same as #884. Although the original description of #884 is not correct because the issue will not reproduce with single thread and will reproduce even if the number of threads more than number of tests.
Feel free to close this issue if there are no objections from others and we will continue under #884.
I left a comment about the nature of the issue there.

[2017-11-04 10:07] serialbandicoot commented on #836
@SabotageAndi Hi - sorry not as yet, I've been away, I plan on trying this out on Monday. I'll jump on the gitter channel and feedback.

[2017-11-04 17:13] kriscoleman commented on #857
for me, I just had to delete the designer files completely, and then re-save the feature files (or right click -> run custom tool) to regenerate them

[2017-11-06 09:56] SabotageAndi commented on #836
@serialbandicoot There is a bug in it, so it doesn't currently work (see #833). Please wait until this is fixed.

[2017-11-08 05:55] sandermvanvliet commented on #820
I’ve got a temporary solution to get this to work for at-build code generation. You can read about it [here](https://codenizer.nl/vs2017-specflow-challenging/), note that it doesn’t “fix” the on-save code generation though

[2017-11-08 10:34] SabotageAndi commented on #820
I have created also an example for that, but it is not yet documented: https://github.com/techtalk/SpecFlow.Plus.Examples/blob/master/NewCSProjFormat/SpecFlowNewCSProjFormat/SpecFlowNewCSProjFormat.csproj

@sandermvanvliet You can use the normal Sdk="Microsoft.NET.Sdk". You don't need to split into two imports.

[2017-11-10 10:57] jsiegmund commented on #839
I think I'll just add to this one as my request is quite similar. For the final test outcome, it would be nice to control how the outcome is determined. In our case, our environment sometimes causes tests to fail the first time, but succeed the second time. I know that this is a bad place to start with and we should really fix that problem, and we're trying to do so. But in the meantime I've setup

[2017-11-10 17:31] tomheijmans opened #972 "AfterTestRun executed for every thread"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.6.3

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2017-11-11 11:06] SabotageAndi commented on #972
Yes, BeforeTestRun should be executed as many times as AfterTestRun. I will have a look at it.
Did you tried another TestThread- Isolation than SharedAppDomain?

[2017-11-13 08:06] tomheijmans commented on #972
Thanks for the quick reply. I tried AppDomain and Process TestThread- Isolation. They are both executed for every test thread. BeforeTestRun is executed as many times as AfterTest in this case.

[2017-11-13 08:19] SabotageAndi commented on #972
Ok, so only the SharedAppDomain isolation has this bug.

[2017-11-13 19:30] JnManso commented on #573
@lvermeulen is possible to share the xslt that you created? Thanks!

[2017-11-13 23:36] ParallelTestRunner commented on #966
Hi Vrushb, Andi and Gaspar

I also found this issue. But now I have found a workaround for this problem. What did I do? I simply re-created my automation project with Visual Studio 2015 (since the automation framework was already developed with Visual Studio 2017, I just re-used that code for creating the same framework with Visual Studio 2015). Then I opened the .sln and .csproj files (created wi

[2017-11-14 05:06] schoi1 commented on #932
Hi, I am still having the same issue with Specflow 2.2.1 and Nunit 3.8.1. Are those new packages still not compatible?

[2017-11-14 05:53] kyurkchyan commented on #820
@SabotageAndi Thanks for the example. I have one problem both in this project also in mine. If I generate the step definitions in the same folder as the feature file is, specflow won't recognize that all steps are bound, and the feature fill would always be purple. As soon as I move it to separate folder, everything works just fine. Any ideas why would that happen?

[2017-11-14 09:05] SabotageAndi commented on #820
@kyurkchyan We did nothing to support syntax highlighting with the new project format. This would be part of the Visual Studio Integration.
So it is more luck if something works.

[2017-11-14 09:07] SabotageAndi commented on #932
@schoi1 Could you create a project to reproduce the error please?

[2017-11-14 14:42] SabotageAndi commented on #934
So, props file is also included.

[2017-11-14 18:28] QAGal2 commented on #932
This issue continues to plague my team with VS2017 and nuget specflow 2.2.0 or 2.2.1. I suspect is more a VS2017 issue.  The best workaround I have found so far is to manually delete the OLDER nunit 3.0.x packages and older SpecFlow* pkgs  from the local  ../packages directory for your solution and rebuild. That sometimes cure the issue until the next GetLatest. Then somedays it works just fine fo

[2017-11-14 18:50] cesaralc commented on #966
Aseem,
 Thanks for your response on this .I will definitely try this and see how it works

[2017-11-14 20:15] SabotageAndi commented on #932
@QAGal2 could you provide us a project for reproduction? If not, it is hard to look at this issue.

[2017-11-14 20:22] QAGal2 commented on #932
Issue is currently gone..when it appears again, I will try to create a mini project. Here is a pic of packages.config in case that gives anyone insight.  https://www.screencast.com/t/63SVMbnWWPd6
We did not see this problem prior to VS2017.

[2017-11-15 13:30] dotnetninja10 opened #973 "SpecFlow failure in VS 2017"
Fresh installed vs 2017 15.4.3 and SpecFlow tools.
When opening Specflow example project or if creating new project and adding specflow feature error occurs.
SpecFlow+runner
.Net version 4.6

System.NullReferenceException: Object reference not set to an instance of an object.
   at TechTalk.SpecFlow.VsIntegration.LanguageService.ProjectScopeFactory.<.ctor>b__9_0()
   at TechTalk.SpecFlow.VsIntegra

[2017-11-15 20:18] kriscoleman opened #974 "Nunit3: TestFixtureSetUpAttribute does not exist in namespace NUnit.Framework"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
3.8.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2017-11-16 08:50] SabotageAndi commented on #974
Could you post the header of the code- behind file the next time you get the wrong Attributes?

[2017-11-16 13:22] MovGP0 commented on #930
I do not see the need to support such old versions of JSON.NET. If there is really an important legacy code that is not meant to be updated (that is: because it gets replaced soon), it's better to preserve an old Visual Studio version (ie. on an virtual machine) instead.

[2017-11-16 13:47] BlythMeister commented on #930
A fundamental part of the nuget ecosystem is you state a MINIMUM and MAXIMUM (optional) required version.
The minimum version required to do the operation specflow is doing is very very low.
and the maximum is any version of Json.Net

Because this is a MINIMUM a consumer can choose to use a higher version of Json as long as it's under the MAXIMUM.

HOWEVER, if you set the MINUMUM high, then a cons

[2017-11-16 14:15] MovGP0 commented on #828
This is how I use SpecFlow in .NET Core currently.

***.csproject**
The assembly `System.Configuration.ConfigurationManager` had to be added and it probably only works on Windows, since `SpecFlow` version 2.2.1 still depends on .NET Framework 4.6.1. Also using `SpecFlow.NetCore` as a pre-build target to invoke `specflow.exe`.
[code]
**app.config**
app.config must be added:
[code]

[2017-11-16 16:03] MovGP0 commented on #930
i am clearly aware of this. setting the minium version too low also causes compatibility issues, since every time a major version changes, something breaks. referencing Newtonsoft.Json version 9.0 causes potential problems with all libraries that are currently in development and therefore target Newtonsoft.Json 10.0.

Legacy projects that are not further developed should just stick with an old ver

[2017-11-16 16:06] BlythMeister commented on #930
Are you telling me there is a breaking change between version say 7 and 10 in the functions used by specflow....
There is no reason why when consuming specflow you can't also consume version 10 of JSON.
An assembly binding redirect will sort you right out and tooling like paket will even put it in for you automatically.

Setting as 9 (and not 7) means someone on 7 has no choice but to update.

I f

[2017-11-16 16:10] MovGP0 commented on #930
@BlythMeister when you still develop old legacy code, you should constantly port it to newer libraries instead of letting your code rot to death.

Letting your code rot means that you are missing the *macro economy of programming* and will find yourself in a position where you will be unable to develop any code because of too many incompatibilities.

So yes, you should update instead of forcing ot

[2017-11-16 16:12] SabotageAndi commented on #930
To "fix" this issue finally, I will try to downgrade to Json.Net 6 for SpecFlow 2.3. Shouldn't be a problem, because it is only used for the json configuration and this is a simple Json.
But for SpecFlow 3.* I will upgrade the package to the latest version (10.0.3). This is because of .Net Standard and packaging.

[2017-11-16 16:31] BlythMeister commented on #930
@MovGP0 i should be able to use any version of json.net that specflow will work against with no breaking changes.  Json.Net 6 is a good starting point.
If Specflow wants to bump that, fair enough, but that's major change not a minor one as it has impact on consumers and could be seen as a breaking change.

as @SabotageAndi has said, Specflow 3 can take a newer version.

At no point have i ever sai

[2017-11-16 16:35] BlythMeister commented on #930
As an aside, this is now pretty irrelevant to me as i have spend the last month or so upgrading json and ensuring that all of our systems work with it....so realistically...it's not an issue for me anymore
But may be for others.

[2017-11-16 20:06] stajs commented on #828
@MovGP0 The `app.config` will be generated automatically by `SpecFlow.NetCore` with [the test framework auto-detected](https://github.com/stajs/SpecFlow.NetCore/blob/master/src/SpecFlow.NetCore/AppConfig.cs#L120), but [you can override if you want](https://github.com/stajs/SpecFlow.NetCore/blob/master/src/SpecFlow.NetCore/Args.cs#L12).

The reference to `ConfigurationManager` [shouldn't be needed]

[2017-11-17 03:47] kriscoleman commented on #974
Yes, absolutely! So far today it's been good again, but the moment it happens I'll post them here. Thank you!

[2017-11-17 13:21] SalamiArmy commented on #803
How to deploy files with spaces in their name?

[2017-11-17 14:51] SabotageAndi commented on #803
Gherkin doesn't allow tabs in tagnames, so currently this isn't possible.

[2017-11-17 16:14] kriscoleman commented on #974
It just happened again this morning. Here are the headers when the problem occurred:
![image](https://user-images.githubusercontent.com/21978023/32956732-9dcf3fbc-cb87-11e7-9bd8-6f45bfe03226.png)

![image](https://user-images.githubusercontent.com/21978023/32956955-691d8192-cb88-11e7-8f9c-b51fde4c9c2c.png)

So weird! it's like when the problem occurs, somehow Specflow thinks it's version 1.9?

If

[2017-11-20 11:02] Stephen-Mc commented on #974
Have you by any chance got an old version of SpecFlow 1.9 in your /packages directory along with the newer SpecFlow version?

[2017-11-20 20:10] kriscoleman commented on #974
I checked, but I do not:
![image](https://user-images.githubusercontent.com/21978023/33039116-f0cc1972-ce04-11e7-8e66-e514be9c7fb6.png)

[2017-11-21 16:15] danielerdosQA commented on #974
Happens to me too, but for me it's constant. Somehow SpecFlow thinks it's still 1.9.0.77

Only has the latest SpecFlow and SpecFlow.NUnit in my packages folder. Manually deleted obj, bin folders, cleaned, rebuilt the solution. Checked the csproj, sln, and all the usual files, everything seems to be normal, but it is like somehow the previous version of the generator would be cached.

Oh yeah, and

[2017-11-21 16:35] kriscoleman commented on #974
I can confirm this error too:
#error Generation error: Object reference not set to an instance of an object.

I do see that one from time to time, but much less frequently than the other.

Update today:
I've updated a feature file 3 times this morning and haven't ran into this error.

Yesterday, I ran into this issue every time I touched a feature file. There are days where it's really consistent

[2017-11-21 17:03] SabotageAndi commented on #974
The "#error Generation error: Object reference not set to an instance of an object." comes most of the times when there is no specflow section in the app.config

I would suggest to use the MSBuild integration (http://specflow.org/documentation/Generate-Tests-from-MsBuild/) for generating the code- behind files.
VS2017 has some problems loading the correct SpecFlow.dlls and dependencies (see #857)

[2017-11-21 17:14] kriscoleman commented on #974
I believe I have this in my app.config:
![image](https://user-images.githubusercontent.com/21978023/33086084-9afc5a88-ceb4-11e7-904b-23fca2d9032d.png)

Is using the MSBuild integration the only solution here? I would really rather not have to follow those steps. The convenience of having the custom tool run when I save the feature file is nice enough, and I don't want to have to remember to remove

[2017-11-21 17:24] SabotageAndi commented on #974
Ok, interesting where the null reference error comes. Could you repro that in a sample project?

About MSBuild integration:
Currently it is the only way to get something stable, because we couldn't reproduce the assembly load errors yet.
We are working on a nicer way (adding only a nuget package) to enable the MSBuild integration with SpecFlow 2.3. I hope we can release that version this year.
You

[2017-11-22 09:08] #934 closed

[2017-11-22 11:09] danielerdosQA commented on #974
Tried everything, but couldn't repro the not an instance issue. But reverting to older version when generating is a pretty steady issue for me. It seems like that the SpecificVersion node in the csproj is forced to be always False (when I changed the property of the TechTalk.SpecFlow reference in VS it just removed that node completely, but couldn't set it to true).
And the Reference node for Spec

[2017-11-22 12:07] DivyaRamesh1 commented on #449
Hi,

Am not able to work with tags in specflow.

Am using Visual Studio Enterprise 2015 update 3  and Specflow.MsTest 2.1.0

My app.Config look like this

 <unitTestProvider name="MSTest"
     generatorProvider="TechTalk.SpecFlow.CodedUI.MsTest.SpecFlowCodedUITestGenerator, TechTalk.SpecFlow.CodedUI.MsTest"
     runtimeProvider="TechTalk.SpecFlow.UnitTestProvider.MsTestRuntimeProvider, TechTalk.Sp

[2017-11-22 12:09] DivyaRamesh1 commented on #449
Hi,

Am not able to work with tags in specflow.

Am using Visual Studio Enterprise 2015 update 3  and Specflow.MsTest 2.1.0

My app.Config look like this

 <unitTestProvider name="MSTest"
     generatorProvider="TechTalk.SpecFlow.CodedUI.MsTest.SpecFlowCodedUITestGenerator, TechTalk.SpecFlow.CodedUI.MsTest"
     runtimeProvider="TechTalk.SpecFlow.UnitTestProvider.MsTestRuntimeProvider, TechTalk.Sp

[2017-11-22 12:09] SabotageAndi commented on #449
@je-ewan this issue is about NUnit, not MSTest.
Please don't comment on old issues with has nothing to do with your problem. Thanks!

[2017-11-24 09:21] davidbarrows commented on #517
I seem to have a recurring problem with this issue generally, where the offending combination seems to be NUnit3 (specifically NUnit.ConsoleRunner 3.7.0); SpecFlow 2.2.1; and VisualStudio 2017.  There are two general things happening - one is (seemingly because perhaps a colleague upgrades NUnit or SpecFlow via NuGet), when I do a merge, I get the upgraded versions of one or more of these packages

[2017-11-26 09:54] cosminstirbu opened #975 "Specflow stepdefinitionreport throws exception on macOS 10.12.6"
### SpecFlow Version:
- [x]	2.2
- [x]	2.1

### Test Execution Method:
- [ ]	Visual Studio Test Explorer
- [ ]	TFS/VSTS – Task – PLEASE SPECIFY THE NAME OF THE TASK
- [x] Command line – `mono /Users/cosminstirbu/xamarin-continuous-integration/packages/SpecFlow.2.2.1/tools/specflow.exe stepdefinitionreport "/Users/cosminstirbu/xamarin-continuous-integration/UITests/Jenkins.UITests.csproj"`

### &lt;

[2017-11-27 08:53] SabotageAndi commented on #975
I think I know the issue for your problem. In the csproj the path has \ in it and this doesn't work on anything other than Windows.
For Linux and macOS somewhere in this function https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/Project/MsBuildProjectReader.cs#L170 the backslashes has to be replaced by slashes.

[2017-11-27 12:14] cosminstirbu commented on #975
Thank you for hinting where the problem might be.

I was able to bypass the issue with the directory separator but now I'm encountering a different issue:

[code]

[2017-11-29 10:55] asrafiq commented on #857
I have the same issue in Specflow v2.2.1 had geenrate all using @AdamWilks suggestion above.

I hope this is resolved soon for no

[2017-11-30 10:48] egorsh0 opened #976 "Description of steps"
### SpecFlow Version:
- [* ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [* ]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [* ]	VS 2017
- [* ]	VS 2015
- [ ]	VS 2013

### .NET Framework:
- [* ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [* ]	Visual Studio Test Explorer
- [ ]	TFS/VSTS – Task – PLEASE SPECIFY THE NAME OF THE TASK
- [

[2017-12-01 06:05] dmitrynovik opened #977 "Null Reference exception during the installation of the VSIX plugin"
### SpecFlow Version:
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
### Visual Studio Version
- [ ]	VS 2017

### Are the latest Visual Studio updates installed?
- [ ]	Yes

### .NET Framework:
- [ ]	>= .NET 4

1/12/2017 4:59:15 PM - Microsoft VSIX Installer
1/12/2017 4:59:15 PM - -------------------------------------------
1/12/2017 4:59:15 PM - vsixinstaller.exe version:
1/12/2017

[2017-12-01 09:16] SabotageAndi commented on #977
Could you attach the ActivityLog.xml to the issue. It would be easier to read for us. Thanks!

[2017-12-04 06:44] guntidheerajkumar commented on #474
Is the Generate Step Definition menu not exists with VS for Mac.

[2017-12-04 06:54] SabotageAndi commented on #474
The integration for VS for Mac is not from us. It is made by somebody else.

[2017-12-04 15:25] AndyLPK247 opened #978 "Suggestion: Add Option to Run After Hooks Despite Exceptions"
It is possible to have multiple after hooks, and the order of execution may be controlled with the Order parameter. However, if an exception is thrown from an after hook method, then no subsequent after  hooks of the same type are executed. This is problematic for my team because we do web testing using Selenium WebDriver. We rely upon after hooks to properly clean up our web tests. It is also arg

[2017-12-04 15:42] SabotageAndi commented on #978
@gasparnagy We had in the past a discussion about the topic of exceptions in hooks, but I don't find it anymore.
I wouldn't change the current behaviour, because this would be a breaking change for users, which would be silent for them (the test is suddenly green after the update, where before there was an error).
Putting everywhere try-catch blocks is not nice in the binding code.

But somehow I

[2017-12-04 15:47] AndyLPK247 commented on #978
@SabotageAndi - I like your proposed parameter name "ContinueOnError" better than the ones I suggested.

Also, at the very least, could the current behavior of after hooks please be documented on the SpecFlow doc pages? The current Hooks page does not indicate that if an exception happens in an after hook, then subsequent after hooks of the same type will not be called. It would be very helpful to

[2017-12-04 15:49] SabotageAndi commented on #978
@AndyLPK247 you are right, this information is missing in the documentation
@Stephen-Mc could you add it please? Thanks!

[2017-12-04 21:12] Blackbaud-ChrisKessel commented on #448
I believe I'm running into the same issue. Using Specflow v2.2.1 + Specflow.MsTest 2.2.1 + MSTest V2 (MSTest.TestFramework 1.2.0-build-20171130-03) that allows in-assembly parallelism. I have set our tests to use method level parallelism using 4 worker threads.

I'm seeing allot of "Object reference not set to an instance of an object. due to the ScenarioContext being null.

Should specflow work w

[2017-12-05 10:31] ShaliniLamba opened #979 "Asynchronous methods not being called from Specflow Tests."
Hi All,

We are calling Async repository method from our step file as "RepositoryMethodAsync" and done successfully, but there is an issue in calling the private method "PrivateRepositoryMethodAsync" in public repository method "RepositoryMethodAsync".

// Test Method
 public async Task GivenMethodAsync()
        {
            var result = await _repository.RepositoryMethodAsync(DateTime.Today);

[2017-12-05 10:50] Stephen-Mc commented on #978
I've added a note to the hooks section under "Hook Execution Order". This behaviour applies to both before and after hooks. Here's the change:

Note: If a hook throws an unhandled exception, subsequent hooks of the same type are not executed. If you want to ensure that all hooks of the same types are executed, you need to handle your exceptions manually.

[2017-12-05 12:54] Konnor5092 commented on #857
Is someone able to give me a hand with this fix as I can't get it working - [http://specflow.org/documentation/Generate-Tests-from-MsBuild/](http://specflow.org/documentation/Generate-Tests-from-MsBuild/)

I unloaded my project containing the features and added the following to the bottom of the csproj file...

`  <Import Project="$(MSBuildBinPath)\Microsoft.CSharp.targets" />
  <Import Project=".

[2017-12-05 14:30] AndyLPK247 commented on #978
Awesome! Thanks.

On Tue, Dec 5, 2017 at 5:50 AM, Stephen McCafferty <notifications@github.com

[2017-12-05 15:48] SabotageAndi commented on #857
@Konnor5092 Sorry, we are currently rewriting the documentation for the MSBuild integration and there is some information missing at the moment.
If you remove the SpecFlowSingleFileGenerator from your feature files, the generated- cs- files are not added to the project and so not compiled in the assembly. So the test explorer can not find any tests.

You have to add following to your csproj at the

[2017-12-05 16:03] Konnor5092 commented on #857
@SabotageAndi Many thanks. My tests are back. Will raise the other issue separately.

[2017-12-05 16:10] SabotageAndi commented on #979
Could you post the full stacktrace of your error?

[2017-12-06 10:03] ShaliniLamba commented on #979
Please find the screen shot of stack trace.

![stacktrace](https://user-images.githubusercontent.com/34269151/33655942-768cca16-da6c-11e7-9e7c-12246b29bbb6.png)

[2017-12-07 10:55] Stephen-Mc commented on #857
I've updated the documentation to include the code section needed to compile the missing files.

[2017-12-07 12:21] Stephen-Mc commented on #979
Can you post the full trace from start to finish as text? If you want to redact the contents, please replace the confidential text with an obvious placeholder (e.g. "PATH") instead. It would be great to keep the file names in there though (i.e. just redact the file path, not the file name).

If that is not possible, can you send the text to support@specflow.org instead, so we can see the full trac

[2017-12-07 18:50] Wrexxi opened #980 "SpecFlow.exe nunitexecutionreport null ref when app.config exists, but has no SpecFlow section"
This may fall under a "not our problem" issue, I figured I'd bring this up.  The reason I say this is because we're using SpecFlow.exe nunitexecutionreport to generate HTML reports for NUnit projects that do not use SpecFlow.

**Background**
We're using SpecFlow.exe (SpecFlow 2.2.0) to generate reports for SpecFlow projects, and started using it to generate reports for NUnit projects (non-SpecFlow

[2017-12-07 19:35] SabotageAndi commented on #980
The issue is somewhere here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Configuration/ConfigurationLoader.cs#L89

Could you provide a PR with a fix and a test for this case?
Surprisingly there are no tests for the ConfigurationLoader yet.
Please put a new test class into this folder: https://github.com/techtalk/SpecFlow/tree/master/Tests/TechTalk.SpecFlow.RuntimeTests/Confi

[2017-12-08 15:58] PierreRoudaut commented on #817
This indeed would be very helpful !
However, is there a way to specify custom parameters inside TestProfile file ?
It would be very helpful to pass for example the browser type for end to end automated testing with selenium.

[2017-12-08 16:58] varzight commented on #817
@PierreRoudaut: I suspect [this example](https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/SeleniumWebTest) would answer your question.

[2017-12-11 10:42] clydeigc commented on #737
I am still having this problem in Specflow 2.2.1 and NUnit 3.8.1.
When executing in parallel, I get something similar to the following for the first couple of tests:

Then for the rest of the tests, I lose all the Specflow logs for the "Given/When/Then _STEP_TEXT_" and the "done/error (timing)".

[2017-12-11 16:28] goblinmaks opened #982 "Can't get scenario description using ScenarioContext.ScenarioInfo.Description property - Enhancement"
### SpecFlow Version:
- [x]	2.2.1
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
1.6.3

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]

[2017-12-12 16:51] sgavathe opened #983 "New to SpecFlow and have a stepdefinition file question"
New to Spec Flow and have a setup feature and stepdefintion file question.

### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [] SpecFlow+Runner
- []	MSTest
- [x]	NUnit
- []	Xunit

Version number:

### Visual Studio Version
- [ ]	VS 2017
- [x ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x

[2017-12-12 17:11] Blackbaud-ChrisKessel opened #984 "MSTest feature.cs generation that supports '[DoNotParallelize()]'"
### SpecFlow Version:
- [x ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
Specflow.MStest 2.2.1
MSTest.TestAdapter 1.2.0-build-20171130-03
MSTest.TestFramework 1.2.0-build-20171130-03

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Y

[2017-12-12 19:41] SabotageAndi commented on #333
resolved with #674 long time ago

[2017-12-12 19:41] #333 closed

[2017-12-12 19:44] SabotageAndi commented on #477
We released today a new version of the VS integration with a small fix for this (https://github.com/techtalk/SpecFlow.VisualStudio/pull/19)

[2017-12-12 19:50] SabotageAndi commented on #755
Closed because of inactivity

[2017-12-12 19:50] #755 closed

[2017-12-12 19:54] SabotageAndi commented on #792
resolved with #967

[2017-12-12 19:54] #792 closed

[2017-12-12 19:56] #889 closed

[2017-12-12 22:02] SabotageAndi commented on #930
Downgrade to Json.Net 6.0.1 happend - https://github.com/techtalk/SpecFlow/pull/985

Closing this issue.

[2017-12-12 22:02] #930 closed

[2017-12-12 22:05] SabotageAndi commented on #890
With SpecFlow 2.3 we downgrade to Newtonsoft.Json 6.0.1 as minimum version.
NuGet dependency will be >= 6.0.1 so you can use newer versions. Then you need an assembly redirect.

With SpecFlow 3 we will probably upgrade to 10.0.3 min version.

[2017-12-12 22:05] #890 closed

[2017-12-13 10:56] LeonHagenaarsKeus commented on #974
I had this problem in visual studio 2017, getting 1.9.0.77 as specflow version and 1.9.0.0 as generator version.
Fixed it by upgrading specflow in visual studio 2015 (which I also have on my machine and which had an older version of specflow).

[2017-12-13 14:02] LirazShay commented on #737
@clydeigc
I have written this workaround:
Just add the following code in Hooks class
[code]
Example [here](https://github.com/LirazShay/SpecFlowDemo/blob/master/src/SpecFlowDemo/Hooks.cs)

[2017-12-14 05:55] clydeigc commented on #737
@LirazShay
Thanks, I am currently using your workaround. I solves the problem of losing Specflow output after the breaking scenarios (shown in my previous comment). However, I still get a couple of broken scenario outputs with the #numbers on every run.
Is there any intention to fix this bug?

[2017-12-14 09:43] LirazShay commented on #737
@gasparnagy
How we can fix it?

[2017-12-14 10:00] SabotageAndi commented on #737
We probably need a custom TraceListener (https://github.com/techtalk/SpecFlow/blob/21b7aa7bd0664927e3b48ca92c9b6563f06e9e53/TechTalk.SpecFlow/Tracing/DefaultListener.cs) for NUnit, which writes to TestContext.Out and not to the console (https://github.com/nunit/docs/wiki/TestContext).

[2017-12-14 11:45] Stephen-Mc commented on #983
It looks like you have set up the project to use NUnit rather than SpecFlow+ Runner. If this is your first time using SpecFlow, I'd recommend that you stick to the steps in the guide so you have understood the basic principles and worked through the whole process once. You can always switch the project over to NUnit later. Your first goal ought to be to get some tests running and understanding how

[2017-12-15 09:40] SabotageAndi opened #988 "Enable parallel execution support for MsTest V2"
Currently we support MsTest V2 with our existing generator, which was written vor MsTest V1.
MsTest V2 now supports parallelization.

To support this https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/MsTestGeneratorProvider.cs#L32 has to return UnitTestGeneratorTraits.ParallelExecution.

Simply changing it, is not possible, because then we generate not t

[2017-12-15 15:18] sergiop360 opened #989 "Specflow+NUnit just run features in parallel not scenarios"
Hi,

I'm trying to give some parallelism to my tests and I'm using Specflow and NUnit.
I already added "Parallelizable(ParallelScope.Fixtures)" to Assembly and it runs fine if I have at least 2 features, they runs in parallel. But if I have one feature with 2 scenarios the don't run in parallel.
In my hooks class I use [BeforeScenario] and [AfterScenario], no static methods...

Can you please give

[2017-12-15 16:28] SabotageAndi commented on #989
Could you post somewhere a small sample project where we can reproduce your issue?

[2017-12-15 16:53] sergiop360 commented on #989
https://github.com/executeautomation/SpecflowSeleniumParallel/tree/master/SpecflowParallelTest

This project for example, it's similar.
If you add  [assembly:LevelOfParallelism(3)] and add one scenario in one of the features (to have 3 scenarios), they will not run all in parallel. It will run 2 and then another one.

[2017-12-18 13:35] sirk1989 opened #990 "Open SpecFlow test from Text Explorer goes to the feature class file not the feature file"
### SpecFlow Version:
- [x ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number: 3.9.0

### Visual Studio Version
- [ x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [

[2017-12-18 14:15] NiekGr opened #991 "SpecFlow Generator version 1.9 is used instead of 2.2"
Dear Maintainer,

### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:
2.3.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Executio

[2017-12-18 14:19] NiekGr opened #992 "Generation error: Could not load file or assembly 'Microsoft.Build.Framework, ...'"
Dear Maintainer,

### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:
2.3.1

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Executio

[2017-12-18 16:01] peltco commented on #992
This issue seems to happen for visual studio (2017) version 15.5.0
For teammates who havn't updated to this version this doesn't seem to be an issue.

[2017-12-18 16:04] SabotageAndi commented on #992
closing because of duplicate of #857

[2017-12-18 16:04] #992 closed

[2017-12-18 16:06] peltco commented on #857
This issue seems to happen more/again when updating visual studio 2017 to version 15.5.0 or higher

[2017-12-18 16:06] SabotageAndi commented on #991
Please post the output of tracing of Visual Studio.

How to enable tracing is documented here: http://specflow.org/documentation/Troubleshooting-Visual-Studio-Integration/

[2017-12-19 02:24] 0shi commented on #990
Myself and at least one of my colleagues are experiencing the same issue since updating to Visual Studio 15.5.2 this week.

We use **Xunit** rather than Nunit, but all the other details above are the same.

[2017-12-19 08:11] NiekGr commented on #857
Sorry, I missed this bugreport.

[2017-12-19 19:36] richerm commented on #857
For me the fix was to disable NCrunch, regenerate Feature files, reenable NCrunch.

I didn't uninstall or install anything.

Visual Studio Professional 15.5.1.

[2017-12-19 21:28] christianrondeau commented on #857
Hopefully I won't add noise to this issue, but I have this exact issue on VS 15.5.2, with both SpecFlow 2.2.0 and 2.2.1. I have ReSharper (suspending it didn't fix the issue), and I don't have NCrunch installed nor VS 2015. The projects are all using .NET 4.6.1.

[2017-12-19 23:15] fatdh commented on #482
This's happening to me after yesterday's update from 15.0 to 15.5 VS PRO...

[2017-12-19 23:23] SajiAzureDeveloper commented on #857
I followed the suggestion from sbabaei and it worked. His suggestion below.

I uninstall Specflow extention from visual studio and close visual studio then download extention from marketplace in following url and install outside visual studio and finally it works fine !

https://marketplace.visualstudio.com/items?itemName=TechTalkSpecFlowTeam.SpecFlowforVisualStudio2017

[2017-12-20 19:24] xclayl commented on #857
I followed sbabaei's suggstion and it did not work for me unfortunately.  15.5.2.
Edit: actually I have a different error now.  One step closer.

[2017-12-21 03:19] xclayl commented on #857
I think this solved it for me (I've done so much, it's hard to say):
[http://specflow.org/documentation/Troubleshooting-Visual-Studio-Integration/](http://specflow.org/documentation/Troubleshooting-Visual-Studio-Integration/)
in the section called "Unable to find plugin in the plugin search path: SpecRun` when saving / generating feature files"

[2017-12-21 08:41] DanielTheCoder commented on #991
Today we had the same issue using NUnit.
Rebuilding the solution and restarting visual studio fixed the problem.

[2017-12-21 08:52] DanielTheCoder commented on #991
Same issue as #896

[2017-12-21 17:24] teknlgyuser commented on #857
I was able to fix this issue:  Visual Studio 2017 Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0
but now my 141 acceptance tests do not all run locally.  34 ran and then the process just stops.  any idea what causes the tests to just stop?  I'm right clicking on the traits in test explorer and run selected tests....

Here are steps to resolve the Gen

[2017-12-22 22:06] xclayl commented on #991
Oh please fix this :)

I opened Visual Studio, and made a superfical edit to a feature file.  Then I got this error in the code-behind:
`#error Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.`

Below is modified to remove the long

[2017-12-26 13:03] lucasnobredev commented on #857
The solution of @sbabaei worked for me. But, I have to uninstall the extension from VS and **undo any changes that I did**. Thank you!

[2017-12-27 14:01] SabotageAndi commented on #857
@DanielTheCoder was looking into this before Christmas, and it looks like, the problem is, that when the code-behind file is generated, a new AppDomain with an ApplicationBase path set to the package folder (https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/IdeIntegration/Generator/RemoteAppDomainTestGeneratorFactory.cs#L89).

It looks like with a changed behaviour of VS 2017, this doe

[2017-12-27 14:57] ivanakcheurov opened #993 "Console output from different test cases is mixed when running tests in parallel"
Console output from different test cases is mixed when running tests in parallel

### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
3.6.1 (NUnit, launched by Resharper 2017.2.2).

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates

[2017-12-27 22:24] icnocop opened #994 ""Ambiguous step definitions found for step ..." exception should indicate the assembly names"
### SpecFlow Version:
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [X]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
14.0.23107.0

### Visual Studio Version
- [ ]	VS 2017
- [X]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
-

[2017-12-28 14:09] ryn0 commented on #857
On VS2017 with SpecFlow 2.2.1 I was not able to add a new scenario to an existing .feature file but I was able to create a new .feature file with a new scenario.

[2017-12-28 18:39] pushkalaP commented on #669
Can't find "generate Step Definiton" after right click on my feature file.

![image](https://user-images.githubusercontent.com/34655701/34419916-174f2a46-ebcc-11e7-9621-bb747d6276d6.png)

[2017-12-28 18:41] pushkalaP commented on #669
tried in the file too.

![image](https://user-images.githubusercontent.com/34655701/34419968-6db0974e-ebcc-11e7-8023-9046d1268f78.png)

[2017-12-29 16:25] sergiop360 commented on #989
Anyone tried?
NUnit does not support parallel scenarios or it's a bug?

[2017-12-31 19:17] sgavathe commented on #983
Thank you.  I figured, it had to be with nUnit. I was unsure about the license needed for  SpecFlow+ Runner. Thanks for clarifying.

[2018-01-02 12:06] AndreCastilhoFilho commented on #857
I got the same issue after updating vs 2017 to 15.4 (enterprise)
 I had to follow sbabaei's steps AND run a update-package -reinstall.

[2018-01-02 14:51] QAGal2 commented on #990
Same here. Issue began when I updated to 15.5.2 last week. We use NUnit.

[2018-01-02 20:24] fgenolini opened #995 "SpecFlow for .Net Core SDK 2.1.3 with Visual Studio 2017"
### SpecFlow Version:
- [X]	2.2.1

### Used Test Runner
- [X]	MSTest

Version number:
2.2.1

### Visual Studio Version
- [X]	VS 2017, Community, Version 15.5.2

### Are the latest Visual Studio updates installed?
- [X]	Yes

### .NET Framework:
- [X]	>= .NET Core 2.1.3 SDK
- [ ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [X]	Visual Studio Test Explorer
- [X]	Command line – PLEASE S

[2018-01-03 00:46] Blackbaud-ChrisKessel commented on #984
Submitted a PR for this: 'Support for DoNotParallelize for MSTest V2 parallelism'
I'm use to TFS/VSTS and am new to GitHub, hopefully I did the PR correctly.

[2018-01-03 10:30] MatthiasTrust commented on #990
We got also the issue. We use VS 2017 / MSTest / Test Execution Method: Visual Studio Test Explorer

[2018-01-04 15:41] Blackbaud-ChrisKessel commented on #988
@SabotageAndi  submitted PR 'Enable parallel execution support for MsTest V2 988 #997' for this, not sure how to link PR with issues yet.

[2018-01-04 16:02] SabotageAndi commented on #988
You have to mention it. What you did. ;-)

[2018-01-04 18:11] SamJongenelen commented on #477
@SabotageAndi the bug references vs2017.1 and does not seem to impact VS2015 (browsing the [files changed](https://github.com/techtalk/SpecFlow.VisualStudio/pull/19/files))

[2018-01-04 21:31] phillee007 opened #998 "NUnit3TestGeneratorProvider.cs generates ParallelizeAttribute taking string parameter not ParallelScope enum"
### SpecFlow Version:
- [ x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number:
Not running tests yet, just trying to get solution to compile

### Visual Studio Version
- [ ]	VS 2017
- [x ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .N

[2018-01-04 22:56] icnocop opened #999 "Throw an exception if a tag/hook cannot be found"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
14.0.23107.0

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
-

[2018-01-05 07:02] cosminstirbu commented on #870
I am having the same issue. Is there a way we can fix this when using the NUnit runner?

We can't migrate to a different runner because the only VS for Mac Specflow plugin generates the "glue" code using NUnit (https://github.com/straighteight/SpecFlow-VS-Mac-Integration)

@Icaroto - what approach did you end up using?

[2018-01-05 07:31] cosminstirbu commented on #870
I did some further digging - it looks that this is a VS for Mac specific issue as this doesn't reproduce when using the NUnit Console Runner.

I've logged a defect here - https://developercommunity.visualstudio.com/content/problem/177319/systemargumentexception-the-type-systemvoid-may-no.html

[2018-01-05 08:55] SabotageAndi commented on #999
Tags and hooks are completely different concepts. Hooks are special events that gets executed during the test run (http://specflow.org/documentation/Hooks/). They are completely defined in your bindings and not in your feature file.

Tags are mostly used to mark scenarios/features and group them together. It gets translated to a category/trait for the different test runners and so you can filter f

[2018-01-05 10:50] icnocop commented on #999
Thank you for the detailed explanation and links.

I understand tags can be used without defining a binding, which is the case when they're used to define a test category for example.

In my scenario, I defined a `Before` hook bound to a specific tag, but it isn't scoped to a feature or scenario.

So it seems there needs to be an optional configuration setting or different type of syntax required

[2018-01-05 10:56] #999 closed

[2018-01-05 14:51] Icaroto commented on #870
@cosminstirbu  Unfortunately, I had to add a message in my tool's documentation saying it does not work properly on Visual Studio for Mac. That it wouldn't break the test execution but it would cloud debugging execution errors.

This is what I did while I'm trying to "move" the code from that hook to the AfterFeature, but with no success so far :)

[2018-01-05 19:39] JohnGagliardi opened #1000 "Running MSTests in parallel fails with "An item with the same key has already been added." error"
- SpecFlow version 2.2.1
- MSTest version 1.2.0
- VS 2017 (up to date)
- .NET 4.6.1
- Visual Studio Test Explorer

Config:
 `<specFlow>`
 `<unitTestProvider name="MsTest" />`
 `</specFlow>`

I am trying to run very simple tests (gotten from the tutorials) in parallel using MSTest but I get the following error for each test:

    System.ArgumentException: An item with the same key has already been

[2018-01-06 15:02] otuday commented on #474
Hi all, no Generate Step Definition in VS 2017 for mac, how can i resolve this problem ?

[2018-01-06 15:39] SabotageAndi commented on #474
@otuday As written above, the VS for Mac Integration is not from us. Please ask the maintainer of that extension for help. Thanks!

[2018-01-07 14:55] otuday commented on #474
Okay thank you !

[2018-01-08 15:13] SabotageAndi commented on #1000
We don't support parallel execution in MSTest yet.
Please see Issue https://github.com/techtalk/SpecFlow/issues/988 and PR https://github.com/techtalk/SpecFlow/pull/997 for it.

[2018-01-08 15:13] #1000 closed

[2018-01-08 15:15] SabotageAndi commented on #477
@SamJongenelen I don't understand.
The code of the extension is for all Visual Studio versions the same.

[2018-01-08 15:17] SabotageAndi commented on #993
How do you write the output? With Console.WriteLine or with TestContext.WriteLine?

[2018-01-08 15:20] SabotageAndi commented on #994
I think the error message is generated here: https://github.com/techtalk/SpecFlow/blob/8e660f9acb751ea2da77da160463acf7b4b4f008/TechTalk.SpecFlow/ErrorHandling/ErrorProvider.cs#L62

PRs are as always welcomed!

[2018-01-08 15:36] SabotageAndi commented on #995
About the app.config file:
SpecFlow also supports configuration by json file.
See the tests for it here: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.RuntimeTests/Configuration/JsonConfigTests.cs
It's not that well tested as the app.config variant and the Visual Studio Integration currently doesn't work with it.

About the error:
We don't support .NET Core currently, so

[2018-01-08 15:50] SabotageAndi commented on #998
We are currently testing against NUnit 3.2.1, so probably this is the reason.
No idea when they changed the attribute.

Code for it is here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/NUnit3TestGeneratorProvider.cs#L44
Tests are here: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.GeneratorTests/NUnit3GeneratorProviderTes

[2018-01-09 08:31] igorSss opened #1001 "Error while building project in Continuous Integration (TeamCity) if SpecFlow feature "Generate-Tests-from-MsBuild" enabled"
### SpecFlow Version:
- [X ]	2.2

### Used Test Runner
- [X ]	NUnit

Version number: 3.9.0

### .NET Framework:
- [ X]	>= .NET 4
- [ ]	before .NET 4

### &lt;SpecFlow> Section in app.config

[code]

### Repro Project

### Issue Description

After made changes to .csproj file to Generate feature.cs file from MSBuild (https://github.com/techtalk/SpecFlow/wiki/Generate-Tests-from-MsBuild) build in Te

[2018-01-09 09:17] SabotageAndi commented on #1001
Does the app.config exists when you are building the project?

[2018-01-09 10:16] igorSss commented on #1001
@SabotageAndi  Yes, "app.config" exists when project is building

[2018-01-09 11:50] SabotageAndi commented on #990
I had a look at this at a test project with different test runners (it is here: https://github.com/SabotageAndi/SpecFlow.Example.AllTestRunners).
It has MSTest V1, NUnit2, NUnit3, XUnit2 and SpecFlow+Runner and I tested this with VS2017 15.5.2.

MSTest, NUnit2 and SpecFlow+Runner are working.
NUnit3 and XUnit2 are not working.

From my work on SpecFlow+Runner I know, that the test adapter are resp

[2018-01-09 12:58] QAGal2 commented on #990
The only change the day specflow began having issues with VS to .Feature  was the VS 2017 upgrade. Here are my package.config files  https://www.screencast.com/t/WnvUFWnF  But the bad behavior has affected all specflow solutions on the windows pc that was upgraded. Other machines which I did not do VS upgrade on (because of the bad behavior seen) still work ok. One other symptom also seen is now w

[2018-01-09 15:06] fgenolini commented on #995
I am glad that SpecFlow works as much as it does now with .Net core, even though this is no yet supported.   Thanks for your time, hope that your .Net Core work is fruitful

[2018-01-09 15:28] 599139 commented on #539
Any update on this, when this will be fixed? I have Nunit3 xml reports with Attachments in the xml (Screenshots), but Specflow exe is unable to convert it.
Its really getting very difficult to have html reports with screenshots using Specflow minus SpecRun

[2018-01-10 11:18] thomfresn commented on #994
I would be happy to provide a fix for that issue.

Is this the only error for which you'd like to display the full method name (assemblyName.methodName)? I've notived there are multiple calls to GetMethodText which formats the method name to display several errors (including AmbiguousSteps). I was thinking it would be useful to display the method name in a consistent manner across the solution.

[2018-01-10 12:38] edew commented on #569
Hey guys.

Has there been any movement on this issue?

@SabotageAndi here's another (partially redacted) csproj file, if it helps: https://gist.github.com/edew/6deabe6075bcf712810016feb8f547f0

[2018-01-10 12:42] SabotageAndi commented on #569
SpecFlow 2.2 and later parses the csproj different than the versions before. Did you tried that version?

[2018-01-10 12:54] edew commented on #569
@SabotageAndi I'm currently running SpecFlow 2.2.0, do you think I should try downgrading to an earlier version?

[2018-01-10 12:57] SabotageAndi commented on #569
No, don't downgrade. The new parsing is the"better" one. But if you still get this error, we didn't fixed it with the new parsing.

[2018-01-10 13:46] Blackbaud-ChrisKessel commented on #988
@SabotageAndi moved this to PR #996 since we just added the new MsTestV2 provider. Hope it doesn't mess anything up.

[2018-01-10 13:56] SabotageAndi commented on #988
Ok, so one PR for both changes. I am fine with this. Please close then #997 with a comment. Thanks!

[2018-01-10 14:15] SabotageAndi commented on #994
Yes, the methods should be displayed consistent everywhere.
I am fine with adding everywhere the assembly name. @gasparnagy your thoughts?

@thomfresn If you work on this, could you please add some tests for it?
As there are no yet, add a new testclass ErrorProviderTests in the folder https://github.com/techtalk/SpecFlow/tree/master/Tests/TechTalk.SpecFlow.RuntimeTests.
Thanks!
If you have questio

[2018-01-10 14:33] thomfresn commented on #994
Sure I was planning on adding unit tests as well. Thanks for pointing me the best location to add them.

[2018-01-10 19:04] QAGal2 commented on #932
Whatever the cause, I have found that a 'machine reboot' always resolves the issue for the machine in question. It could be something is retained in memory, or personal settings that, for me, could be being shared across machines from which I run other VS solutions.

[2018-01-10 19:04] #932 closed

[2018-01-11 13:32] aensidhe opened #1002 "Error in SpecFlow.NetCore tool during print messages"
### SpecFlow Version:
- [x]	2.2
- [X]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [X]	Xunit

Version number: 2.3.1

### Visual Studio Version
- [x] Not installed
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x] Not installed
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NE

[2018-01-11 13:46] SabotageAndi commented on #1002
The SpecFlow.NetCore tool is not from us. Please open an issue at the actual project: https://github.com/stajs/SpecFlow.NetCore
Be aware that SpecFlow doesn't support .NET Standard or .NET Core yet.

[2018-01-11 13:46] #1002 closed

[2018-01-11 18:04] jcomish opened #1003 "Early Termination of ScenarioContext in Parallel Execution"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
3.9.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2018-01-11 19:23] SabotageAndi commented on #1003
@gasparnagy Any ideas?

[2018-01-11 20:47] jtdubya opened #1004 "Duplicate step argument transformations created for external assemblies"
Duplicate step argument transformations created for external assemblies and causing false

### SpecFlow Version:
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
1.6.3

### Visual Studio Version
- [X]	VS 2017
- [X]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

[2018-01-12 00:41] jcomish commented on #1003
I currently have a seemingly functional workaroud... On each teardown, I am counting the number of "processing" threads (this status is set at the beginning of each scenario setup). If the number is outside of a certain threshold, I wait until the number of running threads comes down (indicating that the tests are running out).  After that is complete, I resync my threads by waiting until the last

[2018-01-12 03:22] firstchild78 commented on #990
I'm having the same issue with Nunit3. haven't tried other adapters yet though.

[2018-01-12 11:54] Stephen-Mc commented on #539
@599139: SpecFlow is open source. If you are suffering because a feature is lacking, that is all the motivation you need to download the source code and start fixing :)

[2018-01-12 12:08] Zyronath commented on #857
Update VS to 15.5.3 fixed the issue for me

[2018-01-12 13:01] SabotageAndi commented on #857
@Zyronath luck for you. In the release notes is nothing stated that could have something todo with this.

[2018-01-12 15:01] MelissaHoweEmis opened #1006 "Visual Studio test explorer doesnt allow you to navigate to a test that is a scenario outline"
### SpecFlow Version:
- [x ]	2.2.1
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: visual studio 2015

### Visual Studio Version
- [ ]	VS 2017
- [x ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4
- [ ]	before .NET 4

### Test Execut

[2018-01-12 15:15] peltco commented on #857
@zyronath @sabotageandi i agree it doesn't make sense but somehow either Christmas or the latest update seemed to have helped here too.

[2018-01-15 16:05] pvones commented on #857
15.5.3 - the issue is still there.

[2018-01-16 08:17] Gonnagle commented on #820
I was also able to get the workaround provided by @SabotageAndi to work with a project using [Paket] (https://fsprojects.github.io/Paket/) with minor modifications (package folders don't include version numbers in this case). Here is a gist of a complete example:

https://gist.github.com/Gonnagle/98de2a3531185b677d248f90926a174a

[2018-01-16 12:32] MaxGolub commented on #857
VS 2017 15.5.3 issue still persists

[2018-01-17 06:25] raghav710 commented on #857
VS 2017 15.4.4 and Specflow 2.1.0 @nazarenomanco your solution worked. Delete *.feature.cs and restart VS for the win!

[2018-01-17 08:16] esjoy commented on #401
When you are in your visual studio, and you open a test via Test Explorer
then the test.feature.cs opens instead of test.feature.

I recognize this problem:
in vs2015 I do not have this problem:
but in vs2017 it is

How can I set it differently (in vs2017)?

[2018-01-17 08:21] SabotageAndi commented on #401
@esjoy: this issue is tracked here: https://github.com/techtalk/SpecFlow/issues/990

[2018-01-17 08:42] #994 closed

[2018-01-17 11:29] yorkshirefellman commented on #857
For me I found that disabling the Azure Functions and Web Job Tools extension resolved the issue. As soon as I enable this extension then it stops working again...

[2018-01-17 15:25] hegsie commented on #857
Hey Guys,
So I've noticed on one of our machine that disabling the WiX VS extension fixes the issue, is it possible for one of the specflow developers to arrange a webex where we can debug this with them on our machine to root out the problem?
Regards
Ben

[2018-01-17 19:49] SabotageAndi commented on #857
Our current theory about the reason of this error is, that we change the applicationbase folder to the nuget package folder (https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/IdeIntegration/Generator/RemoteAppDomainTestGeneratorFactory.cs#L89).
So the new AppDomain can not find the MSBuild.Build.Framework dll anymore, because we are looking into a completely different folder with diffe

[2018-01-19 08:54] p6345uk commented on #857
So i have a fix
Which works reliably for me. worth testing
Unistall Specflow plugin/extension
close Visual studio
Clear %USERPROFILE%\AppData\Local\Microsoft\VisualStudio\15.0\ComponentModelCache
Reinstall specflow plugin/Extension

[2018-01-19 11:45] SabotageAndi commented on #820
I think with this PR: https://github.com/techtalk/SpecFlow.VisualStudio/pull/22 the custom tool is now set for feature files in the new projects.
The version which includes this PR is already published to the marketplace. It has version 2017.1.10.

@HowardvanRooijen could you check this?

@Gonnagle: could you create an issue with the issues you have with paket and "stock" SpecFlow, so we can fix t

[2018-01-19 11:48] SabotageAndi commented on #984
Implemented with PR https://github.com/techtalk/SpecFlow/pull/996

[2018-01-19 11:48] #984 closed

[2018-01-19 11:49] SabotageAndi commented on #988
Implemented with PR https://github.com/techtalk/SpecFlow/pull/996

[2018-01-19 11:49] #988 closed

[2018-01-20 13:27] esjoy commented on #401
Thank you @SabotageAndi

addition: it seemed possible to lie in vs 2017 enterprise or community use. But alas ... I have looked at both versions and with both the issue occurs

Issue appears (again?) from 2017 version 15.5.2 occur (current version 15.5.4)

**preliminary conclusion**

1. Feature Request: generated feature.cs scenario goto feature file scenario
2. >>> out of scope for us, would need

[2018-01-20 22:55] BraveNewMath commented on #392
I got around this issue by setting another boolean value which is set to true if the desired value is null. This way you can attempt to get the nullable value only if it isn't null.

[2018-01-22 12:04] thomfresn commented on #898
What about specifying in the app.config which culture to be used when parsing numeric values such as the following example for French from France:
[code]
By default, if no culture is specified, the current behavior should be kept. If I understood correctly, current system settings are used as no culture is specified when a numeric value is parsed.

I would be happy to provide a PR for this solutio

[2018-01-22 12:10] thomfresn commented on #898
It looks like [issue#480](https://github.com/techtalk/SpecFlow/issues/480) is related.

[2018-01-22 15:45] realfaisalk opened #1008 "Tags - VS Test Explorer only shows tests with a specific set of tags"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: v1.6.3

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x] 	Yes
- [ ]	No
 v15.5.3
### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method

[2018-01-22 15:48] SabotageAndi commented on #1008
@david1995 Could you please create a repro project for this? Thanks!

[2018-01-23 12:41] cosminstirbu commented on #975
@SabotageAndi  - I've open a PR with the fix. Please have a look and let me know if you have any remarks.

Thank you,
Cosmin

[2018-01-23 14:00] realfaisalk opened #1010 "Specflow tries to inherit bindings from an API or WSDL"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.6.3

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2018-01-23 17:47] Parajao commented on #857
Downgraded to SpecFlow 2.2.0 from 2.2.1 and was able to regenerate the feature.cs files

[2018-01-23 18:06] akinsolb commented on #936
Are there any another means of obtaining the TestContext? My use case is test runner utility specflow plugin which requires the MsTest TestContext. The main work is done by a class which inherits from the ITestRunner.

[2018-01-24 09:52] tombrereton commented on #857
In VS 2017 I downgraded to SpecFlow **1.9.0** from 2.2.1 and was able to regenerate the feature.cs files.

2.2.0 didn't work for me.

[2018-01-24 10:52] SabotageAndi commented on #857
@Parajao  & @tombrereton:
I think the downgrade will not help you in the long run, as I am pretty sure that this issue is not in the NuGet package but in the Visual Studio extension. And with a downgrade to 1.9, you get other issues.

I would all of you, who have this issue, recommend to use the MSBuild integration.
We release yesterday a pre-release for SpecFlow 2.3 (https://www.nuget.org/package

[2018-01-24 14:28] sirk1989 commented on #990
Any news on this, anyone had a chance to look into it? I'm still getting the issue and its starting to get annoying. Thanks.

[2018-01-24 14:35] SabotageAndi commented on #990
@sirk1989 I am not aware that somebody is looking into this.
As in my comment (https://github.com/techtalk/SpecFlow/issues/990#issuecomment-356262853) said, I still think it is something in the test adapters of XUnit and NUnit.

[2018-01-24 14:52] sirk1989 commented on #990
Are you talking about the nunit test adaptor installed to visual studio or the nunit framework installed to the solution. the problematic solution is using nunit 3.9.0, but i have recently inherited another solution that is currently on nunit2.6.4 that is allowing me to go straight to tests from test explorer as is expected, i'm a little reluctant to update that at the moment

[2018-01-24 14:57] SabotageAndi commented on #990
The test adapter of NUnit and XUnit can be installed via Visual Studio extension or NuGet package.
It's the same code, but a different form of distribution.
I personally only use the test adapter from the NuGet packages, so that I can have different versions in my projects.
If you have the adapter only installed by Visual studio Extension, your projects have all to be using the same version.

As i

[2018-01-24 14:57] SabotageAndi commented on #990
@gasparnagy Do you have any memories about this behavior in the past?

[2018-01-24 15:46] PhilipGullick commented on #857
@SabotageAndi I have installed the preview for MSBuild generation, however when I build I still get:

My csProj config is as follows (after added the nuGet package):
  <Import Project="..\..\packages\SpecFlow.2.3.0-preview20180119\build\SpecFlow.targets" Condition="Exists('..\..\packages\SpecFlow.2.3.0-preview20180119\build\SpecFlow.targets')" />
  <Import Project="..\..\packages\SpecFlow.Tools.Ms

[2018-01-24 15:50] yorkshirefellman commented on #857
Following the below workaround from

[https://groups.google.com/forum/#!msg/specflow/ZC-B4YWkv8Y/Jkj9fmJwBgAJ](url)

Because the <codeBase href> is relative (depending on the extensions installed in Visual Studio, some of them changing the current directory, in particular in my case Resharper, latest versions of Resharper), you can encounter this problem. The simplest way to avoid it is to change

[2018-01-24 16:55] Supriya-Patwardhan opened #1011 "December@2017"
### SpecFlow Version:
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [ ]	Visual S

[2018-01-24 17:16] #1011 closed

[2018-01-24 17:53] BillHughesCoder commented on #990
Just to add my experience to the mix in case its helpful.
Visual Studio 2015 14.0.25431.01 Update 3
NUnit ~> 2.6.4
JetBrains ReSharper Ultimate 2016.3.2  Build 107.0.20170126.120331

- When I double click a PASSED unit test in ReSharper Unit Test Session window, I am brought to the *.feature.cs file
- When I double click a FAILED unit test in ReSharper Unit Test Session window, I am brought to the

[2018-01-24 22:08] ats-tute commented on #857
For me solution was different ,
I had multiple projects in same solution with different target framework (Project->Properties->Application->Target framework),
 once I made all projects to the same framework (say latest 4.6.1) SpecFlow started working without issues.
Not sure if this will help someone. (I am using VS 2017 community edition)

[2018-01-25 08:22] gasparnagy commented on #990
@SabotageAndi No. I agree that it must be related to the xUnit/NUnit test adapter.
What we do is that we set `#line 123 "MyFeature.feature"` pragmas in the generated tests, so it should be easy to make a repro without SpecFlow that we could submit to NUnit/xUnit projects.

[2018-01-25 08:37] gasparnagy commented on #936
@akinsolb there is no such thing, I think. You can handle the different step methods and check if it was the first within your plugin.

[2018-01-25 08:52] gasparnagy commented on #1010
@realfaisalk By design it should only scan references that are listed in the specflow configuration... Does it get fixed if you add an additional assembly, add the web references there and use them through that project?

[2018-01-25 08:57] gasparnagy commented on #898
@thomfresn the `<bindingCulture>` setting is for that I think. http://specflow.org/documentation/Configuration/

[2018-01-25 10:16] thomfresn commented on #898
I see. So the `<bindingculture>` attribute is used to convert step arguments but not in the case of tables. Is there a particular reason?

[2018-01-25 10:58] gasparnagy commented on #1006
Unfortunately, this is a limitation of the test infrastructure for VS2015, that does not allow this. So I am closing this. With VS2017 it seems to be working.

[2018-01-25 10:58] #1006 closed

[2018-01-25 11:28] realfaisalk commented on #1010
Hi,
Created a new project called "References" in my solution and added the Web Reference to it.
Added reference from this to my Specflow project and can confirm **that I am not getting the slowdown** when analyzing new bindings now:
![vsbindingregistrybuilder_2](https://user-images.githubusercontent.com/23498757/35386027-599b5e18-01c2-11e8-8c36-99a6282e0c37.JPG)

I assume the issue arises because

[2018-01-25 11:31] gasparnagy commented on #1001
@igorSss do you also get this error if you build the project with msbuild locally?

[2018-01-25 11:38] gasparnagy commented on #998
@tmulkern could you please comment on this?

[2018-01-25 11:45] gasparnagy commented on #870
@cosminstirbu have you tries to report this to the NUnit or the VS MAC team (that the appdomain unload event is not fired)? Maybe they can give an advice.

[2018-01-25 11:50] #983 closed

[2018-01-25 12:05] Gonnagle commented on #820
@SabotageAndi don't think it essentially differs from the issue here. I've prepared a repro here: https://github.com/Gonnagle/paket-tests/tree/specflow-issue-820-new-csproj-feature-file-generation

**Broken state**: https://github.com/Gonnagle/paket-tests/releases/tag/specflow-issue-820-broken
**Workaround applied** (if you run rebuild on this you should end up to the state of the latest commit):

[2018-01-25 12:35] tmulkern commented on #998
@gasparnagy I haven't been working on Specflow since last year. I'll read up on it and get back to you

[2018-01-25 13:53] MaxGolub commented on #857
@yorkshirefellman
Didn't work for me. I'm using VS 2017 Professional

[2018-01-25 14:10] gasparnagy commented on #1010
@realfaisalk good question. but at least we have a workaround. the analyzing issue in the VS extension would be pretty hard to fix...

[2018-01-25 14:12] gasparnagy commented on #898
hm. i thought that it is also used to convert the tables, because that culture is set as the current culture for the step definition executions...
@thomfresn could you please double check that it is not used for tables?

[2018-01-25 14:15] gasparnagy commented on #989
@sergiop360 when i checked nunit last time (quite some time ago) it only supported class-level parallel runs, that menas to specflow that only the scenarios across feature files will run parallel.
But you can easily check this with a simple nunit demo.

[2018-01-25 14:46] thomfresn commented on #898
As @SabotageAndi described, the Retrievers (such as DoubleValueRetriever) are using TryParse without a Culture specified.
`Double.TryParse(value, out returnValue);`
Therefore, it is using the System settings instead of the culture set as the current culture.

I have a prototype showing that the behavior is different between
- a step definition with a "standard" argument: this takes the culture set

[2018-01-25 15:01] realfaisalk commented on #1010
@gasparnagy Yes, I'm happy with the workaround, seems to be doing the job 😃
Up to you if you want to close this issue and the VS extension fix could be put on a backburner for whenever you have the time/resources etc.

[2018-01-25 15:25] gasparnagy commented on #898
too bad... I thought that `Double.TryParse(value, out returnValue);` is using the current culture, not the system culture...

[2018-01-25 15:25] gasparnagy commented on #1010
ok. closing...

[2018-01-25 15:25] #1010 closed

[2018-01-25 15:38] gasparnagy commented on #898
BTW: here is my take to use the core specflow conversion logic for the assist helpers, if helps:
https://gist.github.com/gasparnagy/a478e5b7ccb8f557a6dc

[2018-01-25 18:20] ats-tute commented on #857
can you please just try reinstalling specflow addin. i used specflownunit
addin.

On 25 Jan 2018 1:54 pm, "Maksym Holub" <notifications@github.com> wrote:

[2018-01-25 21:17] joer33304 commented on #857
yorkshirefellman worked for me to remove that MSBUILD error.  Copy of his solution:

"On my computer I replaced all "....\MSBuild\15.0\Bin" by "C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin" in devenv.exe.config and the problem was solved."

[2018-01-25 23:57] pvones commented on #857
Update to 15.5.5 resolved it for me (VS 2017 Pro)

[2018-01-26 09:37] igorSss commented on #1001
Locally with msbuild I do not have such error.

[2018-01-26 09:51] MaxGolub commented on #857
@ats-tute did help either.
Also didn't help:
- Reinstalling extension
- Reinstalling nuget package
- Installing preview nuget package
- Putting non-relative path to denvexe.config
- Cleaning bin folders

[2018-01-26 11:37] gasparnagy commented on #1001
@igorSss can it happen that on teamcity a different version of MsBuild is running and/or there is a difference in the folder structure you use there?

[2018-01-26 16:10] livioc commented on #991
if anybody has this issue please add the specflow related files from the output of "gacutil.exe /ldl" thanks

[2018-01-26 16:15] SabotageAndi commented on #991
SpecFlow doesn't add any files to the GAC. It is only distributed as a NuGet package.

[2018-01-26 16:17] livioc commented on #991
i suspect that the problem is related to the shadow copied files (they are put in a subfolder of the gac)

[2018-01-27 03:11] icnocop opened #1014 "Enable generating XML code documentation files and include them in NuGet packages to enable "Summary" and "Parameter Info" with IntelliSense"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
14.0.23107.0

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
-

[2018-01-28 09:21] ats-tute commented on #857
Hello All,

Thanks a lot ,

Yes update to 15.5.5 for VS 2017 community also resolved the issue.

So issue was with VS patch rather than SpecFlow dlls (:))

From: Petr Vones [mailto:notifications@github.com]
Sent: 25 January 2018 23:58
To: techtalk/SpecFlow
Cc: ats-tute; Comment
Subject: Re: [techtalk/SpecFlow] Visual Studio 2017 Generation error: Could not load file or assembly 'Microsoft.Build.Fr

[2018-01-29 07:58] igorSss commented on #1001
@gasparnagy MsBuild version is the same. Folder structure looks the same
![1](https://user-images.githubusercontent.com/6950091/35499434-f9316628-04da-11e8-813f-9d0ff4e9accf.png)

[2018-01-29 10:08] wilhen01 commented on #857
Just upgraded to 15.5.5 (VS 2017 Pro), problem still persists.

[2018-01-29 12:04] phatcher commented on #820
If you don't want to use paket, you can refer to the SpecFlow package with the caveat that you are linked to the version e.g.

This uses the %userdata% parameter to get to the current user's nuget cache and so will also work for CI builds

[code]

[2018-01-29 14:12] gasparnagy commented on #1001
@igorSss :( something must be different... can you remote control to the build agent and run it from there from a cmd prompt?

[2018-01-29 14:30] phatcher commented on #820
Sorry that %userdata% should be $(UserProfile)

[2018-01-29 22:32] teknlgyuser commented on #857
@SabotageAndi  What is the upgrade path to SpecFlow 2.3 (https://www.nuget.org/packages/SpecFlow/2.3.0-preview20180119)

I already have the following installed?
[code]

Do I need to upgrade all 3 packages or just Specflow?

I'm going to work on this in the morning with VS2017 v15.5.5

[2018-01-29 23:27] hegsie commented on #857
I tried installing the 2.3 version in VS 15.5.6 and it didn't seem to help with the issue, I'm still getting...

#error Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

[2018-01-30 10:27] SabotageAndi commented on #820
@Gonnagle I think these are separate issues.
This one was originally for the new csproj format.
Your issue is with paket. AFAIK paket stores the NuGet packages not in the local package folder.
I think paket + SpecFlow also doesn't work with the old project format.

[2018-01-30 10:52] pvones commented on #857
@wilhen01 Maybe it also depends on .NET Framework version installed.

[2018-01-30 11:59] phatcher commented on #820
Sorry my previous comment went away....

My version of the code looks like this...

[code]
This works both locally and on the build server as MsBuild 15 uses the user profile directory for the local nuget cache.

It does couple to the version of the SpecFlow package, but using the variable I've reduced that to a single line change, I also limit the C# files it deletes so as to avoid any step defin

[2018-01-30 12:37] QAGal2 commented on #990
from nunit issue thread #441 This workaround works for me... until we get an actual fix:
       **Tools -> Extensions and updates , "Disable Extensions for Test Explorer"**

[2018-01-30 13:52] SamJongenelen opened #1016 "[Generator] Custom tool Namespace is not used when running custom tool"
### SpecFlow Version:
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number:
 - NUnit Test Adapter: 3.9.0
- Specflow VSIX 2017.1.10
- Generated files carry version '2.2.0'

### Visual Studio Version
- [ ]	VS 2017
- [X]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

###

[2018-01-30 13:58] SabotageAndi commented on #1016
We don't set this property in the Visual Studio Integration.
Here is the call of the generator: https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/IdeIntegration/Generator/IdeSingleFileGenerator.cs#L93

[2018-01-31 07:11] Gonnagle commented on #857
@SabotageAndi Is there a build related to #1015 that I could try and see if it helps?

[2018-01-31 07:22] SabotageAndi commented on #857
@Gonnagle There should be one in the CI- NuGet Feed.

[2018-02-01 02:34] sakhurana opened #1017 "SpecFlow Method not found Error: 'TechTalk.SpecFlow.Configuration.SpecFlowConfiguration TechTalk.SpecFlow.Generator.Configuration.SpecFlowProjectConfiguration.get_SpecFlowConfiguration()'"
Getting error in Specflow Configuration issue

Error discription:
Error	17	Method not found: 'TechTalk.SpecFlow.Configuration.SpecFlowConfiguration TechTalk.SpecFlow.Generator.Configuration.SpecFlowProjectConfiguration.get_SpecFlowConfiguration()'.

### SpecFlow Version:
- [ x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ x]	NUnit
- [ ]	Xunit

Vers

[2018-02-01 06:42] SabotageAndi commented on #1017
@sakhurana
Please don't post passwords and usernames in public issues!
Also please provide us some steps to reproduce your issue.

[2018-02-01 14:28] steve-marsh-bradyplc commented on #990
I am experiencing this problem with MSTest

[2018-02-01 14:36] SabotageAndi commented on #857
I got my hands on a project, where I could reproduce this issue and debug it.

With using the SpecFlow VS Extension from https://github.com/techtalk/SpecFlow.VisualStudio/pull/26 and a new SpecFlow version this error is gone.

VS Extension:  [TechTalk.SpecFlow.VsIntegration.2017-Fix857.vsix.zip](https://github.com/techtalk/SpecFlow/files/1685856/TechTalk.SpecFlow.VsIntegration.2017-Fix857.vsix.zip

[2018-02-01 14:40] QAGal2 commented on #990
If you have this issue you may want to also follow/report on this Visual Studio thread
https://developercommunity.visualstudio.com/content/problem/158160/unable-to-fetch-source-information-for-test-method.html

[2018-02-01 14:47] SabotageAndi commented on #857
@teknlgyuser
You have also to use the SpecFlow+Runner in version 1.7 to get support for SpecFlow 2.3. The 1.4 only support up to SpecFlow 2.1.
SpecFlow+Runner packages that should be installed after updating

- SpecRun.Runner
- SpecRun.SpecFlow.2-3-0

Also thanks for the ticket and the attached repro project. As with other repro project I got, I couldn't reproduce the issue with it. But please upg

[2018-02-01 16:11] wilhen01 commented on #857
@SabotageAndi Just tested with one of my projects, looks good!

[2018-02-01 16:30] MaxGolub commented on #857
@SabotageAndi
Installed the VSIX you provided
Updated SpecFlow to 2.3.0-preview20180201
Updated SpecRunner to latest stable 1.6.3

Seems to be running good so far.
Will report if smth changes.

[2018-02-01 16:31] SabotageAndi commented on #857
@MaxGolub Good to hear, but you should need SpecFlow+Runner/SpecRun/SpecRunner 1.7-rc002 to be able to run SpecFlow 2.3 tests.

[2018-02-01 17:43] OlegZarevych commented on #1008
Hi ! I have the same issue

[2018-02-01 22:59] teknlgyuser commented on #857
@SabotageAndi
I am getting a different error on my reproduced project and in the original when trying to regenerate the files with the updates:
`#error TechTalk.SpecFlow.Generator.Interfaces.TestGenerationError
#error TechTalk.SpecFlow.Generator
#error Server stack trace:
#error    at TechTalk.SpecFlow.Generator.Plugins.GeneratorPluginLoader.LoadPlugin(PluginDescriptor pluginDescriptor)
#error

[2018-02-02 06:50] SabotageAndi commented on #857
@teknlgyuser Do you have also the SpecRun.SpecFlow.2-3-0 package installed?

[2018-02-02 08:34] SabotageAndi commented on #1008
@realfaisalk & @OlegZarevych: Could you create me a project where I can reproduce this issue?
I wasn't able to reproduce it in my test projects.

[2018-02-02 09:48] realfaisalk commented on #1008
@SabotageAndi  I'm able to reproduce it in a brand new project. It seems to happen when I customise the **Default.srprofile** file. The customisations include updating the _Settings_ & _Execution_ sections, **adding a Filter section with @regression tag(!!!!)** and commenting out the _DeploymentTransformation_ section.
I've uploaded this for you along with the _packages.config_ file as well.
If yo

[2018-02-02 09:53] SabotageAndi commented on #1008
@realfaisalk Could you zip/upload this new project somewhere? Makes it easier for me.

About the Filter section:
In Visual Studio the settings in the srProfile are also respected. If you don't configure it in the runsettings file otherwise, we are looking first for a VisualStudio.srProfile (<= 1.7 bugged) and then for a Default.srProfile.
So when you have only a Default.srProfile and define there

[2018-02-02 10:14] realfaisalk commented on #1008
Solution in Mega - https://mega.nz/#!ktZVWIhJ
You're right, the Test Explorer is linked to the Filter section.
To show all tags: `<Filter></Filter>`

[2018-02-02 10:48] Gonnagle commented on #857
@SabotageAndi tried to regenerate feature files with 2.3.0-preview20180201 installed from SpecFlow and SpecFlow.NUnit. Still got the same error for one of the projects (on other project in same solution feature files are being generated just fine...):
[code]

[2018-02-02 14:12] jcomish commented on #1003
Looks like this is a duplicate of #894

[2018-02-02 14:12] #1003 closed

[2018-02-02 14:24] teknlgyuser commented on #857
@SabotageAndi
That fixed it.  I didn't have SpecRun.SpecFlow.2-3-0 installed, so i just installed it, cleared %temp% and restarted VS2017, opened the repo project and was able to regenerate all files in the repo project and in the original project.

here are my packages that helped fix it.
[code]

When executing the tests, i get a license error.
Invalid license: License is not valid for this versi

[2018-02-02 14:31] jcomish commented on #989
I have not been able to get a Specflow fixture with multiple scenarios working in parallel.  Seems to work just fine across fixtures though.  If you wanted to try and get scenarios to run in parallel in a single fixture, and assuming you are using NUnit, you could add the following to your AssemblyInfo.cs
`[assembly: Parallelizable(ParallelScope.Children)]
[assembly: LevelOfParallelism(4)]`
But th

[2018-02-02 14:42] SabotageAndi commented on #857
Thanks for the positiv feedback. If other people could also test the new versions and post their results, it would me decide if it is worth the risk to publish final new versions to Nuget.org and VS Gallery.

[2018-02-02 15:25] evilC commented on #648
I just followed the [Welcome To Specflow](http://specflow.org/guidance/first-steps/) guide, creating a brand new project, and it **does not work**.
Adding the Nunit reference adds the file `SpecFlowNUnitExtension.cs` which has unresolvable references.
![](https://i.imgur.com/YVLXCK2.png)

**YOU MUST DELETE THIS FILE** for SpecFlow to work.
Kindly update your code and / or documentation, we just wa

[2018-02-02 18:30] OsirisTerje commented on #990
This is related to the new Real Time Test Discovery feature.  See https://blogs.msdn.microsoft.com/dotnet/2017/10/30/real-time-test-discovery/  .  There has been changes to both NUnit3, XUnit and MSTest2 to enable this feature.  The other mentioned adapters, like NUnit2 has not been changed, and is therefore not affected.  The feature should have been disabled by default, but seems to interact som

[2018-02-02 18:58] BasHamer opened #1019 "standardizing regular expressions using constants breaks vs integration as steps don't resolve (stay purple)"
### SpecFlow Version:
- [x ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [x ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x ]	Vi

[2018-02-02 19:12] evilC commented on #1006
Could you please clarify on this? Does this only affect scenario outlines?
I just created a new project in VS (We are trying to migrate away from MSTest as it does not support multiple external assemblies for Step Definitions) - just the stock Feature/Step/Hook files (The sample calculator ones) and when I double-click a test in the Test Explorer, it no longer navigates to the feature file.
Not su

[2018-02-02 19:22] SabotageAndi commented on #1019
The Visual Studio Integration can not handle constants in the attributes.
There should be an issue here that explains it deeper.

[2018-02-02 21:02] BasHamer commented on #1019
I tried to find it in the source, but as we know they are constants (have to be to be used in attributes) then it is possible to find them in the code model.

[2018-02-05 10:09] Stephen-Mc commented on #648
@EvilC: Thanks for the heads up. The page is outdated as you point out. I'd recommend you look at the [Getting Started](http://specflow.org/getting-started/) guide instead if you are new to SpecFlow.

Did you get taken to this page from the VS integration after installation, or from elsewhere? We will take a look at the links that are opened by the VS integration and update them. If you got to the

[2018-02-05 12:18] kwaazaar commented on #857
I have this same error, but ONLY when I run Visual Studio in admin-mode.

[2018-02-05 13:43] evilC commented on #648
No, I have been using Specflow for a year or two, but due to some issues with MStest that we have only just discovered (It only supports ONE external assembly Step binding, when you try to add a 2nd, the tests fail to run in TFS as they cannot load the DLL) then we are now trying out various alternatives, so are creating various new projects from scratch using various versions of VS.
It has to be

[2018-02-05 13:50] evilC commented on #648
Oh and WRT the documentation...
The old docs attempted to help you setting up one of two runners (MSTest and Nunit), both of which can be used for free.
The new documentation only attempts to help you through Specflow+, which is not free.
IMHO, this is a step backwards, not forwards.

[2018-02-05 17:54] SubjectiveReality opened #1021 "Setting to default no use of SpecFlowSingleFileGenerator"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Visual S

[2018-02-06 09:50] SabotageAndi commented on #1021
fixed checkboxes

[2018-02-06 09:52] SabotageAndi commented on #1021
Currently the CustomTool is registered via attributes that look at file extensions: https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/SingleFileGenerator/SpecFlowSingleFileGenerator.cs

To solve this, we would need to make this depend on some project setting. I don't have currently an idea if this is possible or how it could be done.

[2018-02-06 09:59] SabotageAndi commented on #648
@evilC Crashing on diff is a known issue. To fix that, it would need a big rewrite of the VS integration for what we currently don't have the workforce to do.
It should only crash the one window. I think if you close all feature files and then open one, it should work again.

The intellisense and syntax highlighting from other assemblies is also heavy bugged. There are some issues here on Github w

[2018-02-06 13:23] evilC commented on #648
I already have an [issue](https://github.com/techtalk/SpecFlow/issues/838) open for the syntax highlighting, do you have an ID for the diff crash issue?
My employer is willing to consider throwing some dev effort at properly fixing these issues (And of course feeding the fixes back to the community), but we are completely unfamiliar with what needs to be done, so if you could help us assess how mu

[2018-02-06 14:47] gasparnagy commented on #648
@evilC I can try to help you setting up the things. Could you join the specflow dev gitter channel (https://gitter.im/gasparnagy/specflow-dev) to discuss how we could do that?

[2018-02-06 15:57] PhilipGullick commented on #857
@SabotageAndi works for me - thanks

[2018-02-06 16:03] SabotageAndi commented on #857
@kwaazaar: Did you also install the preview version of the extension? Without it, you will get the issue, regardless the SpecFlow version. You simple need both, not only one of it.

About cli:
There is already the specflow.exe with the generateall command (http://specflow.org/documentation/Tools/) and a MSBuild integration (http://specflow.org/documentation/Generate-Tests-from-MsBuild/).

We are t

[2018-02-07 00:33] rsnet commented on #1021
One option is to put a new setting in Visual Studio's settings (Tools -> Options -> Specflow -> General). Create a new group: Default values for new .feature files. New item in that group named "Custom Tool" and two options:
1. SpecFlowSingleFileGenerator (default)
2. None

When a new .feature file is added, the SpecFlow extension could set the "Custom Tool" value according to this setting.

I'm n

[2018-02-07 08:06] SabotageAndi commented on #1021
I wouldn't put it into the VS settings, because this could be different per project of the user, but into a setting in the project (csproj) file.
But this is only where you configure it. As written, the problem is, that the custom tool is registered via attribute. We can not switch the existence of the attribute at runtime.
If somebody knows how to do the registration at runtime, please provide th

[2018-02-08 02:31] firstchild78 commented on #990
Workaround fixed the issue that I was having with Nunit3. Thanks!

[2018-02-08 14:13] SakeBhargava commented on #922
I am having issue with VS2017 Specflow code behind generation.

#error Generation error: Loading this assembly would produce a different grant set from other instances. (Exception from HRESULT: 0x80131401)
--

[2018-02-08 16:08] Gonnagle commented on #820
@SabotageAndi in the repo I provided there is [another project](https://github.com/Gonnagle/paket-tests/tree/specflow-issue-820-new-csproj-feature-file-generation/LibraryUsingSpecflow) using paket and the old project format whitout any issues that I've noticed. I've also used SpecFlow+paket successfully in other projects. Paket does still place nugets in "packages" folder, it just doesn't add the

[2018-02-08 17:30] sergiop360 opened #1022 "Output in command line and report"
In the nunit3-console test execution if I put "--out=TestResult.txt" in the command I can see the output of my scenarios in the report but I cannot see them in the command line because the toggle "show" doesn't appear. To see the steps in the command line I need to remove "--out=TestResult.txt" from the command.

I want to see the steps both in the command line and in the report.
There's anyway to

[2018-02-09 08:42] SabotageAndi commented on #998
@phillee007 could you test the changes?
NuGet packages could be found here: https://ci.appveyor.com/project/SpecFlow/specflow-kx1o3/build/2.2.2-PullRequest.1020+55.build.775/artifacts

@tmulkern
There are some tests to check the generated code, like this: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.GeneratorTests/NUnit3GeneratorProviderTests.cs

For checking if it real

[2018-02-09 12:14] SabotageAndi commented on #1022
The NUnit execution report has some bugs and can not handle the Nunit3 format that well. Also wenn you specify the nunit2 format.

[2018-02-09 12:23] SabotageAndi commented on #1008
@realfaisalk The solution you uploaded. There is nothing in the filter section.
Is this a version where you see all your tags or where do you have this issue?

If this is the working solution, I assume your issue is solved. Can I close this issue?

[2018-02-09 13:46] tmulkern commented on #998
@SabotageAndi I'll add some compilation tests for each of the providers then, thanks 😊

[2018-02-09 13:47] SabotageAndi commented on #998
@tmulkern thanks!

[2018-02-09 14:05] realfaisalk commented on #1008
@SabotageAndi Yes, the solution I uploaded was the working one.
I'll closed as resolved.
Thanks

[2018-02-09 14:05] #1008 closed

[2018-02-09 14:13] SabotageAndi commented on #818
Some heads up on this topic.
As the CodeDom API is ported to .NET Standard 2.0, we will stick with code-behind files for the .NET Core support.
My current plan is to read the installed package version from the project and search with that for the package.
I will create in the next days separate issues for each step that is needed to get to .NET Core support. One of them involves this topic.

[2018-02-09 14:14] SabotageAndi commented on #826
In a first step we will target .NET Standard 2.0.
Details and separate issues for each step to this will be published in the next days.

[2018-02-09 14:14] #826 closed

[2018-02-09 14:15] SabotageAndi commented on #827
In a first step we will target .NET Standard 2.0.
Details and separate issues for each step to this will be published in the next days.

[2018-02-09 14:15] #827 closed

[2018-02-09 14:21] SabotageAndi commented on #824
CodeDom is ported to .NET Standard 2.0, which we will target in a first step.
To be able to finish the .NET Standard/Core support anytime, we will stick with the code-behind files.

Details and separate issues for each step to this will be published in the next days.

[2018-02-09 14:21] #824 closed

[2018-02-09 22:28] phillee007 commented on #998
Yep will give it a go next week

On Fri, Feb 9, 2018 at 9:43 PM, Andreas Willich <notifications@github.com>
wrote:

[2018-02-10 03:18] ChristopherHaws commented on #818
@SabotageAndi Do you think that we could patch v2.2 (or include in v2.3) to look in both of these places?
`/packages/xyz-plugin/1.0.0/lib/netXX/xyz.SpecFlowPlugin.dll`
`/packages/xyz-plugin.1.0.0/lib/netXX/xyz.SpecFlowPlugin.dll`

I believe that with this simple change, SpecFlow could work with the new CPS csproj files as long as the project:
1) Is compiling against full .NET
2) Has the property `

[2018-02-10 09:38] SabotageAndi commented on #818
@ChristopherHaws 2.3 is days away of it's release, so if you want to provide a PR for this, be quick.
But I don't think, we need this change.
Have a look at: https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/NewCSProjFormat
You can set the path where the plugin can be found. https://github.com/techtalk/SpecFlow.Plus.Examples/blob/master/NewCSProjFormat/SpecFlowNewCSProjFormat/app.conf

[2018-02-10 15:02] tmulkern commented on #998
@SabotageAndi No Problem, it should have been working to first time round, so I'm just fixing my code 😉

[2018-02-10 18:18] FlippieCoetser commented on #857
After upgrading to 2.3.0. I had to delete my feature file and add it again before the error was resolved. I am not sure if there is an easier way to regenerate the code behind file and not actually deleting it?

[2018-02-11 06:14] mjalali commented on #665
Hello,

the System.Reflection.TargetInvocationException is still an issue when using latest SpecFlow, SpecFlow.NUnit, NUnit and Xamarin.UITest

my project is setup exactly like https://github.com/Geertvdc/BDDXamarin
with latest nugets.

Please help.
Thank you for your time.

[2018-02-11 10:41] SabotageAndi commented on #665
@mjalali The bug is in Xamarin.UITest. They have to fix their integration.

[2018-02-12 13:40] andersthorsen commented on #857
I had the same problem with VS2017 and solved it by upgrading to 2.3 and installing the updated extension.

[2018-02-12 13:52] DanielTheCoder commented on #857
@SabotageAndi looks good on our side
- the new visual studio extension solved the msbuild problem
- the new specflow pre-release version solved the grant set  error

[2018-02-12 14:11] SabotageAndi commented on #1019
@BasHamer: here is the explanation from @gasparnagy about this limitation: https://github.com/techtalk/SpecFlow/issues/926#issuecomment-327132745
In the particular case it was about the Scope tag, but it also applies to other attributes.

[2018-02-12 14:11] SabotageAndi commented on #1017
No new input => issue closed

[2018-02-12 14:11] #1017 closed

[2018-02-12 14:12] SabotageAndi commented on #993
No new input => Issue closed.
If you provide additional information, we will reopen the issue.

[2018-02-12 14:12] #993 closed

[2018-02-12 14:13] SabotageAndi commented on #979
No new input => Issue closed.
If you provide additional information, we will reopen the issue.

[2018-02-12 14:13] #979 closed

[2018-02-12 14:58] SabotageAndi commented on #833
@ChristopherHaws There were some issues with 1.7-rc001 and this feature. They are fixed with the 1.7-rc002 release.

[2018-02-12 15:01] BasHamer commented on #1019
One way is to reflect the compiled assembly for the attributes that use
constant, but that is not nearly as simple as that assembly cannot be
allowed to enter the visual studio app domain.

Yes this means that it can fall out of sync when you have not compiled in a
while. It is a 90% solution, but it can help a lot in standardization.

So plan A, read the attributes you can from the integration; p

[2018-02-12 16:20] SabotageAndi opened #1023 "[RFC] Enable SourceLink integration"
Description of SourceLink: Source link support allows source code to be downloaded on demand while debugging. SourceLink is a set of build tools to help create and test for source link support. Source link support is a developer productivity feature that allows unique information about an assembly's original source code to be embedded in its PDB during compilation.

https://github.com/dotnet/sourc

[2018-02-12 17:25] jorgemiguelreis commented on #857
Hi! There is any estimated date to a stable release launch based on this prerelease 2.3? Thanks in advance!

[2018-02-12 17:25] ChristopherHaws commented on #818
@SabotageAndi Interesting. I was trying to get it working over the weekend using rc002 and the new path attribute but I continually get the following error:

[code]

[2018-02-12 17:33] SabotageAndi commented on #857
@jorgemiguelreis should happen in the next 2 weeks.

[2018-02-12 17:35] SabotageAndi commented on #818
Only to be sure, did you also update to the latest SpecFlow 2.3 prerelease?

[2018-02-12 18:03] ChristopherHaws commented on #818
Yes, I am using the lastest pre-release packages for both SpecFlow and SpecRun.

[2018-02-12 18:38] SabotageAndi commented on #818
@ChristopherHaws Ok, I will check it in the next days. It will work with the final versions.

[2018-02-12 20:50] shanmugamganesan commented on #857
Thanks so much @SabotageAndi Legend

[2018-02-13 18:29] rocknet commented on #857
@SabotageAndi I can further confirm the combination of the vsix and 2.3.0 pre-release fixed three machines that were having the issue here.  I used to work around this by unloading our WIX project, but I no longer have to do that.

[2018-02-13 18:49] 42shadow42 opened #1025 "Dependencies generated from factories are not disposed"
### SpecFlow Version:
- [X ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ X]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [X ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X ]	Yes
- [ ]	No

### .NET Framework:
- [X ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [X ]	Vi

[2018-02-13 19:23] SabotageAndi commented on #1025
@gasparnagy this is your expertise

[2018-02-13 20:19] skazo commented on #857
Hallo, I have following problem with my project in visual studio 2017, installed on my D drive also with MySql  connector, MySQL for Visual studio, MySQL Connector NET and created DB on localhost MySQL server.
![obrazok](https://user-images.githubusercontent.com/32869850/36171505-34b9713e-1103-11e8-8b01-2c141dcb9cbd.png)
This file is impossible to run, but i can edit this file with notepad++
Can s

[2018-02-14 00:17] jtdubya commented on #784
I had the same problem as the OP, the detailed error in the logs was:
`Unable to publish results to the server. System.IO.FileNotFoundException: Could not load file or assembly 'Newtonsoft.Json, Version=4.0.2.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' or one of its dependencies. The system cannot find the file specified.
File name: 'Newtonsoft.Json, Version=4.0.2.0, Culture=neutral, Publ

[2018-02-14 04:05] SalamiArmy commented on #857
Gladly skazo.

Go find a more relevant thread?

Sorry.

[2018-02-15 07:57] webbdan commented on #972
+1 for this, it's a real pain

[2018-02-16 09:41] SabotageAndi opened #1026 "[.NETCore] Testing of VS Integration with new project system"
We have to test the current VS integration with the new project system.

[2018-02-16 09:41] SabotageAndi opened #1027 "[.NETCore] TechTalk.SpecFlow.Specs should work with different project formats and runtimes"
The tests in the Spec project have to run for different project formats and runtimes.

Old Format: .NET 4.5
New Format: .NET 4.5, .NET Core 2.0

[2018-02-16 09:42] SabotageAndi opened #1028 "[.NETCore] run unit tests for .NET 4.5 and .NET Core 2.0"
The unit tests have to be executed for both runtimes.

Required:

- in the CI build
- via a script

Nice to have:

- in Visual Studio

[2018-02-16 09:43] SabotageAndi opened #1029 "[.NETCore][RFC] Rewrite reading of csproj files"
With SpecFlow 2.2, we changed to reading the csproj via XML. This has limited support for the SDK project format.
To get back complete MSBuild functionality, we require a design time build of the project.

For that we could use https://github.com/daveaglick/Buildalyzer.

[2018-02-16 09:44] SabotageAndi opened #1030 "[.NETCore][Research] research MSBuild Tasks for .NET Core MSBuild"
Our Generate task also needs to run in the .NET Core MSBuild version.
The current base class AppDomainIsolatedTask is not in .NET Standard/Core.

We need to research how this is now done.

[2018-02-16 09:45] SabotageAndi commented on #1030
@dasMulli can help us perhaps? Do you know something about this?

[2018-02-16 09:46] SabotageAndi opened #1031 "[.NETCore] remove SpecFlowBinPackages"
Remove the project and use the source files instead of the copied one.

[2018-02-16 09:47] SabotageAndi opened #1032 "[.NETCore] recheck JSON Config"
Since 2.2, we can use a specflow.json file to configure SpecFlow. However, this is not as well tested and integrated as the app.config configuration.

As this configuration mode will be getting more attention, we have to improve the tests and integration of this configuration mode.
Additionally we have to enable the Visual Studio Extension to work with the specflow.json file (see #879)

[2018-02-16 09:48] SabotageAndi opened #1033 "[.NETCore][RFC] Plugin Loading for Generator plugins"
Currently the generator plugins are loaded from the solution's package folder (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/Plugins/GeneratorPluginLoader.cs#L143).

With the new SDK projects, there is no longer a package folder in the solution. All packages are stored in a cache in the user's profile.
We know the name of the plugin, but not its version, so we cannot

[2018-02-16 09:50] SabotageAndi opened #1034 "[.NETCore] MSBuild integration"
Merge changes from https://github.com/techtalk/SpecFlow/pull/1167 to the new MSBuild task

[2018-02-16 09:51] SabotageAndi opened #1035 "[.NETCore] Integrationtests: update, cleanup and complete them"
Our IntegrationTests test each supported test framework to verify that we generate a correct code-behind file and that it compiles.

This has to be updated to the latest supported versions of the test frameworks.
Not all features of Gherkin/SpecFlow are in the test files (https://github.com/techtalk/SpecFlow/tree/master/Tests/TechTalk.SpecFlow.IntegrationTests/TestFiles). For example, @ignore test

[2018-02-16 09:51] dasMulli commented on #1030
[@]AArnott has good isolated task samples at https://github.com/AArnott/Nerdbank.MSBuildExtension/tree/master/src/Nerdbank.MSBuildExtension making use of `AssemblyLoadContext` on core

[2018-02-16 09:52] SabotageAndi opened #1036 "[.NETCore] extract SpecFlow reports"
To make the implementation of .NET Standard/Core support easier, we will drop the current reports.
Not every API we use to generate the reports is available on .NET Standard.
The reports have bugs and don't support the latest versions of the test runners.

We also think that the current integration in specflow.exe is sub-optimal, because we can only update the reports together with SpecFlow.

We a

[2018-02-16 09:53] SabotageAndi opened #1037 "[.NETCore] Create clean integration/specs test project in old & new format"
Our specs and integration tests create projects at runtime and then compile them. This is currently done in the old project format. To test support for both the old and new project formats, we have to run each test using both project formats.

We need to support following combinations:

- old format, C#, .NET 4.5
- new format, C#, .NET 4.5
- new format, C#, .NET Core 2.0
- old format, VB.NET, .NET

[2018-02-16 09:54] SabotageAndi opened #1038 "[.NETCore] Compile for .NET Standard/Core 2.0"
We have to multi-target every project for .NET 4.5 and .NET Standard/Core 2.0

.NET Standard

- TechTalk.SpecFlow.csproj
- TechTalk.SpecFlow.Utils.csproj
- TechTalk.SpecFlow.Parser.csproj
- TechTalk.SpecFlow.Generator.csproj

.NET Core

- TechTalk.SpecFlow.Tools.csproj

[2018-02-16 09:54] SabotageAndi opened #1039 "[.NETCore] Additional CI- Builds running on Mac OS and Linux"
To check if the implementation also works on other plattforms, we also need to run a CI build on MacOS and Linux.

This can be done with AppVeyor or the TechTalk VSTS build agents.

[2018-02-16 09:56] SabotageAndi opened #1040 "[.NETCore] Add "dotnet specflow" integration"
Integrate the functionality of specflow.exe into a dotnet specflow command.

Example implementation:
https://github.com/aspnet/DotNetTools/tree/dev/src/dotnet-watch

Documentation:
https://wannabeegeek.com/2016/08/20/extending-dotnet-cli-commands-in-dotnet-core/
https://dotnetthoughts.net/building-a-custom-dotnet-cli-tool/

[2018-02-16 09:57] SabotageAndi opened #1041 "[.NETCore] adapt NuGet Packages"
We have to update the NuGet packages to contain the additional assemblies.
There are also changes of the functionality of the packages, which need to be addressed.

- App.config.transform (https://docs.microsoft.com/en-us/nuget/create-packages/source-and-config-file-transformations)

We should also clean up and fix the packages

- remove SpecFlow.NUnit.Runners
- set dependency versions on SpecFlow

[2018-02-16 11:31] dasMulli commented on #1030
oh and current best practice is multi-targeting the tasks to net*;netcoreapp2.0 - not netstandard, because the published output of netstandard may not be runnable (no conflict resolution / trimming needed for loading into netcoreapp)

[2018-02-16 12:12] liamharries opened #1042 "Report Template output name failing when using {now}"
The {now} parameter causes the report generation to fail.
.srprofile
[code]

### SpecFlow Version:
- [ ]	2.2.1

### Used Test Runner
- [ ] SpecFlow+Runner

Version number: 1.6.3

### Visual Studio Version
- [ ]	VS 2017

### Are the latest Visual Studio updates installed?
- [ ]	Yes

### .NET Framework:
- [ ]	>= .NET 4

### Test Execution Method:
- [ ]	Visual Studio Test Explorer

### &lt;SpecFlow>

[2018-02-16 13:15] SabotageAndi opened #1043 "Move nuget.config to root level"
New (since Nuget 3.4) standard is that the nuget.config is at the root level and not in the .nuget folder.

https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior

We need to move the file and adjust the file package sources.

[2018-02-16 14:58] sashoalm commented on #857
I managed to reproduce the error in a fresh new project. All it took was to install the SpecFlow nuget package version 2.1.0. Also from ProcMon, it seems to really be searching for files with b03f5f7f11d50a3a in their name it fails to find them.

If I use the 2.2.1 version of the nuget package, it works fine.

[2018-02-16 16:24] #857 closed

[2018-02-16 16:32] SabotageAndi commented on #857
SpecFlow 2.3 is released.
VS Integration build is running and when finished we upload the new version to the Visual Studio Marketplace.
When it is done, I will post a new comment here.

[2018-02-16 16:40] scsaba commented on #1043
pull request: https://github.com/techtalk/SpecFlow/pull/1044

[2018-02-17 02:50] phillee007 commented on #998
It works well when generating the   [NUnit.Framework.ParallelizableAttribute()] at the top of the class, and this also means that scenarios from different features are run in parallel, but not scenarios from within the same feature, which is the behaviour I was hoping for :-)

The skipParallelizableMarkerForTags is also working when I apply it to a feature - which is perfect as we need that in ord

[2018-02-18 13:10] tmulkern commented on #998
@SabotageAndi I edited the Nunit3, Xunit3 and Mbunit3 Intergration tests to make catch any compilation errors https://github.com/techtalk/SpecFlow/pull/1020/commits/e274ccba8d0f8061bdf7d3b50b38901fd43c0b7a,  I think this will suffice

@phillee007 I had a PR (#600) to make Scenario's run in Parallel as well as Features as MbUnit3 could support this (NUnit just caught up 😜 ), but it required some ch

[2018-02-18 16:35] SabotageAndi commented on #1030
I found a blogpost how to write such task: http://www.natemcmaster.com/blog/2017/07/05/msbuild-task-in-nuget/

[2018-02-19 13:56] mgladchenko commented on #888
This issue still exist in SpecFlow 2.2.0 and latest 2.3.0 releases.
And it did not occur in 2.1.0

Any suggestions?

[2018-02-19 21:21] emilyparkes commented on #1043
I'd like to grab this one please!

[2018-02-20 08:26] SabotageAndi commented on #1043
@emilyparkes Sorry, but @scsaba already provided a PR last week for this.
I simply had forgotten to remove the first-timers-only and up-for-grabs tag.

[2018-02-20 08:26] #1043 closed

[2018-02-20 10:18] Stephen-Mc commented on #1042
There is an issue with transforming the date that can happen depending on the regional settings. The date may contain invalid characters for a file name, and these are not currently parsed out before attempting to write to the file. We have added this issue to our backlog.

[2018-02-20 21:08] dasMulli commented on #1030
As discussed offline, a sample project file that packs the publish-output (to include all dependency dlls) is https://github.com/dotnet/sdk/issues/1846#issuecomment-356726385

[2018-02-21 14:47] adzpond commented on #817
It would be extremely useful if this would work for Nunit as well.

[2018-02-21 14:50] SabotageAndi commented on #817
@adzpond Supporting TestRunParameters is job of the test runner. This issue is about adding it to the SpecFlow+Runner. If the NUnit Runner did not have this feature yet, please open a feature request at their repository. This issue is only about the SpecFlow+Runner (as seen in the labels).

[2018-02-21 15:01] adzpond commented on #817
@SabotageAndi It is possible to get the values from the NUnit runner.  I'm using Specflow + along with NUnit to test in parallel.  When I used mstest I was able to resolve the testcontext from the scenariocontainer

i.e. var testContext = ScenarioContext.ScenarioContainer.Resolve<TestContext>()

I was hoping there would be something similar if I used specflow and nunit.  Apologies if this is the w

[2018-02-21 15:07] adzpond commented on #817
@SabotageAndi Appologies, it's been a long day.  I've read through the notes again.  I see what your saying.

The ability to access via Specflow+Runner would be perfect.

[2018-02-22 11:13] yesiamtom commented on #888
I am seeing the same issue in 2.3.0 release as @mgladchenko mentions. This plugin is extremely useful and being stuck on Specflow 2.1 is rather annoying.

I am using Specflow (and associated plugins) 2.3, Retry 2.3, NUnit 3.9, Selenium 3.1 and latest chromedriver. I can confirm the error appears the minute I add the <plugins> section to app.config, according to the readme of Retry. I've not had an

[2018-02-23 04:35] phillee007 commented on #998
@tmulkern The behaviour where it only runs fixtures in parallel and not individual tests is fine - it's fine the way it is :-) Forcing us to switch to NUnit is probably a good thing anyway given the direction that MS seems to be taking with regard to MSTest....

I also prefer the original opt-in parallel behaviour as it makes it easier to port existing features. But then again, adding an @sequenti

[2018-02-23 13:47] SabotageAndi commented on #857
Visual Studio Integration is uploaded to the VS Gallery/Marketplace. It will take a while until you get the update in Visual Studio.

[2018-02-24 00:07] jronay opened #1049 "SpecFlow for Visual Studio 2017 v2017.1.12 fails to install"
**Note - Works fine after updating Visual Studio to Version 15.5.7  - This is not always quick to do when you are behind a corporate firewall :)**

SpecFlow for Visual Studio 2017 v2017.1.12 fails to install and breaks scenarios / definitions
**Same Behavior as issue #783**

### SpecFlow Version:
- [x ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x

[2018-02-25 12:10] SabotageAndi commented on #1049
@jronay  & @vinnyrose: could you try what happens if you delete the VS MEF Cache?
It is located at: %localappdata%\Microsoft\VisualStudio\15.0\ComponentModelCache

[2018-02-25 12:31] SabotageAndi commented on #1049
I just recognized that there could be more than 1 ComponentModelCache folder to delete:
![image](https://user-images.githubusercontent.com/859801/36641477-27ee52f4-1a30-11e8-806c-52459eb07a58.png)

I have them in multiple folders of different VS versions. Please delete it in all VS version folders.

[2018-02-25 21:17] gasparnagy commented on #1049
I had the same issue. For me, updating VS helped (i had 15.3.3 when the issue was reproducible). On 15.5.7, the problem was not present.

[2018-02-25 21:42] jronay commented on #1049
@SabotageAndi it may take a few days. I have a demo of SpecFlow on Monday, and can't risk breaking my setup again. It is a production laptop. :)

[2018-02-25 21:51] SabotageAndi commented on #1049
I put the old releases on GitHub. Use the 2017.1.10

[2018-02-25 21:52] jronay commented on #1049
@SabotageAndi Thanks. Can you include a link to the old releases please?

[2018-02-25 23:01] SabotageAndi commented on #1049
https://github.com/techtalk/SpecFlow.VisualStudio/releases

[2018-02-26 13:37] gasparnagy opened #1050 "Feature request: provide event infrastructure for plugins"
In order to provide better options for plugin writers to hook on different events of the execution, we should add an even infrastructure to SpecFlow, similar to the one that Cucumbers have.
(For example with the current infrastructure it is not really possible to trace hook errors.)
I already have a draft for that, this issue is a reminder for myself to integrate it into SpecFlow.

[2018-02-26 13:40] SabotageAndi commented on #1050
Could we write this new infrastructure in a way, that multiple plugins can register for the same events?
With the currenty DI based plugins, the first one always wins and for all other plugins nothing happens.

[2018-02-26 14:45] gasparnagy commented on #1050
@SabotageAndi yes, this is the goal!

[2018-02-26 15:59] gasparnagy commented on #1023
Sounds great!

[2018-02-26 16:02] gasparnagy commented on #1029
This looks good. I've run into a problem with our XML-based solution not supporting "Exclude" anyway.

[2018-02-26 16:03] gasparnagy commented on #1033
Multiple names are already supported, but probably no one uses them...

[2018-02-26 16:07] gasparnagy commented on #1036
Instead of dropping it, it would be probably better to move it to a separate repo, so if someone needs it they can still maintain it. But I agree to take it out from the main repo to make the maintenance easier.

[2018-02-27 11:36] ProgrammingSoft commented on #990
@OsirisTerje Thank you Sir, worked like a charm, it was a big headache!

[2018-02-27 11:50] iloabn commented on #922
Received the same issue today with:

- SpecFlow 2017.1.12
- Visual Studio 15.5.7

A workaround that was mentioned on this issue that also seems to work for me was to start Visual Studio via the "Run as Administrator" option.
I'm not blocked in my work but wanted to leave that information if anyone wants to dive deeper. (sorry for my laziness)

[2018-02-27 13:42] adzpond opened #1051 "Running tests in Parallel using mstest 2 not working"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 2

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
-

[2018-02-27 14:40] adzpond opened #1052 "Wrong scenario context injected when running tests in parallel using NUnit (also specrun)"
Wrong scenario context injected when running tests in parallel using NUnit (also specrun)

### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
2.3.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
-

[2018-02-27 16:53] Blackbaud-ChrisKessel commented on #1051
Checking in PR to resolve this.

As a work around we can generate feature.cs files with:
<unitTestProvider name="MsTest.v2" /></specFlow>
and run tests using:
<unitTestProvider name="MsTest" /></specFlow>

[2018-02-27 17:02] SabotageAndi commented on #1052
Thanks for the detailed description.
As you have a stripped down repro project, could you zip it and attach to the issue? So we don't have to create it and we have really all the same settings. Thanks!

[2018-02-27 17:04] SabotageAndi commented on #990
As the issue is in Visual Studio and not SpecFlow and there is a workaround, I am closing this issue.

[2018-02-27 17:17] Blackbaud-ChrisKessel commented on #1051
@SabotageAndi PR #1053 - Just missed these when setting up the generator for mstest.v2

[2018-02-27 17:20] SabotageAndi commented on #1051
@Blackbaud-ChrisKessel I saw the PR. I also forgot about the runtime unit test provider. I will merge it asap and release a 2.3.1 Bugfix release.

[2018-02-27 17:22] adzpond commented on #1051
Thanks that's great much appreciated.

On 27 Feb 2018 17:20, "Andreas Willich" <notifications@github.com> wrote:

[2018-02-28 08:23] adzpond commented on #1052
Hi,

Thanks for replying so quickly.

This is the file.  Due to size limitiations I have cleared the packages folder and the bin folder.  Hope that's of use.

[ParallelTestingIssues.zip](https://github.com/techtalk/SpecFlow/files/1766212/ParallelTestingIssues.zip)

[2018-02-28 08:25] SabotageAndi commented on #1052
I think you closed the issue accidentally.

[2018-02-28 08:26] adzpond commented on #1052
It's worth looking at the output from all the tests even ones that appear to have passed, as there seem to be issues with the scenario context with them.

[2018-02-28 08:52] omarpiani opened #1054 "Code behind generate error with latest releases"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Visual S

[2018-02-28 08:53] omarpiani commented on #922
same here, I open a specific ticket for this here https://github.com/techtalk/SpecFlow/issues/1054

[2018-02-28 08:54] SabotageAndi commented on #1054
This error is fixed with SpecFlow 2.3.

[2018-02-28 08:58] SabotageAndi commented on #1049
@jronay Is it working for you now?

[2018-02-28 09:09] SabotageAndi commented on #1036
Ok, dropping is the wrong word for it. I want to have it separate from main SpecFlow. So extract would be better.

I wil create a new repo SpecFlow.Reports and put the current source of https://github.com/techtalk/SpecFlow/tree/master/TechTalk.SpecFlow.Reporting there, before we remove it from the main repo.

[2018-02-28 09:11] SabotageAndi commented on #1033
I only saw it, when I looked at the code to see what we need to change.
As probably the whole GeneratorPluginLoader will be rewritten, I don't want to loose this functionality. I want to reduce the number of NuGet packages for SpecFlow+. ;-)

[2018-02-28 09:35] omarpiani commented on #1054
you are totally right

[2018-02-28 09:35] nikitozeg commented on #857
![image](https://user-images.githubusercontent.com/5622014/36780378-e6c4b272-1c83-11e8-94fd-171f936e4442.png)
why it happens?

[2018-02-28 09:43] SabotageAndi commented on #857
See issue https://github.com/techtalk/SpecFlow/issues/1054

[2018-02-28 09:51] nikitozeg commented on #857
My feature file steps are not highlighted now, and hot key for CTRL ALT S are not working.
![image](https://user-images.githubusercontent.com/5622014/36781015-b884f640-1c85-11e8-8968-2142cf91cfe2.png)

+ screenshot that i provided in my last comment.

Why it's happens ? i did't update any nuget packages and extensions in my VusialStudio 2017

[2018-02-28 09:53] SabotageAndi commented on #857
VS 2017 updates extensions automatically and we released a new one on Friday.
Have a look if the extension is disabled.
If you can't solve it, please open a new issue. This has nothing to do with this issue.

[2018-02-28 10:00] nikitozeg commented on #857
Thanx. How to downgrade to old version?

[2018-02-28 10:19] mp-marc commented on #1049
@SabotageAndi have tried to install the 2017.1.10 version of vs extension, but am seeing this error

2/28/2018 10:13:57 AM - Searching for applicable products...
2/28/2018 10:13:57 AM - Found installed product - Global Location
2/28/2018 10:13:57 AM - Found installed product - Visual Studio Build Tools 2017
2/28/2018 10:13:57 AM - System.IO.FileNotFoundException: C:\Program Files (x86)\Microsoft V

[2018-02-28 12:36] SabotageAndi commented on #1049
@mp-marc For which version of Visual Studio do you want to install the extension?

[2018-02-28 12:37] SabotageAndi commented on #1054
@omarpiani Can I close the issue? Is it fixed for you?

[2018-02-28 12:50] omarpiani commented on #1054
yes, there was other people like me in #922 with same problem

[2018-02-28 12:53] SabotageAndi commented on #1054
@omarpiani thanks!

[2018-02-28 12:53] #1054 closed

[2018-02-28 14:19] mp-marc commented on #1049
Hi @SabotageAndi

My version of Visual Studio is 2017, 15.2

Thanks

[2018-02-28 16:15] jronay commented on #1049
@SabotageAndi For now I am using version 2017.1.6 and this is working. Were any changes made to the .12 version?

[2018-02-28 20:58] jonathandbyrd commented on #944
I have a similar issue using .net core 2 and MsTest. If the StepDefinition is in an external assembly it can't find it, feature text stays purple. Works great as long as the steps are in the same project as the feature file

[2018-03-01 04:02] githubdhina commented on #936
@SabotageAndi a solution could be to extend the OnScenarioStart to accept a delegate that would be called after the context is created but before the hooks are executed.

Any plans to fix this so the testcontext can be accessed using a scoped before scenario hook?

[2018-03-01 04:34] faizan0148 opened #1055 "How to Make test suite using specflow with selenium webdriver"
Does anyone know how to make a test suite using specflow and selenium webdriver.
Test tests should run in sequence as there is too much dependence in application.

[2018-03-01 09:55] mp-marc commented on #1049
@SabotageAndi I have tried all versions of the extension from 2017.1.6-2017.1.9 (inclusive), and all give the same error as above.

Any help would be greatly appreciated.

@jronay btw what version of visual studio are you using

Many thanks

[2018-03-01 10:04] StarWars999123 opened #1056 "Feature Request: Intellisense comments for Tags"
We have several tags and it would be useful for us to see within the feature easily, what a tag should do.
So, if possible could you improve specflow by a possibility to comment a tag?

[2018-03-01 10:06] SabotageAndi commented on #1049
@mp-marc VS2017 15.2 was released in May 2017. We are currently at 15.5 and 15.6 will be released soon.
Here is the changelog: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes

Please update your Visual Studio.

[2018-03-01 10:07] SabotageAndi commented on #1056
Could you write together, how you imagine this feature? Where do you want to comment a tag? Where do you want to see this information?

[2018-03-01 11:25] SabotageAndi commented on #1055
@faizan0148 On our documentation site (http://specflow.org/docs/) is a list of example projects.
There is one for Selenium here: https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/SeleniumWebTest

[2018-03-01 11:25] #1055 closed

[2018-03-01 17:08] ChristopherHaws commented on #818
Another option that would work really well with MSBuild based generation would be to have all generator plugins add an itemgroup entry with the path to their generator assembly file:

**MyPlugin.SpecFlowPlugin.props**
[code]

And then add a property to the `GenerateAll` task that takes a collection of items with all of the assembly paths:
[code]

Then SpecFlow wouldn't need to probe for generator

[2018-03-01 19:41] jronay commented on #1049
@SabotageAndi  I updated Visual Studio to 15.5.7 and it is working fine now.

[2018-03-01 19:43] jronay commented on #1049
@SabotageAndi  That is the SpecFlow 2017.1.12 Extension version is working fine with Visual Studio version 15.5.7

[2018-03-01 20:43] vinnyrose commented on #1049
@SabotageAndi everything fine when VS is updated to latest.

[2018-03-02 03:17] vaddimadhavi commented on #857
I had the same issue today and I had to uninstall and then re install VS 2017 to resolve the issue. But  the new issue I have is this message in the package manager console: "Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified."

[2018-03-02 08:34] nikitozeg commented on #857
just switch nuget specflow version to 2.3.0

[2018-03-02 09:30] ponsakthi opened #1058 "Question on running selected Feature files in specrun"
### SpecFlow Version:
- [ x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ]x SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:1.5.2

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Me

[2018-03-02 11:56] Stephen-Mc commented on #1058
You can use logical operators (OR/AND/NOT) to define filters, so you can define a filter that combines Feature A , B and C using a logical OR (pipe character). Note that the filter needs to return true for tests to run, so an OR will run any test with _any_ of the filter criteria, whereas an AND means the tests will only be run if they meet _all_ filter criteria linked with an AND.

You can also u

[2018-03-02 13:32] malcolmarobertson commented on #820
I had this problem and solved it by right-clicking on the feature file and selecting "run custom tool".

[2018-03-02 16:50] swiec opened #1059 "Custom tool error after upgrade to 2.3.1 version. Generation error: Interface cannot be resolved"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9 -> upgrade from this one

### Used Test Runner
- [ ] SpecFlow+Runner
- [x]	MSTest
- [ ]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Meth

[2018-03-02 17:17] mgladchenko commented on #888
With SpecFlow 2.3.1 I get better error message, as follows:
#error TechTalk.SpecFlow.Generator.Interfaces.TestGenerationError
#error TechTalk.SpecFlow.Generator
#error Server stack trace:
#error    at TechTalk.SpecFlow.Generator.Plugins.GeneratorPluginLoader.LoadPlugin(PluginDescriptor pluginDescriptor)
#error    at TechTalk.SpecFlow.Generator.GeneratorContainerBuilder.LoadPlugin(PluginDescriptor

[2018-03-02 18:22] instecjason commented on #944
Hey there, so I upgraded to SpecFlow 2.3 and the latest Visual studio plugin.  I removed the xUnit Adapter and am using it the normal way.  The Code Behind files are generated now and everything seems to work.  Additionally, the external assembly works ASSUMING the app.config is a real file in the project root.  I was attempting to use a "link" in the csproj file so that I could share the same fil

[2018-03-02 18:22] #944 closed

[2018-03-02 19:18] Autom8edChaos commented on #991
Within our project, this happens sometimes when the gherkin parser resolves the specflow.dll to the location of the Visual Studio plugin. If you look at the lib in the plugin folder (%AppData%\Local\Microsoft\VisualStudio\14.0\Extensions\[some character]\specflow.dll), you'll see that the build version is 1.9.0.77. Normally not a problem, but it causes sometimes glitchy behaviour.

[2018-03-02 20:34] altso opened #1060 "Fix System.ValueTuple dependency"
SpecFlow 2.3 depends on System.ValueTuple 4.0.1 or higher, but there is no 4.0.1 on nuget.org (https://www.nuget.org/packages/System.ValueTuple), so msbuild gives you a warning:

`warn : SpecFlow 2.3.1 depends on System.ValueTuple (>= 4.0.1) but System.ValueTuple 4.0.1 was not found. An approximate best match of System.ValueTuple 4.3.0 was resolved.`

### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [

[2018-03-03 06:19] SabotageAndi commented on #1049
@jronay & @vinnyrose: cool
So we know, that you need the latest VS version that the extension gets installed without problems.

Solved for me => I am closing this issue.

[2018-03-03 06:19] #1049 closed

[2018-03-03 06:22] SabotageAndi commented on #1060
@altso You are right. This happend in https://github.com/techtalk/SpecFlow/pull/951
@UncleFirefox: do you remember, why you used this NuGet version?

@altso Do you want and have the time to submit a fix for this?

[2018-03-03 06:27] SabotageAndi commented on #991
Recommendation from me is to use the new [SpecFlow.Tools.MsBuild.Generation](https://www.nuget.org/packages/SpecFlow.Tools.MsBuild.Generation/) nuget package. This enables the code-behind generation at compile time.

[2018-03-03 06:33] SabotageAndi commented on #1059
For later SpecFlow versions you have to use other steps than for 1.9.

See here: https://github.com/techtalk/SpecFlow/wiki/Using-SpecFlow-with-CodedUI-API#getting-specflow-to-generate-the-codeduitest-attribute-with-visual-studio-2013-and-mstest

[2018-03-03 14:32] swiec commented on #1059
@SabotageAndi This is exactly what I'm trying to do
Please checkout solution example:
https://github.com/swiec/SpecFlowCodedUIIntegration/

Now error is more descriptive:
https://github.com/swiec/SpecFlowCodedUIIntegration/blob/master/SpecFlowCodedUIIntegration/FeatureFile/SpecFlowFeature1.feature.cs

[2018-03-03 18:13] altso commented on #1060
If the fix is to bump the version of the `System.ValueTuple` to the lowest stable available, I can send a PR tomorrow.

[2018-03-03 21:13] SabotageAndi commented on #1060
@altso As it is already resolving to 4.3.0, I would use this.
Be aware that you have to update the project and change the nuspec file (https://github.com/techtalk/SpecFlow/blob/master/Installer/NuGetPackages/SpecFlow/SpecFlow.nuspec)

[2018-03-03 21:14] SabotageAndi commented on #1060
@altso And thanks again for pointing out this issue and for providing the PR.

[2018-03-04 22:17] phillee007 commented on #998
@tmulkern @SabotageAndi Do you know when this might get into the main Nuget feed? I was thinking I can take the CI Nuget build and upload this to my internal Nuget server for now, but would be good to know how long it might be as once it's in the main feed I'll remove the CI one again.
Thanks,
Phil

[2018-03-05 02:45] altso commented on #1060
@SabotageAndi please review the PR. Apparently, .nuspec is the only place where it needs to be fixed.

[2018-03-05 02:48] SabotageAndi commented on #1060
@altso I saw it. Thanks!
And I think I now know why the dependency in the nuspec was wrong. According to the csproj (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/TechTalk.SpecFlow.csproj#L47), the assembly is in the 4.3.0 package, but has the Assembly Version 4.0.1.

[2018-03-05 03:02] #1060 closed

[2018-03-05 08:26] Rcig opened #1062 "Specflow feature file failed to navigate to its definition and VS2017 failed to load specflow"

[2018-03-05 13:46] sivadeepti opened #1063 "Reflection for getting test status in Specflow 2.3.1 not working after updating the packages??"
### SpecFlow Version:
- [x ] 2.3.1
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number: 3.8.0

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [x ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution

[2018-03-05 15:59] SabotageAndi commented on #1062
Please fill out the issue description.

[2018-03-05 15:59] #1062 closed

[2018-03-06 10:25] swiec commented on #1059
@SabotageAndi do you have any suggestions, what can I do with it, or how can I make further debugging?

[2018-03-06 10:44] StarWars999123 commented on #1056
It would be useful to see the information within the .feature file. directly over the scenario.
With my top-level design skills I designed this beautiful mockup with the best tool money can buy. ;)
![grafik](https://user-images.githubusercontent.com/16309681/37026459-b91b3850-212e-11e8-8bc6-d95a283ab514.png)

However, I see, that it is not as easy to define a tag comment, as they can get used ever

[2018-03-06 12:36] swiec commented on #1059
It looks like it's duplicate with [issue#891](https://github.com/techtalk/SpecFlow/issues/891). With the difference, that deleting and creating feature file again, doesn't solve the problem.
The same error as in referenced issue is also shown in VS error list (and is not listed in generated cs file)
'''
TechTalk.SpecFlow.Generator.UnitTestProvider.IUnitTestGeneratorProvider('custom')
'''

![specfl

[2018-03-06 16:55] QAGal2 commented on #990
VS2017 15.6 fixed this issue. But for my team, it required a fresh reinstall of vs2017 and then reapply of Specflow for VS2017 extension.

[2018-03-07 00:49] stuartdotnet commented on #896
I also have this problem in VS2015. Thanks for the command prompt workaround

[2018-03-07 03:53] SabotageAndi commented on #936
Same problem exists also for xUnit: https://groups.google.com/forum/#!topic/specflow/EmiG2gRkIz4

[2018-03-07 03:55] SabotageAndi commented on #936
@githubdhina The delegate suggestion could be a solution. I have currently no plan at looking at this. Reason is, that we will start in the next 2 weeks with .NET Core support. This takes all available time and energy.

[2018-03-07 12:41] swiec commented on #1059
Ok. It's clearly a regression.
In above example, on [master branch](https://github.com/swiec/SpecFlowCodedUIIntegration) is available solution with SpecFlow 2.1.0 with CodedUI integration, which is working fine. There is also branch [On_2.3.1](https://github.com/swiec/SpecFlowCodedUIIntegration/tree/On_2_3_1) pushed which has upgraded SpecFlow to 2.3.1 - and it fails.

[Versions upgrade diff](http

[2018-03-07 15:28] alexvv commented on #936
@SabotageAndi would you be willing to accept/review a PR, or prefer to wait a couple of weeks after the .NET core work is complete?
I think @githubdhina proposal to add an OnScenarioStart that accepts a delegate/action as second argument, which is invoked before TestExecutionEngine.FireEvents, could also work for the xUnit ITestOutputhelper injection problem. Then the IUnitTestGeneratorProvider im

[2018-03-07 16:56] TannerStevenson opened #1064 "Specflow.NUnit support for NUnit 3.8+"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.9

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:

[2018-03-07 21:13] SabotageAndi commented on #1064
When we are working on the .NET Core/Standard support, we are going to work also a lot on our test infrastructure. As byproduct of this, we will update our integration tests to the latest NUnit version. At the latest then we will need to fix this.

But PRs before that are always welcomed!

[2018-03-07 21:28] SabotageAndi commented on #936
@alexvv I will always accept/reviews PRs. It doesn't depend on our work on .NET Core. As long it is not in the main branch, it's my problem to merge it back into.
In this case, I think we don't need to do a lot of work at the generators for .NET Core, so lesser work for me. ;-)

@gasparnagy Which way of implementation are you preffering?

[2018-03-07 22:07] AkashRajdev opened #1065 "Feature File Generation Issue in SpecFlow"
### SpecFlow Version:
- [ Yes] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ Yes]	NUnit Version 3.0
- [ ]	Xunit

Version number:

### Visual Studio Version
- [Yes ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ Yes]	Yes
- [ ]	No

### .NET Framework:
- [Yes ]	>= .NET 4
- [ ]	before .NET 4

###

[2018-03-07 22:11] SabotageAndi commented on #1065
Please don't use Baseclass.contrib.specflow.Selenium.Nunit. It's completly outdated as it works only with SpecFlow 1.9.

If you want to use it, because of the "multiple" browser support, please have a look at this example: https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/SeleniumWebTest
It's using the SpecFlow+Runner to achieve the same functionality.

[2018-03-07 22:11] #1065 closed

[2018-03-07 22:19] SabotageAndi commented on #1063
First, if you access private stuff, expect that it will break with an update. ;-)

But you had luck.
In your case, we made the TestStatus public an renamed it. See this PR: https://github.com/techtalk/SpecFlow/commit/8e660f9acb751ea2da77da160463acf7b4b4f008#diff-805aac4f2bd3247cf751691c773bf3d3

So you don't need the reflection code anymore.

[2018-03-07 22:19] #1063 closed

[2018-03-08 00:27] shitalap opened #1066 "cannot generate Specflow feature File"
![specflowfile](https://user-images.githubusercontent.com/33371338/37126324-58a78ed0-22d5-11e8-8861-380664551edd.PNG)
![filename](https://user-images.githubusercontent.com/33371338/37126329-5adcf1a4-22d5-11e8-8e0c-bba7aba31727.PNG)

### SpecFlow Version:
- [ x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version num

[2018-03-08 00:43] SabotageAndi commented on #1066
Is the Visual Studio Extension installed and activated?

[2018-03-08 14:49] bas010203 commented on #888
I'm experiencing the same error when I try to add the retry plugin. Rather disappointing to read that this issue is open since July 2017 and the TechTalk / SpecFlow team doing nothing about it.

I'm now looking for an alternative to SpecFlow with a retry mechanism. Does anyone has a good alternative?

[2018-03-08 16:27] SabotageAndi commented on #888
@bas010203 Sorry to hear that you will switch away from SpecFlow.

Please have in mind, that this is an open source project. It depends on contributions from us all.

About this issue: I have 2 plugins of my own and they don't  have this problem. So for me looks like the issue is within the plugin. We have changed the plugin infrastructure in every minor release since 1.9 (except 2.3). So there is

[2018-03-08 16:31] victorsantoss commented on #888
But, is it correct that a plugin is initialized twice?
I did a small plugin similar to use the Microsoft Dependency Injection and I got exactly the same behavior.

If you need any help to check this out, I can submit a plugin to check, I think that is not a problem with 3rd parties plugins, but with the way the plugins are initialized.

[2018-03-08 17:09] SabotageAndi commented on #888
@victorsantoss I don't know. That's what @DamirAinullin wrote.
For debugging a red tests added to the SpecFlow test suite would be the easiest way for me to look at it.
Standalone projects are really hard to debug and that it's what is time consuming.

[2018-03-08 17:16] victorsantoss commented on #888
That's what he wrote and what I see over my plugin.

`[assembly: RuntimePlugin(typeof(MyPlugin))]

namespace Blablabla.MyPlugin
{
    public class MyPlugin : IRuntimePlugin, IDisposable
    {
        public void Dispose()
        {
            throw new NotImplementedException();
        }

        public void Initialize(RuntimePluginEvents runtimePluginEvents, RuntimePluginParameters runtimePlugi

[2018-03-08 17:19] HermannGruber opened #1067 "SpecFlow Step Definition Report: Steps called from step definitions wrongly marked red"
SpecFlow Step Definition Report: Steps called from step definitions wrongly marked red

### SpecFlow Version:
- [ x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number: NUnit 3.9.0

### Visual Studio Version
- [ x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ x

[2018-03-08 17:59] SabotageAndi commented on #1067
The report uses reflection to get the information which step definition is used. It shows only at the attributes. We are not doing a full code analysis of it. So the calls to Given(""), When("") and Then("") are not considered.

Personally I think the usage of this is bad practise. Please have a look at the driver pattern how to reuse code between bindings/steps.

[2018-03-08 18:35] ivanakcheurov commented on #993
Console.WriteLine

[2018-03-08 18:44] SabotageAndi commented on #993
TestContext.Out.WriteLine is the normal way in NUnit to write output. AFAIK the API is static, but the call gets connected to the correct test and thread.

[2018-03-08 18:46] ivanakcheurov commented on #993
Oh, cool, I'll give it a try :)
And how does SpecFlow output the test steps, is it `TextContext` or `Console.WriteLine`?
Brief search in GitHub suggests it is rather `Console.WriteLine`

[2018-03-09 12:42] MummanaSubramanya opened #1068 "SpecRunner Error"
I have installed spec runner to run my specflow testcases but when I click on rebuild.

Details:
Win10
VS 2017 Professional
Specflow 2.3.1
Specrun :1.7.0

 It throws error::

[3/9/2018 1:33:09 PM Informational] SpecFlow + Runner Discovery started
[3/9/2018 1:33:09 PM Informational] Error for test assembly C:\Users\Subramanya Vasu\source\repos\UnitTestProject1\UnitTestProject1\bin\Debug\UnitTestPro

[2018-03-09 16:26] sivadeepti commented on #1063
Thanks Andi . Its working with ScenarioExecutionStatus.

[2018-03-09 18:37] SabotageAndi commented on #1068
@MummanaSubramanya Could you post your complete srProfile here? If not, please send a mail to support@specflow.org with reference to this issue. Thanks!

[2018-03-09 18:43] SabotageAndi commented on #1067
@HermannGruber We are currently working on enhance the documentation about the driver pattern.
We already updated an example to use it. Have a look here: https://github.com/techtalk/SpecFlow-Examples/tree/master/ASP.NET-MVC/BookShop/BookShop.AcceptanceTests

Here is also some blog posts about the driver pattern:
http://leitner.io/2015/11/14/driver-pattern-empowers-your-specflow-step-definitions/

[2018-03-09 19:17] ma499 opened #1069 "Change nuget dependency for Specflow.Xunit to Xunit.Core"
### Issue Description
The Nuget packaging creates a dependency between Specflow.Xunit and the "xunit" meta package. I would prefer if the dependency was instead on xunit.core (and directly on any other xunit libraries that are required). That way I do not, for example, need to build my project with xunit.assert (included by the xunit metapackage) when I'm using an alternative assertions library, s

[2018-03-09 21:32] MummanaSubramanya commented on #1068
[Default.srprofile.txt](https://github.com/techtalk/SpecFlow/files/1798512/Default.srprofile.txt)

please find my .srprofile file

[2018-03-09 22:23] SabotageAndi commented on #1068
@MummanaSubramanya
Please try that:

It's from here: http://specflow.org/documentation/Troubleshooting-Visual-Studio-Integration/

[2018-03-10 10:27] MummanaSubramanya commented on #1068
thanks @SabotageAndi  it worked like charm :)

[2018-03-10 10:27] #1068 closed

[2018-03-11 09:57] mgladchenko commented on #888
@bas010203 Regarding alternatives. If you are using VSTS you may user their build in retry mechanism. They released it about 1 month ago. That is the case for me. I'll probably switch to that.

[2018-03-12 14:21] vitezp opened #1070 "TechTalk.SpecFlow.Configuration.RuntimeConfiguration could not be loaded from assembly TechTalk.SpecFlow 2.3"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x

[2018-03-12 22:43] conclavia opened #1071 "GeneratorPluginLoader error when generating feature files with VS Extension v2017.1.12"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [x]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: **2.6.4**

### Visual Studio Version
- [x]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Me

[2018-03-13 10:54] SabotageAndi commented on #1071
@conclavia Are you really still using SpecFlow 1.9? Is there a reason for this?
Do you have the same issue with SpecFlow 2.3.1?

[2018-03-13 13:49] #1070 closed

[2018-03-13 13:50] vitezp commented on #1070
fixed

[2018-03-13 13:56] SabotageAndi commented on #1070
@vitezp
How do you fixed it?

[2018-03-13 14:06] MummanaSubramanya opened #1072 "run settings parameters in specflow"
### SpecFlow Version:
- [ X] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ X]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ X]	Yes
- [ ]	No

### .NET Framework:
- [ X]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:

[2018-03-13 14:17] goblinmaks opened #1073 "Can't install SpecFlow+ runner on SpecFlow 2.3.1"
### SpecFlow Version:
- [x] 2.3.1
- [ ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:
SpecFlow 2.3.1
SpecRun 1.7.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	befor

[2018-03-13 16:27] goncharr commented on #978
Hi @SabotageAndi , In my case I'm using an attribute "AfterTestRun" and after that running DB Hook (cleaning test data) -  is it possible to add some functionality which helps to skip running DB Hook if some of the tests are failed. I've tried to use ScenarioContext.Current but unfortunately it didn't work as this Context saved only latest scenario.

[2018-03-13 16:32] SabotageAndi commented on #1072
Could you post a code behind file to see if it was correctly generated?
It should look like from this comment: https://github.com/techtalk/SpecFlow/issues/936#issuecomment-330536559

[2018-03-13 16:44] MummanaSubramanya commented on #1072
## Feature file code

// ------------------------------------------------------------------------------
//  <auto-generated>
//      This code was generated by SpecFlow (http://www.specflow.org/).
//      SpecFlow Version:2.3.0.0
//      SpecFlow Generator Version:2.3.0.0
//
//      Changes to this file may cause incorrect behavior and will be lost if
//      the code is regenerated.
//  </auto-ge

[2018-03-13 16:54] SabotageAndi commented on #1072
Thanks for the code behind file.
Looks like the initialization of the _testContext field is missing. Another bug in this feature...

[2018-03-13 16:56] SabotageAndi commented on #936
@alexvv If you have a look at this, could you also look at https://github.com/techtalk/SpecFlow/issues/1072? Looks like the TestContext field initialization is also missing. :-(

[2018-03-13 16:58] MummanaSubramanya commented on #1072
Thanks @SabotageAndi any work around ?

[2018-03-13 18:55] umadb27 commented on #1071
Hi,

I am also facing exactly same issue. Currently I  am using VS 2015 and Specflow 2017.1.12. Everything was working fine until January 2018. We did not automate anything in February.I started my work last week.All of sudden when I tried to modify existing feature file I am getting the above generator exception.We did not upgrade Visual Studio or Specflow.
I am not sure if I have my extension ve

[2018-03-13 19:38] umadb27 commented on #1071
I have resolved my issue downgrading back to Specflow 2017.1.10.My other machine have binaries of this version. I copied them to my machine. Problem solved. I cannot upgrade to latest version of specflow because my wpfa code does not support it.The code of wpfa also should change. So we sticked to this older version. Somehow 2017.1.12 is throwing generator exception.

[2018-03-13 21:32] conclavia commented on #1071
@SabotageAndi Yes, this project is currently on v1.9. It's been rock solid so far with our suite of ~10K tests so upgrading just hasn't made it to the top of the backlog yet :-)

I've updated the repro project to the v2.3.1 packages and the problem is still happening. The only change was a slightly different stack trace in the error. It definitely seems to be related to the extension version not t

[2018-03-13 21:35] conclavia commented on #1071
@umadb27 you can also disable automatic updates of VS extensions (Tools -> Options -> Extensions and Updates -> Untick "Automatically update extensions") and install the v2017.1.10 version from the [releases page](https://github.com/techtalk/SpecFlow.VisualStudio/releases).

[2018-03-13 21:57] jbernhardt23 opened #1074 "Unable to run a test in the command line filtered by Scenario"
Unable to  run a test in the command line filtered by Scenario name containing spaces.
[code]

### SpecFlow Version:
 2.3.1

### Used Test Runner :
SpecFlow+Runner

### Version number:
1.7.0

### Visual Studio Version
VS 2017

### Are the latest Visual Studio updates installed?
Yes

### .NET Framework:

### Test Execution Method:
Command line

### &lt;SpecFlow> Section in app.config

[code]

### I

[2018-03-14 10:17] SabotageAndi commented on #1072
Sorry, I am not aware of one. There is another issue about the TestContext. It looks like, there is one who will provide a fix for it.

[2018-03-14 10:20] SabotageAndi commented on #1074
Afaik you have to put the whole argument for the filter parameter in quotes.

So it should look like this: SpecRun.exe run c:\MyAssemblyPath /basefolder:c:\MyProjectFolder /filter:"testpath:Scenario:My Scenario Test"

[2018-03-14 10:21] #1073 closed

[2018-03-14 10:42] MummanaSubramanya commented on #936
@alexvv can you please provide a fix or any alternative solution  for #1072 ?

[2018-03-14 10:52] adzpond commented on #1052
Hi,

is there any update on this please?

[2018-03-14 11:06] HermannGruber commented on #1067
@SabotageAndi Thank you for sharing the example! I was busy with other things during the last few days, but I will definitely have a look.

[2018-03-14 12:31] SamJongenelen opened #1075 "Review wiki table valueretriever changes"
I've update the wiki page with an concrete example

https://github.com/techtalk/SpecFlow/wiki/Value-Retriever-(for-Tables)

could someone peer review it ?

@darrencauthon was the section https://github.com/techtalk/SpecFlow/wiki/Value-Retriever-(for-Tables)#extending-with-your-own-value-retrievers finished? I feel something fell off the edit?

[2018-03-14 13:40] jbernhardt23 commented on #1074
@SabotageAndi I have also tried that and still getting the "Invalid filter expression syntax", but within that same syntax if I remove the spaces, it works.

Works:
SpecRun.exe run c:\MyAssemblyPath /basefolder:c:\MyProjectFolder /filter:"testpath:Scenario:MyScenarioTest"

Does not:
SpecRun.exe run c:\MyAssemblyPath /basefolder:c:\MyProjectFolder /filter:"testpath:Scenario:My Scenario Test"

[2018-03-14 13:54] umadb27 commented on #1071
Thank you for the suggestion @conclavia ..I did the same already..

[2018-03-14 16:15] peteplay opened #1076 "Cannot generate reports using SpecRun templates"
Cannot generate reports using SpecRun templates

### SpecFlow Version:
- [X] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.7.0

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X] Yes
- [ ]	No

### .NET Framework:
- [X] >= .NET

[2018-03-14 17:19] HermannGruber commented on #1067
Thank you for sharing the examples, now I gained understanding regarding the driver patttern. Unfortunately, I could not identify any instances where test steps (e.g. enter user name, enter password, hit login button) would be aggregated into a single step (perform login), such that one avoids repeating these steps in the .feature files over and over again. We could of course choose to not model t

[2018-03-14 20:25] #1066 closed

[2018-03-14 20:26] shitalap commented on #1066
Thanks for the same
updating visual studio solved this problem

[2018-03-15 10:56] Stephen-Mc commented on #1076
The lines you included in default.srprofile seem to be missing.

[2018-03-15 12:17] icnocop opened #1077 "Async/Await in step method run in Silverlight 5 hangs the test"
### SpecFlow Version:
- [x] 2.3
- [x]	2.2 *
- [x]	2.1 *
- [x]	2.0 *
- [x]	1.9

 &ast;  See notes below

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit
- [x]	Microsoft Silverlight 5 Unit Test Runner (Silverlight Toolkit December 2011) in Internet Explorer
- [x]	StatLight 1.6.4375 on the command line
- [x]	Silverlight Unit Test Adapter for Visual Studio 2015

### Vis

[2018-03-15 16:54] peteplay commented on #1076
Opps, the lines I added to default.srprofile are in the contained in the Report tag below:

<?xml version="1.0" encoding="utf-8"?>
<TestProfile xmlns="http://www.specflow.org/schemas/plus/TestProfile/1.5">
  <Settings projectName="ModelHospital" projectId="{b63cec69-5da6-4201-9911-10a80bb492d2}" name="TestSuite"  />

 <Execution stopAfterFailures="3" testThreadCount="1" testSchedulingMode="Sequent

[2018-03-15 16:55] peteplay commented on #1076
[code]

[2018-03-16 06:57] Cylox opened #1079 "Wrong App.Config loaded if test runner and SpecFlow are loaded in the same AppDomain"
### SpecFlow Version:
- [ ] 2.3
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number: 3.10

### Visual Studio Version
- [X ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X ]	Yes
- [ ]	No

### .NET Framework:
- [X ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Meth

[2018-03-16 12:07] DanielTheCoder opened #1080 "UpdateFeatureFilesInProject MsBuild Target Output"
nuget package: SpecFlow.Tools.MsBuild.Generation
broken file: SpecFlow.Tools.MsBuild.Generation.targets

inside .\Installer\NuGetPackages\.build\build.targets, xmlpoke is used to transform the file SpecFlow.Tools.MsBuild.Generation.targets to replace the name of the imported props file.

xmlpoke is also encoding the content of files which results in breaking the output definition of msbuild target

[2018-03-16 14:29] peteplay commented on #1076
Hi Stephen,

Sorted. I was missing the relative path to the template folder. The report is now generated successfully  and I've also been able to add the pie chart, which is excellent.

However, the filename is always the same. How to I add the datetime? There is some mention of this in the notes, but I do not know how to implement this.

"You can use the following placeholders in file names to en

[2018-03-16 15:52] darrencauthon commented on #1075
@SamJongenelen Looks good to me.

I'm sorry, I must not have clicked saved or something?  I swear I had more than that.

[2018-03-16 15:52] darrencauthon commented on #1075
I'm going to close this issue as I think it looks good the way it is.

[2018-03-16 15:52] #1075 closed

[2018-03-16 16:34] ng-julien opened #1082 "Error when open specflow file in visual studio 2017 (15.6)"
Look this problem here https://developercommunity.visualstudio.com/content/problem/217035/specflow-getting-error-systemnullreferenceexceptio.html

[2018-03-16 17:48] peteplay commented on #1076
CLOSED

To make this work I declared the modified template into the Settings tab to end up with this

[code]

[2018-03-16 18:33] SabotageAndi commented on #1082
@ng-julien When does this happen?

[2018-03-16 18:36] SabotageAndi commented on #1077
@gasparnagy?

[2018-03-16 18:52] ng-julien commented on #1082
Hi, this happen when i open a features file...

[2018-03-16 19:54] SabotageAndi commented on #1069
The SpecFlow.xunit/Nunit/MsTest packages are primarly for easy to use with the test frameworks.
They only have dependencies and are configuring the app.config. They don't have specialized code. They are only a convinient "feature" from us.

If you are not happy with the dependencies, you don't need to use these package. Only use the main SpecFlow package and make the app.config changes yourself.

[2018-03-16 19:54] #1069 closed

[2018-03-18 15:15] raphaelsilvasage commented on #826
How can I make Specflow work with .NET Standard 2.0?

[2018-03-18 15:15] raphaelsilvasage commented on #1038
How can I make Specflow work with .NET Standard 2.0?

[2018-03-18 15:24] raphaelsilvasage opened #1083 "TechTalk.SpecFlow namespace is not recognized with .NET Standard 2.0"
Specflow2.3.1

### SpecFlow Version:
- [ x ] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ x ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ x  ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ ]	>= .NET 4
- [ ]	before .NET 4

### Test

[2018-03-19 10:04] Stephen-Mc commented on #1076
Just a quick heads up that it can be a good idea to add you template file to your project, and set its build action to "Copy always". Then the template should always be found when running the tests. It's mentioned in the Initial Setup [here](https://specflow.org/plus/documentation/Tutorial:-Customising-Reports/).

As you seem to have discovered, the placeholders only work in the Report section, no

[2018-03-19 11:22] ardz commented on #990
@SabotageAndi Tried this workaround and the issue persists (Dotnet Extensions for Test Explorer > Disable).

Using MSTest V2 and VS15.6.2 Specflow 2.3.1

Any other workarounds?

Regards

[2018-03-19 12:02] SabotageAndi commented on #990
@ardz No, I am not aware of any other work around. You could try to disable the real time unit testing, that was added with Visual Studio 2017 15.6.

![image](https://user-images.githubusercontent.com/859801/37594512-a413bb66-2b75-11e8-8e1b-7afd6ccfe3e8.png)

It's the first checkbox in the above options dialog.

[2018-03-19 12:04] sirk1989 commented on #990
@ardz I don't mean to patronise, but you did close down and reopen visual studio after removing that extension?

[2018-03-19 12:09] SabotageAndi commented on #1083
We used the wrong version for the ValueTuple reference, which is already fixed (https://github.com/techtalk/SpecFlow/pull/1061), but not yet released.
You can try to add a explicit reference to the correct version in your project to fix that.

Be aware, that SpecFlow doesn't support .NET Core/Standard 2.0 fully yet. As long as this is not finished, we really could not help you a lot. The "solution

[2018-03-19 12:18] raphaelsilvasage commented on #1083
I couldn't install 4.0.1 System.ValueTuple, because this version doesn't exist for .NETStandard project. Even if I install this specific version on ".csproj", doesn't work.

Is there any chances to publish this adjustment in a Specflow preview nuget?
Sorry about posting my same question in other threads.

[2018-03-19 12:21] SabotageAndi opened #1084 "[.NETCore] move code behind file code generation into separate process"
MSBuild has an dependency to Newtonsoft.Json 9.0, so using a newer version in an MSBuild task is problematic.
Best option is to put the code for generating the code-behind file into a separate process. So the MSBuild task has no direct reference to the SpecFlow code base.

[2018-03-19 12:22] SabotageAndi commented on #1083
@raphaelsilvasage What happens when you install the System.ValueTuple in version 4.3.0 to your project?

[2018-03-19 12:27] SabotageAndi commented on #1080
solved with #1081

[2018-03-19 12:27] #1080 closed

[2018-03-19 12:30] raphaelsilvasage commented on #1083
When I inform this line in the .csproj

[code]

Then it shows me again the warning: [MyTestProjectName] depends on System.ValueTuple (>= 4.0.1) buy System.ValueTuple 4.0.1 was not found. An approximate best match of System.ValueTuple 4.3.0 was resolved."

[2018-03-19 13:27] ardz commented on #990
@sirk1989 I did yeah, no offence taken don't worry.

@SabotageAndi Thanks that seems to have done the trick!

[2018-03-19 13:33] SabotageAndi commented on #990
@ardz Cool. Then the problem is in the real time test discovery. Could you report this at the Developer community for Visual Studio: https://developercommunity.visualstudio.com/spaces/8/index.html.

[2018-03-19 13:34] ardz commented on #990
@SabotageAndi no worries will do

[2018-03-19 15:51] MummanaSubramanya commented on #936
@alexvv any update ?

[2018-03-19 17:10] peteplay commented on #1076
Top tip. I've done as you've said and removed the templates from the bin folder
The Default.srprofile now looks like this ...

[2018-03-19 20:38] alexvv commented on #936
@MummanaSubramanya a workaround would be to use 'BeforeStep' and a flag remembering it has already been called instead of 'BeforeScenario', as suggested by @gasparnagy's [comment](https://github.com/techtalk/SpecFlow/issues/936#issuecomment-334096145)
I will try to submit a PR in the coming days.

[2018-03-20 05:05] MummanaSubramanya commented on #936
@alexvv I tried the work around but still it throws the same error "Cannot create an instance of Microsoft.VisualStudio.TestTools.UnitTesting.TestContext because it is an abstract class" could you please have a look at the issue once again

[2018-03-20 14:47] BillHughesCoder commented on #990
Still no joy for me :-(
Visual Studio 15.7
ReSharper 2017.3.3
Realtime test discovery unchecked.
Dotnet Extensions for Test Explorer disabled.

Problem still exists.
Double clicking a test case in ReSharper Unit Tests frustratingly brings me to the code behind file.

[2018-03-20 14:51] SabotageAndi commented on #990
@BillHughesCoder This issue is about the test explorer in Visual Studio.
AFAIK jumping in R# Unit Test window to the scenario did never work and will probably only work with a custom R# extension for SpecFlow.

[2018-03-20 15:17] peteplay commented on #1076
Hi Stephen,

There is still one outstanding problem....

Now that that I have 2 templates in the Report tag I get the following error. Although it does not impact the generated reports and the tests run successfully, is there a way to get rid of it apart from removing one of the templates?

[code]

[2018-03-21 11:12] liamharries opened #1085 "Randomly Failed not picked up when test is pending"
When a test randomly fails that should return a pending status the report shows it as a failing test, not a randomly failing test.

TestA will pass
TestB will return pending

When TestA randomly fails and is re-run the report marks it as a randomly failing test
When TestB randomly fails and is re-run the report marks it as a failing test

### SpecFlow Version:
- [x] 2.3

### Used Test Runner
- [x]

[2018-03-21 11:50] SabotageAndi commented on #1085
@liamharries is there a typo here:
When TestA randomly fails and is re-run the report marks it as a randomly failing test
When TestA randomly fails and is re-run the report marks it as a failing test

Shouldn't the second TestA be TestB (the pending one)?

[2018-03-21 11:54] liamharries commented on #1085
Yes I've corrected it, the joys of copy and paste aha

[2018-03-23 20:22] eylvisaker opened #1090 "Double clicking test in test explorer goes to wrong place when a feature background is used"
Double clicking a scenario in the test explorer goes to wrong place when a feature has a background section. Instead of going to the scenario, it goes to the background section.

### SpecFlow Version:
- [X] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number:
NUnit Adapter 3.10.0.21

### Visual Studio Version

[2018-03-23 22:03] MummanaSubramanya commented on #936
@alexvv any other work around ?

[2018-03-27 04:30] Rakesh-Chauhan commented on #603
+1 for this feature. I am also trying to generate html report using MStest but the report generated is useless and cannot be shared with management. This was opened in 2016. Can we expect any update soon or just giving up on this is the way forward ?
![image](https://user-images.githubusercontent.com/37824182/37946889-84b085a4-31e4-11e8-8cbd-c4903037ded9.png)

[2018-03-27 08:24] realfaisalk opened #1091 "Empty SpecFlow report or report not generated"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: v1.7.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Metho

[2018-03-27 08:30] SabotageAndi commented on #1091
@realfaisalk Are there tests displayed in the test explorer?

[2018-03-27 08:53] realfaisalk commented on #1091
@SabotageAndi  Yes, tests are displayed in Test Explorer:
![testexplorer](https://user-images.githubusercontent.com/23498757/37956990-b8704752-31a4-11e8-94ea-a2e961005da5.JPG)

[2018-03-27 08:56] SabotageAndi commented on #1091
Could you post the logfile here? If you don't want to share it in public, please send it to support@specflow.org.

[2018-03-27 09:05] realfaisalk commented on #1091
It's small, also no log files are generated on subsequent runs also.
I've Cleaned the solution and rebooted the machine. Is there anything I can clear out in e.g. the TEMP folder that might help?
[code]

[2018-03-27 09:09] SabotageAndi commented on #1091
We are not only writing to the output, but also to a logfile.
It's this in which I am interessted:
![image](https://user-images.githubusercontent.com/859801/37957858-48fa0de4-31af-11e8-970c-3a88e1406b74.png)

[2018-03-27 09:32] realfaisalk commented on #1091
What I posted above is the output of the log file

[2018-03-27 09:45] SabotageAndi commented on #1091
According to this logfile it doesn't find any tests.
You have scenarios in the project?
When you execute the tests via runtests.cmd, does it execute any scenarios/tests?

[2018-03-27 10:44] SabotageAndi commented on #1090
There are currently general problems when you want to go from the test explorer to the feature file.
See issue: https://github.com/techtalk/SpecFlow/issues/990

It looks like an issue in the test discovery in Visual Studio and the test adapters.
Here is the NUnit issue: https://github.com/nunit/nunit3-vs-adapter/issues/441

[2018-03-27 11:01] SabotageAndi commented on #1079
There are no app.configs for dependencies in .NET. Only the the app.config of the "startup" project is loaded in the ConfigurationManager.

If you don't want to add the specflow section in your app.config of the NUnitLite project, you could use the json configuration of SpecFlow.

PR: https://github.com/techtalk/SpecFlow/pull/690
Unit tests: https://github.com/techtalk/SpecFlow/blob/master/Tests/T

[2018-03-27 11:10] SabotageAndi commented on #1074
I looked at this and I forgot like that you have to replace the spaces with +.
So the correct call is:

SpecRun.exe run c:\MyAssemblyPath /basefolder:c:\MyProjectFolder /filter:"testpath:Scenario:My+Scenario+Test"

[2018-03-27 11:11] #1074 closed

[2018-03-27 11:15] realfaisalk commented on #1091
Sorry, I keep doing this to you guys (especially you Andi) when I upgrade!
I cleaned out my "_specflow-stepmap-_" files in the TEMP folder and it seems to be alright now.
I'm getting a html report and the log file is looking better.
I guess I should do this every time..... 😭

[2018-03-27 11:15] #1091 closed

[2018-03-27 11:41] SabotageAndi commented on #1091
@realfaisalk the specflow-stepmap- files are for syntaxhighlighting and intellisense. They have nothing to do with the SpecFlow+Runner report

[2018-03-27 12:07] realfaisalk commented on #1091
I don't know what happened but after opening up Visual Studio again after clearing the "stepmap" files, the feature files regenerated (I had manually tried this before deletion of files, I had also rebooted machine etc) and can see there we some changes in the "feature.cs" files:
![featurecs_filesupdate](https://user-images.githubusercontent.com/23498757/37966208-aae1eeb8-31bf-11e8-89e0-fdfde76b3f

[2018-03-27 12:31] SabotageAndi commented on #1091
Ok, the left file is generated for the MSTest unit test provider, the right file is for the SpecFlow+Runner.
The SpecFlow+Runner can only execute scenarios that are generated for it. So if you had MSTest scenarios, it can not execute them.

I would suggest that you regenerate all your code behind files.
You can do this by right click on your project and select "Regenerate Feature Files"
![image](h

[2018-03-27 13:47] realfaisalk commented on #1091
Sorry, the image above is a diff of the files after check-in in Visual Studio.
The file on the left is the old version and the one on the right is the new version

I regularly do the "Regenerate Feature Files". VS is also set to regenerate whenever the App.config file changes.

I guess it's just down to my Visual Studio, I've got many solutions & projects with NuGet packages at different versions

[2018-03-27 15:37] guntidheerajkumar opened #1092 "Context Menu for generating step definitions in Visual Studio for Mac"
### SpecFlow Version:
- [x] 2.3
- [ ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:

### Visual Studio Version
- [ ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013
- [x] VS for Mac

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execu

[2018-03-27 15:41] SabotageAndi commented on #1092
We are not maintaining the extension for Visual Studio for Mac/Xamarin Studio/MonoDevelop.
Please contact the maintainer of the extension.

[2018-03-27 15:41] #1092 closed

[2018-03-27 18:16] alexvv commented on #936
Hi @SabotageAndi, I've submitted a PR ([#1093](https://github.com/techtalk/SpecFlow/pull/1093) to solve this issue. Could you take a loot at this please?
I've deviated a little from adding a delegate to OnScenarioStart, instead the instance to be added needs to be supplied as second argument. The reason is that currently only MSTest and XUnit generators need this functionality, and also only for a

[2018-03-28 07:52] SabotageAndi commented on #936
@alexvv I had a look at it and made some comments.

[2018-03-28 07:58] icnocop opened #1094 "Display a more detailed exception if a TechTalk.SpecFlow.Assist.ComparisonException is thrown as a result of calling Table.CompareToSet with two rows that differ in milliseconds on a DateTime field"
### SpecFlow Version:
- [x] 2.3
- [x]	2.2
- [x]	2.1
- [x]	2.0
- [x]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number:
Visual Studio 2015 14.0.25431.01 Update 3
NUnit 3 Test Adapter 3.10.0.0

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framewo

[2018-03-28 08:03] SabotageAndi commented on #1094
@icnocop Could you send us a PR with an explicit unit test for this case?
From that, we can then hopefully easily fix this.

[2018-03-28 08:25] #823 closed

[2018-03-28 08:36] icnocop commented on #1094
I created PR https://github.com/techtalk/SpecFlow/pull/1095

Thank you.

[2018-03-29 08:08] fatih-ucar commented on #857
I have faced this problem. I did what is said above but it didn't make any sense. Then I added the assembly to the references. Rebuild the project. Closed the Visual Studio. Then reopen the screen and the designer appeared as normal.

Regards,

[2018-03-29 17:53] raphaelsilvasage commented on #1083
Ok, now with the 2.3.2 the "System.ValueTuple" error is gone, but, the TechTalk.SpecFlow namespace is still not recognized.

[2018-03-30 08:12] shnobel commented on #839
@jsiegmund could you please share your request?

[2018-03-30 11:56] SabotageAndi commented on #839
@nagornyi @jsiegmund @shnobel
We added a feature for this use case in SpecFlow+Runner 1.7.
If you execute the tests via VSTS, you can now configure, if it should combine the test results and when the combined result should be interpreted as success.
The documentation how to configure it is here: http://specflow.org/plus/documentation/VSTest/

[2018-03-30 11:56] #839 closed

[2018-03-30 12:56] shnobel commented on #839
@SabotageAndi Thanks for responce. But we use specrun. Do we have ability to stop run test in case it passed after 2 execution?

[2018-03-30 13:00] SabotageAndi commented on #839
@shnobel SpecRun is the old name of SpecFlow+Runner (it's still used on some places).
This feature only combines the results, you can't say, that it should stop retrying after 2 executions. And there is currently no way to do it.

[2018-04-02 13:25] adrash commented on #820
Just to clarify, when you finish the .NET Core support this issue will likely be fixed because the code-behind files will be gone?

[2018-04-02 15:55] Friendbot2k commented on #1071
I am experiencing a similar issue with my CodedUI Plugin for Specflow.  I upgraded to Visual Studio 2017 and to Specflow 2.3.1 and then my plugin for CodedUI stopped working and my feature files gave me the same error Conclavia gave for the Specflow 2.3.1 installation.

I am reading from another thread : [link](https://github.com/techtalk/SpecFlow/issues/820) that this might be a problem with the

[2018-04-02 20:46] conclavia commented on #1071
@Friendbot2k Are your projects using the new csproj file format? We haven't upgraded ours - we're still using the traditional format.

[2018-04-03 07:45] SabotageAndi commented on #1071
@Friendbot2k & @conclavia
This has nothing todo with the project format. It comes from a new VS Extension version that fixed #857, but made some additional headaches.
To fix that, we added a new feature to the extension. We didn't yet release the extension to the marketplace, but we uploaded it already to GitHub.
It's here: https://github.com/techtalk/SpecFlow.VisualStudio/releases/tag/v2017.1.13