[2016-06-30 17:57] SabotageAndi opened #655 "Create step definition report from projects menu in Visual Studio"
like the "Regenerate Feature Files" action.

[2016-07-05 20:47] SabotageAndi opened #656 "[Discussion] Future Roadmap for IDE Integrations"
Because of #651 and a lot of feature request/bugs in the current Visual Studio integration, I think it is best, that we work on a new IDE integration, as the current one is based on the old Gherkin parser.

@gasparnagy started at TechTalk with a new editor which is based on the new Gherkin parser.
Current features:
-  Syntax highlighting
-  Table formating

I suggest that the new IDE Integration i

[2016-07-05 21:35] gasparnagy commented on #656
Thx @SabotageAndi! Good news. My feelings/comments:

* The new editor that I did based on the new parser is pretty much VS specific. I don't think it will really be useful for other IDEs. As far as I have seen, the IDEs are pretty much different, so it would be really hard to make a generic IDE support, especially not in a single git repo, so that we would need to synchronize the changes with the

[2016-07-06 03:39] stajs commented on #656
I'd love to see .NET Core support.

I [hacked around this](https://github.com/stajs/SpecFlow.Dnx) by hooking in to the prebuild and shelling out to the specflow EXE to generate. It could be a way to get initial support, with the hope that a better way is available in the future.

Good luck!

[2016-07-06 05:20] hotants commented on #643
Hi SabotageAndi,

        I just got reply from Resharper yesterday , please see detail below:

        Is there is any better event that can be used to subscribe for AfterTest, in Nunit Extension?

        Or is there any better approach for the senario that we need do something AfterTest(After test for a thread as running tests in parallel)

Thanks
-----------
When running SpecFlow tests from VS

[2016-07-06 08:50] gerich-home opened #657 "RuntimePlugin threading issue when registering global dependencies"
Hi,

I have found an issue when I was trying to migrate existing tests to Specflow 2 and when I tried to run tests in parallel.
In the solution I use I had a custom RuntimePlugin.
It is essential for me to have an additional global registration that works as a thread safe cache of some large data requests. The dependency itself injects several other auxiliary dependencies using your DI container s

[2016-07-06 08:54] SabotageAndi commented on #643
Thanks for the update.
Looks like we have to tidy up at this place the NUnit integration. :-/

From the NUnit documentation it looks like, we have to use the SetUpFixture Attribute https://github.com/nunit/docs/wiki/SetUpFixture-Attribute

@gasparnagy Do you think it would be enough to update https://github.com/techtalk/SpecFlow/blob/master/Installer/NuGetPackages/NUnit.Runners/SpecFlowNUnitExtens

[2016-07-06 11:50] dirkrombauts commented on #643
I did some work on NUnit attributes in SpecFlow recently ... So I can give practical support to the implementor in that area.

[2016-07-07 03:25] hotants commented on #643
The scope of Setup/TearDown is in a test file, will setup or teardown before/after all tests in the file. (Excuse me if I am wrong)

but that's not what we want, we want the automate code in [AfterTestRun], will be only executed once after all scenarios(which are allocated in a thread) are executed, as we have some source shared among those scenarios.

[2016-07-07 07:53] SabotageAndi commented on #643
@hotants This is not the normal Setup/TearDown Attribute.
Have a look at the description:

For me this reads like Before/After TestRun functionality.

[2016-07-07 20:33] SabotageAndi commented on #656
@gasparnagy I forgot the intellisense. \*_ups_\*.
Are the stepmaps the Visual Studio way of doing intellisense?

I was aware, that we cannot write an IDE integration for multiple different IDEs on the first try. But we could have a more deeper look at writing it reusable.

On all other points I am with you two.

Probably we can copy some parts simply from the current integration. The step skeleton

[2016-07-07 20:40] norris1976 commented on #300
Is this still up for grabs? If so, I'd like to take it.

[2016-07-07 20:43] joshka commented on #300
No objections from me. I never touched it as I'm no longer working on a project where we're using SpecFlow.

[2016-07-07 21:04] samholder commented on #300
@norris176 please take it. The change will be in the specflow.visualstudio project. Not sure where though.

[2016-07-08 10:42] camilleridavid commented on #517
@SabotageAndi Unfortunately I had to stop working on this, since we decided to integrate Xamarin Test Cloud in our framework and they currently support only up to NUnit 2.6.4. I will look into this once Xamarin support NUnit 3.

[2016-07-08 19:50] ggingras opened #660 "Problem with Specflow 2.0 and 2.1 and French language. Binding generation error"
Since version 2, we have mismatch between attribute and generated feature codebehind using french language. Version 1.9 was working fine.

No matching step definition found for the step. Use the following code to create one:
        [Given(@"je suis authentifié avec l'utilisateur ""(.*)"" et le rôle ""(.*)"" et que je possède plusieurs rôles")]

Config :
...
 <specFlow>
    <language feature="fr-C

[2016-07-11 08:05] SabotageAndi commented on #660
@ggingras Could you reformat the text, that all code is displayed as code?
It is really hard to read and understand what is code and what are your comments.

Thank you!

[2016-07-11 15:22] ggingras commented on #660
I updated my first post.
Thanks

[2016-07-11 17:04] ianbattersby opened #663 "SerializationException: Unable to find assembly 'xyz'"
**Runner:** SpecRun 1.5.2 (paid version)
**SpecFlow:** 2.1.0

Been setting up a new SpecRun project today and hit this exception;

[code]

Mysteriously this DLL **does** exist in the `baseFolder` passed to `SpecRun.exe`, and it is of that version (there is also a bindingRedirect regardless. I did some Fusion logging and found many instances of the below;

[code]

So I tried copying the `log4net.dl

[2016-07-11 17:18] kalanbates opened #664 "Addition of [Scope] to bound step method generating "Multiple matching bindings" in feature file"
(v2.1.0)
I ran across this a few minutes ago and found it interesting.
I have a feature.
That feature has steps.
Those steps have attributes.

Decorating the step method is:

[code]

...this runs fine from my features.

What I am trying to do that is not working is to tag the steps so that in a BeforeScenario hook, I can inspect its tags, reflect over all the bindings within the assembly, inspect

[2016-07-12 08:54] SabotageAndi commented on #663
How are you executing the tests? Via command line or via Visual Studio integration?
If commandline, could you provide the command and your used srProfile- File?
How did you "install" the SpecFlow+Runner. "file:///D:/Code/my-project/tools/SpecRun/" does not look like you are using it from a NuGet package.
Do you have stacktrace for the exception?

[2016-07-12 14:08] ianbattersby commented on #663
Hi @SabotageAndi,

Thanks for the reply.

1. Running `SpecRun.exe` from the command-line either after compiling manually or through our build script (thus `msbuild.exe`).
2. My colleague tells me that when he runs via the VS integration he doesn't see the same failures.
3. srProfile file is below.
4. It was installed from NuGet and copied into the tools directory manually, but it is the latest.
5.

[2016-07-12 14:28] SabotageAndi commented on #663
As far as I see, you do not have specified a basefolder in your srProfile. This is the folder where it searches for dlls.
The VisualStudio Integration takes automatically the location of the test dll as basefolder.
If you call direct the SpecRun.exe you have to provide it via command line arg or in your srProfile.
If there is no info about it, it takes the current directory. Which would explain, w

[2016-07-12 14:39] ianbattersby commented on #663
Thanks for the reply. We are without doubt specifying the baseFolder on the command line, but will try profile too.

[2016-07-12 14:50] SabotageAndi commented on #663
If you have not specified a srProfile- File, the Default.srProfile will be used.
Is perhaps there a baseFolder specified?
Is your baseFolder on the cmd set to the right path?

[2016-07-12 18:37] ianbattersby commented on #663
Have made some progress, once I've confirmed things I'll come back to you ;)

[2016-07-13 00:28] neofreko commented on #569
I have the same issue. And `/v` didn't print any additional information.
Same `.csproj` works with SpecFlow 1.9.0

[2016-07-13 10:14] SabotageAndi commented on #569
@neofreko @egee-irl could you provide us the csproj file?

[2016-07-14 05:18] anhvule opened #665 "Method 'TestRunnerManager.get_Instance' not found."
I'd like to use Specflow for my Xamarin project, but i get this error when i try to run a test case:
System.MissingMethodException : Method 'TestRunnerManager.get_Instance' not found.

This is my package info:

"NUnit" version="3.0.0"
"SpecFlow" version="2.1.0"
"SpecRun.SpecFlow" version="1.5.2"
"Xamarin.UITest" version="1.3.11"

[2016-07-14 07:36] SabotageAndi opened #666 "Move SourceFilePath from SpecFlowFeature to SpecFlowDocument"
Property is on wrong class.

[2016-07-14 09:04] SabotageAndi commented on #665
You get this exception, because there is no Instance property on the TestRunnerManager.
Could you please provide a full callstack of the exception, that we can see where it is called?

[2016-07-14 15:29] jgrossrieder opened #667 "Allow to make a report in a JSON format"
Hi,

I was wondering if it would be possible to generate a report in a JSON format.

Cucumber allow this, through the -f or -p option.

This is the missing piece in using SpecFlow in a complexe project, publishing results on another tool(XRAY), which links JIRA feature to SpecFlow scenarios.

[2016-07-14 15:57] samholder commented on #667
Is there some specification for the report format? Or will any old format as long as its JSON do?

It's hard to imagine that this will ever get done if there is no information about what the format should be. If you want to get specflow to do this then feel free to submit a PR which allows the export to happen in the format you want, but realistically I can't imagine anyone taking this work on as

[2016-07-14 16:09] jgrossrieder commented on #667
Hi,
Thank you for your suggestion.
I was able to find this: https://www.relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter
Is it enough?

[2016-07-14 16:23] dirkrombauts commented on #667
If any kind of JSON will do for you, then you could try [Pickles](http://www.picklesdoc.com/): Pickles will take your feature files and the test result file as input, and will output a variety of formats. The JSON format would be relevant for you.

Full disclosure: I am the maintainer of Pickles :-) I will be happy to help you get started with Pickles. If you have questions, please ask me!

[2016-07-14 16:32] jgrossrieder commented on #667
@dirkrombauts Unfortunately, it's for an external tool(XRAY), which accept only the format of cucumber. But I may have to use Pickles for some other usages, this seems interesting

[2016-07-14 16:33] samholder commented on #667
Maybe a PR for pickles to output in the format of cucumber would be more a more appropriate solution

[2016-07-14 16:41] dirkrombauts commented on #667
There's a feature request at Pickles for just that: https://github.com/picklesdoc/pickles/issues/278

I will be happy to review a pull request for it!

[2016-07-15 05:11] anhvule commented on #665
This is what i received:
System.Reflection.TargetInvocationException : Exception has been thrown by the target of an invocation.
  ----> System.MissingMethodException : Method 'TestRunnerManager.get_Instance' not found.

  at System.Reflection.MonoMethod.Invoke (System.Object obj, BindingFlags invokeAttr, System.Reflection.Binder binder, System.Object[] parameters, System.Globalization.CultureInfo

[2016-07-15 10:16] SabotageAndi commented on #665
@anhvule Thanks, I will have a look at it.

[2016-07-15 10:17] gasparnagy commented on #300
@norris1976 the code is in https://github.com/techtalk/SpecFlow/blob/master/Runtime/Tracing/CodeFormattingExtensions.cs (ToIdentifier* methods).

[2016-07-15 10:27] gasparnagy commented on #656
@SabotageAndi no. stepmaps is our own solution.

the problem with the generalized solution is that every IDE has its own concept about language support, and since this is a very performance intensive part (for every keystroke we have to calculate, parse and create many objects), putting to much abstraction around is dangerous.

@samholder I really recommend for everyone to look at the SpecFlowVisu

[2016-07-15 10:31] samholder commented on #656
@gasparnagy thanks. I grabbed the code last week and started to have a look. Hopefully I'll get a bit more time this weekend to play.

[2016-07-15 10:36] gasparnagy commented on #643
@SabotageAndi @hotants @dirkrombauts  this one time setup / tear down looks promising. We would need to generate such into every generated test class and somehow ensure that the specflow aftertestrun logic is executed only once (with a static bool flag in NUnit integration class?)

[2016-07-15 10:39] gasparnagy commented on #482
@SabotageAndi  i remember a related PR already... but i cant find it now (yes, it was related to the line pragmas). Someone was mentioning that he prototyped the fix with search and replace...

[2016-07-15 10:40] gasparnagy commented on #482
There was an extra unnecessary line pragma in the code....

[2016-07-15 10:44] gasparnagy commented on #482
Found it: #604 (issue #361)... needs some work still

[2016-07-15 10:52] gasparnagy commented on #645
@SabotageAndi I don't think we can fix this, as the tab->spaces conversion depends on the VS settings (ie how many spaces). Do you have any idea?

[2016-07-15 11:02] SabotageAndi commented on #645
I would not do a conversion. I was thinking about a warning, that the user has different whitespaces in the file.

[2016-07-15 11:04] gasparnagy commented on #645
But this would need to be in the gherkin project, right?

On Fri, Jul 15, 2016 at 1:02 PM +0200, "Andreas Willich" <notifications@github.com<mailto:notifications@github.com>> wrote:

I would not do a conversion. I was thinking about a warning, that the user has different whitespaces in the file.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<h

[2016-07-15 11:08] SabotageAndi commented on #645
It would be an option to add this there.
When we are calling the parser, we have a TextReader for the file. So potential we could also implment this on our side.

[2016-07-15 17:22] SeeD-Seifer commented on #665
I would also like to use SpecFlow with Xamarin and get exactly the same error.

[2016-07-15 17:24] SeeD-Seifer commented on #665
There is a mention of the issue on Xamarin forum https://forums.xamarin.com/discussion/comment/182987/#Comment_182987

[2016-07-15 19:06] gasparnagy commented on #645
Wrapping the TextReader because of this would be pretty much of an overkill. The performance of the parser is quite important. The Gherkin parser on the other hand does not have a warning infrastructure... :( too bad.

[2016-07-18 15:46] jmezach commented on #656
@gasparnagy Couldn't the stepmaps problem be fairly easily and elegantly solved by using Roslyn? It should provide us with an in-memory representation of the current code in the solution so I guess it shouldn't be that hard to determine the available steps from that?

[2016-07-18 18:18] SabotageAndi commented on #664
Did I understand correctly, that you are trying to get different steps called, depending on the tags you have on a scenario?
Could you provide how then a scenario would look like? No idea how this will look like.

I think the best is, that you provide a complete project for us.

[2016-07-18 18:18] SabotageAndi commented on #663
@ianbattersby Any news for us?

[2016-07-18 19:47] SabotageAndi commented on #517
Ok. I close this issue in the meantime. If you got back to it and the error occurs again, please reopen it.

[2016-07-18 19:48] ianbattersby commented on #663
Apologies! I was waiting on @mehdime returning to explain his wonderful one-line that blew this up, he is probably better placed (cleverer) to explain what exactly is happening here. Be in touch soon!

[2016-07-18 20:06] SabotageAndi commented on #660
The problem here is, that the Visual Studio Extension and the runtime are currently using different parsers. The runtime has as And- Keywords "Et que", "Et qu'" and "Et" where the Visual Studio Extension has only "Et".

We startet to work on an Visual Studio Integration, that also uses the new parser, but this will probably take still some time to get finished.

[2016-07-19 10:50] RobBowman commented on #474
I'm using VS2013, "Generate Step Definition” context menu option is also missing for me. I have added nuget packages for "Specflow" and "SpecFlow.MsTest". I've also added the Specflow Visual Studio Extension. I was able to select Add\New Item\Specflow Feature File and my project compiles ok. The app.config looks ok, just has the defaults with MSTest set for UnitTestProvider name.

If I right-click

[2016-07-19 12:04] RobBowman opened #669 "Generate Step Definition context menu option missing VS2013"
I'm using VS2013, "Generate Step Definition” context menu option is also missing for me. I have added nuget packages for "Specflow" and "SpecFlow.MsTest". I've also added the Specflow Visual Studio Extension. I was able to select Add\New Item\Specflow Feature File and my project compiles ok. The app.config looks ok, just has the defaults with MSTest set for UnitTestProvider name.

If I right-click

[2016-07-19 12:18] SabotageAndi commented on #669
Right click in the file editor, to get the menu entry:
![image](https://cloud.githubusercontent.com/assets/859801/16949526/952a7f5c-4dbb-11e6-8a58-a54f310bc004.png)

[2016-07-19 12:19] SabotageAndi commented on #474
see #669

[2016-07-19 13:20] RobBowman commented on #669
Ahh, easy when you know how! Thanks

[2016-07-19 13:20] #669 closed

[2016-07-19 21:23] ianbattersby commented on #663
Hi @SabotageAndi, thanks for your patience.

Below is the change I made to prevent the issue, my guess being that it was to enforce an indirect reference against compiler optimisation, but admittedly done in a way different than I had traditionally done it myself.

[code]

So I spoke with my colleague @mehdime as this was his comment;

[2016-07-21 09:43] GregH44 opened #672 "Specflow integration for Visual Studio 2015 and .Net Core"
Hi everybody,

I work with Visual Studio 2015 Update 3 with .Net Core 1.0.0.
I tryied to use Specflow integration for Visual Studio 2015 but it doesn't work with .Net Core 1.0.0 project (xproj project).
In my old project (csproj), it works fine !

Does it exist a workaround for .Net Core project ?

It seems that no update is planned. Does it true ?

Thanks for your help !

Greg

[2016-07-21 09:53] SabotageAndi commented on #672
Hi Greg

We are still working on support for .Net Core.
See the branch https://github.com/techtalk/SpecFlow/pull/649 for that.

[2016-07-23 08:59] jkonecki opened #673 "Support for Step Argument Transforms on table cells"
Step Argument Transforms is a brilliant mechanism for defining custom transformations of values to non-standard types. Transformations can be reused in different steps but they doesn't work on values in table cells.

Example from [Google Group post](https://groups.google.com/forum/#!msg/specflow/8fS0l2gRbS4/PTCsslqKOwMJ)

[code]

In the above example one has to manually convert the `10 days ago` i

[2016-07-24 08:53] StephenFriend commented on #638
@gasparnagy just wondering if you'd got any further with this? I use NCrunch, NUnit3 and SpecFlow and this issue means I'm having to reconsider my toolset (which I really like, so I'd prefer not to change it).

[2016-07-25 06:57] gasparnagy commented on #656
@jmezach Yes, that would be definitely useful! And your code looks really a good start. Yes, please keep on doing it. We would need to reach a point where the perf can be measured (for a bigger project), so we can make the decision about when to trigger the change and whether we really need to persist the cache (which causes many issues). /cc @samholder @SabotageAndi

[2016-07-25 08:05] gasparnagy commented on #638
@StephenFriend Thx for reminding me. I have forgotten about it. I will try to come up with some idea this week.

[2016-07-25 13:11] tadesushilgithub commented on #252
I have method under [AfterScenario, Scope(Tag = "ENABLE_NETWORK")] but It's calling  method under this [AfterScenario] first. How to call method under this [AfterScenario, Scope(Tag = "ENABLE_NETWORK")] rather than exectuing method under [AfterScenario]? Please help someone

[2016-07-25 13:27] SabotageAndi commented on #252
@tadesushilgithub Please create a new issue with more information about your problem, like used SpecFlow version, used test runner, code from your steps.

[2016-07-25 13:41] darrencauthon commented on #673
This has come up multiple times, and I've put a lot of work into it.  My last comment was here:  https://github.com/techtalk/SpecFlow/pull/536#issuecomment-216872191

In a nutshell, the table helpers are all static, and the step transformations are woven into the state of the test run.  I took it pretty far, I think.  I had it to the point where I just needed to get int the proper IoC container to

[2016-07-25 13:42] darrencauthon commented on #673
Err, sorry, I meant... you could register your own value retriever like this:

https://github.com/techtalk/SpecFlow/blob/396e0e40ca06e68c01a4ca46fa0dfc9fbbb5a8c3/TechTalk.SpecFlow/Assist/Service.cs#L83

[2016-07-25 13:44] samholder commented on #252
@tadesushilgithub if you tag a method with `[AfterScenario]` it will be executed after EVERY scenario. you can check inside the method to see if a tag exists and skip the contents of the method if so, but you have to do this manually.

[2016-07-25 13:59] samholder commented on #672
I'm closing this as a PR is in progress

[2016-07-25 13:59] #672 closed

[2016-07-25 14:00] samholder commented on #667
@jgrossrieder can we close this as I believe you are working on a solution on the pickles said

[2016-07-25 14:09] jgrossrieder commented on #667
@samholder  For me this it is still a big workaround required, it would make a lot of sense to have this directly inside specflow(if we say that SpecFlow is the .Net Cucumber)

[2016-07-25 14:10] tadesushilgithub opened #675 "How to call specific method which is tagged under [AfterScenario()]"
Hey I am having problem here, I want **EnableNetowrk()** method to be executed I don't want to execute **CleanUpTheData()** method. How can I utilize the capabilities of SpecFlow so that I can execute only method under [AfterScenario("ENABLE_NETWORK_CONNECTION")] not under  [AfterScenario]. Intentionally I don't want to execute   method under [AfterScenario].

_**SpecFlow v2.1.0
SpecRun.Runner v1.

[2016-07-25 14:51] samholder commented on #667
@jgrossrieder ok, added a feature request tag

[2016-07-25 15:00] samholder commented on #675
I assume you mean that you want to not run `CleanUpTheData` when the scenario is tagged `ENABLE_NETWORK_CONNECTION`?

I think you can do this manjually like this

[code]

I'm not 100% on the usage of the tags as I've not done this for a while, but this should give you enough to get in the right direction

[2016-07-27 02:14] xiaoxinghu opened #676 "Any way to load runtime plugin without additional assembly?"
What I want to achieve is to trace the test status (like through implementing our own ITestTracer). Is there a way to register our version of ITestTracer class within the test project itself, rather than creating a separate project for that plugin? I understand why generator plugins need to be in a assembly. But IMHO, it is not necessary to put runtime plugin in separate assembly.

[2016-07-27 02:51] xiaoxinghu opened #677 "Is there any way to get test result in hooks?"
`ScenarioContext` does not provide any information about test result. `TestError` is close but it is not dedicated for "test result". Also, step binding matching issues are not captured by it. Is there any way to capture test result (passed, failed, pending, inconclusive) in hooks?

[2016-07-27 08:34] SabotageAndi commented on #677
@gasparnagy Any idea? I only know about TestError.

[2016-07-27 09:21] gasparnagy commented on #677
There is a TestStatus (https://github.com/techtalk/SpecFlow/blob/396e0e40ca06e68c01a4ca46fa0dfc9fbbb5a8c3/TechTalk.SpecFlow/Infrastructure/TestStatus.cs) property on it, but it is internal.
@xiaoxinghu Would that be enough it it would be public?

[2016-07-27 10:16] samholder commented on #638
This should be fine for the specflow extension. This is a generator extension that adds NCrunch attributes to the generated tests only.

[2016-07-27 10:19] samholder commented on #638
I can try and spike the implementation of this solution tonight I think. We could perhaps detect the `NCrunch` environment variable temporarily until NCrunch implements setting the `SPECFLOW_DISABLE_PARALLEL` in order to fix in the next Specflow release?

[2016-07-27 10:20] gasparnagy commented on #638
@samholder yeah, that could be an easy way to test the concept...

[2016-07-27 10:29] SabotageAndi commented on #638
@samholder @gasparnagy Could we add this switch also to the config file?

[2016-07-27 11:06] remcomulder commented on #638
@gasparnagy This makes sense.  I can easily make a code change to NCrunch to set the new environment variable for SpecFlow when its detected ...

Although, it would be really nice if we can make this also work for retrospective versions of NCrunch, and the build that people are using currently.  If I make a code change now, this problem will still exist for everyone until the upgrade to the next r

[2016-07-27 11:52] GregH44 commented on #672
Cool, thank you !

[2016-07-27 11:57] gasparnagy commented on #638
@remcomulder i see. yes, we can add an additional check for the NCrunch variable for a while I think. Anyway, this is exactly what @samholder will try out. Let's see his results.

@SabotageAndi we can put it to the config file as well, but for NCrunch this is not a solution, because the same project is sometimes executed with NCrunch (where the parallel treatment has to be disabled) and sometimes

[2016-07-27 12:12] stuartleeks commented on #542
I found this thread as I tried to use async/await with SpecFlow and then discovered that it doesn't work!

@ocsurfnut - is your branch ready for a PR?

It would be great to have this supported :-)

[2016-07-27 12:15] ocsurfnut commented on #542
@stuartleeks it was pulled into the `master` a couple weeks ago -> https://github.com/techtalk/SpecFlow/pull/647 .  I'm assuming it should be in the next SpecFlow release.

[2016-07-27 13:03] gasparnagy commented on #542
@ocsurfnut @stuartleeks yes, it will be included in the next release. You can access the interim builds from the CI NuGet feed: https://ci.appveyor.com/nuget/specflow-ci

[2016-07-27 15:30] stuartleeks commented on #542
That's great news. Any idea roughly when the next release will be?

:-)

[2016-07-27 19:31] samholder commented on #638
@ErikStroeken thanks for the sample project. I have used this to test [this fix](https://github.com/techtalk/SpecFlow/pull/678) and it seems to allow the tests to pass in your sample project when run with NCrunch. Once the Appveyor build is complete it would be good if you could grab the version of the nuget package from that feed and let me know if this fixes your issue.

[2016-07-28 00:33] xiaoxinghu commented on #677
@gasparnagy I saw that, and I think that would be enough for reporting purpose if it is accessible in `AfterScenario`.

[2016-07-28 06:51] gasparnagy commented on #542
@stuartleeks good question, but I think it will be sometime in September...

[2016-07-28 06:55] #638 closed

[2016-07-28 06:57] gasparnagy commented on #677
@xiaoxinghu ok. please make a few tests with accessing the internal property through reflection and let us know how it went. If everything is fine, we can make it public IMHO.

[2016-07-28 10:11] xiaoxinghu commented on #677
@gasparnagy Actually, I think there is a bigger problem here. From the design of the extension mechanism, important information is divided into two parts: the `hooks` and the `plugin` system. The hook system has context info (e.g. run/feature/scenario/step title, tags etc.). And the tracers can get the state of the test. Personally I think the two kind of information is more valuable together. Ima

[2016-07-28 13:29] gasparnagy commented on #677
@xiaoxinghu I think you are right in that we should put all runtime state to one place. On the other hand, I think hooks are not a good choice for extending SpecFlow for tracing/reporting/etc. For that, providing a custom tracer is probably better. The custom tracer can have the IContextManager injected and can access the ScenarioContext through that, I believe.

[2016-07-28 21:44] xiaoxinghu commented on #677
@gasparnagy I agree with you. A reporting extension should be a plugin. But I still need both hooks and plugin to set it up correctly. For example, you might need to initialize connection with the thirdparty service, or setup some meta data of current test run in BeforeTestRun hook. Shut it down in AfterTestRun. The tracer is focused on steps. So I also need a hook binding in the plugin project, a

[2016-07-29 06:36] gasparnagy commented on #677
@xiaoxinghu I understand what you say... Plugins can also alter the configuration as well, so (I believe) they can dynamically add additional step assemblies for example. For that you need to subscribe to the ConfigurationDefaults event (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Plugins/RuntimePluginEvents.cs#L11) from the plugin and change the configuration class in the e

[2016-07-29 12:39] samholder commented on #675
@tadesushilgithub did this solve your issue? Can I close this issue now?

[2016-07-29 17:01] tadesushilgithub commented on #675
@samholder you mean that [AfterScenario] tagged method always run and then [AfterScenario("ENABLE_NETWORK_CONNECTION")] tag method runs. I thought if I have [AfterScenario("ENABLE_NETWORK_CONNECTION")] tagged which has scenario tagged like
@ENABLE_NETWORK_CONNECTION
Scenario: Check for network simulation
when .........
Then ..........
If this is the case I want to skip

[AfterScenario]
public void

[2016-07-30 10:49] StephenFriend commented on #638
@samholder I'd love to try the fix but I don't know how to use appveyor & nuget to update specflow within VS (2015).

[2016-07-30 14:56] samholder commented on #675
I understand what you want, I'm just explaining how it works. After
scenario tagged methods which don't specify a tag will always be executed
for every scenario. After scenario methods which directory a tag will only
be executed for the scenarios that contain that tag. Given that you can
either:

- check in your untagged after scenario methods if this is a tag you should
skip
- don't have an untag

[2016-07-30 15:03] samholder commented on #638
If you go to Tools->options->nuget package manager then going the nuget
feed and add the address of the appveyor feed to the list of available
feeds, you can then just choose to update specflow from that source. You'll
have to enable versions that are non release. I can't recall what they call
that option right now. The app veyor feed is
https://CI.appveyor.com/nuget/specflow-ci I think

On 30 Jul

[2016-07-30 15:57] tadesushilgithub commented on #675
Thanks @samholder I agree.

[2016-07-30 15:57] #675 closed

[2016-08-01 08:29] StephenFriend commented on #638
@samholder well, that was obvious.  Sorry for the laziness.  I'm happy to report that NCrunch is now working happily with my SpecFlow tests.  Thanks for the fix.

[2016-08-01 08:48] samholder commented on #638
@StephenFriend Awesome. Thanks for taking the time to test this, it's much appreciated.

[2016-08-01 09:54] godrose opened #685 "Missing steps implementation results in failing tests state"
Using xunit 2.1.0 as test provider results in failing 'Pending  step definition' exception. This behavior is different from nunit 2.6.4 where such tests were categorized as ignored.

[2016-08-01 10:02] samholder commented on #685
@godrose this may be just a configuration issue. Please see [missingOrPendingStepsOutcome in the configuration](https://github.com/techtalk/SpecFlow/wiki/Configuration#runtime)

[2016-08-02 01:12] godrose commented on #685
@samholder. It doesn't mattet which value I use. All three of them result in a failing test. I'm running the tests via resharper. Again the same tests ar3 correctly marked as ignored/inconclusive for nunit 2.6.4

[2016-08-02 08:35] samholder commented on #685
@godrose thanks for testing this. Ok, hopefully someone will get some time to look at this.

[2016-08-03 10:48] godrose opened #686 "Allow defining test collection for parallelism in xUnit"
In my current project I use xUnit v2 as the test provider. I would like to run the generated tests in parallel. However there are several test collections which include tests/scenarios that could not be run in parallel within the same collection. Is there any way to define an attribute that will generate ```Collection[]``` attribute at the class/feature level?
[https://xunit.github.io/docs/running

[2016-08-03 12:20] samholder commented on #686
@godrose I don't believe that this is currently supported, but I'm sure something along these lines could be added, either to the default XUnit2 test generator or via a plugin. I recently [implemented something similar](https://github.com/samholder/SpecFlow.NCrunch) to be able use NCrunch specific attributes in the generated tests, and maybe that can provide some inspiration.

[2016-08-04 02:04] jdluzen commented on #652
I got this too after trying both downloads, and the one in the add-ins. The fix for me was to restart XS again after the update, then reinstall the one in the add-in manager.

[2016-08-04 06:14] godrose opened #687 "Generate multiple .feature.cs files from the single .feature"
Another view on parallelism in xUnit and SpecFlow.
xUnit v2 allows two options for parallelism assembly level and class/collection level. Unfortunately there's no support for test/scenario level parallelism. This leads to the situation where a single .feature file can't run in parallel although there's no real limitation to it (no shared state, etc.).
In this case the only way to run the scenarios

[2016-08-04 08:10] samholder commented on #687
No I don't believe it does.

[2016-08-04 10:58] godrose commented on #687
@samholder How hard would that be to add such feature for someone who's not familiar with the flow (including the possible learning curve)

[2016-08-04 11:13] samholder commented on #687
I think this is more work than adding the collection attribute, as, from what I understand from your post, it involves changing the feature generation to generate several classes, one for each scenario, rather than 1 for each feature as is done now. Without doing a bit of investigation I can't be sure, but I think the learning curve shouldn't be too much as this is a fairly isolated part of the co

[2016-08-04 11:18] samholder commented on #687
hmm..  looking at https://github.com/techtalk/SpecFlow/blob/396e0e40ca06e68c01a4ca46fa0dfc9fbbb5a8c3/TechTalk.SpecFlow.Generator/UnitTestProvider/IUnitTestGeneratorProvider.cs it seems the infrastructure might be set up to generate 1 test class per feature and so this might not be possible without significant changes to the whole infrastructure

[2016-08-04 11:50] lazytesting opened #688 "Stepdefinition report is not generated"
When running:

`specflow.exe stepdefinitionreport "myproject.csproj" /out:Steps.html`

I receive the following error:
Operation is not valid due to the current state of the object.

I noticed that other people have the same issue and it might be related to the use of the [StepDefinition] attribute.

http://stackoverflow.com/questions/33622371/i-got-error-message-operation-is-not-valid-due-to-the-c

[2016-08-04 12:51] godrose commented on #687
@samholder. Thanks for the quick reply and the time you have invested in this issue.

[2016-08-04 13:20] dirkrombauts commented on #688
An acquaintance of mine ran into the very same problem, and I was able to resolve the problem by the same changes as outlined in the stack overflow question.

[2016-08-05 05:16] anhvule commented on #665
Have you guys fixed this issue ?

[2016-08-05 06:06] lazytesting commented on #688
@dirkrombauts without the StepDefinition attribute it works but I prefer to use the StepDefinition attribute instead of adding 3 attributes. It's less work an easier to maintain when a sentence is changes.

[2016-08-05 07:51] dirkrombauts commented on #688
@lazytesting I didn't mean to imply you have to change your way of working :-) I just wanted to provide anecdotal evidence to support the theory that the StepDefinition attribute is the cause.

I am curious, though: how does the StepDefinition attribute help you? I personally never had the need to use one and the same sentence as a Given, a When and a Then sentence. I would like to broaden my hori

[2016-08-05 08:32] samholder commented on #688
@dirkrombauts its basically an attribute that matches any step, regardless of if it is a Given, When or Then making it work a little more like cucumber in other implementations. Whether that is a good thing or a bad thing is up to you :smile:

On one hand you only have a single attribute, but on the other you can't have a step with the same text which does something different depending on if it is

[2016-08-05 08:42] SabotageAndi commented on #665
Sorry for the late response, I forgot to update the issue before my vacation.
The bug is sadly in Xamarin.UITest and not in SpecFlow.
What I found out is, that it should work with SpecFlow 1.9, but not newer versions.

I will file a bug at Xamarin about this, as soon as I found the right place for that. In their bugzilla, there is no product for Xamarin Test Cloud :-/

[2016-08-05 17:42] dirkrombauts commented on #688
@samholder thanks for the theory lesson ;-) what I am interested in, is how this helps in practice. I'm using only Given/when/then attributes (and never StepDefinition) and I don't feel that I am missing something.

@lazytesting So that's why I would like to know how working with only one attribute makes your life easier.

[2016-08-06 15:28] samholder commented on #688
Dirk, we sometimes have steps which start out as a when, and then we want
to use as a given in a later test. To do this we have to add a new when
attribute as well as the given attribute that is already there. If we
instead used the step definition attribute then we would not need to add
another attribute in order to user it as a when, it would just work.

This is the advantage (or not as I said b

[2016-08-08 04:14] wkit23 commented on #455
I found that if you have disable Enable Just My Code debugging, you'll encounter this error.

[2016-08-09 12:55] godrose opened #691 "Incorporate the latest version of the BoDi object container"
The non-generic version for RegisterTypeAs is missing

[2016-08-09 13:32] SabotageAndi commented on #691
We are using BoDi for our Dependency Injection: https://github.com/gasparnagy/BoDi
Please open there this issue.

[2016-08-09 13:33] darrencauthon commented on #691
Argh!  I was just about to drop my Tom Cruise "Show me the pull request" graphic here...

[2016-08-09 13:35] darrencauthon commented on #691
It's a conversation best had on the Bodi repo, but @godrose if you want this feature, it would be pretty easy to implement it yourself as a pull request.  Bodi fits in one file, so it's not a hard implementation to change.

[2016-08-09 13:52] godrose commented on #691
Cool. An excellent opportunity to start contributing.

On 9 August 2016 at 13:35, Darren Cauthon <notifications@github.com> wrote:

--
Best Regards,
Gena

[2016-08-09 13:53] godrose commented on #691
If I understand this correctly, BoDi isn't published as a separate package.
Therefore there will be a deployment delay, won't it?

On 9 August 2016 at 13:52, Gena Verdel <godrose@gmail.com> wrote:

--
Best Regards,
Gena

[2016-08-09 14:11] darrencauthon commented on #691
There doesn't have to be a delay.  Like I said, it's just one file, so... all that has to be done is to copy the new file over the old one.  There'd be no more delay then there'd already be in incorporating a pull request to SpecFlow itself.

But since this is a development issue involving that particular library, it would be better to have the issues & pull requests there.  Just to get keep these

[2016-08-09 14:12] godrose commented on #691
Ok. I wish to change the title of the issue.
It appears BoDi already has this functionality, but the version that is shipped with the SpecFlow is outdated.
Is this possible to publish the next version of the Specflow with the most recent version of BoDi (preferably as a nuget dependency)? @darrencauthon @SabotageAndi

[2016-08-09 14:39] SabotageAndi commented on #691
Bodi is as NuGet package added to SpecFlow. See https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/packages.config

With the BoDi.Embedded package, you get it as cs-file and not as assembly.

@gasparnagy Could you do a release of the current BoDi version? Then we can update it in SpecFlow

[2016-08-09 14:44] godrose commented on #691
Thanks a bunch! @SabotageAndi

[2016-08-10 07:33] TheOptimist opened #692 "Gaining access to custom attribute on bound method"
Recommended by @samholder to post here after asking on the Google group.

Hopefully someone can point me in the right direction (even if that's different to my current one) :-)

Background: Driving Selenium and browsers to test high level features and scenarios through an authenticated web application.
Goal: Enable a mechanism where I can specify screenshots to be taken on specific steps (both bef

[2016-08-10 14:21] lazytesting commented on #688
@dirkrombauts I'm mostly using SpecFlow in combination with Webdriver to test flows on websites. Often I have the same steps which can be Given or When.

By example:
In test1 I want to test if  login works, that one looks like:

[code]

In test2 I want to validate something which is behind the login section
[code]

So if I use the Given/Then attribute I need to implement this:

[code]

With the St

[2016-08-10 18:25] dirkrombauts commented on #688
@lazytesting thanks for the explanation!

[2016-08-11 08:25] godrose opened #694 "Constant 'Step bindings are being analyzed. Please wait..." message"
This feature used to work now it doesn't.
No substantial changes have been made to the solution.
The Step Bindings are defined in a separate assembly.
Any leads would be greatly appreciated.

[2016-08-11 08:44] SabotageAndi commented on #694
Try following:

1. close Visual Studio
2. delete the specflow-stepmap* - files in %temp%
3. open Visual Studio

[2016-08-11 09:00] godrose commented on #694
This messes up the step mappings. @SabotageAndi

[2016-08-11 10:15] slawomir-brzezinski-at-interxion commented on #409
@ibrahimbensalah Re:

We were also suffering from this limitation and created the pull request https://github.com/gasparnagy/BoDi/pull/5

[2016-08-11 11:08] phatcher opened #695 "Config error running on VSTS"
I'm trying to incorporate some SpecFlow tests in my build on VSTS, but I get an error in the log which causes the test step to fail...

2016-08-11T10:32:51.7038777Z ##[error]Error: TechTalk.SpecRun.Framework.SpecRunConfigurationException: Invalid configuration file: There is an error in XML document (3, 28). -> Expected hex 0x in '{0}'. ---> System.InvalidOperationException: There is an error in X

[2016-08-11 11:22] SabotageAndi commented on #695
Yes, the srProfile is the config file in that case.
You have an error in the xml on line 3 char 28.

Could you post the srProfile with the original formating? GitHub/Markdown did mess the posted one.
If you can not post it public, you can send it to me via email to support@specflow.org.

[2016-08-11 11:25] phatcher commented on #695
I'm guessing it's the brackets in line 3

<Settings projectName="" projectId="{}" />

[Default.srprofile.txt](https://github.com/techtalk/SpecFlow/files/413047/Default.srprofile.txt)

[2016-08-11 11:40] SabotageAndi commented on #695
Yes. There should be a GUID.
This is normally inserted when you install the nuget package.

[2016-08-11 11:48] phatcher commented on #695
Can I just generate a GUID and put it in there or does it need to be a specific value?

[2016-08-11 12:37] phatcher commented on #695
Ah, it works with the ProjectName and GUID there - still have one more problem but I'll raise it as a separate issue

[2016-08-11 12:37] #695 closed

[2016-08-11 12:38] samholder commented on #694
This just deletes a cache file which gets recreated

On 11 Aug 2016 10:00 a.m., "Gennady Verdel" <notifications@github.com>
wrote:

[2016-08-11 12:44] SabotageAndi commented on #695
Normally it uses the Guid of the project, but any should be good

[2016-08-11 13:15] godrose commented on #694
I'm unable to restore the step mappings.
It doesn't matter how many times I rebuild the solution. The SpecFlow isn't able to discover the existing steps.

[2016-08-11 13:58] SabotageAndi commented on #694
I am little bit confused, what exactly is not working anymore.
Could you please detail the steps to the point where the failure occurs?
It would be helpful if you could add screenshots for every step.

Thanks!

[2016-08-11 14:12] godrose commented on #694
The steps are not highlighted as mapped
![image](https://cloud.githubusercontent.com/assets/7791651/17591429/9c487310-5fcd-11e6-9ae2-c0898b922a40.png)

[2016-08-11 14:22] godrose commented on #694
Upd: I've found a way to overcome this issue, at least for now.
If I add reference to the step assembly, rebuild the solution, navigate to a step definition and then remove the added reference, I end up with working step mappings.
Seems like an odd bug.

[2016-08-11 14:23] godrose commented on #694
And After all these steps If I reload the solution then the original issue of "Step Bindiings are analyzed...." is reproduced.

[2016-08-11 16:35] faisalhussain opened #696 "CompareSet is relying on ToString() therefore showing Object Type Name in Comparison output e.g. System.Double[]"
Hi,

I have used IValueRetriever and IValueComparer. This is tackle that a cell in my table row contains double[]. It's working fine if everything matches (Expected vs Actual). But when there is mismatch. It displays expected correctly but in place of actual it displays System.Double[]

Since it's double[] not a custom class, I can't find a way to override ToString(). Any suggestions / work around

[2016-08-11 18:00] CodePatil opened #697 "NUnit - Test Id"
Feature file with scenario outline test cases, test case name are getting created with all the attributes. Using NUnit Test adapter, Ideally I'm expected it should create with Test_Id (as defined as the first column).  Any help in resolving this issue

[2016-08-11 18:53] darrencauthon commented on #696
Hi @faisalhussain, just to help with one thing... can you submit a screenshot of the spec and the failure in Visual Studio?  That would help me, at least. :smile:

[2016-08-11 22:14] CodePatil commented on #697
Resolved, looked up the resolutions suggested for previous issues.

[2016-08-12 08:24] faisalhussain commented on #696
Hi Darren, thanks for looking into this : I have attached couple of screenshots for you, please let me know if you need anything else. Many Thanks !

http://pasteboard.co/7G5QmdisN.png
http://pasteboard.co/LBBIMcUr.png

[2016-08-12 08:50] samholder commented on #694
Steps in external assemblies are not recognised when the external assembly
is first added to the config, you must close and reopen visual studio for
those step bindings to be recognised. Does doing that solve the situation?
Is it just the bindings that are not recognised? Do the scenarios run!

On 11 Aug 2016 3:23 p.m., "Gennady Verdel" <notifications@github.com> wrote:

[2016-08-12 08:52] #697 closed

[2016-08-12 08:55] godrose commented on #694
Closing and reopening the visual studio results in steps displayed as unmapped.
I overcome this issue by adding the reference to the external step assembly and then removing it.
The scenarios do run.
I ended up with adding the explicit reference to the steps assembly. Although I'd expect this feature to work without having to add the reference.

[2016-08-12 10:16] phatcher opened #698 "VSTest reporting Inconclusive as Error"
I'm trying to run some SpecFlow tests integrated with NUnit on Visual Studio Team Services.

However, for any partially implemented scenarios, the tests fails causing the build to break - NUnit seems to be reporting Inconclusive so is this a handoff issue between SpecFlow/NUnit or NUnit/VSTest ?

2016-08-11T12:58:10.5008013Z Information: TestMethod: AddTwoNumbers in MyFeature -> Failed on thread #

[2016-08-12 11:52] darrencauthon commented on #696
This first screenshot is perfect, @faisalhussain.  I'm including it below, after wiping it of any details I don't need.

![fullscreen_081216_065135_am](https://cloud.githubusercontent.com/assets/148768/17621484/3692ccaa-6059-11e6-995f-143cc779b84c.jpg)

[2016-08-12 11:56] LiohAu commented on #698
Isn't your issue exactly the same as this one : https://github.com/Microsoft/vsts-tasks/issues/2247 except that in my case it's the "Ignore" state which is treated as a "Passed" ?

[2016-08-12 12:09] phatcher commented on #698
It could be - I need to set up a couple of sample projects so I can have NUnit 3 tests with Ok, Ignore, Inconclusive, Pass tests and then have another but using the SpecFlow runner

[2016-08-12 13:28] samholder commented on #698
Whether specflow considers non implemented steps as failing or not can be controlled from the configuration, though can't find the link easily on my phone. Might this be the reason?

[2016-08-12 13:47] phatcher commented on #698
Sam - First thing I thought of, it should do this by default but I modified the App.config as per the docs...

[code]

[2016-08-15 06:14] godrose commented on #691
Any news on this? @SabotageAndi @gasparnagy

[2016-08-15 07:34] gasparnagy commented on #687
@godrose Yes, unfortunately this would involve quite much changes, as the before/after feature and other internal state handling is currently bound to the test class. The other problem is, that the SingleFileGenerator infrastructure that we use from VS to generate the files does not support generating multiple ones. So even if you would implement this, the "save-to-generate" workflow would not wor

[2016-08-15 07:34] #687 closed

[2016-08-15 07:41] SabotageAndi commented on #691
Not yet. I have a call with @gasparnagy this week and will talk about it.

[2016-08-15 07:56] gasparnagy commented on #691
@godrose as far as I see, except the PR 5 (related to factory reg), the version in SpecFlow is the same as the version in BoDi: The non-generic version of the RegisterTypeAs is included on the ObjectContainer type, but not on the IObjectContainer interface.
If you would you like to have it on the interface, we have to add it first before doing the release.

[2016-08-15 08:21] godrose commented on #691
I would like to have it on the interface but for the time being can cope with the class as well.
Thanks for pointing this out!
@SabotageAndi  @gasparnagy

[2016-08-15 08:34] #666 closed

[2016-08-15 15:18] jmezach commented on #656
First of all, apologies for the late reply. I've been away on holiday so I had some other things on my mind ;).

Glad you like my attempt at working something out @gasparnagy. I just had a quick look at the performance and it doesn't seem to be that bad right now actually. I have a solution with three projects only one of which has a reference to the TechTalk.SpecFlow assembly (which I filter on r

[2016-08-17 06:35] ErikStroeken commented on #638
@samholder 'The option to enable versions that are non release' is the check box 'Include prerelease' in the upper left corner next to the search box in the Nuget dialog "Manage Packages for Solution".
Just installing the pre-release didn't work. What exactly must I do to get your fix working? Declare a string type environment variable `NCRUNCH` or `SPECFLOW_DISABLE_PARALLEL` and write `True` in i

[2016-08-17 07:15] samholder commented on #638
@ErikStroeken Yes its the 'Include prerelease' checkbox. you should not need to do anything else to get the fix working, as when the tests are run by NCrunch it will set the `NCRUNCH` environment variable to `1` and so the running of tests in parallel by specflow should then be disabled. I'm wondering if the version at the front of the pre-release feed is one from a branch taken from before this c

[2016-08-17 07:21] samholder commented on #638
@ErikStroeken do you know which version you are getting from the pre-release feed? The change was merged to master in build 407, and I think most builds since then should have it. But you can take that specific build if you want to test just the fix I think

[2016-08-17 09:19] ErikStroeken commented on #638
@samholder I'm resuming the tests with exactly the same solution (with 9'000 tests) as when I discovered the problem in May to be sure to make only one change at a time. I only updated SpecFlow. Currently the solution has the following versions:

- SpecFlow: 2.1.0-ci424
- NUnit: 3.2.1
- NCrunch VS Extension: 2.23.0.2
I'm performing the tests with the NCrunch Console Tool that has the same version

[2016-08-17 09:34] samholder commented on #638
@ErikStroeken and if you don't define those environment variables, then the tests don't pass (ie you get the original error)?

Do the tests pass in VS when run with NCrunch?

BTW defining either of those variables should be enough to activate the patch, no need to define them both

[2016-08-17 10:02] remcomulder commented on #638
@ErikStroeken The NCRUNCH environment variable has been set by NCrunch since its first public release :)

[2016-08-17 11:37] avonwyss commented on #552
@samholder At least for `BeforeFeature` and `AfterFeature` the docs say that these must be static, so there is no possibility to implement them without using the `FeatureContext.Current` if they need the context.

[2016-08-17 13:17] ErikStroeken commented on #638
Yes! Everything works now. For some reason 2 tests reported `‚TechTalk.SpecFlow.MissingStepDefinitionException : No matching step definition found for one or more steps‘` but after generating the feature files for the second time those problems disappeared. I removed both environment variables and all tests work, both in NCrunch Visual Studio and Console. Just to be sure, I’ll reboot my PC and exe

[2016-08-18 06:51] SabotageAndi opened #700 "Code generation of Scenario Outlines in VB.Net is broken"
Following scenario outline:

[code]

generates following code part:

[code]

The problem is the single "#End ExternalSource" line. This directive needs a starting "#ExternalSource(...)" line. Without it you can not compile it.

In C# we generate "#line hidden" which can stand on its own.

I think this comes from https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestF

[2016-08-18 07:04] samholder commented on #700
I believe that the compiler directives are used to link the code generated from the feature file to the actual feature files for IDE navigation. I expect without them navigation to the feature files when double clicking the tests and code coverage markers in tools like NCrunch will not work correctly.

At least thats how I understand the functionality in c#, I'm not sure about VB but I would expec

[2016-08-18 07:25] samholder commented on #700
reading [this](https://msdn.microsoft.com/en-us/library/szc67b5s.aspx) it seems that we are using it for the purpose of linking the tests to the feature files, but we should have already generated a line which indicates the start of the block and the file its linked to and line number.

This issue might be that here https://github.com/techtalk/SpecFlow/blob/396e0e40ca06e68c01a4ca46fa0dfc9fbbb5a8c3

[2016-08-18 08:01] donnib opened #701 "specflow.exe nunitexecutionreport fails on Mono"
Hi,
I tried running `specflow.exe nunitexecutionreport myproj.csproj` on Mac using Mono and it fails with `Sequence contains no matching element`` using Specflow 2.1.0 but not with 1.9.0.
On Windows 2.1.0 works fine with above command.

nUnit 2.6.4

The above error comes up no matter what you put into the .csproj path, it could be a broken path and the same error shows up.

/donnib

[2016-08-18 08:11] SabotageAndi commented on #700
This should have the effect, that the line is not there anymore and it will be able to compile.
But could it, that we are missing in that case simple the ExternalSource(..) line?

[2016-08-18 08:15] avonwyss commented on #692
Seems to be related: http://stackoverflow.com/questions/26725735/how-to-get-the-current-executing-step-information-in-specflow/26731361

[2016-08-18 08:42] samholder commented on #700
yeah it could be an issue at the other end as well, but I would suspect its to do with this as in c# you can just add some extra `#line hidden` wherever you want and its fine, but in vb it has to be part of a block it seems.

Maybe it also points to some misunderstanding about how we are using the `#line hidden` in c#, as maybe they should also be part of a block...

[2016-08-18 09:08] samholder commented on #700
One thing we could do (temporarily) is to throw if there isn't a block open (or log the call stack at the point
) to see if we are trying to use it without creating a block. this would at least show us where we are creating the problem

[2016-08-18 14:07] gasparnagy commented on #691
See related post: http://gasparnagy.com/2016/08/specflow-tips-customizing-dependency-injection-with-autofac/

[2016-08-18 14:07] gasparnagy commented on #409
See related post: http://gasparnagy.com/2016/08/specflow-tips-customizing-dependency-injection-with-autofac/

[2016-08-19 10:35] TheOptimist commented on #692
Isn't that more about getting hold of whether the step is is Given/When/Then? I'm using SpecFlow 2.0 so can already do that quite happily (and am doing in lots of places...well a few).

I currently have this code in my solution to get at that "Screenshot" attribute I've placed on the bound method.

[code]

Which, in a roundabout fashion:
[code]

Seems long winded, but it's working for me. I was ho

[2016-08-22 07:24] gasparnagy commented on #700
@SabotageAndi @samholder The line directives are also used for debugging (ie to be able to set a breakpoint to the feature file). But they are also used for the test-feature file navigation as well.

The easiest way to verify the correct behavior is to try the debugging. Especially in a file that also have background steps.

I have no idea why do we have closings without open. I don't remember to

[2016-08-22 07:33] gasparnagy commented on #692
@avonwyss @TheOptimist Let's imagine you have a method like what @TheOptimist mentioned. How would you use that? Where would you actually take the screenshot? In a before/after step hook?

[2016-08-22 09:43] samholder commented on #692
I was imagining that yes you would do it in an after step. If we made it so
that you could optionally add a parameter to an after step method which
would contain the details of the bound method in the code which could
contain details of attributes etc. This is in a similar area to the issue
with adding the feature context into the before/after feature steps so I
might look into this after my holid

[2016-08-22 09:47] gasparnagy commented on #692
@samholder i see. in this case however, it would be easier to add the method to the stepcontext.

I was also thinking on a similar solution for the parameter injection for the hooks. I will try to make a proof of concept this week.

[2016-08-22 10:17] TheOptimist commented on #692
Grand - and @samholder has it right. In my case it's an AfterStep hook that captures a screenshot that then get passed onto visual comparison tools to check that UI hasn't changed from version to version.

[2016-08-24 09:16] dariogriffo-fourth commented on #449
This is fixed on v2.1.0, can be closed

[2016-08-24 09:51] #449 closed

[2016-08-24 09:52] SabotageAndi commented on #449
Thanks for reporting that!

[2016-08-26 08:42] je-ewan commented on #449
Is this actually fixed? I get

@cat1 @cat2
Scenario Outline: Test...

@cat1
Examples:
| input |
| cat1 |

@cat2
Examples:
| input |
| cat2 |

test run results:
category cat1
Test cat1
Test cat2

category cat2
Test cat1
Test cat2

[2016-08-26 09:06] je-ewan commented on #449
ahh ok it works if you don't put tags on the actual test

Scenario Outline: Test...

@cat1
Examples:
| input |
| cat1 |

@cat2
Examples:
| input |
| cat2 |

[2016-09-01 03:53] darrencauthon commented on #696
@faisalhussain I don't know if this change is good to carry through to master, but the PR listed above should have a simple shot at resolving this matter.

[2016-09-01 14:19] faisalhussain commented on #696
Thanks for looking into this Darren, I have seen your fix at some point this week or next week I will try it with my scenario. But this fix will be available with new Specflow Release ? Do you know approximately when is new release expected ?

[2016-09-01 14:29] darrencauthon commented on #696
@faisalhussain I'm not sure when it would be added, or *if* would be added.  I have to test it and see how it works out.  I originally thought this might be so weird and for such an edge case that it might not be a good idea to code at all.  But it's pretty harmless in this situation, and would cover a bunch of situations, so now skeptical me is starting to warm to the idea.

Let me finish the pul

[2016-09-01 23:05] felpel opened #704 "Unable to have a multi-word string as a category"
I'm trying to be able to have a multi-word string as a Category attribute for my tests.

If I have `@This is a test`, it generates:

`[Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute("This")]
[Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute("is")]
[Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute("a")]
[Microsoft.VisualStudio.TestTools.UnitTe

[2016-09-02 13:54] rprouse opened #705 "Non-Standard Description and Category Properties in NUnit Results"
I am one of the maintainers of NUnit. Issue nunit/nunit#1781 was entered today by the maintainer of the [Pickles](https://github.com/picklesdoc/pickles) documentation generator @dirkrombauts. He came across an NUnit result file in the following format,

[code]

The problem is that the `_DESCRIPTION` and `_CATEGORIES` properties are non-standard. NUnit uses `Description` and `Category`. Using non-s

[2016-09-02 14:19] samholder commented on #705
@dirkrombauts is a contributor to this project, so maybe he will close the circle on this and submit a PR :smile:

[2016-09-02 14:21] dirkrombauts commented on #705
@samholder I would be happy to but I don't even know yet if this is really a SpecFlow problem or not :-)

[2016-09-02 14:48] rprouse commented on #705
It looks like SpecFlow is injecting NUnit attributes in [NUnitTestGeneratorProvider](https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/NUnitTestGeneratorProvider.cs), so the property values created by those should be correct.

I also cannot find any instance of `_DESCRIPTION` or `_CATEGORIES` in your codebase. I might have been mistaken in pointing the f

[2016-09-02 17:11] CharliePoole commented on #705
I don't know what SpecFlow does with these properties. Several possibilities come to mind:

1. They are used by SpecFlow for some purpose of its own. In that case, it seems that the naming is technically correct but confusing. You might consider calling them _SpecflowDescription and SpecflowCategories if that's the case.

2. Specflow injects them as properties and expects NUnit to pay attention to

[2016-09-02 17:16] CharliePoole commented on #705
BTW again... It would be lovely to have some member of the SpecFlow team on our NUnit team to help us understand the issues that come up and to help make the two function better together.

[2016-09-03 16:56] dirkrombauts commented on #705
@CharliePoole your option 3 is the most correct one: SpecFlow generates C# code decorated with NUnit attributes, like this:

[code]

The reporting user says he's using NUnit 3.4.1 and SpecFlow 2.1. I don't know about his OS, I'll ask him.

[2016-09-03 16:56] dirkrombauts commented on #705
@CharliePoole are there any specific issues you have in mind (apart from the current one) where you would like the input of a "SpecFlow person"?

[2016-09-03 18:02] CharliePoole commented on #705
The XML is generated in the framework, so the relevant version would be that of the nunit.framework referenced by the user.

Looking now, of course, I can't find many examples. This issue is the only open one that mentions Specflow. There are four closed issues that mention it, none of which were actually bugs.

What I can tell you is that we spent a really long time figuring out we didn't have an

[2016-09-03 21:30] CharliePoole commented on #705
@dirkrombauts

Turns out I was looking in the wrong place for _DESCRIPTION and _CATEGORIES. They are in fact used as property names in the current version of NUnit V2. Further inspection shows that the NUnit V2 Framework Driver, which allows running V2 tests under V3, simply copies the properties it finds. If you create an nunit2 formatted XML file, the V2 Result Writer also merely copies the prop

[2016-09-04 05:35] godrose opened #706 "BeforeTestRun and AfterTestRun are static"
This might be the engine limitation but having these methods as static effectively denies all dependency-injection options at this point.
An alternative could be adding a new set of hooks [BeforeAssemblyRun] and [AfterAssemblyRun] with support for tags.
Consider the following code:
[code]

Here the setup service is resolved by interface only, hiding the implementation from the consumer.
This becom

[2016-09-04 14:06] dirkrombauts commented on #705
@CharliePoole that's good to know, I'll check with the original user. I'll also try it out in my test harness.

From my point of view, the best solution would be to have NUnit always use "Description" and "Categories". However, I don't know how that will affect compatibility.

Another option - now that I know that there are scenarios where NUnit will semi-legitimally produce _DESCRIPTION and _CATE

[2016-09-05 11:47] samholder commented on #705
Can this ticket be closed then? Seems like it isn't Specflow related, unless I have misread something?

[2016-09-05 12:36] dirkrombauts commented on #705
I think it can be closed, yes.

[2016-09-05 12:46] #705 closed

[2016-09-08 15:39] tanneerumahesh commented on #539
any update on this?

[2016-09-08 20:39] darrencauthon commented on #706
@darrencauthon

- [ ] Get the Tom Cruise "Show Me the Pull Request" loaded from your old mac to a Github template, please.

[2016-09-09 03:23] darrencauthon commented on #696
I just popped #703 as a pull request that's ready to go.  I think.

[2016-09-13 00:54] MattFenner commented on #706
rather than making a new attribute could you just make it so that the attribute works for static or non-static methods?

[2016-09-13 01:02] MattFenner opened #707 "Generated html report should include stacktraces"
Currently the generated html report doesn't include any stacktraces when an exception occurs.

This means that i always have to look at 2 different reports (the nunit one, and the specflow one) to find out my issue.

I think it would be great if the stacktrace was included in the html report (maybe as a separate expandable section under each feature or step).

[2016-09-13 07:20] SabotageAndi commented on #707
To be clear, you mean the NUnit Execution report?

[2016-09-13 13:46] stuartleeks commented on #542
Hi @gasparnagy  - since it's around mid-September, I thought I'd check back to see what the ETA is for async/await? :-)

[2016-09-14 00:15] MattFenner commented on #707
Yes, I believe so.

[2016-09-14 08:58] MattFenner commented on #707
Sorry I just realised that it does have the stacktrace.

There is the 'show' link next to the feature name which shows the console output. and then there is a 'show' link next to the failure status which shows the stacktrace.

The UI design isnt the best but the feature i am asking for is ther

[2016-09-14 08:58] #707 closed

[2016-09-14 09:30] SabotageAndi commented on #542
@stuartleeks
We added first support for async/await with PR https://github.com/techtalk/SpecFlow/pull/647.
To use this, you have to use the nugets from our CI- feed.

Feedback if everything works or something is missing in the support would be appreciate.

[2016-09-14 12:02] samholder commented on #707
thanks for taking the time to come back and close the issue.

[2016-09-15 07:29] #700 closed

[2016-09-15 14:14] darrencauthon commented on #696
#703 was just merged, so I think this issue is resolved.  It will go out in the next build. @faisalhussain if you want to grab the edge build, or rebuild a dll, you should be able to test it.  Let me know if it doesn't resolve the issue for you.

[2016-09-15 14:14] #696 closed

[2016-09-15 14:15] faisalhussain commented on #696
Thanks for the update Darren, I will grab the latest build and will give it a try. I will let you know how it goes.

[2016-09-17 21:42] Karrask commented on #552
I've been dealing with parallel tests executions and the same situation.
Any news on that?

[2016-09-21 17:08] ChristopherHaws opened #710 "StepDefinitionReport throws XML error when generating"
Hello,

I am attempting to generate a step definition report of our project using the following command:

[code]

This command is producing the following output:

[code]

After some digging into the problem, I attempted to generate the report programmatically via linqpad using the same methods that Specflow.exe uses:

[code]

The output of this is giving me the same error, however I now have a sta

[2016-09-22 18:30] ChristopherHaws opened #711 "Project name not being set when using SpecRun Server"
Hello,

This is a somewhat minor issue, however it does make it hard to build reports off of the data in the SpecRun database.

Currently our tests are running using SpecRun in adaptive mode and using the SpecRun Server. Our `Default.srprofile` file has the following line in it:
[code]

However, in the database, SpecRun is not populating the project name field correctly in the `dbo.Projects` table

[2016-09-26 06:15] boades commented on #672
Sorry for bothering you guys, I saw the branch but it would be greate to know when you are going to make a release?

[2016-09-26 07:53] SabotageAndi commented on #672
We are still working on that and have no release date for it.

[2016-09-26 10:19] boades commented on #672
Thanks for the reply.

[2016-09-28 14:39] reisv opened #712 "Specflow 2.1 Generator Plugin not being called"
I have a simple Generator plugin that I use with a simple SpecFlow project for a POC and I am having problems with the plugin where it's not being called when I debug the tests.

My environment is VS 2015 using MSTest, and SpecFlow 2.1.
The project compiles without any errors, I made sure the config and attributes were correct.

Any ideas ?

Thanks

using Example;
using MyFramework.SpecFlowPlugin;

[2016-09-28 14:50] SabotageAndi commented on #712
You are simply registering a type in the container which has a custom interface.
So SpecFlow does not know anything about it and will never call it.

What do you want to achieve?

[2016-09-28 15:04] reisv commented on #712
Thanks for the quick reply.
I put a break point in the Initialize and it seems it's not even being called.

All I am trying to do is register a custom object (my own) that can be injected in the binding constructor when the tests run.

[2016-09-28 16:16] samholder commented on #712
what does your app.config look like? Have you registered your plugin there?

On Wed, Sep 28, 2016 at 4:04 PM, reisv <notifications@github.com> wrote:

[2016-09-28 16:28] reisv commented on #712
Here is the app.config file:

[code]

[2016-09-29 07:55] samholder commented on #712
and is your assembly name MyFramework.SpecflowPlugin.dll? it won't be
loaded by specflow if it isn't...

On Wed, Sep 28, 2016 at 5:28 PM, reisv <notifications@github.com> wrote:

[2016-09-29 10:16] reisv commented on #712
The assembly name is MyFramework.SpecflowPlugin.dll.
The weird part is that if I add another object with the IRuntimePlugin interface and change the plugin type in the app.config to GeneratorAndRuntime, the RuntimePlugin object gets called, meaning it works fine.
So I don't think it's configuration or the RuntimePlugin probably would also not work.
As anyone have the latests (version 2.10) IGenera

[2016-09-29 11:39] SabotageAndi commented on #712
The generator plugins are called when the code behind files are generated. So when you press Save in VS, you have the generation moved to MSbuild or you run the specflow.exe generateAll command.
Only RuntimePlugins are called when you run the tests.

[2016-09-29 13:07] reisv commented on #712
MSBuild....Well that's probably why my break point never gets called. When I press Save in VS to generate the features the plugin in not running, hence not being debugged.
I am going to try to register my objects with the IRuntimePlugin and using "Hooks" which might accomplish what I am looking for.

Thanks

[2016-09-29 14:41] folke123 commented on #477
Any updates? does not work for me with VS2015, Resharper 2016.2.2 and "specflow for visual studio 2015"

[2016-09-29 15:20] SabotageAndi commented on #477
@folke123 No.

[2016-09-29 15:34] folke123 commented on #477
So the solution now is only to run it from resharpers test window? I cant right click the file and choose "Run Specflow Scenarios" either (Nothing happens) is that the same error?

[2016-09-29 15:40] SabotageAndi commented on #477
Interessting. Every action on our side is executing the same command for the test run.
This is the same command, which is called by the Keyboard shortcut in normal Unit Tests.

Without help from JetBrains we will probably never fix this issue.

[2016-09-29 15:44] folke123 commented on #477
I am running the "Resharper.Resharper_UnitTestRunFromContext" command
Is that the correct one?

[2016-09-29 15:50] SabotageAndi commented on #477
Here is the code: https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/TestRunner/ReSharper6TestRunnerGateway.cs

Search for the command names in the keymapping of Visual Studio.

[2016-09-29 16:06] folke123 commented on #477
When does that command run? because that is not the same as the right click "run unit tests" or the shortcut command.

Is there a better place to have this chat?

[2016-09-29 16:10] samholder commented on #477
https://gitter.im/gasparnagy/specflow-dev

[2016-09-29 18:41] folke123 commented on #435
Does not work for Reshaper 2016.2.2

Pressing "run unit tests" in the context menu gives the error message "The operation could not be completed. Not implemented"

The same error if you do it by keyboard shortcut.

I am running VS2015 and the "Specflow for Visual Studio 2015 plugin"
and we are using Nunit 2.6.3 as a nuget for the solution

[2016-09-30 10:21] upalinandy opened #713 "SpecRun Does not Stop after 1 Failure"
I have updated my Default.srnprofile under <Execution  retryFor="None" stopAfterFailures="1" testThreadCount="1" testSchedulingMode="Sequential" />.

However on failure, the Specrun runs failed step "3" times.

Below is my Default.srnprofile

[code]

[2016-09-30 10:33] SabotageAndi commented on #713
Set retryCount to 0.

[2016-09-30 10:39] upalinandy commented on #713
Hey Andreas,

Thanks for the quick response, updated my Default.srprofile as per your suggestion.
For some reason it still is trying 3 times for each failure. Am I missing something?

`<?xml version="1.0" encoding="utf-8"?>
<TestProfile xmlns="http://www.specflow.org/schemas/plus/TestProfile/1.5">
  <Settings projectName="nunit.tests" projectId="{}" />
  <Execution  retryFor="None" stopAfterFailur

[2016-10-02 12:06] pr-yemibedu commented on #472
Hello,
 One of the mentioned important lines at the end of your fsproj file should be:
`<Import Project="..\packages\SpecFlow.1.5.0\Tools\TechTalk.SpecFlow.targets" />`

You can probably go to:
[https://github.com/techtalk/SpecFlow-Examples/blob/master/BowlingKata/BowlingKata-GenateTestsFromMsBuild/Bowling.SpecFlow/Bowling.SpecFlow.csproj](https://github.com/techtalk/SpecFlow-Examples/blob/master/

[2016-10-03 07:55] kf-patrykkulecki commented on #710
After upgrade to SpecFlow 2.1.0 we have the same issue and it is not possible to generate the report - same issue appears. Did not find any solution for that

[2016-10-03 08:04] SabotageAndi commented on #713
Do you have a VisualStudio.srProfile or a TFS.srProfile?
VisualStudio.srProfile is used before Default.srProfile if you execute the tests in Visual Studio.
Same is for the TFS.srProfile on the TFS.

[2016-10-03 08:07] SabotageAndi commented on #711
There is also a name attribute at the Settings tag. Please try to use this.

[2016-10-04 04:39] upalinandy commented on #713
I have a Default.srProfile. I am using GIT for version control and not TFS. Has that something to do with this issue?

[2016-10-04 22:30] Tylerwo1 opened #714 "Specflow + Specflow Runner"
Does anyone have the issue lately of when using an inheritance for web drivers in selenium that when running one test it instantiates each browser from each feature test?

As in for whatever reason it is trying to new up each of the web drivers globally? (code to follow if needed, but just making sure I'm not the only one having the same issue).

I'm using BeforeScenario and AfterScenario in the i

[2016-10-05 05:27] Oblomoff opened #715 "Step Definition Style of Method Name Underscores does not work in Russinan language"
Step Definition Style of Method Name Underscores does not work in Russinan language.

Example:

[code]

Does not match with

[code]

[2016-10-05 06:23] samholder commented on #714
All binding steps in specflow are global and so inheritance is usually unnecessary. As you have indicated when you use inheritance of causes these steps to be duplicated and causes problems. Better to solve your problem by using context injection to share your driver class and remove the inheritance

[2016-10-05 15:09] darrencauthon commented on #715
Hmm

[2016-10-05 15:42] ilengyel opened #716 "Could not generate feature tests after upgrading nuget"
Upgraded the nuget package from 2.0.0 to 2.1.0

And I get the following error  when running the generate command:
`#error Generation error: Could not load type 'Gherkin.Ast.GherkinDocument' from assembly 'Gherkin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=86496cfa5b4a5851'.`

I get the same error when I run through the command line under the tools folder of the downloaded nuget package.

[2016-10-05 15:47] SabotageAndi commented on #716
Could you post md5sums/shasums of your Gherkin.dll?
I would like to check, if you have the correct one.
Please check, that you have everywhere the same dll.

[2016-10-05 16:04] ilengyel commented on #716
Gherkin.dll
MD5 - 999c6bc2d2ce7565a861394b01b3b3a9
Path - D:\DEV\AE\GIT\packages\SpecFlow.2.1.0\tools\Gherkin.dll
Created Time - 5/24/2016 9:13:56 AM
Size - 122,880
File Ver - 1.0.0.0
Product Ver - 1.0.0.0		dll	A

The odd thing i found was that despite the versions & token being the same with the one distributed with specflow 2.0.0, the contents are different.

[2016-10-05 16:23] SabotageAndi commented on #716
Ok, the Gherkin.dll is the correct one.
And yes, the assembly is not correct versioned and has always 1.0.0.0.

Do you have some additional GeneratorPlugins configured?

[2016-10-05 16:28] ilengyel commented on #716
whow... I attached the debugger, and I think I found the problem...

This appears to be an issue of a combination of things on my PC (as they usually are):

1. This Gherkin.dll is kept the same file version despite its contents changing.
2. I have .NET reflector installed which durring debugging it can reflect and debug DLLs for which i dont have symbols for.
3. When running the spec flow generati

[2016-10-05 16:45] SabotageAndi commented on #716
Yes, in future version of Gherkin the assembly version will be correct.
This will be fixed with the .Net Core Support in Gherkin (https://github.com/cucumber/gherkin/pull/215)

[2016-10-05 16:47] ilengyel commented on #716
Other curious point is that was the only file in the folder, and I am certain I debugged&reflected many other binaries. Maybe VS or Reflector crashed during that debug session and did not cleanup.

For completeness of the scenario I have is: the DEVPATH env variable was set to the above directory which performs a hard redirect for any matching DLLs. [How to: Locate Assemblies by Using DEVPATH](htt

[2016-10-05 16:47] #716 closed

[2016-10-06 07:42] SabotageAndi commented on #714
@Tylerwo1 Have a look at this blogpost of @gasparnagy: http://gasparnagy.com/2015/05/specflow-tips-problems-with-placing-step-definitions-to-base-classes/

[2016-10-06 07:42] #714 closed

[2016-10-06 07:45] SabotageAndi commented on #712
@reisv Is it clear now? If yes, please close the issue.

[2016-10-06 07:56] SabotageAndi commented on #621
Already done.

[2016-10-06 07:56] #621 closed

[2016-10-06 11:13] reisv commented on #712
Yes, thanks

[2016-10-06 11:13] #712 closed

[2016-10-06 18:14] kdfrie opened #717 "Binding Specified in base class incorrectly identified as ambiguous"
If you have two binding classes and a step binding in the common base class, the specflow engine identifies the single method as ambiguous because the method's MethodInfo is different, but the method is the same (The ReflectedType property refers to the subclass so it is different).

This can be fixed by comparing the method handle as opposed to the methodinfo.

i.e. change this line in BindingRef

[2016-10-07 04:03] alexeygrant commented on #539
I am too experiencing this issue. Is there a fix other than downgrading NUnit to 2.x?

[2016-10-07 07:49] SabotageAndi commented on #717
@gasparnagy what do you say about changing the behaviour?

[2016-10-07 10:10] p-gintare commented on #710
I have same issue after updating specflow to version  2.1.0

[2016-10-07 11:57] merrua commented on #715
@darrencauthon  FYI https://github.com/cucumber/cucumber/issues/6 'Problem with cyrillic symbol И '

[2016-10-07 13:08] SabotageAndi commented on #710
The code for the generator is here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Reporting/StepDefinitionReport/StepDefinitionReportGenerator.cs
It works that way, that we generate a xml and then apply a xslt on it.
The problem is, that we are serializing a class, which has to default constructor. Sadly does the XmlSerializer need that to work also for serializing and not onl

[2016-10-07 13:40] darrencauthon commented on #715
Thank you @merrua ! :smile:

[2016-10-10 14:56] VaticanUK opened #718 "Tags in Scenario Outline Examples"
If you create a scenario outline with tags against the examples, e.g.

[code]

The tags do not appear in ScenarioContext.ScenarioInfo.Tags (which is counter-intuitive if this is intentional behaviour).

Full (though noddy!) example: https://github.com/VaticanUK/specflow-example

Looking at the code in question:
https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestPr

[2016-10-10 14:57] SabotageAndi commented on #718
@gasparnagy

[2016-10-10 22:39] nehasabikhi opened #719 "Launching two browser"
Hi
I am using specflow with nunit
in my hooks class I call launch driver
now when ever I am using common steps in different step definition class who extends hooks
it is opening multiple browser

do you have any solution for this problem

[2016-10-11 06:59] SabotageAndi commented on #719
Are you using a base step class, where the hooks are defined?
If so, read this http://gasparnagy.com/2015/05/specflow-tips-problems-with-placing-step-definitions-to-base-classes/ to understand the problem.

[2016-10-11 22:09] egee-irl commented on #569
@SabotageAndi Better late than never - https://gist.github.com/egee-irl/5c3ecd25cd9918b7aec09615feaf5be8

[2016-10-12 10:40] sergiorykov commented on #539
NUnit3 console runner seems canceled support of nunit2 xml reporting format (https://github.com/nunit/nunit-console/issues/95). May be it's just a bug but it's time to support nunit3 xml reporting format :)

[2016-10-12 10:45] SabotageAndi commented on #539
@sergiorykov: You need following NuGet package: https://www.nuget.org/packages/NUnit.Console/
This include the Addin for the NUnit2 format.

[2016-10-12 11:02] sergiorykov commented on #539
Thanks! Missed that.

[2016-10-13 16:18] busterwood commented on #439
I have the same problem, and have noticed that it works on a simple solutions, but fails when:

1. add a "Shared Project" to the solution and add a file to it ("Class1.cs" is all you need)
1. add a reference the shared project to your spec-flow test project
1. close and reopen the solution

If I remove the shared project *reference* from the SpecFlow test project, re-open the solution, it starts w

[2016-10-14 07:13] gasparnagy commented on #718
Ugh. @VaticanUK I think you will get the "Finding the oldest bug" award... Thanks for spotting this out! I am looking forward to the PR.

[2016-10-14 07:18] VaticanUK commented on #718
Happy to contribute - this is a really useful project :)

PR is here - https://github.com/techtalk/SpecFlow/pull/720

Wasn't sure if you need anything else in there?

fwiw, we've now been using the CI build from this PR internally for a few days and it seems good :)

[2016-10-14 16:40] Oblomoff commented on #542
Hello.
Async supprt does not work in SpecFlow 2.1.0.0 at all. This specs should throw InvalidOperationException but they do not.

Async.feature
[code]
AsyncSteps.cs
[code]

[2016-10-15 22:16] jamesmckenzie commented on #300
@joshka - sounds like this can be closed now

[2016-10-17 11:18] gasparnagy commented on #718
Fixed by #720.

[2016-10-17 11:18] #718 closed

[2016-10-17 11:20] gasparnagy commented on #300
@jamesmckenzie why?

[2016-10-17 11:28] norris1976 commented on #300
Issue resolved in https://github.com/techtalk/SpecFlow/pull/684

[2016-10-17 11:37] #300 closed

[2016-10-17 13:50] SabotageAndi opened #722 "Reformat/Refactor Tests/TechTalk.SpecFlow.RuntimeTests/ScenarioStepContextTests.cs"
I think this tests are bad formatted and not very readable.
We should refactor/reformat them.

[2016-10-17 13:58] Kirdian opened #723 "Missing DisplayName for Xunit Theory Attribute"
Hi,
I'm using specflow with xunit.
I notice that for Scenario Outline a Xunit.TheoryAttribute is generated.
TheoryAttribute lacks DisplayName parameter and it is visible as full namespace in Test Explorer.

File affected:
SpecFlow/TechTalk.SpecFlow.Generator/UnitTestProvider/XUnit2TestGeneratorProvider.cs

[2016-10-17 14:27] SabotageAndi commented on #723
Info for PRs: https://github.com/techtalk/SpecFlow/pull/557/files is a similar PR that added diplayname to the fact- attribute for scenarios.

[2016-10-17 15:11] SabotageAndi commented on #665
@anhvule
Xamarin released last week a new version of Xamarin.UITest, which should work with SpecFlow 2.*.
If you have the change, could you try it out and give us feedback?
Thanks!

[2016-10-17 15:35] SabotageAndi commented on #713
@upalinandy sorry for coming so late back to you about this issue.
I tried to reproduce your case with the provided Default.srProfile, but I was not able to do so.
Could you give me more information about your setup and how you execute the tests?
TFS.srProfile is used, when you run your tests in a build on the TFS. It has nothing to do with version control.

[2016-10-17 16:07] dirkrombauts commented on #722
what did you have in mind?

[2016-10-17 16:33] SabotageAndi commented on #722
I was thinking about at least adding some whitespace to better see arrange/act/assert.
And I think, that there is a lot of identical looking code, which makes it hard to understand.

[2016-10-17 17:03] dirkrombauts commented on #722
OK I just had a look and I see what you mean :-)

[2016-10-18 10:46] SabotageAndi commented on #711
This is fixed in the next version (probably 1.6.0 or 1.5.*)

[2016-10-18 10:46] #711 closed

[2016-10-20 11:13] LiohAu opened #725 "Specflow does not report errors in the regular expressions of the step definitions."
As dicussed on gitter, I had a step definition in which the regex was incorrect (using `*.` instead of `.*`) and I lost 1 hour trying to figure out what was happening because I only had this error message :
`TestFixtureSetUp failed in XYZFeature`

When I used `allowDebugGeneratedFiles="true"` I could put breakpoints in the `FeatureSetup` method, and I could determine where the error was coming fro

[2016-10-22 11:02] dirkrombauts commented on #722
@SabotageAndi could you take another look at the work? It might be best to review it changeset by changeset so you can see which new tests replace/improve what old tests.

[2016-10-25 05:43] sunill-yadav commented on #584
@ApplicantLogin
@SmokeTest
@PageLoadTest
@CrossBrowser
Scenario: I check user navigate to My Homepage screen after login
Given I have entered my registered e-mail address and password as below
| Email address    | Password       |
| test@testltd       | Password*99 |
When I click log in
Then I am transferred to the My Homepage screen

I wants this test to be included all for categories, but it is

[2016-10-25 07:32] SabotageAndi commented on #584
@sunill-yadav Which version of SpecFlow+Runner and Visual Studio are you using?

[2016-10-25 11:07] sunill-yadav commented on #584
VS professional 2015 - version : 14.0.25123.00 Update 2
Specflow : 1.9.0
Selenium : 2.52.0
NunitTestAdaptor : 2.0.0

[2016-10-25 11:14] SabotageAndi commented on #584
@sunill-yadav The problem for the behaviour is a changed behaviour in Visual Studio. So in your case it is in the NUnitTestAdapter package.
You have following options:

- Use the reg key mentioned above to change the test executor engine
- Update to Update 3 of Visual Studio 2015 (this includes the change in the registry, AFAIK Update 3 uses the old engine again)
- Find a new NUnitTestAdapter pack

[2016-10-25 19:00] ChristopherHaws opened #726 "Error navigating to step definition when there are "AdditionalFiles" included in the project"
Steps to reproduce:
1. Create a new class library
2. Delete `Class1.cs`
3. Add SpecFlow 2.1.0 via NuGet
4. Create a folder called `Steps`
5. Add the default `SpecFlow Step Definitions` file to the `Steps` folder
6. Create a folder called `Features`
7. Add the default `SpecFlow Feature File` to the `Features` folder
8. Add a text file to the root of the project
9. Right click on the text file and s

[2016-10-27 09:15] kstudnik commented on #408
Same issue occured for me.
I tried to use binding from
`[Binding][Scope(Feature = "Feature1")]`
in Feature2
and duplicate binding message appeared.
as an experiment, I extended the scope:
`[Binding][Scope(Feature = "Feature1")][Scope(Feature = "Feature2")]`
and step binds correctly without errors

[2016-10-28 07:36] TheOptimist commented on #692
New gist up as previous code properly fell over as soon as it ran against RegEx step definitions (obviously).

https://gist.github.com/TheOptimist/f5952996d427a9f4a3b9c93385d7621c

[2016-10-28 09:48] smetlov opened #727 "RuntimePluginLoader does not take into account the plugin path"
`RuntimePluginLoader` tries to load the assembly just by name but should resolve it by a path specified in configuration:
https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Plugins/RuntimePluginLoader.cs#L16

It should work in the same way as it does in `GeneratorPluginLoader`:
https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/Plugins/IGeneratorPluginLoad

[2016-10-29 13:38] dasMulli commented on #656
better late than never: @stajs

Just like microsoft moves .net build targets to a NuGet package (`Microsoft.NET.Sdk`) that only ships msbuild targets, one could build a NuGet package that contains all targets needed to perform the necessary build steps.
This would also remove any dependency on VS-integrated tooling to at least build & run SpecFlow based test-projects on any platform. Plus one coul

[2016-10-29 13:51] dasMulli commented on #656
cont:

An MSBuild target could potentially participate in the project system and even incremental compilation by evaluating a custom item type.
A "new-world" `csproj` could potentially have:
[code]

The sample `SpecFlow.SDK` NuGet package could then inject a before-build-target that evaluates the `SpecFlow` items, generates source code and emits `Compile` items that the standard build-targets then

[2016-10-29 20:01] ChristopherHaws commented on #726
After some more digging, this looks to me like an issue within Roslyn.

[code]

[2016-10-30 09:43] stajs commented on #656
The MSBuild option will be a no-brainer when the next Visual Studio tooling drops that converts `project.json` back to MSBuild based `.csproj`. It's also quite attractive for VSCode.

[2016-10-30 09:52] SabotageAndi commented on #656
FYI - for generating the code behind file there is already a MSBuild integration http://www.specflow.org/documentation/Generate-Tests-from-MsBuild/

[2016-11-02 01:27] jackjwilliams commented on #573
Any progress on this? Or can anyone point me in the right direction so I can contribute? This almost works, because luckily, xunit has an -nunit switch to generate an nunit formatted report (Yayyy!). But the HTML that gets output from specflow.exe is wonky. See attached image. It says 0 features passed 100% (The feature is actually AuthenticationFeature, with one scenario - Login).

![2016-11-01 5

[2016-11-02 09:09] SabotageAndi commented on #727
Ping @gasparnagy

[2016-11-02 18:19] immeraufdemhund opened #728 "ToProjectionOfSet fails comparison with spaces in columns"
here is simple example of how spaces matter when using ToProjectionOfSet. I would expect both of my scenarios to pass but only ExpectedTableHasNoSpaces does. Here is the simple example. This is using NUnit 3.5 and Specflow 2.1 and Specflow.NUnit 2.1 all from NuGet

[code]

[code]

[code]

[2016-11-07 12:59] DannyBraig opened #730 "Name generation for scenario outlines in NUnit 3.X"
Hi everyone,
I think i found some issue with the name generation for NUnit 3.x in combination with "scenario outlines".

According to the documentation:

For better traceability, the generated unit test method names are derived from the scenario outline title and the first value of the examples (first column of the examples table). It is therefore good practice to choose a unique and descriptive p

[2016-11-08 09:15] milla opened #731 "Where can I find SpecFlow.NetCore samples?"
The sample https://github.com/stajs/SpecFlow.NetCore  actually is for .net framework, and the feature cs generated even uses 'using TechTalk.SpecFlow;'. Below is my project.json

[code]

[2016-11-08 10:06] finaruioana opened #732 "Add option to generate execution report using test dll instead of .csproj"
When using specflow.exe nunitexecutionreport , we need to provide the path to the test .csproj.

In an automated test environment, we may deploy the test dlls in a test environment, so we don't have access to the csproj in order to generate the execution report.

Is there a way to generate this specflow execution report without having access to the csproj file?

[Documentation](https://github.com/

[2016-11-08 10:09] SabotageAndi commented on #731
SpecFlow does not support .NET Core at the moment. We are still working on it.
stajs did some work to enable SpecFlow with project.json but is still using the full framework there.

[2016-11-08 12:02] milla commented on #731
@SabotageAndi  is the release date planned?

I changed project.json to
[code]
but get another error that
SpecFlow.GeneratedTests.SpecFlow is missing.

[2016-11-08 20:26] stajs commented on #731
@milla I think you are confusing the projects, techtalk/SpecFlow is the official project, stajs/SpecFlow.NetCore is my kludge for early .NET Core support. [I previously pointed you in the direction](https://github.com/stajs/SpecFlow.NetCore/issues/33) of the [official WIP for .NET Core](https://github.com/techtalk/SpecFlow/pull/649).

So your options are:

1. Not use .NET Core and use the currentl

[2016-11-11 11:22] lukefan6 opened #735 "Publish 1.9.3 to Nuget.org"
I'm dealing with this issue https://github.com/techtalk/SpecFlow/issues/404 with version 1.9.0
(My project is using dot net 4.0 and for some reason could not upgrade to 4.5)

By looking into changelog I found that it's been fixed in 1.9.2
However I couldn't find 1.9.2. or 1.9.3 on nuget.org and I wonder if you guys could publish it so I can have latest fixes on my dot net 4.0 project.
(It may also

[2016-11-11 14:08] samholder commented on #735
is there a reason you can't use 2.1 (the latest release)

On Fri, Nov 11, 2016 at 11:22 AM, Luke <notifications@github.com> wrote:

[2016-11-11 14:43] SabotageAndi commented on #735
@lukefan6 Every release after 1.9 only affected the VisualStudio integration (see https://github.com/techtalk/SpecFlow/blob/master/changelog.txt)
Why do you think it is fixed in 1.9.3? The PR with the possible fix is also still open.

Producing a later version is not an easy task, as a lot things changed and building SpecFlow before 2.0 was a little bit tricky because of having the Visual Studio I

[2016-11-11 17:54] lukefan6 commented on #735
@samholder I'm on a dot net 4.0 project and cannot use specflow 2.0+

@SabotageAndi

I noticed in the changelog it states that 1.9.2 fixed issues includes

I just assume 1.9.3 also contains that fix.

I did figure a way out, similar to yours, but still using CreateSet.
The trick is to not declare the nullable enum column in the feature file and it works fine for me.

I understand why you guys won'

[2016-11-11 17:54] #735 closed

[2016-11-14 08:51] jf123456 opened #736 "specflow generateAll command replaces certain special characters with replacement characters"
If you "run custom tool" in visual studio, the feature.cs is generated correctly with and characters such as "¿ÀÁÂÃÄÅÇÈÉÊËÌÍÎÏÐÑÒÓÔÕÖ×ØÙÚ" aren't replaced with "�". However, if you build the solution (got the import of TechTalk.SpecFlow.Targets in the csproj) the special characters are replaced with that replacement character, this also happens if you run specflow.exe generateAll.

[2016-11-14 08:59] SabotageAndi commented on #736
@jf123456 could you make us a project for reproduction of the issue?
This would help us to find the issue faster.

Thanks!

[2016-11-14 10:14] jf123456 commented on #736
@SabotageAndi I spent some time creating a completely clean solution and for some reason this time i'm unable to reproduce the issue now, yet it's still happening within all our projects.

[2016-11-14 10:14] #736 closed

[2016-11-14 12:07] LirazShay opened #737 "When using Parallel Execution there is NO test output"
When using Parallel Execution there is NO test output
SpecFlow 2.1.0.0
NUnit 3.5.0.0

When using Parallel Execution as described in http://www.specflow.org/documentation/Parallel-Execution/:
[assembly: Parallelizable(ParallelScope.Fixtures)]

The is no console output for all tests.
The first test gets all the output mixed and understandable.

[2016-11-14 12:10] SabotageAndi commented on #737
Do you use Console.Writeline?

[2016-11-14 12:12] LirazShay commented on #737
No, I meant the default log that say for each step if is done or error.

[2016-11-14 12:14] LirazShay commented on #737
**For example the first log:**
Test Name:	UserCanLoginByEmailAddress
Test Outcome:	Passed
Result StandardOutput:
#8: Given I am in the login page
#6: Given I am in the login page
#12: Given I am in the login page
-> #8: done: LoginPageSteps.GivenIAmInTheLoginPage() (4.2s)
#8: When I fill the email address with "SpecFlowDemo@sharklasers.com"
-> #6: done: LoginPageSteps.GivenIAmInTheLoginPage() (4.2

[2016-11-14 19:10] #615 closed

[2016-11-14 19:18] dirkrombauts commented on #732
Hi,

This is a non-trivial thing. As things stands now, we need the information from the `.csproj` file in order to be aware of the `.feature` files. It might be possible to get the necessary information from some other source.

We will be happy to review any PR you or anybody else send our way about this :-)

[2016-11-14 19:20] SabotageAndi commented on #731
Closing as this is related to https://github.com/stajs/SpecFlow.NetCore

[2016-11-14 19:20] #731 closed

[2016-11-14 19:30] #719 closed

[2016-11-14 19:30] dirkrombauts commented on #719
Closed because inactivity for more than a month

[2016-11-14 19:33] dirkrombauts commented on #706
We have an idea for a solution but no one has had time to implement it yet.

The solution would be to make it possible to specify parameters for these static methods and SpecFlow would pass in the proper objects from the dependency injection container. That way, we can enable parallel testing too.

[2016-11-14 19:35] dirkrombauts commented on #704
The Gherkin syntax does not allow whitespace in the tags, so we cannot change this behaviour. We recommend using underscores.

[2016-11-14 19:35] #704 closed

[2016-11-14 19:37] dirkrombauts commented on #701
Could you please provide a project to reproduce this error?

[2016-11-14 19:37] #677 closed

[2016-11-14 19:40] #673 closed

[2016-11-14 19:42] dirkrombauts commented on #694
We will not fix that in the current Visual Studio integration.

[2016-11-14 19:42] #694 closed

[2016-11-14 19:48] #691 closed

[2016-11-14 19:50] gasparnagy commented on #692
see related: #706

[2016-11-14 23:01] avonwyss commented on #552
Related: #552

[2016-11-15 14:51] LirazShay opened #738 "Reporting: Support NUnit 3 test results xml that already contains the test output"
The xml report that is generated by nunit 3 contains the test output (console output)
so there is no need to add /testOutput	(NUnit test output file	The labeled test output file generated by nunit-console. Optional.Default: TestResult.txt )

[TestResult.xml.txt](https://github.com/techtalk/SpecFlow/files/592291/TestResult.xml.txt)

[2016-11-15 15:05] LirazShay opened #739 "Reporting: test output of NUnit 3 console runner does not appear in SpecFlow report"
See:
https://github.com/techtalk/SpecFlow/wiki/Reporting

So, I use nunit 3, then I need to run the tests with argument ;format=nunit2,
but this doesn't help,
when running specflow.exe nunitexecutionreport with /testOutput:TestOutput.txt
the output does not get included in the SpecFlow html report.
See the text output of nunit3 vs 2:
[outputnunit2.txt](https://github.com/techtalk/SpecFlow/files/59

[2016-11-15 19:30] #722 closed

[2016-11-16 12:50] phatcher commented on #409
I've implemented a Unity version of this as well see [https://www.nuget.org/packages/SpecFlow.Unity/](url)

[2016-11-22 14:00] jnsn commented on #664
I've ran into the same issue.

@SabotageAndi the behavior is outlined on http://www.specflow.org/documentation/Scoped-bindings/.

Basically, in my case, I have a situation where I have two scenario's who perform an operation and in some cases might return an error message. So, I have a scenario "A" which does operation "A", and scenario "B" which does operation "B".

[code]

Code wise, this result

[2016-11-22 14:22] SabotageAndi commented on #664
@jnsn I think you have a different issue. It looks like that the Scope attribute with Scenario scope does not work on method level and only on class level. Could you create a separate issue for it please? Thanks!

Btw: Scenario scopes are not a good idea, because it makes the step not reusable in other scenarios. This is one of the importants points of using SpecFlow/Gherkin/Cucumber to reuse the

[2016-11-22 14:28] jnsn opened #743 "Scope attribute usage to differentiate between a similar step in two scenario's throws a BindingException"
When trying to use the `Scope` attribute to differentiate between two steps with the same description, a `BindingException` is thrown.

The behavior is outlined on http://www.specflow.org/documentation/Scoped-bindings/.

Basically, in my case, I have a situation where I have two scenario's who perform an operation and in some cases might return an error message. So, I have a scenario "A" which doe

[2016-11-22 14:30] jnsn commented on #664
@SabotageAndi I have created #743.

For my current scenario, I was indeed able to simply check the type of the ScenarioContext return value, so I'm not blocked by it. But it was not the expected behavior.

[2016-11-22 14:36] SabotageAndi commented on #664
@jnsn Thanks. Good to know that you are not blocked by this.

[2016-11-23 12:14] kant2002 opened #744 "Support for VS 2017"
Would be good if support for VS2017 would be provided, even for some test builds.

[2016-11-23 15:56] SamJongenelen opened #745 "Support required: How to customize Test decorator generatorion"
Hi. First all, this is not an issue in code, but rather missing documentation.

I'd like to create a custom generator plugin, using SpecFlow 2.1. and .net framework 4.5 (VS2015).
I've seen a lot of v1.9 examples, but can't really find how to implement my goal in SpecFlow 2.1.

My goal is to customize the TestCategory and TestDescription decorators for my NUnit test generator, which are generator w

[2016-11-25 11:49] PriyaGopi opened #747 "VS 2015 CodedUI with specflow not working"
I was working with VS 2013 CodedUI with Specflow and the code was working fine.
As my project requirement, I installed VS 2015 & Specflow 2.1.0(from Extension & Updates).
The same code which was working earlier, it giving problem in VS 2015, but I don't think this problem of VS 2015 version, as the CodedUI code is executing successfully using [TestMethod] method, but, when I try to execute via a s

[2016-11-25 12:26] SabotageAndi commented on #747
Did you had a look at this page: https://github.com/techtalk/SpecFlow/wiki/Using-SpecFlow-with-CodedUI-API ?
There are some special customizations needed to support CodedUI within SpecFlow.

[2016-11-25 13:23] SabotageAndi commented on #698
@phatcher Sorry for coming so late back to this issue.
From the stacktrace it looks like you are using the SpecFlow+Runner test runner to run SpecFlow features that are generated for NUnit.
The SpecFlow+Runner is able to execute NUnit tests, but supports only limited functionality of NUnit. Translating the NUnit.Framework.InconclusiveException exception to the appropriate VSTest result code is cur

[2016-11-25 14:00] phatcher commented on #698
@SabotageAndi  I'll try running it as SpecRun and see what happens - I'm a couple of levels removed as this is running under VSTS using the NUnit3TestAdapter so it can see/report the NUnit tests.

Locally everything is fine, it's just trying to get appropriate information bubbling up through the levels

[2016-11-25 14:12] PriyaGopi commented on #747
Hi SabotageAndi,

Thanks for the reply.
I tried the above link and followed each and every line. But issue not solved.
In the page, I followed the steps under the title "Getting SpecFlow to generate the [CodedUITest] attribute with Visual Studio 2013+ and MSTest" - because I use VS 2015.
In the steps 5, if I set the framework to 4.5 , it gives me some other errors at build time, so I set 4.5.2(def

[2016-11-25 14:22] SabotageAndi commented on #698
Ok, you need the tests as NUnit tests. But why did you install then the SpecFlow+Runner package (SpecRun.Runner) to the project?

[2016-11-25 14:52] avonwyss commented on #737
Related to my comment: https://github.com/techtalk/SpecFlow/pull/689#issuecomment-237682703

I think SpecFlow should have a generic output facility and abstract the logging/writing of the different test framework, since each handles things quite differently now that parallel tests make the use of the "classic" Trace/Debug/Console outputs unusable.

[2016-11-25 15:30] phatcher commented on #698
Probably because I didn't know any better - I think I started out with the SpecFlow+Runner and then had to flip to NUnit so I could run them under VSTS and didn't remove the original packages.

I'll remove those two and see what happens under VSTS for an inconclusive.

[2016-11-26 11:55] phatcher commented on #698
Removed those two packages and pushed a commit with a partially implemented test - which it marked as failed but didn't fail the build which is ok, but not perfect.

What I don't know is whether VSTS supports Inconclusive as a result
@SabotageAndi  Don't know if you want to keep this open to handle the feature enhancement to expose Inconclusive?

[2016-11-26 16:19] lukefan6 opened #749 "Duplicate *.feature.cs generated"
I already have A.feature and A.feature.cs generated in my codebase.

But whenever I edit and save A.feature, there's a duplicated A.feature1.cs generated.

Since A.feature.cs and A.feature1.cs are identical, the whole test project won't be able to compile, I have to remove one of them manually.

My environment information:
- Windows 7 Professional SP1
- Visual Studio 2015 Update 3
- SpecFlow for V

[2016-11-27 04:55] LirazShay commented on #737
@avonwyss
I didn't understand you,
I've fixed this issue in my framework with this workaround:
add hook after step, that calls Console.WriteLine() with the name of the step + if passed or not (if test error != null, that means failed, o.w passed)
Please note that this works perfect in parallel execution. (the correct output goes to each test)

my workaround cannot live forever because some tests g

[2016-11-28 12:50] avonwyss opened #750 "Question: Handling of test output for parallel tests"
This is a follow-up on the issue #575, the pull request #689, and also relates to issues such as #737.

TL;DR: What is the role of `ITraceListener` and how shall it work in parallel test runs?

Parallel tests do not play well with the classic `Console`, `Debug` and `Trace` redirect mechanisms. Therefore, the different frameworks have added specific output channels for test output (see for instance

[2016-11-30 15:33] GoFightNguyen opened #751 "Generation error: access to the path '...feature.xlsx.tmp' is denied"
VS 2015
SpecFlow.Plus.Excel v1.4.1
SpecFlow v2.1.0

Yesterday, I added an excel file to the project. Everything built and ran as expected. Today, I opened the same solution and now I cannot build/rebuild. I keep getting the error.

[2016-11-30 15:37] SabotageAndi commented on #751
Could you please post more info about the error. Where is SpecFlow looking for the file?

[2016-11-30 15:48] GoFightNguyen commented on #751
The file in the same location as the excel file, which is in a local directory on my machine. This directory is mapped to a TFS workspace

[2016-11-30 15:50] GoFightNguyen commented on #751
The tmp file itself is not checked into TFS. The issue continues even if I delete the tmp file and then do a rebuild

[2016-12-01 12:21] jhumphries83 commented on #517
@SabotageAndi This is still an issue in Specflow 2.1.0 and should be reopened.  i think the reason you have been having trouble replicating the issue is because it only happens in certain circumstances.

In our Specflow implementation we often give indiviudal Scenario example their own tags.  e.g.

[code]

The third set of examples will cause NUnit to raise a compile error.  This is because NUnit

[2016-12-01 12:51] SabotageAndi commented on #517
@jhumphries83 With your example SpecFlow does indeed generate a wrong code behind file.
It starts that on the TestCaseAttribute, there is no `bool Ignored` Property.
![image](https://cloud.githubusercontent.com/assets/859801/20794189/4007b9e8-b7cb-11e6-8aef-48d3246520e4.png)

But there is a work- around. If you disable rowtests, the generator does not use the TestCase Attribute but generates separ

[2016-12-01 14:16] dirkrombauts commented on #517
I will try to take a look at it as well next week - I did some work on the NUnit attribute generation a while back.

[2016-12-01 18:50] Dreamescaper opened #753 "Scenario Outline variants show in Test Explorer with no source available if allowRowTests is 'false'"
If allowRowTests is disabled, scenario outline variants show in Test Explorer with "no source available". That leads to an issue, that you cannot navigate to that scenario by double click.

[2016-12-01 21:56] samholder commented on #517
There is no reason to use row tests with specflow IMHO, as the tests are
generated. It should be off by default IMHO.

On Thu, Dec 1, 2016 at 2:16 PM, Dirk Rombauts <notifications@github.com>
wrote:

[2016-12-02 01:26] Dreamescaper commented on #753
Submitted pull request fixing issue
https://github.com/techtalk/SpecFlow/pull/754

[2016-12-02 08:27] rbby commented on #672
What's the status currently? And do you now have any release date?

[2016-12-02 09:48] SabotageAndi commented on #672
For .Net Core there is no release date yet. We first need to finish PR https://github.com/techtalk/SpecFlow/pull/690 to continue work on PR https://github.com/techtalk/SpecFlow/pull/649.
For VS2017: We got an PR https://github.com/techtalk/SpecFlow.VisualStudio/pull/10 for it and I will work on a release in the next days.

[2016-12-02 11:14] jhumphries83 commented on #517
@SabotageAndi I've just realised that the examples I've provided were generated with NUnit 2.6.4.  I think you will need to be careful here because it looks like the Ignored attribute usage has changed between Nunit 2 and 3

In NUnit 2.6.4 the attribute for an ignored example should be as I wrote in my earlier post:

`[NUnit.Framework.TestCaseAttribute("Crawl", null, Category="MyThirdTag", Ignored

[2016-12-05 01:11] alexmbaker commented on #739
Specflow writes step execution information to Std OUT as the tests run, it is not configurable or possible to extend.

NUnit 3 added support for parallel test execution, In doing so capturing Std OUT and including it as part of the test run information is no longer logical as it is impossible to know which of the currently executing tests wrote to STD Out.

Nunit 3 provides 3 output streams, see h

[2016-12-05 02:13] alexmbaker commented on #745
It is pretty much the same, only difference is that where there before there were 3 methods

[code]

[2016-12-05 02:51] alexmbaker opened #755 "Confused about SpecFlow versions"
I am really confused about which versions of the specflow tools are compatible what what.  I have Visual Studio 2015 with the latest Specflow extension installed.  When it comes to running my tests, everything is fine, tests run and results are captured.  My issue is than the visual studio integration simply doesn't work, I have switched on tracing and can see where in the code possible errors are

[2016-12-05 09:27] LirazShay commented on #739
@alexmbaker
The issue that you're talking about was opened in [#737](https://github.com/techtalk/SpecFlow/issues/737)
This issue talks about if you run the tests in NUnit 3 without parallel execution, even though - the test output will not be included in the report.
please read again this issue.

About the problem that you're talking about - I don't understand you.
when you call Console.WriteLine(

[2016-12-05 09:52] LirazShay commented on #750
@avonwyss
Your assumption that:

Is not correct.
I'm using NUnit 3 and while parallel execution call to Console.WriteLine() - it works perfect.
the output goes to the correct test.
@gasparnagy

[2016-12-05 12:55] avonwyss commented on #750
@LirazShay Yes it does work, but it does not play well: https://github.com/nunit/docs/wiki/Parallel-Test-Execution#text-output-from-tests and related issues like https://github.com/nunit/nunit/issues/1139 which is why I wrote that TestContext *should* be used.

[2016-12-05 18:56] SamJongenelen commented on #745
Well, that's how far I got as well, however I cannot seem to find how to manipulate Attributes on generated classes for NUnit.. Any example on that?

[2016-12-06 03:20] harvinders opened #756 "Is there a way to access SpecflowDocument from within hook?"
I would like to parse the scenario text for certain statements. If those statements are present I would like to perform certain actions (like registering for certain events so that the scenario statement can do their job during execution) before the scenario steps execution commence.

I was wondering if I can have access to SpecflowDocument from the BeforeScenario hook then I can fulfill this use

[2016-12-06 10:20] SabotageAndi commented on #756
You do not have access to the SpecFlowDocument at runtime. It is part of the parser and is used for the generation of the code-behind file.
Did you had a look at hooks? http://specflow.org/documentation/Hooks/
There you can access the Step Context (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/ScenarioStepContext.cs) and get the StepInfo (https://github.com/techtalk/SpecFlow/b

[2016-12-06 10:35] SabotageAndi commented on #755
Generally, the Visual Studio Integration since version 1.9 works with every SpecFlow version. I used it personally with 1.9, 2.0, 2.1 and development versions of 2.2.
The integration itself is still using 1.9 for syntax highlighting and intellisense.
The generation of the code-behind file is done by the SpecFlow version that is installed as NuGet package in your project.

If you have code-behind f

[2016-12-06 12:43] samholder commented on #745
does the code here not help:
https://github.com/samholder/SpecFlow.NCrunch/blob/master/NCrunchAttributeGeneratorProvider.cs

specifically you just need to use the AddAttribute on the codedomhelper
class, something like this codeDomHelper.AddAttribute(testMethod,
"MyAttributeName", "MyAttributeValues");

On Mon, Dec 5, 2016 at 6:56 PM, Sam Jongenelen <notifications@github.com>
wrote:

[2016-12-06 12:51] harvinders commented on #756
Thanks for the explanation about the parser. I have now looked at the code and you are right, I would not have access to it in the hooks.

Yes, I have worked with hooks, and I think I understand them. Let me give you the use case that I am trying to solve. Please understand that it is not entirely a software scenario and involves hardware and operators to perform certain actions (guided by scenari

[2016-12-06 14:04] SabotageAndi commented on #756
PendingSteps are the steps, that have no binding, not the ones that will be executed.

Could you start the listener for the message always in Step2 and then wait in Step 4 for the result?

[2016-12-06 17:40] samholder commented on #756
can't you have some setup which starts the listener?

[code]

[2016-12-06 23:29] harvinders commented on #756
@samholder @SabotageAndi Yes, I have thought of that too.

[code]
Something like this at the start could also solve the problem. However, let's look it from the perspective of the business analyst who is going to be writing these scenarios. The analyst has to understand the details about the internals of the system now. In my opinion, that is not a very good thing and should be hidden from them.

[2016-12-07 10:27] samholder commented on #756
We could extend to support this, but I think you would still not want to examine all the steps to determine some setup. your proposal of setting up interesting messages is a better one. I would place that as the first step, and then configure the listener in the ```Given application is started``` step, if you don't want an implementation step in your scenario

[2016-12-07 13:45] harvinders commented on #756
Let me poke a hole in my proposal of setting up interesting message.

It may so happen that the same message is displayed more than once during the lifetime of application execution and let's say that for testing purpose we are interested in only the second instance. My proposal would set up the listener for all the **message one**. Which in my cases is not going to work (as I take action when the

[2016-12-07 15:12] gasparnagy commented on #750
@avonwyss Thx for the good summary.
In general, the trace listener interface is responsible for collecting messages (in two categories: business and technical) from the SpecFlow runtime and forward them into a channel that the test execution framework can process and include into their own reporting.

There is a third kind of message as well, the user messages. So far these were emitted by the cod

[2016-12-07 15:48] LirazShay commented on #750
@avonwyss
As Gaspar said, the NUnit framework has handled Console.Writeline even when using parallel tests.
In the link that you gave: https://github.com/nunit/docs/wiki/Parallel-Test-Execution#text-output-from-tests

That means that the in the end of the test we will have the correct output. this enough to generate the SpecFlow report.
And the issue that you referenced https://github.com/nunit/nu

[2016-12-08 20:37] ramiabughazaleh opened #757 "Blog post for Steckbrett.SpecsSupport on the "Add ons, Tips and Tricks" wiki page no longer exists"
The [blog post](http://ricardo-stuven.blogspot.com/2010/05/specflow-automapper-autopoco.html) link, for [Steckbrett.SpecsSupport](http://bitbucket.org/rstuven/steckbrett.specssupport/src) on the [Add ons, Tips and Tricks](https://github.com/techtalk/SpecFlow/wiki/Add-ons,-Tips-and-Tricks) wiki page displays

This translates to "Sorry, the page you were looking for in the blog does not exist.".

Ho

[2016-12-08 20:41] SabotageAndi commented on #757
@ramiabughazaleh The wiki pages should be editable by everyone. So feel free to update the page.

[2016-12-09 00:13] PrasannaKumaresan commented on #749
if you are using tables to fetch data within the feature file, then have a look at them to check whether the tables are complete without any additional columns. this might cause specflow to duplicate feature.cs as feature1.cs

[2016-12-09 14:32] SabotageAndi commented on #744
I am currently working on the support of Visual Studio 2017 RC.
All is happening here: https://github.com/techtalk/SpecFlow.VisualStudio

[2016-12-11 10:45] connelhooley opened #758 "Linking feature files"
Is it possible to link feature files together?

We're using SpecFlow for unit tests, so often you mock a class you're consuming, test you consume the mock class correctly, then have a separate feature file that tests the concrete implementation of that mock.

I would like to be able to say something like "see feature XYZ for more" and have it show as a  hyperlink in my Pickles output. Not sure it'

[2016-12-13 15:07] michaelalex opened #759 "ITestTracer with parallel test execution"
I have setup my specflow tests to run in parallel. I have also implemented a custom tracer using the ITestTracer class. However I have noticed when implementing the TraceBindingError, TraceError and TraceStepSkipped methods it does not provide me with any context as to which scenario or step has errored or skipped respectively.

Would it be possible to amend the TraceStepSkipped, TraceBindingError

[2016-12-13 16:39] tadesushilgithub opened #760 "Specflow is giving wrong messages"
I really lost my whole day. I am not able to build my solution I don't know what's problem. I have downloaded proper version of specflow and specrun still it's showing it's not available in search path.

Please find below images and please help on this.

![versions1](https://cloud.githubusercontent.com/assets/17309586/21149210/c8f4d37e-c128-11e6-9094-d94dfb37bbb9.JPG)

![error2](https://cloud.gith

[2016-12-13 16:42] lukefan6 commented on #749
@PrasannaKumaresan could you provide an example of the feature file that will cause the issue?

[2016-12-13 16:49] wshah88 opened #761 "How to add a feature file once SpecFlow is installed"
Hi,

I am trying to learn more about SpecFlow so I have followed the steps in terms of creating a new application > installing the package SpecFlow but at this point I cannot add a feature file from right click > Add new item. Can anyone help and tell me the correct steps in order to successfully add feature files?

Cheers!

[2016-12-13 17:56] SabotageAndi commented on #761
You need to install the Visual Studio Extension.
It is Step 1 in the "Getting Started": http://specflow.org/getting-started/

[2016-12-13 18:30] SabotageAndi commented on #760
Sorry to hear that.
Did you start with a new project or did you upgrade your project?
If you did an upgrade, did you followed the steps from here: http://specflow.org/updating-to-specflow-2/

You could also have a look at the examples here (https://github.com/techtalk/SpecFlow.Plus.Examples) and compare them to your project.
It is probably something with project references.

[2016-12-13 20:37] PrasannaKumaresan commented on #749
take the below as example;
|user|activity|timeofday|
|luke|swimming|  --> the datarow is incomplete
|prasanna|running|morning|
|alex|gymming| -->the datarow is incomplete

i got the dupes for feature.cs in the above scenario

[2016-12-14 02:11] lukefan6 commented on #749
Not for me I guess...
I did the same and pushed the save button, no duplicates were made.
Actually I am not sure what I've done but the issue stopped to happen.

However I'd like to leave this issue open to see if there's any updates or discussion on this issue

[2016-12-14 10:16] wshah88 commented on #761
I have installed the SpecFlow package is that what you mean?

[2016-12-14 10:18] wshah88 commented on #761
Oh on extensions, I think i got it now will give it a try!

cheers

[2016-12-14 10:18] SabotageAndi commented on #761
You are welcome!

[2016-12-14 13:12] SabotageAndi commented on #749
@lukefan6 the creation of an additional <Feature>1.feature.cs is a bug somewhere in the Visual Studio Integration. Most of the time, restarting Visual Studio solves it.

[2016-12-15 06:38] tadesushilgithub commented on #760
Thanks @SabotageAndi, your given solution worked for me.

[2016-12-15 06:38] #760 closed

[2016-12-20 13:57] jeremy001181 opened #768 "Generate sample data before all scenarios"
Hi

I have a feature that requires generates test sample before all scenarios

and i don't want to use background because it gets run for each scenarios as my test sample are same for all of them, what is the best way to achieve this? i was thinking to use BeforeFeature hook but it isn't able to parameterize data using something similar like Scenario Outlines?

Many thanks

Ming

[2016-12-20 14:03] SabotageAndi commented on #768
What is the source of your data?

[2016-12-20 15:04] jeremy001181 commented on #768
just hardcoded data

Examples:
	| email | password |
	| xxx@xx.com                  | xxxx                  |

[2016-12-22 02:25] gigliolily opened #769 "test outcome is skipped when running test in VS with Specflow"
when running testcases in specflow2.0, test outcome is skipped and standard output shows: SpecRun Evaluation Mode: please purchase at http://www.specflow.org/plus to remove test execution delay.  all codes with same config could run in others' computer, could you show me solution if you have solved same problem?

[2016-12-22 10:23] SabotageAndi commented on #769
You are using the SpecFlow+Runner and you didn't have registered a valid license.
See the end of http://specflow.org/plus/documentation/SpecFlow--Runner-Installation/ how to do that.

[2016-12-22 16:50] cristobalito commented on #744
Hi @SabotageAndi

How is this progressing? Just playing around with VS2017 and .Net Core - seems to be a few blockers to gettting SpecFlow up and running. I'm happy to help out with testing if required.

[2016-12-23 08:45] jeremy001181 commented on #768
Anyone?

[2016-12-24 00:35] darrencauthon commented on #768
I can't speak for others, but I don't understand your request @jeremy001181

[2016-12-24 09:13] jeremy001181 commented on #768
Ok

So let's say I have two scenarios
@cleanupcustomer
Scenario1: sign in using new account
Given I created a new customer
And I sign in using new credentials

@cleanupcustomer
Scenario2: get customer data
Given I created a new customer
And I can get customer data

As you can see there is duplicate step "create new customer" in both two scenarios, which behind the scenes i creates test random cust

[2016-12-25 06:51] allustin commented on #648
Link to https://raw.github.com/techtalk/SpecFlow/master/Installer/NUnitNuGetPackage/SpecFlowNUnitExtension.cs

put 404. There is no such file in repo

[2016-12-27 15:08] #753 closed

[2017-01-02 04:49] samholder commented on #768
You can do it in a BeforeFeature step

On 24 Dec 2016 8:13 pm, "jeremy001181" <notifications@github.com> wrote:

[2017-01-03 13:55] SabotageAndi commented on #744
@cristobalito It is still in progress. I hope we can release a first version in the next weeks.

[2017-01-04 05:33] harvinders commented on #756
@samholder

I propose that we modify the code generation. I am working on a pull request with the idea to create **stepInfo** variables.

say for the following gherkin

[code]
we generate following code

[code]

Also, we update `ScenarioStepContext `.
[code]

I look forward to hearing back from the community if this would be the right direction to take to add this feature.

[2017-01-04 08:48] SabotageAndi commented on #756
If we do that, I wouldn't limit it to the next and the previous step. So it should be more a list of steps on the ScenarioContext.
@gasparnagy What do you think about this?

[2017-01-04 14:04] jeremy001181 commented on #768
@samholder

Does BeforeFeature support example parameters? can you provide more details? may be an example? following screenshot shows what i currently have done using Background, I would like to change it to use Before feature but how can i feed in my test data?

![image](https://cloud.githubusercontent.com/assets/2342277/21644683/7f4379e6-d286-11e6-9ea5-011935c031f9.png)

[2017-01-04 18:04] anniekvandijk commented on #768
Why do you want to create testdata for all scenario's? Every scenario should be a seperate test. So having the right data before each scenario with a Background is ok.

If you do have a automated build and you want to insert testdata first, you can change the Background into the first Scenario. Or you can run a .feature with testdata before you run the other .feature files.

[2017-01-04 18:49] jeremy001181 commented on #768
I want to create those data for all because:

1. They are same for all test scenarios , they are prerequisites that is
required to be in place before my test scenarios can start.

In my case, my test feature is more about "search customer" functionality ,
e.g I have search by name as one scenario , and search by email as another
one, etc... so test customer data doesnt have to be different for eac

[2017-01-04 19:03] anniekvandijk commented on #768
Then I should go for the option to put it in a seperate feature which runs first.

[2017-01-04 22:32] jeremy001181 commented on #768
@anniekvandijk ideally yes, I would like to have my test data feed in from a data table like my screenshot given above instead of hard coded in a test hook.

I thought it should be a very common requirement that many people would come across, so I post up for finding best practice.

And I am not fully convinced to have it in a seperate scenario as you suggested, reason are
1. Setting up test data

[2017-01-05 01:52] harvinders commented on #756
@SabotageAndi Do you mean we use `ScenarioInfo.StepInfoList`? I see `ScenarioContext.Current `is intialised using `ScenarioInfo` and it is `ScenarioInfo` that is used in the generated test case code.

I believe your proposal is much better and I would still be able to find the next `StepInfo` in `BeforeStep`

[code]

[2017-01-05 08:57] SabotageAndi commented on #756
With the list, you can "scan" your whole scenario also in the BeforeScenario. Which is executed much lesser than the BeforeStep.
The question is, if we get somehow the information before the Scenario is executed.

[2017-01-05 10:37] harvinders commented on #756
Currently, the `StepInfo` objects are created through the calls of `Given`, `When`, `Then`, `And` and `But`. What stops us from creating the `StepInfo` objects outside and then make calls to these methods with `StepInfo` as a parameter?

[code]

We can create all the stepInfo objects at the start before Scenario execution.

[2017-01-05 12:19] SabotageAndi commented on #756
Would be a possibility. For that we have to change the code generation a little bit.
The calls to Given()/When()/Then() have to put them into a list, over which will be interated at the end.
So we will propably need an "Execute"- method at the end.

One edge case to consider is, that you can execute other steps with their text in other steps. So Given("application is started") is currently possibl

[2017-01-05 18:18] GibSral opened #770 "Exception: Object must implement IConvertible"
Hi,

i just updated from Version 1.9 to 2.1.
When running the tests with the nunit console runner i get the following exception:
System.InvalidCastException : Object must implement IConvertible.
bei System.Convert.ChangeType(Object value, Type conversionType, IFormatProvider provider)
bei System.Linq.Enumerable.<SelectIterator>d__5`2.MoveNext()
bei System.Linq.Buffer`1..ctor(IEnumerable`1 source)

[2017-01-06 10:49] gasparnagy commented on #756
@harvinders @SabotageAndi I think this is a very specific scenario. Listening to such events and associating them to actions (so that you know that the message was received as a result of the click and not before) is something that I would solve in the automation infrastructure of your application, not on Gherkin step level. There you can better make an abstraction of an "action" and configure the

[2017-01-09 11:42] harvinders commented on #756
Thanks @gasparnagy for clarifying the design principle. I would have to agree with you that plugin is the correct way forward. I have now taken a stab at creating a plugin [(SpecFlow.PeekSteps)](https://github.com/harvinders/SpecFlow.PeekSteps) and it seems to be working. It still needs more work.

1. You mentioned that

Could you please clarify your comment `you will not be able to add properties

[2017-01-09 21:14] SabotageAndi commented on #770
Did you followed the guide for upgrading from 1.9 to 2.*?
http://specflow.org/updating-to-specflow-2/

[2017-01-11 11:45] SabotageAndi commented on #769
Closed because of inactivity.

[2017-01-11 11:45] #769 closed

[2017-01-11 11:46] SabotageAndi commented on #713
@upalinandy is this still an issue for you?

[2017-01-11 11:54] SabotageAndi commented on #665
Closed because of inactivity.

[2017-01-11 11:54] #665 closed

[2017-01-11 13:57] gasparnagy opened #771 "Projection<T>.Equals() returns false unnecessarily if table headers differ from property name by casing"
The problem is with this line
https://github.com/techtalk/SpecFlow/blob/21b7aa7bd0664927e3b48ca92c9b6563f06e9e53/TechTalk.SpecFlow/Assist/EnumerableProjection.cs#L127

We would need to call the `PropertyExtensionMethods.GetThePropertyOnThisObject` instead.

[2017-01-13 02:46] gigliolily commented on #769
actually I didn't express it clearly, and I see the report of result, the reason is that temp files of VS project, so I delete the temp file and run again, it's ok now.

[2017-01-13 03:01] jimbobbennett opened #772 "VS Mac support"
It would be good to have VS for Mac supported. It's not a major change, just need to set the app version to 7.0 and build using the latest add-in nuget.

I've already updated Mike Jones' one: https://github.com/mikeyjones/SpecFlow/pull/10

[2017-01-13 16:05] pei0400 commented on #751
I had the same problem. It looks like TFS set the directories "ready-only", which makes sense. I resolved the problem (partially) by manually remove the "read-only" property of these directories, and it built properly. But not sure that is the best solution.

[2017-01-16 08:26] tenebrarum118 opened #773 "Rider support"
Would you please take into consideration Rider IDE support. Related jetBrains ticket is here: https://rider-support.jetbrains.com/hc/en-us/community/posts/207696605-Specflow-Add-on

[2017-01-16 13:28] ppumkin commented on #744
Hows it looking for 2017? Can we build the branch? Will it work? 🛩  Thanks

[2017-01-16 13:38] SabotageAndi commented on #744
@ppumkin The plan is to release it tomorrow
You can get it already from these feed: https://www.myget.org/F/specflow-vsix/vsix/

[2017-01-16 18:38] SabotageAndi commented on #773
We talked some time ago about support for it.
But currently we are a very small team that is working in our spare time on SpecFlow. Creating a new integration for another IDE is a lot of work and we have already some other big things (.NET Core, new VS Integration) on our list.

If someone wants to work on it, the current VS Integration is here: https://github.com/techtalk/SpecFlow.VisualStudio
Th

[2017-01-17 13:01] SabotageAndi commented on #744
Integration is released: https://marketplace.visualstudio.com/items?itemName=TechTalkSpecFlowTeam.SpecFlowforVisualStudio2017
If you find bugs/problems, please create a new issue for it.

[2017-01-17 13:01] #744 closed

[2017-01-17 13:59] Peter-B- commented on #744
@SabotageAndi: Thanks you. It is great that you share all those tools!

[2017-01-18 11:28] aberbegall commented on #542
It seems to be fixed in 2.2.0-preview,
I tested the following
[code]
and it passes in 1.19 & 2.1 but it fails in 2.2.0-preview :)

 Any idea when the 2.2.0 stable NuGet will be available?

[2017-01-18 11:38] SabotageAndi commented on #542
@aberbegall No, there is no plan when we will release 2.2.
There are still some changes open that I want to get into it.

But there is no problem to use the preview until then..

[2017-01-18 19:04] fiatkongen commented on #455
All of a sudden I'm also running constantly into this error:
------ Run test started ------
SpecRun: running tests in P:\Repos\ProjectWallabyConcept\Wallaby.Presentation2\Wallaby.Specifications\bin\Debug\Wallaby.Specifications.dll
Profile: Default
System.IO.FileNotFoundException: Could not load file or assembly 'TechTalk.SpecRun, Version=1.5.2.0, Culture=neutral, PublicKeyToken=d0fc5cc18b3b389b' o

[2017-01-18 19:10] SabotageAndi commented on #455
This error has nothing to do with the Visual Studio Integration. It comes from the SpecFlow+Runner which is installed via NuGet package.
You should have in your Wallaby.Specifications project a reference to TechTalk.SpecRun.
Probably a package is missing or something happened during installation of it.

Could you post your package.config and a screenshot of your references?
But please create a new

[2017-01-19 13:30] fiatkongen opened #774 "Not able to run SpecFlow Test explorer in visual studio 205"
Hi

After running Specflow scenarios, using Specflow Runner, for a couple of hours, it stopped working, with this exception:

`------ Run test started ------
SpecRun: running tests in P:\Repos\ProjectWallabyConcept\Wallaby.Presentation2\Wallaby.Specifications\bin\Debug\Wallaby.Specifications.dll
Profile: Default
System.IO.FileNotFoundException: Could not load file or assembly 'TechTalk.SpecRun, Ve

[2017-01-19 13:32] fiatkongen commented on #774
Just re-posting my csproj-file as screenshot:
![image](https://cloud.githubusercontent.com/assets/16704038/22108579/192d76fa-de54-11e6-9410-a09b0a86748b.png)

[2017-01-23 08:44] SabotageAndi commented on #774
Is the TechTalk.SpecRun.dll in the bin\Debug- folder when you run the tests via Visual Studio?
Could you have a look at the Fusion logs (http://www.hanselman.com/blog/BackToBasicsUsingFusionLogViewerToDebugObscureLoaderErrors.aspx) to see from where Visual Studio wants to load the dll?

[2017-01-23 12:41] fiatkongen commented on #774
Hi

Below is the VS output log including binding info. I am not sure why, but today it seems it is another dll casing the problem:

------ Run test started ------
SpecRun: not SpecRun assembly - skip: P:\Repos\ProjectWallabyConcept\Wallaby.Presentation2\src\Wallaby.Presentation2\bin\Debug\netcoreapp1.0\win10-x64\Wallaby.Presentation2.dll
SpecRun: not SpecRun assembly - skip: P:\Repos\ProjectWallab

[2017-01-23 13:35] SabotageAndi commented on #774
Ok, this DLL is from the runner itself. Perhaps there was a corruption of the VisualStudioTestExplorerExtensions cache.
Could you try the steps under "Tests are not displayed in the Test Explorer window when using SpecFlow+ Runner" from here http://specflow.org/documentation/Troubleshooting-Visual-Studio-Integration/ ?

This is a cache Visual Studio creates with all Test Explorer Extensions and so

[2017-01-23 19:32] tombrothers opened #775 "TechTalk.SpecFlow.Parser.Compatibility.dll"
Could you start adding TechTalk.SpecFlow.Parser.Compatibility.dll to the nuget package?

[2017-01-23 20:05] SabotageAndi commented on #775
Which NuGet package do you mean? We have some of them.

[2017-01-23 20:14] fiatkongen commented on #774
I was finally able to solve the issue. Apparently some files were missing from C:\Users\WINDOWSUSER\AppData\Local\Temp\VisualStudioTestExplorerExtensions\SpecRun.Runner.1.5.2
 What I did was
1. Close all VS instances
2. Delete all content from C:\Users\WINDOWSUSER\AppData\Local\Temp\VisualStudioTestExplorerExtensions
3. OpenVS and run Specflow scenarios again, the cache is rebuild with the missing

[2017-01-23 20:14] #774 closed

[2017-01-23 20:21] tombrothers commented on #775
Preferably, I'd like to see it in the main nuget package in the tools directory.  For Example, in SpecFlow.2.2.0-preview20161020.nupkg.  If not that one the maybe it makes more sense in the custom plugin nuget package.
Thanks for considering making this change.

[2017-01-23 21:17] SabotageAndi commented on #775
This assembly contains compability code for the parser to get an API like 1.9.
It is only used now in a test project and this will get changed also. After that, we will delete it.

So why do you need this assembly? If you use the API, you should change it to the new one.
It is not that different to the old one.

[2017-01-24 14:49] tombrothers commented on #775
Great question.  I inherited this project and I’m currently just focusing on creating a ci build.  As part of creating this new build I realized that I needed to manually compile TechTalk.SpecFlow.Parser.Compatibility.dll – this of course is a little inconvenient which is why I asked for it to be included in a nuget package.  But if using the dll isn’t a good idea moving forward then I’ll have to

[2017-01-25 11:27] SabotageAndi commented on #775
We could probably add it in the meantime to the SpecFlow.CustomPlugin nuget package, but I recommend to adapt your code to the new API.
If you have questions/need help, join us in our Gitter- channel.

[2017-01-25 11:35] SabotageAndi commented on #713
Closed because of inactivity. Please reopen if it still a problem.

[2017-01-25 11:35] #713 closed

[2017-01-25 19:41] #771 closed

[2017-01-25 22:14] felpel opened #777 "Support for Timeout attribute"
- MSDN [link](https://msdn.microsoft.com/en-us/library/microsoft.visualstudio.testtools.unittesting.timeoutattribute.aspx)
- Full name: Microsoft.VisualStudio.TestTools.UnitTesting.TimeoutAttribute

It would be neat if it was possible to add a _timeout_ tag for a scenario or even a feature!

`Owner` and `WorkItem` attributes are other tags that are already supported.

Something like:

[code]

[cod

[2017-01-25 22:16] SabotageAndi commented on #777
Have a look at this PR https://github.com/techtalk/SpecFlow/pull/746 how to implement such tag.

[2017-01-25 22:49] felpel commented on #777
@SabotageAndi: Basically, I can simply look how the `IgnoreDecorator` or tmulkern's `ParallelizeDecorator` are implemented and follow a similar path?

[2017-01-26 09:57] SabotageAndi commented on #777
@felpel Yes, you can. But on this PR you have no parameter for the tag, so you have to think how to handle this.
If this kind of attribute is also available on XUnit/NUnit, please implement it also for this frameworks.
If not, please name the attribute with some MSTest-prefix (e.g. @mstest:timeout:120000)

[2017-01-26 12:22] samholder commented on #777
if you happen to be running with NCrunch then you can use the
Specflow.NCrunch extension which includes support for such a tag, but it is
NCrunch specific

On Thu, Jan 26, 2017 at 9:57 AM, Andreas Willich <notifications@github.com>
wrote:

[2017-01-26 14:42] felpel commented on #777
@samholder sadly, I'm not using NCrunch at the moment, but thank you for your suggestion.
@SabotageAndi I'll check for the other frameworks, but could it be more similar to the `Owner` or `WorkItem` tags implementations?

[2017-02-02 10:12] #739 closed

[2017-02-02 15:21] gasparnagy commented on #692
Apparently #762 implements this, because it exposes the `BindingMatch` object on `StepInfo` (maybe we will move one level up though). The `BindingMatch.StepBinding.Method` is a `RuntimeBindingMethod` during runtime, so you can get the .NET `MethodInfo` from it.

[2017-02-02 15:21] #692 closed

[2017-02-03 09:03] devsachi commented on #744
Does this release support only x86 , or it supports 64 bit installations as well?

[2017-02-03 09:09] SabotageAndi commented on #744
There is no 64 bit version of Visual Studio.

[2017-02-03 13:54] navnit-a commented on #569
Any updates on the above? Specflow.2.1.0 still comes up with the same error ..
mono specflow.exe generateAll MyProject.csproj /force /verbose

Sequence contains no matching element

[2017-02-04 08:24] Autom8edChaos opened #780 "Enums with spaces are not accepted, referenced 2.1.0 package is the cause?"
**UPDATE:** OK, the test passes with version 2.2.0-preview20161020. It seems that I was looking at an issue that gets solved in the next release :)

Given this test:
[code]

With this step definition:
[code]
When I run the scenario
Then I expect the test to pass

However, I receive the following exception with stack trace:

[code]

I looked at the code and it looked fine. When opening the solution

[2017-02-06 15:26] gasparnagy commented on #775
@tombrothers I suggest take the SpecFlow.CustomPlugin *as source code* and include it in your own project until you upgrade to the new infrastructure. (Upgrading an existing solution to support the new infrastructure should be relative easy as the data structure is very similar.) We would like to get rid of the compatibility package and including it back to any of the nuget package would just make

[2017-02-06 18:21] georgeonofrei opened #781 "Scenario names with similar beginnig characters break file generation"
Hi,

I have a sort of strange issue in which using similar scenario names breaks the cs file generation.
Example:
Scenario Outline: Device add request with invalid token is rejected
...
Scenario Outline: Device add request with token missing device_add scope is rejected
...

This particular file leads to a build error:
Severity	Code	Description	Project	File	Line	Suppression State
Error	CS1519	Inva

[2017-02-07 12:15] farningsmark opened #782 "Used steps are falsely marked as unused in Step Definition Report"
We often use scenario outlines in our features and when we have a "hardcoded" example in the step attribute regexp, the step definition report can not recognise the binding to the scenario outline. The step is hence falsely marked as red (unused).

**Scenario**

[code]

**Step definition**

[code]

The step `a 'Literature Reference' is added in report information block` is falsely marked as unused

[2017-02-07 13:51] tombrothers commented on #775
@gasparnagy makes sense.  Thanks for the guidance.

[2017-02-07 14:53] onlyPavol opened #783 "SpecFlow does not work properly on Visual Studio Ultimate 2013 with Update 4"
Hi everyone,
I am using fresh Windows 8.1 and I have installed SpecFlow extension (via Extensions and Updates) on VS ultimate 2013 with Update 4 but something went wrong.

- The feature file is always displayed as plain text.
- When I navigate to Options/ SpecFlow, VS triggers following popup:
![1](https://cloud.githubusercontent.com/assets/25612955/22695445/1ba78956-ed4b-11e6-9fd0-03670fc34e80.pn

[2017-02-07 15:49] Autom8edChaos commented on #642
For the meantime, I've put an [instruction on the Wiki](https://github.com/techtalk/SpecFlow/wiki/Reporting) on how to create reports from Nunit3 through the Nunit2 format specifier. It took me a while to figure this out and wanted to save others the hassle.

[2017-02-07 16:21] serialbandicoot opened #784 "SpecFlow+ Unable to publish results to the server."
Hi,

I'm seeing an issue with connecting to SpecFlow's Reporting Database

- I've followed the steps in http://specflow.org/plus/documentation/Setting-up-the-SpecFlowPlus-Runner-Server/ and the database has been created, which contains about 7 tables.
- SepcRun.Server.Exe starts this show's **SpecRun server is running. Press a key to stop**
- The firewall is not on, so port shouldn't be an issue
-

[2017-02-07 21:18] icnocop opened #785 "Ability to get the value of a TableRow field whose column name may or may not have spaces"
Hi.

I would like to have the ability to get the value of a `TableRow` field whose column name may or may not have spaces.

For example, if I have a step with a Table in a feature file as follows:
[code]
I would like to get the value of the "Birth Date" column for example within a step definition as follows:
[code]

In this example, I expect the `Find` and `Set` methods of the `TableRow` class to

[2017-02-09 04:06] laurencee commented on #744
I don't see any generate option for feature files in 2017, is this a known limitation?

[2017-02-09 07:35] SabotageAndi commented on #783
Could you try the version from this VS Gallery Feed:  https://www.myget.org/F/specflow-vsix/vsix/
and report back if it is working again?

[2017-02-09 14:23] onlyPavol commented on #783
The Issue has been resolved after updating VS to Update 5 and SpecFlow extension to 2017.1.5.

[2017-02-10 09:22] Uriil opened #789 "Using new line character in Table"
Seems like it's not possible to add new line character to Table row. Tried different options, but always getting not expected result:

    Scenario: Test scenario
        When I do something
            | Result               |
            | \r\n                   |
            | \\r\\n                |
            | "\r\n"                |
            | "start \r\n end" |

And here is generated c

[2017-02-10 09:40] dirkrombauts commented on #789
As far as I know, it is not possible.

Since scenarios should be readable for business people, it's not a good idea to add technical things like `\r\n` to a scenario. The non-technical people will stop caring about such technical scenarios and then you have made a lot of effort for nothing.

That being said, sometimes it important to highlight the presence of new line. I have solved it in the past

[2017-02-10 09:44] Uriil commented on #789
That's how I solved so far as well.

But for example if you look at following lines:

    table2.AddRow(new string[] { "\"\\r\n\""});
    table2.AddRow(new string[] { "\"start \\r\n end\""});

It's possible to see that \n got translated correctly

[2017-02-10 09:48] dirkrombauts commented on #789
It seems to work in some cases, but not in all ... so I would rather keep away from it. You would have all kinds of misunderstandings if a newline works when it's inside a sentence but not when it stands on its own.

[2017-02-10 10:40] dirkrombauts commented on #789
@Uriil do you need further answers or can we close this issue? I don't think this is something that we are going to fix. Maybe we're not even able to fix it because it might be a parser issue and we don't own the parser.

[2017-02-10 10:42] Uriil commented on #789
I think you can close the issue. I will stay with token, as you proposed.

Thank you

[2017-02-10 10:47] #789 closed

[2017-02-10 10:49] gasparnagy commented on #789
@Uriil @dirkrombauts yes, this behavior is implemented in the Gherkin parser. What you can do is to come up with your own table-like structure (it can be just a derived class of Table without adding anything to it), change the param type of your step defs to take this special table and implement a `[StepArgumentTransformation]` to convert from std `Table` class to yours and replacing your selected

[2017-02-10 12:09] Stephen-Mc commented on #784
I've worked through the steps in the documentation, and while there were a couple of points where the wrong .exe was mentioned (SpecRun.exe instead of SpecRun.Server.exe), it looks like you figured out the correct steps if you have managed to start the server. I've updated the documentation accordingly.

The message you are receiving suggests that the problem is caused by the server being unreacha

[2017-02-14 08:36] tenebrarum118 opened #790 "Given, When, Then inheritance"
Right now it is impossible to use attributes, inheritented from Given, When or Then because in bindings discovering all assertions are based on exact types. See `BindingSourceProcessor.GetStepDefinitionTypes()`
would you please consider changing this code because it seems very useful to add some hooks via inherited attributes like this:
`public sealed class MyCoolGivenAttribute : GivenAttribute
{

[2017-02-16 13:46] ghost opened #791 "Visual Studio 2015 crashes when using TechTalk SpecFlow 2017.1.5"
We have about 5 engineers using the following setup.  What happens is that after a certain amount of time, the SpecFlow extension stops working.  Notably, syntax coloring and code linking (Go to Definition) features stop.  Then Visual Studio will be in a state where we may neither close the solution or Visual Studio and we are forced to shut it down using Task Manager.  Re-opening Visual Studio fi

[2017-02-17 09:46] StarWars999123 opened #792 "Request: Better error message for Scenario Outlines without arguments"
If you have a scenario outline, but you for get to write the Examples-Keyword, you will get the following error during the build process:

_CS1029 #error: 'Generation error: Sequence contains no elements'_ in Line 1 of MyFeature.feature

It took me some hours in my large created feature file to locate my error. I deleted the temp files, restarted visual studio several times, but it was difficult t

[2017-02-19 11:35] SamJongenelen opened #794 "FR: Intercept R# test explorer .feature.cs navigation"
Ok, so, I don't know if this will be possible and/org I'm using correct terms.
I'm labeling this as a feature request.

Tools:
VS2015sp3 + Resharper (latest) + Specflow VS extension + c# projects, .net45 + (no SpecRun, NUnit)

'Special'  config:
I hide all _.feature.cs_ files from the _Solution_ and use a prebuild target action to generate the _.feature.cs_ files based on the feature files, which

[2017-02-21 11:26] Hiral-Dadhaniya opened #795 "Test Authoring and Execution Framework Stopped Working - File Not Found Exception"
Hi,
I am using SpecFlow (v2.0.0) and NUnit (v3.2.0) to run my tests with VS2015.

I am receiving the error from last two days, before that it works well. (please see attached image)
![error](https://cloud.githubusercontent.com/assets/24842048/23162038/74afef72-f852-11e6-9748-07edbb2790b5.jpg)

For error details please see:
![errordetails](https://cloud.githubusercontent.com/assets/24842048/2316205

[2017-02-21 15:49] SabotageAndi commented on #795
According to the info in the problem signature you are using the SpecFlow+Runner and not NUnit.
Do you want to use the SpecFlow+Runner or do you want to use NUnit?

[2017-02-21 17:38] Hiral-Dadhaniya commented on #795
Yes, we are using Specflow+Runner (1.3.0). And would like to use the same.

[2017-02-21 17:41] jmb-mage commented on #791
A little bit more info:

- 40 Feature files = about 6,000 lines of C#
- 42 Step files = about 7,000 lines of C#

The symptom that seems to grow is that the SpecFlow Step Matching results in an error dialog:

"Step bindings are still being analyzed. Please wait."

Now upon opening the project this takes approximately 30 seconds before the step bindings are analyzed.  What I am guessing is happening

[2017-02-22 07:39] Hiral-Dadhaniya commented on #795
This could be Visual Studio specific error ? As i have tried to execute scenarios from another system having same versions, its working fine.

[2017-02-22 16:05] godrose opened #796 "Support xunit v2.2.0"
I've recently upgraded to xunit v2.2.0.
Running specs results in the following error message:
"NUnit.Framework.InconclusiveException
No matching step definition found for one or more steps"
Rolling back to xunit v2.1.0 resolves the issue.

[2017-02-22 17:06] Wrexxi commented on #305
This seems to be frequently happening in 2.2.0-preview20161020, as for the effect, it loses any sort of bindings and syntax highlighting in the feature file, and it has to be reopened.  I just wanted to document this since it's just a nuisance.  I'll try to document what I was doing when it occurs next time.

[2017-02-23 11:33] SabotageAndi commented on #795
@Hiral-Dadhaniya Which Visual Studio Version are you using and do you have the latest updates installed?

[2017-02-23 14:30] godrose opened #797 "Support dotnetcore"
I'm using SpecFlow as the executable specifications provider. It's invoked as the last step of the continuous delivery pipeline at the CD agent. I'd like to use Unix-based agents and this requires the projects to use .NETCore libraries, naturally.
Is there any plan on supporting this feature?

[2017-02-23 14:36] SabotageAndi commented on #797
All work of bringing SpecFlow to .NET Core is done in PR https://github.com/techtalk/SpecFlow/pull/649
But there is still a lot of work to do.

[2017-02-23 14:36] SabotageAndi commented on #797
As the discussion about it also happens there, I am closing this issue.

[2017-02-23 14:36] #797 closed

[2017-02-24 08:28] Hiral-Dadhaniya commented on #795
Using Visual Studio 2015. I guess, no latest updates related to VS recently.

[2017-02-24 10:23] SabotageAndi commented on #795
@Hiral-Dadhaniya Could you try following:

1. Close all Visual Studio instances
2. Navigate to your %TEMP%\VisualStudioTestExplorerExtensions\ folder and delete any sub-folders related to SpecFlow/SpecRun.
3. Reopen your solution and ensure that it builds.
4. run your tests

[2017-02-27 10:15] GStoykov commented on #502
Hi, Is there any development on fixing this issue?

[2017-02-28 10:48] Hiral-Dadhaniya commented on #795
Yes, it works well now. Thank you!
What could be the exact reason for this error. because when i found this issue, just day before i have deleted all files from mentioned path %TEMP%.
Anyways, thanks a lot @SabotageAndi for your time.

[2017-02-28 11:16] SabotageAndi commented on #795
Visual Studio caches the TestAdapter in this folder. Sometimes there is an error and the cache get corrupted. Sadly VS does not recognize that and you are left with a non working testadapter.
This can result from not found tests to crashes at the execution.

As it is working now for you, I will close the issue.

[2017-02-28 11:16] #795 closed

[2017-02-28 11:20] Hiral-Dadhaniya commented on #795
Thank you!

[2017-03-01 08:25] SabotageAndi commented on #785
@darrencauthon Your thoughts about it?

[2017-03-01 08:27] SabotageAndi commented on #790
@tenebrarum118 Could you give us a more concrete example why this functionality would be helpful?
Finding the bindings is a core functions of SpecFlow and I am from the example not sure if it would introduce breaking changes.
Thank you!

[2017-03-01 08:34] SabotageAndi commented on #791
@jmb-mage The size of your project is no problem.
I have a project with about 9000 scenarios and a lot of more stepfiles.

The Visual Studio Integration caches some data in the %TEMP% directory with name specflow-stepmap-*.cache.
Try to delete the files. After opening the solution again, this caches should be regenerated.

Additionally you can enable tracing in the options:
![image](https://cloud.

[2017-03-01 08:37] SabotageAndi commented on #792
@StarWars999123 yes, this error message is not helping.

Some of the errors come from the Gherkin parser (https://github.com/cucumber/gherkin/tree/master/dotnet/), some from us.

If you want to improve the error message on your own, the entry point for that is here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Parser/SpecFlowGherkinParser.cs#L150

[2017-03-01 08:39] SabotageAndi commented on #794
I think there is no such event to intercept.
Probably the whole stuff has to be done in a Resharper AddIn and not in the VS Integration.

[2017-03-01 08:39] SabotageAndi commented on #796
Could you provide a repo project for that please?
Thanks!

[2017-03-01 08:40] SabotageAndi commented on #783
Issue solved => Closed

[2017-03-01 08:40] #783 closed

[2017-03-01 08:43] SabotageAndi commented on #781
@georgeonofrei
Which SpecFlow version are you using?
Could you provide us the whole feature file as file?

Do you have additional SpecFlow plugins in use? AFAIK The TestPropertyAttribute("Parameter:url", "....") stuff is not stock SpecFlow .

[2017-03-01 08:57] SabotageAndi commented on #780
So this is solved for you with the  2.2.0-preview20161020 version?
If yes, please close the issue.

[2017-03-01 08:59] SabotageAndi commented on #782
@farningsmark Could you send a PR with a failing test for this case?
The Feature File for that would be here: https://github.com/techtalk/SpecFlow/blob/master/Tests/TechTalk.SpecFlow.Specs/Features/Reports/StepDefinitionReport.feature

Thanks!

[2017-03-01 09:07] SabotageAndi commented on #770
Closed because of inactivity

[2017-03-01 09:07] #770 closed

[2017-03-01 09:08] SabotageAndi commented on #761
Issue solved => closed

[2017-03-01 09:08] #761 closed

[2017-03-01 09:51] tenebrarum118 commented on #790
Thank you for your reply. Let me provide context, may be you will give me an advice how I can achieve my goals using current version:

I have a lot of bindings working with primitive UI controls like buttons, text blocks and so on. Than I have a set of UI maps like
- button UI map = ButtonUIMap class
- text block UI map = TextBlockUIMap class
and so on...

All these maps are implementing proper fu

[2017-03-01 12:33] Autom8edChaos commented on #780
I'll keep an eye on it, but close it for now.

[2017-03-01 12:33] #780 closed

[2017-03-03 18:57] delie84 opened #799 "SpecRun Test Thread Aborted, cannot be used for communication because it is in the Faulted state"
Currently running Visual Studio 2015 (update 3) with:
SpecRun 1.2
SpecRun.SpecFlow 1.2
SpecFlow 1.9
Selenium WebDriver 3.0.1
Selenium ChromeDriver 2.27

I'm running approx 200 tests on Docker-Based Selenium Grid, and been hitting the following issue:

Execution framework error: TechTalk.SpecRun.Framework.SpecRunException: At least one test thread aborted. ---> System.ServiceModel.CommunicationObje

[2017-03-03 19:16] SabotageAndi commented on #799
Which testThreadIsolation do you have configured?
Does this happen with the latest version of the SpecFlow+Runner?

[2017-03-03 19:52] delie84 commented on #799
In the SpecRunTestProfile.xsd,

I see the following:
    <xs:attribute name="testThreadIsolation" type="TestThreadIsolation" use="optional" default="AppDomain" />

Since I purchased a previous version of SpecRun/Specflow, upgrading will disable the full version.

[2017-03-03 19:59] SabotageAndi commented on #799
The xsd is only the schema.
The configuration for the testThreadIsolation happens in the *.srProfile files.

[2017-03-03 20:11] delie84 commented on #799
Yup, I'm using Process:

  <Environment testThreadIsolation="AppDomain" />

[2017-03-03 21:22] SabotageAndi commented on #799
Ok, it looks like the runner can not start the execution processes. Have a look if there are some processes name starting with _TechTalk.SpecRun.Framework.Executor_ are started when you execute the tests.

Does the execution work, if you start the tests with the runtests.cmd?

Sometimes the Visual Studio Test Adapter cache may also get corrupted, causing tests to not be displayed or errors during

[2017-03-03 22:28] delie84 commented on #799
Hey bud I think I finally solved it.

This was NOT related to specRun or Specflow. However, it was related to Docker.

The way I solved it was, I added the following environment to the docker container and it seems to resolve it.

environment:
    - DBUS_SESSION_BUS_ADDRESS=/dev/null

[2017-03-04 01:17] #799 closed

[2017-03-06 20:47] felixcen opened #800 "SharpZipLib under GPL license"
Hi,

I downloaded the Specflow source and saw the dependency SharpZipLib is under GPL license.  I do believe this might be a license violation.

Can you please upgrade the library to the latest version as it was released in MIT?

More information:
https://github.com/icsharpcode/SharpZipLib/issues/103
http://community.icsharpcode.net/search/SearchResults.aspx?q=gb&s=12&PageIndex=341
https://icsharp

[2017-03-06 21:24] SabotageAndi commented on #800
Do you mean: https://github.com/techtalk/SpecFlow/blob/master/lib/MSBuildCommunityTasks/ICSharpCode.SharpZipLib.dll ?
This is part of the MSBuildCommunityTasks which are probably used in our build process, but AFAIK not used in the SpecFlow code itself.

Perhaps the MSBuildCommunityTasks have a problem with the license, because it is licensed under a 2clause BSD (https://github.com/loresoft/msbuil

[2017-03-07 08:44] SabotageAndi commented on #800
MSBuildCommunityTasks are updated and latest version does not use SharpZipLib anymore.
ICSharpCode.SharpZipLib.dll is deleted from code.

As I didn't find anything else related to SharpZipLib, I am closing this issue.

Thanks for pointing this issue out.

[2017-03-07 08:44] #800 closed

[2017-03-07 10:55] pnancy opened #802 "senario outline gets executed only when i have valid input data and ignore the rest."
In our feature file, we have scenario outline with examples ( default we are given say 50 inputs). but all 50 wont be used may be only 5 may have valid data.

How can i write my test steps in such a way that senario gets executed only when i have valid input data and ignore the rest.

Example:

Scenario Outline: Verify Properties
		Given Test...
		When User selects "<SLCaddress_Communicator_SetUp_

[2017-03-07 13:26] felixcen commented on #800
@SabotageAndi

Glad to hear that it's been updated, and thanks a lot for asssisting.

[2017-03-07 15:39] SamJongenelen commented on #435
Same here, does not work. Set Test Runner Tool to Resharper doesn't work.
Setting to VS 2012 works.

[2017-03-07 15:42] SamJongenelen commented on #477
Hey guys, any outcome? This is really annoying :)

[2017-03-08 09:17] SabotageAndi commented on #477
Sadly not. I think the conclusion was that we would need a Resharper Extension to solve this.

[2017-03-08 10:17] SamJongenelen commented on #477
I would be willing to report this to the R# team. However, I'm unsure what to specify. Could somebody elaborate?

[2017-03-08 17:44] kappa10j commented on #482
Will this fix be released?  I'm seeing it too.

[2017-03-09 13:13] georgeonofrei commented on #781
@SabotageAndi
I have a .NET core application with:
dependencies: "SpecFlow": "2.1.0"
tools: "SpecFlow.NetCore": "1.0.0-rc7"

Feature file that gives error:
[code]
Generated file with errors:
[code]

Initially I thought that changing the scenario name fixed the issue (as applying this workaround prevented errors), but it seems that for these examples the renaming does not help with anything.

Thank

[2017-03-10 02:44] icnocop opened #803 "Add support for MsTest's DeploymentItemAttribute"
Hi.

I'd like to request the ability to support MsTest's DeploymentItemAttribute.

For example, I'd like to be able to declare the DeploymentItemAttribute on a SpecFlow hook class and have that emitted in the generated test class:

DeploymentItem.feature:
[code]

FileSteps.cs:
[code]

In this example and ideally, any scenario that uses a step (or has a tag) defined within a class that has the `Dep

[2017-03-10 03:33] icnocop opened #804 "Add support for accessing MSTest's TestContext within a step"
Hi.

I'd like to request the ability to access MSTest's TestContext within a step so that I can add a test result file for example.

For example, I'd like to be able to get the TestContext from the FeatureContext:

AddTestResultFile.feature:
[code]

TestContextSteps.cs:
[code]

Thank you.

[2017-03-10 08:30] samholder commented on #477
@SamJongenelen maybe you could just point them in the direction of this thread. @citizenmatt is a resharper evangelist and did have a look at this issue previously I think, but I don't think anything came of it.

[2017-03-10 18:37] jmb-mage commented on #791
I enabled the SpecFlow output tracing.  The most recent entries are:

[code]

At which point the Generator was apparently disposed.  I was in Visual Studio at the time, looking at a feature file which went from the beautiful syntax coloring to a bunch of bold text as that happened.

Now pressing F12 on a step yields this error:
![gherkindisposed](https://cloud.githubusercontent.com/assets/4942457/

[2017-03-11 09:40] SamJongenelen commented on #477
OK, thank you

[2017-03-11 18:19] SamJongenelen commented on #794
OK. I'll close

[2017-03-11 18:19] #794 closed

[2017-03-12 19:16] domtheluck opened #806 "Get the number of step in each scenario before execution"
Hi,

I want to know if there is a way to get the number of step in each scenario before executing a feature because I didn't find anything so far.

It could be really useful to report the execution progress on a more granular level.

Thanks

[2017-03-14 01:05] Lavinski opened #808 "Better FSharp support"
The documentation for FSharp states the following:

[code]

It would be ideal to avoid the second project.

[2017-03-14 10:51] MonoAutomation opened #809 "Specflow step generation getting failed"
Hello,

I have added specflow 2.1.0, Specflow for vs 2013 and nunit 3.6.1 as references, after i created a new feature file i have tried to create step generation (Right click and select "Step Generation") but it couldn't generate any steps and not throwing any error.

is there any fix or work around?

what i have done from my side, deleted all %temp%,and cleared bin/debug after closing VS2013 and

[2017-03-14 11:03] SabotageAndi commented on #809
Did you followed the "Getting Started" on the website? http://specflow.org/getting-started/

[2017-03-14 11:13] SabotageAndi commented on #808
As long as we are depending on code behind files, this is currently the only option.
This is, because we have no generator for the code-behind files for F# at the moment.

The Generator source is found here: https://github.com/techtalk/SpecFlow/tree/master/TechTalk.SpecFlow.Generator

As I am also a big fan of F#, I also want to see better support for it, so if you would need some help or guidance

[2017-03-14 11:14] MonoAutomation commented on #809
Yes, followed and 2 days back i have added a feature and step. but today i have deleted then which i have added(sample features)then tried to create  new feature files...but failed to generate steps for that feature.

[2017-03-14 16:33] LirazShay opened #810 "When generating step definition regex for int argument, use (\d+) instead of (.*)"
Currently, if I have step like this:

Then the suggested step definition is:

This regex will match every set of characters, not only numbers for example the step:

will also be mapped to that method and will crash on runtime

I know that you might think that it is better to allow by default also strings as parameter and then parse them at run time,
But as I see from my usage, I never, ever used t

[2017-03-14 16:51] dirkrombauts commented on #810
It's been my experience that when I write `When I type dasdsadas into the calculator` with this binding:

Then the error information is more useful ("cannot convert to int" or words to that effect) than the error information I receive when using `(\d+)` in the binding ("no binding found" or similar). What is your experience here?

I know it a binding with (.*) will match anything, including asdf,

[2017-03-15 07:23] tenebrarum118 commented on #790
Any updates?

[2017-03-15 07:31] tenebrarum118 opened #813 "Feature request: Composite binding generator"
Right now there are methods in Step class which allows to call one binding from another. It is great feature and it will be really great if SpecFlow will have it a little bit extended:

I want to have some kind of "special" feature file which generation output will be not test but composite binding like this:

Gherkin
`Binding: When user clicks on <button>`
`    When user hovers mouse over <button

[2017-03-15 16:24] SabotageAndi commented on #810
@LirazShay The code for this generation is here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/BindingSkeletons/StepDefinitionSkeletonProvider.cs
But the SpecFlow Visual Studio Integration is using the SpecFlow 1.9 implementation of this class.
Until this is updated (which is a huge work) the behavior of the generation will not change.

[2017-03-15 16:27] SabotageAndi commented on #813
So you want to define the composite binding in Gherkin and not in the code? Do I understand you correct?

[2017-03-15 16:28] SabotageAndi commented on #809
Could you post some screenshots/video of what happens?
Currently I have no idea what could be the problem.

[2017-03-15 16:45] tenebrarum118 commented on #813
Exactly. I am not sure, that feature files with scenarios is a right place because from my point of view bindings composition should be treated as middle-level aggregate operation. I think it will be great to have dedicated files with Gherkin for this.

[2017-03-15 19:01] jjzgithub commented on #358
Hmm.. mine was a mistake in that I converted a method into a [TestMethod] not checking for the following constraints reported in the output window:
Test method marked with the [TestMethod] attribute must be non-static, public, return-type as void  and should not take any parameter. Example: public void Test.Class1.Test(). Additionally, return-type must be Task if you are running async unit tests.

[2017-03-16 09:59] #715 closed

[2017-03-16 10:17] gasparnagy commented on #810
@LirazShay As @dirkrombauts mentioned, in the majority of the cases, using the general regex (`.*`) makes the mistakes better discoverable. Also if you use the general regex, you can later on enhance the conversion with `[StepArgumentTransformation]`, e.g. you can support values like "I wait for one second".

Please be careful. The regular expression `\d+` is not a proper a representation of an in

[2017-03-16 17:19] LirazShay commented on #810
@dirkrombauts
Maybe you right that the error information is more useful ("cannot convert to int" instead of "no binding found")
but why to see that error only at runtime, not when writing the tests?
if the regex include (\d+) then you will see it when you write the step and like compile time error that saves a lot of time by showing you the errors before running the code.
So even it seems more rea

[2017-03-16 19:15] gasparnagy commented on #810
@LirazShay regarding the error message, the best would be to have an error message that tells which step definition is applied and failed editing-time. This is not possible currently, so you have to make a compromise. Either 1) you get the error message runtime or 2) you get a very generic error message (no matching step definition, without even a guess to the related step def) editing-time. Since

[2017-03-16 22:59] Katulus opened #814 "Support binding inheritance or fix VS IntelliSense for external assemblies"
Hello,
I'm trying to use SpecFlow to test product on two levels - API and UI. I have one set of Features for both API and UI tests and three assemblies,`Product.Tests.SharedSteps.dll`, `Product.Tests.API.dll` and `Product.Tests.UI.dll`. What I'm trying to achieve is to have an abstract class in `Product.Tests.SharedSteps.dll` defining steps on API level such as:
[code]
Then in `Product.Tests.API.d

[2017-03-18 03:06] icnocop opened #815 "Method 'Initialize' in type 'x' from assembly 'y' does not have an implementation."
Hi.

If building two solutions on the command line in the same process (ex. during a CI build), the first solution uses SpecFlow 2.1, and the second solution uses SpecFlow 2.0 (with a custom generator plugin), then I get the following error:
`\packages\SpecFlow.2.0.0\tools\TechTalk.SpecFlow.targets(47,5): error : Method 'Initialize' in type 'SpecBind.Plugin.SpecBindGeneratorPlugin' from assembly '

[2017-03-19 10:45] LirazShay commented on #810
@gasparnagy
Thanks for your answer!
I'm sorry, but I still don't understand.
If someone is writing the Features in another tool on in Visual Studio, then the only way you find out if the scenario is OK is by running the tests so the current message is better.
But we're talking when writing the scenarios in Visual Studio with your great extension, so I and most of the users use the auto-completion

[2017-03-19 15:20] godrose commented on #796
@SabotageAndi
1. Checkout https://github.com/LogoFX/Samples.Specifications.git
2.  Open the LogoFX.Samples.Specifications.sln file.
3. Select the 'DebugWithFake' build configuration.
4. Update xUnit packages to 2.2.0 version.
5, Run any scenario.

[2017-03-20 23:12] samholder commented on #790
Maybe you could try creating a pull request for this functionality, and it
could be reviewed then. I don't see anything fundamentally unacceptable
about this...

On Wed, Mar 15, 2017 at 7:23 AM, tenebrarum118 <notifications@github.com>
wrote:

[2017-03-20 23:17] samholder commented on #804
I think there are a few options:

http://stackoverflow.com/questions/12218020/specflow-classinitialize-and-testcontext

https://www.nuget.org/packages/TalentAgile.Specflow.TestContextInjector/

https://codealoc.wordpress.com/2013/09/30/bdding-with-specflow/

On Fri, Mar 10, 2017 at 3:33 AM, Rami <notifications@github.com> wrote:

[2017-03-20 23:20] samholder commented on #803
the generated test class is partial, so you can add another partial class
which has the [DeploymentItem] attribute on it and it can happily sit
alongside the generated class, and won't be affected when the class is
regenerated.

On Fri, Mar 10, 2017 at 2:44 AM, Rami <notifications@github.com> wrote:

[2017-03-21 01:41] icnocop commented on #803
Thank you, @samholder.

That's what I'm currently doing and with the changes in my pull request, deploying files will be even easier. 😃

[2017-03-22 08:38] webbdan opened #816 "Speflow+ Runner reports pending steps as success"
If I have a Feature with bound steps, but all steps throw a pending exception (either through ScenarioContent.Current.Pending or explicit throw new ...) then the Runner reports this step as a success and all other steps as skipped.

This creates a problem in the reporting, as the first step is therefore always marked as success and others as skipped, rather than the first step as pending.

[2017-03-22 08:54] SabotageAndi commented on #816
Which version of the SpecFlow+Runner are you using?
How are you executing the tests? In Visual Studio, in a TFS build or on the command line?

[2017-03-22 08:58] webbdan commented on #816
Runner is v 1.5.2
Running from VS and from TeamCity via command line with same results

[2017-03-22 09:15] webbdan commented on #816
Steps | Trace | Result
------|-------|-------
Given that a customer has a logged in session|pending: LogOutACustomerAccountSteps.GivenThatACustomerHasALoggedInSession()|Succeeded in 0.033s

[2017-03-22 09:15] webbdan commented on #816
Just checked with latest pre-release as well

[2017-03-22 10:11] SabotageAndi commented on #816
And what is the result of the whole scenario?

[2017-03-22 10:26] webbdan commented on #816
Scenario is correctly marked as Pending

[2017-03-22 10:29] SabotageAndi commented on #816
Ok, so it's only the result for the single steps. The overall result is correct.
I will have a look at it in the next days.

[2017-03-23 14:43] PWithaarImproveQS opened #817 "Specflow+Runner Specrun doesn't support TestRunParameters"
Specflow+Runner Specrun doesn't support TFS 2015 Secret Variables:

In a TFS 2015 build definition it's possible to set Variables. These variables are also set as environment variabeles on the agent, and so usable in Specflow / Specrun tests.

[https://www.visualstudio.com/en-us/docs/build/define/variables](https://www.visualstudio.com/en-us/docs/build/define/variables)

TFS 2015 also supports Sec

[2017-03-23 15:23] SabotageAndi commented on #817
The TestContext is MsTest specific, so it does not exists when the scenarios are executed by the SpecFlow+Runner.
But I will think about a way to get this parameters available if you are executing the scenarios with the SpecFlow+Runner.

[2017-03-23 15:48] PWithaarImproveQS commented on #817
Agree, if the parameters are available that would be great. I don't know the implementation from TFS while overriding the TestRunParameters, but somehow getting that (secret) variabeles from TFS into Specrun would be a great addition.

[2017-03-24 08:50] tenebrarum118 commented on #790
Thank you, I will try.

[2017-03-25 18:41] samholder commented on #813
Specflow is not the place for this to be requested. This is something that
needs to be added to gherkin first so you should add a feature request
there I think

On Wed, Mar 15, 2017 at 4:45 PM, tenebrarum118 <notifications@github.com>
wrote:

[2017-03-25 18:44] samholder commented on #806
No there is no way to get the total number of steps at the moment. I don't
think anyone would be against adding this functionality if you wanted to
submit a pr

On Sun, Mar 12, 2017 at 7:16 PM, Dominik Lachance <notifications@github.com>
wrote:

[2017-03-27 01:07] ChristopherHaws opened #818 "[Discussion] Generator Plugin Discovery"
Hello,

I wanted to open up a discussion around how the process of plugin discovery could be simplified in future versions of SpecFlow. This is in regards to PR https://github.com/techtalk/SpecFlow/pull/807 where we were discussing some issues regarding selecting the correct version of a generator plugin.

# Current high level plugin discovery process
1) Get the `plugin-name` from the `app.config`

[2017-03-27 20:39] SabotageAndi commented on #818
@ChristopherHaws Thanks for the writing the information together and thinking about alternative methods.
Currently I have a lot of other work to do, but I should have time to think about it and give feedback next week.

[2017-03-28 02:21] JasonArm opened #819 "ExampleTags not included in NUnit rowtest TestCaseAttribute"
Given the following feature spec:
` @TokenApi`
`Scenario Outline: Get the new Token`
`       Given I have an existing <isExternal> object`
`       When I make a Get request to get the token`
`       Then an <status> status should be returned`
` `
`@test1Tag`
`Examples:`
`| isExternal | status   |`
`| true       | OK       |`
` `
`@test2Tag`
`Examples:`
`| isExternal| status   |`
`| false     | Not

[2017-03-28 10:07] orifn1 commented on #449
If I make like this:
@cat1
Examples:
| input |
| cat1 |

@cat2
Examples:
| input |
| cat2 |

and then edit Default.srprofile:
......................................
<Targets>
    <Target name="T1">
      <Filter>
            @cat1 | @cat2
      </Filter>
    </Target>
........................................
</Targets>

then build project. I can`t run this scenario - it disappear in Test Explorer

[2017-03-28 14:50] HowardvanRooijen opened #820 "Feature File codebehinds not being generated in VS2017"
Hi,

we have some new 4.5.2 projects using the new CSPROJ file format in VS2017 and we're having a few issues with feature files.

- adding a new feature file to a project doesn't add the SpecFlow custom tool property
- manually adding the custom tool property doesn't cause the code behind to be generated
- running "regenerate feature files" context menu action at the project level does nothing
-

[2017-03-29 07:29] orifn1 opened #821 "Tag above example in Scenario and *.srprofile don`t work"
If I make like this:

[code]

and then edit Default.srprofile:
[code]
Then rebuild project.

 **I can`t run this scenario - this scenarios don`t appear in Test Explorer window in Visual Studio 15**
Use SpecFlow v.2.1.0, SpecRun v.1.5.2

If run:

**specrun run Default.srprofile**

Result:
Total: 0
Succeeded: 0
Ignored: 0
Pending: 0
Skipped: 0
Failed: 0

**How I can fix that?**

[2017-03-29 08:13] SabotageAndi commented on #821
Your tags are named @test1 and @test2 but you are filtering for @cat1 or @cat2.
Your filter should look like:

[code]

[2017-03-29 08:26] orifn1 commented on #821
Sorry it misprint, when I created Issue. Fixed. Result don`t change)

[2017-03-29 08:32] SabotageAndi commented on #821
Interessting. Is it possible that you post the complete scenario and srProfile?

[2017-03-29 08:45] orifn1 commented on #821
`Feature: Eulas Prepare

Scenario Outline: Eulas Prepare
	Given For create type 'eula' with value '<name>' and scenario parameters:
	| name      | isActive     |
	| <name> | <isActive> |

	When  Prepare parameters for '/xxx/xxx/signIn' request:
	| login                        | password   | remember me |
	| xxxxxxxxxxxxxxxxxxx | xxxxxxxxxx | false       |
	When  Send request to 'user' portal to pa

[2017-03-29 10:04] pleveill commented on #820
On my side, I have the same. Even from command line I get this error.

The tools version "15.0" is unrecognized. Available tools versions are "14.0", "2.0", "3.5", "4.0".

The csproj file is from vs2017 and then start with
<?xml version="1.0" encoding="utf-8"?>
<Project **ToolsVersion="15.0"** DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>

[2017-03-29 10:42] SabotageAndi commented on #820
We currently do not support the new project system.
You could try our MSBuild integration (http://specflow.org/documentation/Generate-Tests-from-MsBuild/) for generating the code behind files. But I am not sure that this works. I didn't have time yet to test this.

[2017-03-29 11:18] HowardvanRooijen commented on #820
Thanks for the workaround - is supporting the new project system in your backlog / something you're actively working on - or do you need some help to make it happen?

[2017-03-30 16:33] lukefan6 commented on #404
Hey guys I found out that this issue still exist in SpecFlow v2.1.0
But both this issue and related PR #371 are closed.
Shall we reopen this issue? Cuz I agree with @stevozilik that this seems to be a bug and would be very appreciated if it got fixed.

Any thoughts @gasparnagy @SabotageAndi ?

[2017-03-30 17:58] SabotageAndi commented on #404
@lukefan6 Could you provide a PR with some failing tests?
We could then look if the changes of #371 would still fix the behaviour.

[2017-03-31 02:03] lukefan6 commented on #404
@SabotageAndi Here's a quick example that I was actually using:
[code]
In the feature file, I tried to leave the `Status` column blank, hoping it would be translated to `null`
[code]
But in the step definition, calling create instance resulted in an exception:
[code]

![image](https://cloud.githubusercontent.com/assets/8968212/24533267/280cdd3c-15f9-11e7-8a04-a7193f3450b9.png)

I believe the infor

[2017-03-31 12:48] SabotageAndi commented on #404
I made a PR with some unit tests. Let's continue the discussion there: https://github.com/techtalk/SpecFlow/pull/822

[2017-04-03 10:56] SabotageAndi opened #823 "[.NETCore] Replace NUnit with XUnit/MsTest v2"
As of today, NUnit does not support .NET Core/ .NET Standard and the new project system.
See: https://github.com/nunit/dotnet-test-nunit/issues/91

Currently XUnit and MsTest V2 has support for it.

This change can be made ASAP.

[2017-04-03 11:43] SabotageAndi opened #824 "[.NETCore] Code- generation can not use CodeDom anymore"
As of today, the code generation of the code- behind files is done with CodeDom (https://msdn.microsoft.com/en-us/library/y2k85ax6(v=vs.110).aspx).
CodeDom is not available in .NET Standard and is already a real old technology.

Entrypoint is `TechTalk.SpecFlow.Generator.UnitTestFeatureGenerator.cs`

# Possible alternatives
## Replace CodeDom with something complete self- written

Pros:
- better c

[2017-04-03 11:58] SabotageAndi opened #825 "[.NETCore] Configuration Support via Json"
AFAIK .NET Standard prior 2.0 can not use app.config out of the box.
Additionally a configuration that is not done in the app.config in XML but in Json would be useful in some usage scenarios.

The work is done in PR https://github.com/techtalk/SpecFlow/pull/690

[2017-04-03 12:02] SabotageAndi opened #826 "[.NETCore] Runtime works in .NET Standard 1.4/1.6"
Runtime is compileable in .NET 4.5 and .NET Standard 1.4/1.6
Runtime tests are passing for both frameworks.

affected Assemblies:
- TechTalk.SpecFlow.dll
- TechTalk.SpecFlow.RuntimeTests

Can be done after PR https://github.com/techtalk/SpecFlow/pull/649

[2017-04-03 12:15] SabotageAndi opened #827 "[.NETCore] Generator & Reports works in .NET Standard 1.4/1.6"
Generators and Reporting are compileable in .NET 4.5 and .NET Standard 1.4/1.6
Tests are passing for both frameworks.

affected Assemblies:
- TechTalk.SpecFlow.GeneratorTests
- TechTalk.SpecFlow.IntegrationTests
- TechTalk.SpecFlow.Specs
- TechTalk.SpecFlow.Generator
- TechTalk.SpecFlow.Parser
- TechTalk.SpecFlow.Parser.Compatibility
- TechTalk.SpecFlow.Utils
- TechTalk.SpecFlow.Tools
- TechTalk.S

[2017-04-03 13:32] SabotageAndi commented on #820
@HowardvanRooijen Here you find the "backlog" for .NET Core: https://github.com/techtalk/SpecFlow/projects/2

[2017-04-03 13:48] SabotageAndi commented on #818
@ChristopherHaws I adjusted the title of the issue, because it is only related to generator plugins.
We also have Runtime plugins, which are already working like your build artifact suggestions (see https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Plugins/RuntimePluginLoader.cs)

And this would also be my preferred way of handling that. With it, we have the least work in the futu

[2017-04-03 14:07] karlmet commented on #660
Could this issue be prioritized?   I have installed SpecFlow for VS 2015 version **2017.1.6** and this bug is still there…
I cannot recommend **SpecFlow 2.0** to my current client because of this.

Regards,

Karl

[2017-04-03 14:08] SabotageAndi opened #828 "[.NETCore] Update Documentation"
Documentation has to be updated to reflect the made changes.

Known pages to update:

- [ ] http://specflow.org/documentation/Generate-Tests-from-MsBuild/
- [ ] http://specflow.org/documentation/NuGet-Integration/
- [ ] http://specflow.org/documentation/Tools/
- [ ] http://specflow.org/documentation/Reporting/
- [ ] http://specflow.org/documentation/.NET-Support/
- [ ] http://specflow.org/document

[2017-04-03 14:11] Richiban opened #829 "BoDi container throws InvalidOperationException on Dispose"
When I call `Dispose` on my object container in order that it should dispose of every disposable I've registered I get an exception:

Stacktrace:

[code]

This is obviously a bug but, taking a look at https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/BoDi/BoDi.cs, I couldn't spot it.

I've tried to work around it by calling the below:

        [AfterScenario]
        public void A

[2017-04-03 14:12] karlmet commented on #738
Is that why in the reports we don't see **[show]/[hide]** toggle in the html reports for steps details ?

[2017-04-03 14:14] SabotageAndi commented on #829
I assume your object container is yours, not anyone of SpecFlow and it is registered in the ScenarioContainer.
Why do you want to call Dispose on your containert? The ScenarioContainer calls it at the end of the test.

[2017-04-03 14:20] Richiban commented on #829
@SabotageAndi

I'm not quite sure what you mean, but I'm not instantiating the container myself, nor is it a class that I've written.

I'm calling `Dispose` myself because, if I don't, my Disposable classes don't get cleaned up at the end of the scenario.

[2017-04-03 14:24] SabotageAndi commented on #660
Sorry to hear that, but we are only a small team of contributors with a limited amount of spare time available.

From the current description I am not sure what is the expected behavior? Is the method skeleton generated wrong? Is the generated code wrong? Is the VS Integration showing something wrong, but the tests are executed without problems.

[2017-04-03 14:25] dirkrombauts commented on #823
What's the preferred provider? XUnit 2 or MSTest?

[2017-04-03 14:26] SabotageAndi commented on #829
How is your called instantiated? Via Constructor injection/BoDi or with new?
If it is instantiated by BoDi and the class implements IDisposable, the Dispose method should be called at the end of the scenario.

Could you provide some code? Perhaps a project where we can reproduce the behavior?

[2017-04-03 14:27] SabotageAndi commented on #823
My preferred one would be XUnit, as MSTest v2 is still not finished AFAIK.

[2017-04-03 14:51] Richiban commented on #829
It's passed in via a constructor in a class with the `[Binding]` attribute.

I have just reproduced the problem with an empty solution; I will put up a repo now.

[2017-04-03 14:53] SabotageAndi commented on #821
Hmm, I can still not reproduce the issue.
Could you send me the specrun.log, that is generated when you execute the runtests.cmd to support@specflow.org. Thanks!

[2017-04-03 14:54] SabotageAndi commented on #813
@samholder is right. This feature needs to be added to the Gherkin standard first, then we can implement it.
You find the project here: https://github.com/cucumber/cucumber

[2017-04-03 14:54] #813 closed

[2017-04-03 14:56] Richiban commented on #829
The repo is available at: https://github.com/Richiban/BoDiDispose

The part where the object registration is performed and the `[BeforeScenario]` and `[AfterScenario]` methods live is in:
https://github.com/Richiban/BoDiDispose/blob/master/SpecflowTest/Registration.cs

[2017-04-03 16:03] ChristopherHaws commented on #818
@SabotageAndi Ah, I didn't think about that. It's a classic chicken and the egg problem. The generator library won't be in a clean bin/obj directory until you build, but if you build before the generator assembly is in the bin/obj directory, your test library won't have any generated tests in it. This would be an issue with the VS approach also, since you would have to build before you could save

[2017-04-03 16:45] Richiban commented on #829
@SabotageAndi are you able to observe the issue?

[2017-04-03 16:47] karlmet commented on #660
It is exactly as described by @ggingras in this issue. When we are using these particular words in a French feature file, **Que and Qu'**, SpecFlow seems to forget them in the generated code and the steps are not correctly binded. The tests results are "No matching step definition found for one or more steps".

If I remove the words that provoke this problem, everything is fine.

I can also tell y

[2017-04-04 07:31] SabotageAndi commented on #816
I have looked at this issue and I can reproduce it.

[2017-04-04 10:40] LirazShay commented on #738
@karlmet
Indeed, we are talking about that text that is shown in the [show]/[hide] toggle
But if you don't see this data at all that means you're not using the correct arguments.
Are you using nunit 3?

[2017-04-04 13:13] orifn1 commented on #821
I use specflow, no specflow+.
Could this be the reason?

Thanks!

2017-04-03 17:53 GMT+03:00 Andreas Willich <notifications@github.com>:

[2017-04-04 13:18] SabotageAndi commented on #821
SpecRun = SpecFlow+Runner
Which unitTestProvider is configured in your app.config?

[2017-04-04 14:14] orifn1 commented on #821
<specFlow>
    <trace stepDefinitionSkeletonStyle="RegexAttribute"
traceSuccessfulSteps="false" />
    <runtime stopAtFirstError="true" />
    <unitTestProvider name="*NUnit*" />
  </specFlow>

2017-04-04 16:18 GMT+03:00 Andreas Willich <notifications@github.com>:

[2017-04-04 15:20] SabotageAndi commented on #821
Ok, you are using NUnit. Do you want to use NUnit or the SpecFlow+Runner?
You wrote that you are executing the tests with `specrun run Default.srProfile`. This is the SpecFlow+Runner. But because you have configured NUnit, it does not find the tests.
The Default.srProfile is the configuration for the SpecFlow+Runner.

[2017-04-05 00:48] Lavinski commented on #575
Are there any updates as to where this issue is at?

[2017-04-05 06:53] avonwyss commented on #575
@Lavinski There is [a pull request by me from August 2016](https://github.com/techtalk/SpecFlow/pull/689) and [an update to resolve merge conflicts](https://github.com/techtalk/SpecFlow/pull/788) by @Lashas83 in February. Apparently @samholder wanted to add some additional tests but that didn't happen until now. Maybe you want to contribute some?

[2017-04-05 09:33] orifn1 commented on #821
Your are right. Thanks for answer and help!
I will close issue.
May be need describe this in documentation, because all other tags I
customize in Default.srProfile and VS 2015 make all changes(in Tests
Explorer panel)

Sorry for my English)

2017-04-04 18:20 GMT+03:00 Andreas Willich <notifications@github.com>:

[2017-04-05 09:34] orifn1 commented on #821
Thanks for help.
It work.

[2017-04-05 09:34] #821 closed

[2017-04-05 13:48] karlmet commented on #738
I did try both NUnit2 and NUnit3 with Specflow2 and I have the same results. Even xUnit has the same problem, but it's no surprise since he must produce a nunit format for the test results.

Only MS-Test seems to produce the report correctly with the [show]/[hide] toggle included. So, something seems to be wrong with the Specflow 2.0 report and the NUnit test results format.

[2017-04-05 15:47] SabotageAndi opened #830 "#ToDo in Feature File in Todo- Explorer/Task- View visible"
If I have a #Todo comment in a Gherkin file, it would be nice to see the entry in the Resharper Todo- Explorer or/and in the Visual Studio Task View.

# Implementation information:
Should be implemented in the Visual Studio Extension - https://github.com/techtalk/SpecFlow.VisualStudio

It could be, that it is not possible to implement this feature, because of missing extension points in Visual Stu

[2017-04-06 06:32] SabotageAndi commented on #829
@Richiban yes, I can reproduce the issue with your repo.

@gasparnagy Could you have a look at this? Did I understand the behavior of BoDi wrong or is there a bug?

[2017-04-06 11:52] SabotageAndi commented on #809
Closed because of no new information.
Please reopen it, when you provide them.

[2017-04-06 11:52] #809 closed

[2017-04-06 11:54] SabotageAndi commented on #784
Closed because of no new information.
Please reopen it, when you provide them.

[2017-04-06 11:54] #784 closed

[2017-04-07 12:28] gantrior opened #831 "VisualStudio extensions fails to load plugin which has "parameters""
Hi, when I have custom plugin and load in in app.config like:
[code]
it will stop loading stepAssemblies and probably other stuff, since it starts throwing into trace log:
[code]

plugin parameters works correctly at runtime and correctly fill `RuntimePluginParameters runtimePluginParameters`, only VS extensions have problem processing that.

Am I missing something?

[2017-04-07 12:34] SabotageAndi commented on #831
You are using the 2.2-preview of SpecFlow, or?

[2017-04-07 22:46] ronin1 commented on #823
Oh man... about 20% of our tests are in NUnit. Luckily 80% are in XUnit. However, to port that 20% will take us weeks with no real gain for product improvements.  The tests that are written in NUnit uses NUnit specific features that are not available in XUnit.

Is there any chance NUnit will work again? I understand that it is an external product to .NET Core but it was once the defactor standard