[2017-04-10 21:22] ramiabughazaleh commented on #829
This is by design.

In order to automatically dispose the registered instance, set the `dispose` parameter to `true`:

`_objectContainer.RegisterInstanceAs(new MyDisposable(), dispose: true);`

[2017-04-11 10:56] SabotageAndi commented on #829
@ramiabughazaleh Thanks for the information. I wasn't aware of this parameter.
@Richiban after changing your repo, it is calling your Dispose method.

[2017-04-11 11:17] SabotageAndi commented on #831
@gantrior I had a look at this.
You are not missing something. We didn't adapt the VS Extension as we added the parameters for plugins.
We have to fix this.

[2017-04-11 11:22] Richiban commented on #829
@ramiabughazaleh @SabotageAndi Thank you, this should solve the issue.

As a side note, I'm still curious as to why calling Dispose on the container throws an Exception?

[2017-04-11 11:47] SabotageAndi commented on #815
We changed the plugin infrastructure from SpecFlow 2.0 to 2.1.
SpecBind implements the 2.0 interface and not 2.1.

[2017-04-11 15:17] ErikStroeken commented on #638
Good afternoon. Since my last chat in august 2016 only a prerelease 'v2.2.0-preview20161020' appeared. Are you planning to have an official release or is the product not being developed any further? Shall we install the preview?

[2017-04-11 15:24] SabotageAndi commented on #638
You can install the preview without problem.
Or if you need newer binaries, you can use the CI- NuGet Feed: https://ci.appveyor.com/nuget/specflow-ci
We are currently working on a release of 2.2 in the next weeks.

[2017-04-11 17:26] icnocop commented on #815
Right, but I'm building two different solutions that successfully build on their own, but not within the same build project.
It seems SpecFlow 2.1 is being re-used from the first solution/project to build the second solution/project which is unexpected.

[2017-04-11 17:33] SabotageAndi commented on #815
What do you mean with same build project?
Are they in the same folder structure and are sharing the same packages folder?

[2017-04-11 18:33] icnocop commented on #815
The two solutions are built using the same msbuild project (`build.proj` in the sample zip file in the original post).
The two solutions don't share the same packages folder.

![image](https://cloud.githubusercontent.com/assets/507649/24924725/a25762ec-1eaa-11e7-92a2-fd434b7f4296.png)

[2017-04-11 20:31] icnocop commented on #815
It seems the problem is the result of the `GenerateAll` SpecFlow MSBuild task inheriting from `Task`.

A solution could be to inherit from `AppDomainIsolatedTask` instead.

However, this may affect the performance as described here: http://simoncropp.com/theproblemwithappdomainisolatedtask

[2017-04-12 02:36] icnocop commented on #829
This is a bug in BoDi.cs.

[2017-04-12 03:58] ChristopherHaws commented on #818
@SabotageAndi What if instead of trying to locate the generators, they had to tell the project where they were located. This could be done via a simple `.props` file included with the generators. We could avoid this being a breaking change for existing generators by falling back on the old way of locating generators until a major version change.

This avoids all the mess of caring about versions,

[2017-04-12 04:28] ChristopherHaws commented on #824
What if we use Roslyn here? The gherkin could be converted into syntax trees and then generators could implement their own emitters for the gherkin syntax trees. Would be really cool if it were possible to emit IL directly into the assembly, but I'm not sure if that is possible with Roslyn alone.

[2017-04-12 09:46] upalinandy commented on #713
@SabotageAndi  Nope it got resolved, Thank you!

[2017-04-12 15:11] SabotageAndi commented on #791
@jmb-mage Is this error happening for you in every project with SpecFlow?
Does it also happen if you open an example from us? They are here: https://github.com/techtalk/SpecFlow.Plus.Examples

If not, could you provide more information about your solution and the configuration of SpecFlow?

[2017-04-12 20:10] jmb-mage commented on #791
The https://github.com/techtalk/SpecFlow.Plus.Examples worked with SpecFlow Bindings no problem.

What kind of information from the Solution do you want?

I provided some in the post above.  We are are now up to
244 tests
49 Feature files - 10,248 lines of C#
50 Step files - 10,039 lines of C#
24 Page files - 3,729 lines of C#

Settings:
![specflowsettings](https://cloud.githubusercontent.com/asse

[2017-04-12 23:17] icnocop commented on #803
I created pull request #805, still waiting for it to get accepted/merged. :smile:

[2017-04-13 07:33] SabotageAndi commented on #803
@icnocop Sorry about the delay.
@gasparnagy and I were very busy in the last weeks and didn't had that much time for SpecFlow we would like to have.

[2017-04-13 08:40] SabotageAndi commented on #803
Resolved by #805

[2017-04-13 08:40] #803 closed

[2017-04-13 12:13] upalinandy opened #832 "Visual Studio searches for feature files in wrong path when a specflow solution is cloned from GIT repo into another Windows system"
A specflow C# project is cloned from git, in a path example : C:\Users\abc\Documents\Visual Studio 2015\Projects\Specflowproject , and restores the nuget packages successfully and builds the solution. Now Feature files are located at :
 C:\Users\abc\Documents\Visual Studio 2015\Projects\SpecFramework\SpecFramework\FeatureFiles, however when I run the solution file , it looks for feature file in th

[2017-04-13 23:38] ChristopherHaws opened #833 "Add support for VSTS logging in SpecRun.exe"
Hello,

Currently, specrun.exe has console output for TFS, VS2010 - VS2015, and TeamCity. It would be nice to have a VSTS option which would log using VSTS's format which is:

`##vso[task.loglevel]Message`

So, an example would be:

`##vso[task.debug]Hello World!`

Thanks! :)

[2017-04-14 12:01] SabotageAndi commented on #833
Is there a special reason why you are executing the tests via specrun.exe on TFS?
You can use the Test Step with the SpecFlow+Runner Test Adapter (which is also used in VS). Then the logging is done via the VSTest infrastructure.

Documentation to setup is here: http://specflow.org/plus/documentation/SpecFlowPlus-and-Build-Servers/

[2017-04-14 12:02] SabotageAndi commented on #832
Are you using some third party libraries?
SpecFlow has no fixed paths where it is looking for feature files.

[2017-04-14 13:06] SabotageAndi commented on #791
@jmb-mage I was more thinking about things like:

- If you have the steps and features in the same project
- If you made any changes to the specflow section in the app.config
- Do you have multiple projects with SpecFlow? Do they all use the same version?

Could you compare the examples with your project. Is there something big different (except the size of the project)?

[2017-04-14 13:12] ChristopherHaws commented on #833
We would prefer to use VSTest, but our test suit is has random failures which is common with selenium UI automation testing. Because of this, we have our tests setup to rerun 2 times if there is a failure. With SpecRun.exe we can get the exit code (`430 - RandomlyFailed`) and choose to allow random failure to still be a pass, but VSTest.console.exe returns exit code 1 if there are any failures.

I

[2017-04-14 13:15] jmb-mage commented on #791
_•If you have the steps and features in the same project_
YES

_•If you made any changes to the specflow section in the app.config_
[code]

_•Do you have multiple projects with SpecFlow? Do they all use the same version?_
YES
TEST Project:
[code]

PAGES Project
[code]

[2017-04-14 13:43] SabotageAndi commented on #833
I understand and it makes sense. Nice that you were able to mimic the TRX file with a report template!

I know, that we have in our backlog the feature request, that the build is passed, if the retries were successful.
That should also work then in your situation, or?

I will search for it next week and have a quick look if it is possible to do this with VSTest.

[2017-04-14 13:53] SabotageAndi commented on #818
@ChristopherHaws I had a discussion with @gasparnagy about the generators and the generator plugin loading in the last days.
Long ago we had the idea to scrap the whole code-behind generation and integrate more into the test executors.

@gasparnagy did now a test with XUnit and it looks promising. The code for it is here: https://github.com/gasparnagy/SpecFlow.xUnitAdapter
With the big amount of c

[2017-04-14 13:57] ChristopherHaws commented on #833
That would be fantastic! It would really make our lives a lot easier if it was handled in the test adapter.

Thanks! :)

[2017-04-14 14:02] SabotageAndi commented on #791
Ok, there are 2 places where we throw the exception

https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/LanguageService/GherkinLanguageService.cs#L113
https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/LanguageService/GherkinLanguageService.cs#L251

It could be that this is really a timing issue.
I will try to create next week a big project and try

[2017-04-14 14:13] jmb-mage commented on #791
`TechTalk.SpecFlow.ScenarioInfo scenarioInfo = new TechTalk.SpecFlow.ScenarioInfo` was found 244 times in 42 files
`GivenAttribute` has 198 references
`WhenAttribute` has 219 references
`ThenAttribute` has 406 references

[2017-04-14 15:31] ChristopherHaws commented on #818
@SabotageAndi My only use case is adding support for the latest changes to NuGet where packages can be stored in the global nuget cache, as I am trying to convert our projects to using the new csproj project system and eventually .NET Core. I really like the idea of having no code-gen and having the executor itself read the feature files. This would cut down on the files getting checked in to sour

[2017-04-14 18:26] gasparnagy commented on #818
@ChristopherHaws thx for listing these important aspects.

With the xUnitAdapter approach, the behavior is slightly different, but I think it can be made as good as the code generated one. I encoruage you to play with that plugin or just open the sample from https://github.com/gasparnagy/SpecFlow.xUnitAdapter/tree/master/sample/MyCalculator.

Currently it looks like:

- Debugging Support: not impo

[2017-04-14 18:38] ChristopherHaws commented on #818
@gasparnagy I think that CodeLense support might depend on the extensibility of Roslyn. The most ideal scenario would be that `.feature` files would have a custom parser that generates syntax trees for roslyn which then gets compiled directly into IL, but from what I can see this isn't possible yet. This would have made tooling support simple, since Visual Studio already knows how to use roslyn.

[2017-04-16 13:11] omkarachary commented on #672
Any update on this thread is there a fully functional version of Specflow available for dot net core. PLease replay . waiting your response

[2017-04-16 14:51] SabotageAndi commented on #672
The actual status of the .NET Core support is here: https://github.com/techtalk/SpecFlow/projects/2

[2017-04-17 03:43] milla opened #834 "Support of .net core 1.1~2.0?"
Hi,

Our project now is migrating to .net core 1.1 , during awaiting for 2.0's release, the target framework now still stays with .net 461, and specflow now still works fine. But once .netcore2.0-pre is rolled out, we will need to migrate with target framework from .net461 to .netcore2.0-pre.

So, is there any plan in the near future that SpecFlow.NetCore will support .net core 2.0?

Thanks, Elain

[2017-04-17 09:14] upalinandy commented on #832
this is working fine now

[2017-04-17 09:14] #832 closed

[2017-04-18 00:17] IliaFraedom opened #835 "Call scenario in the step"
Hi Specflow team,

The problem: We needs to call scenario as data setup before our UI tests. But the scenario is huge (~100 steps) and maintained by another team in a different solution.

Our approach: We are referencing they project in our project. And calling this code(and it works in most of the cases):

[code]
Why I dont like this solution: A lot of bugs with this solution, example BeforeScena

[2017-04-18 06:29] sarla2010 commented on #358
I just removed all installed packages and added them again from NuGet gallery. Tests are loaded then in explorer.

[2017-04-18 18:10] dcboycm commented on #556
@xclayl I just ran into a very similar problem when renaming a file. The _solution_ for me was to restart Visual Studio. Now the steps are showing mapped to the appropriate step definitions files.

[2017-04-18 18:13] xclayl commented on #556
Thanks dcboycm. That's what I've been doing too. Thanks for updating the issue.

[2017-04-20 11:43] serialbandicoot opened #836 "TRX Files are generating additional entries for ReTried tests when using VSTest.Console"
I'm using VSTest.Console + srprofile/runsettings to execute my tests with the Logger:TRX

If I use the Retry option for Failing tests, then an new entry is created in the TRX file, which appends retry #2 etc onto the scenario name. This causes the trx file to be interpreted as a new test including the original failed test. Final result as shown in the Jenkins graph snapshot below.

Ideally it woul

[2017-04-20 15:26] SabotageAndi commented on #824
@gasparnagy  and I want to go the "drop Code- Behind- files and find another way to provide tests for the different test frameworks".
An example for XUnit is already done: https://github.com/gasparnagy/SpecFlow.xUnitAdapter

[2017-04-20 19:31] evilC opened #838 "Feature file lines always purple when using bindings from external assemblies"
I have bindings in an external assembly (As per the specflow docs [here](http://specflow.org/documentation/Use-Bindings-from-External-Assemblies/))
We need this, as we are making a generic library of Step Definitions that can be used in any of our test suites.
It works, however some specflow functionality does not appear to work.
Namely:
All steps are highlighted purple (Indicating that it cannot

[2017-04-20 21:02] evilC commented on #838
Aha! I managed to fix it.
I found [this comment on an old closed issue](https://github.com/techtalk/SpecFlow/issues/220#issuecomment-149868669) where the author says the problem is due to binding files of the same name but different paths.
However, in my case, a file of the same name *used* to exist, but no longer does.
It seems that maybe VS is failing to forget this filename, then this bug layer

[2017-04-23 05:15] rhwilburn commented on #820
Does the work around mentioned work for anyone? It doesn't for me.

I would think that the net framework side of the .net core projects could be an easier first step in fixing this, then working .net core targeting netstandard. This would also enable fairly easy work arounds for those not on linux or mac.

[2017-04-24 10:04] SabotageAndi commented on #820
@rhwilburn No, it does not. We found this out, when we worked on #649.
With PR #837 this should work now, but we didn't tried it out yet.

[2017-04-24 11:06] elv1s42 commented on #750
Hi!
Any updates on this issue?

[2017-04-24 12:39] LirazShay commented on #750
@elv1s42
I have a workaround:
Add this class to your specs (tests) project:
Please note that it will log the steps to the console, it will be saved as test output
[code]

[2017-04-24 12:57] elv1s42 commented on #750
Thanks @LirazShay !
But I was looking for any approach of capturing test output from specflow plugin (when tests are running in parallel). And it looks like there is no common way to do this for all test runner frameworks (xUnit, NUnit, MSTest)

[2017-04-26 14:22] elv1s42 commented on #750
@gasparnagy can you help me with this?

I am not sure if it is possible to get output for separate test (when the are running in parallel). What interface can I use for this? I was looking here: https://github.com/techtalk/SpecFlow/wiki/Available-Containers-&-Registrations, but I am to sure what to do.

Tha main problem is rthat I'm trying to create SpecFlow Plugin (some kind of reporting tool), b

[2017-04-26 15:38] SimonSDA commented on #358
I had to remove and re-add the SpecFlow.nUnit package, update it (to 2.1.0) then add 'NUnit3TestAdapter' - it seems I needed this since nUnit got updated to v3

[2017-04-27 05:57] nagornyi opened #839 "Add an option to stop retrying a scenario after it passes a certain number of times"
For example we have the following execution configuration in SpecRun profile
`<Execution retryFor="Failing" retryCount="3" stopAfterFailures="0" testThreadCount="5" testSchedulingMode="Sequential" />`

If a scenario fails for the first time, it will be retried 3 more times, even if it passes on a second retry. So the execution workflow will look like this:
1. Failed
2. Passed
3. Passed
4. Passed

[2017-04-28 16:53] kirchsth opened #840 "[Discussion] More generic support of tags"
Hi,

I plan to support PropertyAttribute and also IgnoreAttribute(“with reason”) in nunit.
In addition, special properties should be even extended with e.g. http-link.
I saw also that MsTest gets (hard coded) Deployment tag extensions in the last days.
(Language specific “@ignore” tags could be supported too.)

Therefore, I plan to make an extension that @tags can be “classified” and transformed v

[2017-04-28 19:48] SabotageAndi commented on #840
On the first look, this idea looks interesting.
Currently I have a busy week and another ahead of me, so I can say something more concrete in mid of May.
@gasparnagy: What do you think about this?

[2017-05-01 03:54] godrose commented on #830
Highly wanted! Encountered the same issue.
@SabotageAndi

Is this final? Could you point me where to look?

[2017-05-02 08:18] #552 closed

[2017-05-02 11:17] elv1s42 opened #842 "[Question] Capture test output for parallel tests"
I am not sure if it is possible to get output for separate test (when the are running in parallel). What interface can I use for this? I was looking here: https://github.com/techtalk/SpecFlow/wiki/Available-Containers-&-Registrations, but I am to sure what to do.

Tha main problem is that I'm trying to create SpecFlow Plugin (some kind of reporting tool), but I am not able to capture test output f

[2017-05-02 14:54] brettveenstra commented on #737
Is this still a problem?  Does `TestContext.Out` solve the issue?

[2017-05-02 15:38] brettveenstra opened #844 "How to specify Parallelizable attribute for NUnit3 generator"
I'd like to use a SpecFlow tag to control NUnit test generator so that the Parallelizable attribute can be set (at least to `None`)

Before I go off and write a custom generator based on `NUnit3TestGeneratorProvider`, I was wondering if efforts are already underway?  I didn't see anything in the `NUnitTestGeneratorProvider` for this

In my feature file, I'd like to do something like  `@parallel=no

[2017-05-02 15:41] SabotageAndi commented on #844
Have a look at this PR: https://github.com/techtalk/SpecFlow/pull/746

It is included in the next version (2.2). You can get it from the CI-Nuget feed

[2017-05-02 15:49] brettveenstra commented on #844
@SabotageAndi thanks for quick update!

[2017-05-02 15:49] #844 closed

[2017-05-03 11:35] ErikStroeken commented on #638
@SabotageAndi
Wanted to update our project and installed the following combination:
- SpecFlow: **Latest prerelease 2.2.0-preview20161020**
- NUnit: 3.6.1
- NCrunch VS Extension: 3.6.0.2 (VS 2015)

With that combination I get hundreds failing tests with exception:
[code]

I tried the **SpecFlow Version 2.1.0-ci424** with the special fix of august 2016 together with the NUnit and NCrunch versions a

[2017-05-03 12:09] SabotageAndi commented on #638
@ErikStroeken It was merged. See the code here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/TestRunnerManager.cs#L196
No idea why it is not working anymore, but this exception is new for me.
Do you have a StackTrace for it?

[2017-05-03 12:21] ErikStroeken commented on #638
Before we deep dive into the problem: after the fix of august 2016 only one single thread should execute each BDD test, right? The 'new' exception indicates that more than one thread is working with the same  object so it seems that the multithreading problem is back again.

Here is one of a thousend exceptions:
[code]

[2017-05-03 16:05] ErikStroeken commented on #638
It seems to be a new problem. After repeatedly rerunning the tests in VS2015 they succeed.
Another new thing I noticed: it appears to me that the total duration of executing all tests increased drammatically.
I'll try the command line version of NCrunch and I'll measure the difference.  I'll report the results in 2 days.

[2017-05-04 16:03] KrishnarajLoganathan commented on #358
Install NUnit and NUnit3TestAdapter continue build project, now Test explorer will display all tests.

![install nunit3and nunittestadapter to run unit](https://cloud.githubusercontent.com/assets/21461917/25713013/e544bdfc-3110-11e7-84ac-85831a9db9f7.png)

[2017-05-04 17:07] ChristopherHaws commented on #836
This issue is related to https://github.com/techtalk/SpecFlow/issues/833

[2017-05-04 18:20] ChristopherHaws opened #845 "[.NETCore] dotnet specflow command"
Add `dotnet specflow` command support for:

**Reports:**
- [ ] `dotnet specflow report nunit-execution`
- [ ] `dotnet specflow report vstest-execution`
- [ ] `dotnet specflow report step-definition`

This can be done after #827

[2017-05-04 18:26] SabotageAndi commented on #845
Does anybody know where the documentation for integrating into the dotnet command is?

[2017-05-05 08:20] ErikStroeken commented on #638
The command line version of NCrunch has the same problems. Its a cross thread exception in the BDD tests which are not designed to be executed in parallel. Version 2.1.0-ci424 doesn't habe this problem, its new in version Latest prerelease 2.2.0-preview20161020.
The test results with stack trace can be found here:
[fair-homepage.ch/data/Komax.TopWin4_NCrunchResults.zip](fair-homepage.ch/data/Komax

[2017-05-08 10:47] srosam commented on #638
I'm getting the same exception (TechTalk.SpecFlow.SpecFlowException : The ScenarioContext.Current static accessor cannot be used in multi-threaded execution) while running SpecFlow tests using the NUnit 3 Gui Runner.

Test runs fine 1 time, on second run it fails with this error.

Any resolution to this would be great, its blocking our upgrade to NUnit3 at the moment.

[2017-05-09 23:13] kiranj321 opened #846 "Adding specflow nuget fails saying: Package restore failed"
I am trying to add specflow to a netstandard class library and it fails saying "Package restore failed. Rolling back package changes for 'xxx.specs'. Am using Visual Studio 2017

Unfortunately I can't get any further info. Attached the screenshot

![unabletoinstallspecflow](https://cloud.githubusercontent.com/assets/1904652/25876465/513c20e4-34d2-11e7-9ae3-c9467a45be16.png)

Any idea how can I go

[2017-05-10 05:25] gasparnagy commented on #846
SpecFlow does not support .NET Standard yet. See https://github.com/techtalk/SpecFlow/projects for details.

[2017-05-10 07:57] SabotageAndi commented on #846
Direct link to status of .NET Standard/Core support: https://github.com/techtalk/SpecFlow/projects/2

[2017-05-10 07:57] #846 closed

[2017-05-10 07:58] SabotageAndi commented on #834
Status of .NET Core/Standard support is here: https://github.com/techtalk/SpecFlow/projects/2

[2017-05-10 07:58] #834 closed

[2017-05-10 09:21] ShaileshM90 opened #847 "When testThreadCount > 1, SpecRun Feature & Testrun hooks are not working properly"
Hi @SabotageAndi ,

I am using SpecRun as unitprovider for my test cases in c#.

I want to use AfterFeature hook in my solution that will execute the one method after single feature get executed.

I have observed, if I use below in Default.sprofile file then everything works fine,

`<Execution stopAfterFailures="0" testThreadCount="1" testSchedulingMode="Sequential" retryCount="0" />`

But if I us

[2017-05-10 09:34] SabotageAndi commented on #847
How many scenarios do you have and what did you configure as testThreadIsolation?

[2017-05-10 09:37] ShaileshM90 commented on #847
I have 15 Features file, and there are total 500-600 scenarios approximately.
I am using following setting currently,

` <Execution stopAfterFailures="0" testThreadCount="4" testSchedulingMode="Sequential"  />`

[2017-05-10 09:41] SabotageAndi commented on #847
You have no Environment configuration in your srProfile? see: http://specflow.org/plus/documentation/SpecFlowPlus-Runner-Profiles/#Environment

Which version of SpecFlow+Runner and SpecFlow are you using?

[2017-05-10 09:45] ShaileshM90 commented on #847
Yes, we don't have Environment configuration in our srProfile.
We are using SpecFlow 1.9.0 and SpecRun - 1.2.0.

[2017-05-10 10:22] SabotageAndi commented on #847
Could you try the latest version of SpecRun (1.5.2)?

[2017-05-10 10:22] ShaileshM90 commented on #847
Ok, let me check

[2017-05-10 10:31] ShaileshM90 commented on #847
I have checked with latest version of SpecRun 1.5.2 as well as SpecFlow i.e. 2.1.0.

But facing same issue as earlier.
AfterFeature hook is behaving as AfterScenario.

Do you like to see my sample project?

[2017-05-10 10:34] SabotageAndi commented on #847
Yes, please. Perhaps I can reproduce it.

[2017-05-10 10:51] ShaileshM90 commented on #847
Can you please have a look into,
https://github.com/ShaileshM90/SpecFlowHooksIssue

Please let me know if there is an error on compile and run time

[2017-05-10 11:01] SabotageAndi commented on #847
It is the sample project (https://github.com/ShaileshM90/SpecFlowHooksIssue/tree/master/SpecFlow.Retry.Sample) we are talking about?
Why do you have SpecFlow.Retry & SpecRun? SpecRun can retry the test if it failed. You do not need SpecFlow.Retry.

[2017-05-10 11:05] ShaileshM90 commented on #847
Yes, we are talking about [(https://github.com/ShaileshM90/SpecFlowHooksIssue/tree/master/SpecFlow.Retry.Sample)]((https://github.com/ShaileshM90/SpecFlowHooksIssue/tree/master/SpecFlow.Retry.Sample))

Using SpecFlow.Retry is one of my project requirement. So I need to use it.
SpecRun retries the failure scenario separately, whereas, SpecFlow.Retry retries the same in single thread I guess.

[2017-05-10 11:14] ShaileshM90 commented on #847
I have attached test result file, please have a look.

[TestResult.zip](https://github.com/techtalk/SpecFlow/files/989559/TestResult.zip)

Report-With-TestThreadCount-1.html is output for testThreadCount=1
Report-With-TestThreadCount-4.html is output for testThreadCount=4

And I am expecting following output,
Report-With-TestThreadCount-1.html with testThreadCount=4

[2017-05-10 13:13] digiguru commented on #847
Question, is `[BeforeAndAfter]` suppoed to be a static class?

https://github.com/ShaileshM90/SpecFlowHooksIssue/blob/master/SpecFlow.Retry.Sample/BeforeAndAfter.cs#L11

Then this:
```static public void AfterFeatureExecution()```

Will need to become

```public void AfterFeatureExecution(FeatureContext featureContext) {```

And

```FeatureContext.Current.ContainsKey("ScenarioStatus")```

needs to

[2017-05-11 04:41] ShaileshM90 commented on #847
Hi @digiguru ,
After/Before Feature should be applied to static method.
So AfterFeatureExecution must be static

https://github.com/techtalk/SpecFlow/wiki/Hooks

[2017-05-11 19:32] evilC opened #849 "ScenarioContext.Current still holds data for last Scenario of previous Feature in BeforeFeature of next Scenario"
Given I have a project with the following structure:
Feature File A
+Scenario A
Feature File B
+Scenario B
In a BeforeFeature hook for Scenario B, `ScenarioContext.Current` is non-null and points to the ScenarioContext of test A

ie, using the check `ScenarioContext.Current == null` does not reliably tell if you are in a Scenario or not.
If you are in a BeforeScenario hook in the first Scenario of

[2017-05-11 19:36] jvmsadguru opened #850 "SpecFlow version 1.9.2"
Can I create my own IValueRetriever in this version?
I don't see the interface and also I don't see RegisterValueRetriever.

please advise.

[2017-05-11 20:32] SabotageAndi commented on #850
We never released 1.9.2 to Nuget.org. Where do you have this version?
Couldn't you upgrade to 2.1?

[2017-05-11 22:50] delie84 opened #851 "Specflow 1.9, SpecRun.Runner.1.2.0\tools\Microsoft.Data.Services.Client.dll' is denied. (type UnauthorizedAccessException)"
I been stuck on this issue for quiet some time, any help would be greatly appreciated.

I'm using Selenium/Specflow & Specrun to run our automation tests.
I currently have this checked in to our Team foundation server, and every time I queue a new build, I get the following error:

Exception Message: Access to the path 'C:\Builds\95\ListingMarketSystem\Automation\src\packages\SpecRun.Runner.1.2.0\

[2017-05-12 03:57] ShaileshM90 commented on #847
@SabotageAndi,
Do you get any luck to resolve the above issue? Or is there anything I could do at our level?

[2017-05-12 11:48] jvmsadguru commented on #850
we have it in Extension and updates - VS 2012
and when I search for Spec flow in my VS 2012, in extensions, I don't see 2.1

[2017-05-12 12:01] SabotageAndi commented on #850
This is the Visual Studio Extension. This provides syntax highlighting, file templates ...

IValueRetriever are in the Runtime of SpecFlow, which is installed by a NuGet package.
Which version do you have there?

[2017-05-12 12:02] SabotageAndi commented on #847
@ShaileshM90 Didn't have time yet to have a look at it.

[2017-05-12 12:03] jvmsadguru commented on #850
In my VS2012, I only see 1.9.2
I launch VS 2012 Professional --> Extensions and updates -> Search for spec flow.
All I get is 1.9.2

[2017-05-12 12:05] jvmsadguru commented on #850
Nuget Package manager version 2.8.60318.667

[2017-05-12 12:16] SabotageAndi commented on #850
What do you have in your package.config of your project?

[2017-05-12 12:22] ShaileshM90 commented on #847
Okay

[2017-05-12 12:53] adnang opened #852 "Cannot reference FeatureContext in Before/After feature hooks when running in Parallel (NUnit)"
Is there any way to reference the FeatureContext statically in the BeforeFeature/AfterFeature hooks when running tests in parallel? I want to set a feature context object at the start of each feature while running tests in parallel

[2017-05-12 12:56] SabotageAndi commented on #852
See PR https://github.com/techtalk/SpecFlow/pull/779
Will be released in the next days.

[2017-05-12 12:56] #852 closed

[2017-05-12 14:34] jvmsadguru commented on #850
<package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />

[2017-05-12 14:34] jvmsadguru commented on #850
<package id="SpecFlow" version="1.9.0" targetFramework="net40" />
  <package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40" />

[2017-05-12 14:35] jvmsadguru commented on #850
package id="SpecFlow" version="1.9.0" targetFramework="net40"
  package id="SpecFlow.NUnit" version="1.1.1" targetFramework="net40"

[2017-05-12 15:01] SabotageAndi commented on #850
Ok, so you are using SpecFlow 1.9 as runtime.
With this version, it is not yet possible to register own IValueRetriever.
Here is the code where are they hardcoded: https://github.com/techtalk/SpecFlow/blob/v1.9.0/Runtime/Assist/TEHelpers.cs#L101

Is an update to SpecFlow 2.1 not possible for you?

[2017-05-12 16:01] jvmsadguru commented on #850
so I did an update
package id="SpecFlow" version="2.1.0" targetFramework="net40"

all the packages config look correct

but my build fails.
if cant find the TechTalk.SpecFlow attributes in the feature.cs

are there any steps to update?

[2017-05-12 16:38] SabotageAndi commented on #850
Are you on .net 4.0?
SpecFlow supports since 2.0 only .Net 4.5 and newer

[2017-05-12 16:54] jvmsadguru commented on #850
issue was target .net framework version.

do we have example of how to handle nested classes? for e.g.
First name | last name | Age | address.street | Address.City
where Person class
Firstname
lastname
Age
and
Address Class
Street
City
Etc

[2017-05-12 18:07] jvmsadguru commented on #850
Yes, I changed the framework,. looking for some example on IValueRetriever

how can I create an instance of the nested class ?

[2017-05-12 20:13] darrencauthon commented on #850
Give me this weekend to finish writing documentation here:  https://github.com/techtalk/SpecFlow/wiki/Value-Retriever-(for-Tables)

But if I remember correctly, it's something like ```SpecFlow.Assist.ValueRetrievers.Add(yourSpecialValueRetriever);```

[2017-05-15 09:07] ChrisMaddock commented on #823
FYI there is now an alpha release of NUnit's .NET Core support. 🙂 I don't believe any major issues have been raised yet.

https://github.com/nunit/nunit3-vs-adapter/releases

[2017-05-15 09:29] SabotageAndi commented on #823
@ChrisMaddock Thanks for the info

[2017-05-15 13:27] immeraufdemhund commented on #710
@ChristopherHaws If you are still having this issue I discovered an annoying workaround until this makes its way into NuGet. What I did was clone specflow, built, then copied the output from "Tools" project into the appropriate NuGet packages folder in your solution folder (both the lib and tools folder). I then had to open the project's csproj file that reference specflow and change the reference

[2017-05-15 15:17] mattrlong commented on #830
:+1: for this feature

[2017-05-17 10:33] SabotageAndi commented on #851
It looks like something is locking the Microsoft.Data.Services.Client.dll file.
I would login to the build agents and have a look which process has the lock.

This can be done with the handle command line tool (https://technet.microsoft.com/en-us/sysinternals/handle.aspx).
Could you find out, which process makes the problem?

[2017-05-17 13:37] ManojMN opened #854 "Step bindings are still being analyzed. Please wait!"
Hi Team,

I am getting below error when I try to go to step definition in feature file
**"Step bindings are still being analyzed. Please wait"**
specflow and vsts version
SpecFlow :  2.1.0
VSTS: 15

This issue is not resolving. Please help me to fix this.

Thanks
MN

[2017-05-17 13:56] SabotageAndi commented on #854
Could you give us some information about your solution? Are there shared projects? Do you have steps in multiple assemblies?

[2017-05-18 14:38] GoFightNguyen opened #856 "UnitTestRunner not found when using MSTest V2 1.1.17"
Latest stable versions (2.1.0) of SpecFlow and SpecFlow.MsTest
Latest stable versions (1.1.17) of MSTest.TestAdapter V2 and MSTest.TestFramework V2

When I attempt to execute the specs, I receive the following error:
An exception occurred while invoking executor 'executor://mstestadapter/v2': Constructor on type 'Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.Execution.UnitTestRunner' not

[2017-05-19 12:35] jmb-mage commented on #791
One of our Team Leads came up with this fix, inside the project .csproj:

[code]

What that does is include all the .feature files in the build, forcing it to re-generate the code behind `.feature.cs` files.  *But* it changes all those files, which makes the repository think they've been updated.

[2017-05-19 19:48] teknlgyuser opened #857 "Visual Studio 2017 Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0"
After upgrading from Visual Studio 2015 to Visual Studio 2017 Professional we are getting this error in the code behind #error Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

I am on Visual Studio Professional 2017 15.1 (26403.7)

[2017-05-20 08:28] rhwilburn commented on #845
See this as a community example: https://github.com/aspnet/JavaScriptServices

Im not sure beyond what is there, but that at least extends the dotnet cli

[2017-05-22 10:03] ademanuele opened #858 "Support Visual Studio for Mac 2017"
Currently, the SpecFlow extension does not work on Visual Studio for Mac 2017, released not long ago.

Attempting to install the extension complains that:
Required: MonoDevelop.Core v6.0, found v7.0
Required: MonoDevelop.Ide v6.0, found v7.0

[2017-05-22 10:18] SabotageAndi commented on #858
The Visual Studio for Mac/Xamarin Studio/MonoDevelop extension is not developed by the SpecFlow team.
Please get in touch with the maintainer of it.

[2017-05-22 10:26] ademanuele commented on #858
Yes. I just found out. Sorry for the unnecessary issue.
Thanks for the help.

[2017-05-22 10:26] #858 closed

[2017-05-22 13:39] adnang opened #859 "VS2013 Generator attempts to use older version of TechTalk.SpecFlow.Generator in 2.2.0 Preview (NUnit)"
When I generate the .feature.cs files in Specflow 2.1, it generates the files fine. When I upgrade to the 2.2 preview so I can use the feature context injection in static hooks, the file gets generated with only the following line:

```#error Generation error: Unable to find assembly 'TechTalk.SpecFlow.Generator, Version=1.9.0.77, Culture=neutral, PublicKeyToken=0778194805d6db41'.```

I have tried

[2017-05-22 13:43] SabotageAndi commented on #859
Hi

This is a bug in the 2.2 prerelease. It is already fixed in the repo and in
the next days a new prerelease will be published.

BR
Andreas

On Mon, May 22, 2017, 15:39 Adnan Gazi <notifications@github.com> wrote:

[2017-05-22 13:46] adnang commented on #859
Thanks, feel free to close the issue

[2017-05-22 13:52] #859 closed

[2017-05-23 08:49] SabotageAndi commented on #857
@teknlgyuser Could you enable fusion logs and post the results from the devenv.exe process and the Microsoft.Build.Framework assembly?

[2017-05-23 08:53] SabotageAndi commented on #859
For documentation. Bug was fixed with PR https://github.com/techtalk/SpecFlow/pull/855

[2017-05-23 09:06] SabotageAndi commented on #856
This is probably a bug in the MSTest V2 Adapter.
SpecFlow generates code (in the code-behind files of the feature files) which has the attributes for the different testing frameworks on it.
Execution of the test is done by the test frameworks. As this exception is from a type in the MSTest framework, I assume that there is a bug.

Did you tried it with a normal coded unit test, if the MSTest adapt

[2017-05-23 09:12] SabotageAndi commented on #849
I think there is no defined behavior of ScenarioContext.Current in a Before/After- Feature Hook.
I wouldn't bet on it, because it depends a lot on the test runner how it executes the scenarios. And if parallel execution comes into play, this will give you headaches.

But what about this simple approach to know how your logic is called?

[code]

[2017-05-23 09:13] SabotageAndi commented on #839
Interesting idea. I will put it on our backlog for the SpecFlow+Runner.

[2017-05-23 09:15] SabotageAndi commented on #835
@gasparnagy Any ideas how to solve this?

[2017-05-23 10:32] evilC commented on #849
Unfortunately, this would only work if the method that needed to determine the context was the first method to be called, OR if you passed the isBeforeFeature param through to every method.
I think that both cases would be impractical in our use-case.
I wasn't aware of named parameters in C# though, so I learned something useful from your post though, thanks!

[2017-05-23 13:47] SamJongenelen commented on #710
I have the same issue using SpecFlow 2.1.0  using _specflow.exe stepdefinitionreport nameOfProject.csproj_

Any change the tool could report which class could not be serialized? There's a high chance a non default ctor is the source of my issue, but it's kind of hard to find in my collection of _stepDef_ classes

[2017-05-23 13:50] SabotageAndi commented on #710
This is fixed with SpecFlow 2.2.
I am currently working on a new prerelease of it.

[2017-05-23 17:40] nickmik80 opened #860 "Possible issue with Retry"
Hello,
We have recently upgraded to Visual Studio 2017 and have noticed that if we try to run the suite of tests [Around 170] that they will randomly stop and the last thing in the output window will be: "The request has taken more than 10 seconds to respond, aborting it. An item with the same key has already been added.".  We traced this down to happening when a test has failed and it is retried.

[2017-05-23 17:55] rocknet commented on #857
@teknlgyuser I had the same issue in my solution.  I realized that it had to be something with the project or solution file, because I completely new project in a new solution worked for me.  After much digging I found this bit in the broken solution that wasn't in the working solution:
``
	GlobalSection(ExtensibilityGlobals) = postSolution
		dtLauncher_EnableVSTestHost = 0
	EndGlobalSection
``
Re

[2017-05-25 15:43] teknlgyuser commented on #857
@SabotageAndi
[devenv_exe_microsoft_build_framework_15_1_0_0.txt](https://github.com/techtalk/SpecFlow/files/1029496/devenv_exe_microsoft_build_framework_15_1_0_0.txt)
[devenv_exe_techTalk_specFlow_generator.txt](https://github.com/techtalk/SpecFlow/files/1029497/devenv_exe_techTalk_specFlow_generator.txt)

Attached is the fuslogvw for devenv.exe for Microsoft.Build.Framework, Version 15.1.0.0 and

[2017-05-26 14:17] ManojMN commented on #854
Thanks for replying.
I have one solution and under which I have two Projects. In One of the project I am using SPecflow feature files.

Here as a work around when I close the VSTS and then Delete files from %Temp% , I am able to navigate .

But I need a permanent solution.

[2017-05-29 07:50] richev commented on #612
I appreciate that this issue was closed a while ago, but I was wondering if you could explain how to use the `NUnit3TestGeneratorProvider`?

We've tried adding is a a plugin in our web.config
[code]

But this results in an error of

[2017-05-29 07:53] SabotageAndi commented on #612
Please have a look in the documentation about configuratio: http://specflow.org/documentation/Configuration/
You are looking for the unitTestProvider section.
It could be, that these fixes are not in SpecFlow 2.1, but in the latest preview of SpecFlow 2.2

[2017-05-29 12:26] brantkev commented on #854
I am having the same issue.  I have tried multiple work arounds, including deleting %temp% and the .sou file.  Sometimes they work, but are not permanent.  The solution has multiple projects, and does have steps from multiple assemblies.  It should also be know that the above solutions don't always work.

[2017-05-30 07:06] richev commented on #612
Thanks for the swift response! We found that updating to the preview of Specflow 2.2 resolves this issue.

[2017-05-31 08:05] vukaka opened #861 "Cannot create .feature file in VS2017"
Version 15.1 (26403.7) Release
VisualStudio.15.Release/15.1.0+26403.7
Microsoft .NET Framework
Version 4.6.01586
Installed Version: Professional
When I try to create a .feature file after installing SpecFlow 2.1.0 in my project, Add>>New Item...>> there's no "SpecFlow Feature File" in the list.
When I open my former VS2013 project in VS2017, old feature files in the project cannot be recognized.
!

[2017-05-31 08:39] SabotageAndi commented on #861
Did you have the Visual Studio extension installed?

On Wed, May 31, 2017, 10:05 vukaka <notifications@github.com> wrote:

[2017-05-31 08:43] vukaka commented on #861
I installed as below, and TechTalk.SpecFlow is already in References
![capture](https://cloud.githubusercontent.com/assets/29089036/26623413/38a07eae-4620-11e7-8b42-a93308a20764.PNG)

[2017-05-31 08:59] SabotageAndi commented on #861
The item templates, code highlight, etc are not in the NuGet packages, they
are in a separate VS Extension. For VS2017 it is this one
https://marketplace.visualstudio.com/items?itemName=TechTalkSpecFlowTeam.SpecFlowforVisualStudio2017

On Wed, May 31, 2017, 10:43 vukaka <notifications@github.com> wrote:

[2017-05-31 09:29] vukaka commented on #861
Hi, thanks for the note.
At first I tried to install the VS extension in this link, but it crashed during installation, and it said "This extension is already installed to all applicable products." when I tried to reinstall.  However, this extension doesn't show up in Visual Studio's Extensions and Updates.
Now I'm wondering how I can reinstall the extension. The worst case is to reinstall Visual

[2017-05-31 09:52] vukaka commented on #861
Hi @SabotageAndi ,
I successfully reinstalled the extension, and the problem is solved.
Thanks very much!

[2017-05-31 09:52] #861 closed

[2017-05-31 11:23] GoFightNguyen commented on #856
Sorry for the late response. Yes, the MSTest adapter works with coded unit tests.

[2017-06-02 10:18] navnit-a commented on #710
Thanks. This current works with version 2.2.0-preview20170523

[2017-06-06 12:15] StarWars999123 opened #863 "Specflow extension crashes, when an opened feature is viewed as TFS/git diff"
The highlighting of feature files gets lost and an exception is thrown after using the git compare view.

To reproduce the issue:
You need a feature file, that is checked-in in a TFS git repository.
- After editing a feature file, I want to check the changes before commit under TeamExplorer->Changes -> right mouse click on the feature file -> Compare with unmodified...
When I close the feature fil

[2017-06-06 13:17] SabotageAndi commented on #863
This is a known problem since years. We will probably not fix it, because we started work on a newer editor (where this bug hopefully does not appear).

[2017-06-06 13:33] StarWars999123 opened #864 "Feature request: Generate Specflow Features after checkout"
Its a bad habit to check-in user generated code. So we ignored the *.feature.cs files and do not commit them to our git repository. During the TFS build process, we generate the files again using the specflow.exe, before we start the VS build.
However this strategy comes along with the side effect, that we need to regenerate the *.feature.cs files after each checkout. Would it be possible to gener

[2017-06-06 13:48] joshuanapoli opened #865 "SpecFlow+Runner integration with AppVeyor"
It looks like many people use SpecFlow with AppVeyor using the NUnit or MsTest runner. This probably works well for simple situations: in this configuration, AppVeyor automatically finds and correctly reads the output. The NUnit/MsTest configuration does not work for me, because I need to test an ASP.NET server.

I can not find good recipe for running iisexpress in conjunction with SpecFlow+MsTest

[2017-06-06 13:51] SabotageAndi commented on #864
Do you know about the MSBuild integration? http://specflow.org/documentation/Generate-Tests-from-MsBuild/
With this, you generate the code-behind files at build- time.

[2017-06-06 14:49] SabotageAndi commented on #860
Which Retry feature do you mean? SpecFlow.Retry or the retry feature in the SpecFlow+Runner?

[2017-06-06 14:49] SabotageAndi commented on #856
Interessting. Could you provide us a project for reproduction?

[2017-06-06 14:53] SabotageAndi commented on #820
The latest prerelease does not depend anymore on MSBuild to read the project file and can handle also the new csproj files in a limited scope.
@HowardvanRooijen could you give it a try?

[2017-06-06 14:55] SabotageAndi commented on #815
In the latest prerelease I changed the MSBuild task to AppDomainIsolatedTask.
@icnocop Could you give it a try?

[2017-06-06 15:00] SabotageAndi commented on #802
BDD Answer:
Please have a look at the Gherkin reference documentation for what Scenario Outlines are: https://cucumber.io/docs/reference
From a scenario writing view, you shouldn't mix examples with good and bad values. Split them in different scenarios.

Technical Answer:
This is not possible. You define your parameters for the scenario with a Scenario Outline/Examples. There is no callback/handl

[2017-06-06 15:00] #802 closed

[2017-06-06 15:12] SabotageAndi commented on #840
@kirchsth Sorry for coming so late back to this. I had some busy weeks.

It is still an interesting feature and I would like to see it in SpecFlow added.

If you work on this, please make sure that your changes are covered with automated tests. We probably lack in this area of the code of them, but with the planned changes in the next time, we need to be sure that we don't break something.

Please

[2017-06-06 15:24] nickmik80 commented on #860
SpecFlow+Runner in the default.srprofile.

<Execution stopAfterFailures="0" testThreadCount="8" testSchedulingMode="Sequential" retryFor="Failing" retryCount="4" />

[2017-06-06 19:41] HowardvanRooijen commented on #820
Fantastic. I'll give it a go (or get someone else in the team to try it out, as I'm on holiday this week). Thanks for the great work. What do you now use for processing the CSPROJ files?

[2017-06-06 21:27] mwadams commented on #820
@SabotageAndi - Do we just need to use the latest prerelease nuget, or is there an updated VSIX?

[2017-06-07 01:19] icnocop commented on #815
Hi @SabotageAndi ,

I updated SpecFlow2Dot1.sln from the previously attached zip to the SpecFlow.2.2.0-ci608 nuget package from https://ci.appveyor.com/nuget/specflow-ci, but I got the same behavior.

Is that the version you expected me to test?

Thank you.

[2017-06-07 07:28] SabotageAndi commented on #815
We published the pre-release with this change to NuGet.org: https://www.nuget.org/packages/SpecFlow/2.2.0-preview20170523
Please try this version.

[2017-06-07 07:36] SabotageAndi commented on #820
@HowardvanRooijen We first tried to use Roslyn- Workspaces, but this is excuting some compiler. So we ended up with parsing it as XML.
PRs are https://github.com/techtalk/SpecFlow/pull/837 and https://github.com/techtalk/SpecFlow/pull/843.

Additional info: With the new csprojs, it looks like, our current target file is not working.
I stumbled upon this at the work to migrate SpecFlow to it.
Pleas

[2017-06-07 07:36] SabotageAndi commented on #820
@mwadams You need only the latest prerelease nuget from nuget.org: https://www.nuget.org/packages/SpecFlow/2.2.0-preview20170523

[2017-06-07 07:51] icnocop commented on #815
Thank you.

I updated SpecFlow2Dot1.sln from the previously attached zip to reference the SpecFlow and SpecFlow.MsTest nuget packages with version 2.2.0-preview20170523, but I got the same error.

[2017-06-07 08:01] SabotageAndi commented on #815
then it was not the Task base class 🙁

[2017-06-07 08:17] icnocop commented on #815
Hmmm... I'm wondering if the task needs the `LoadInSeparateAppDomainAttribute`?

[2017-06-08 01:19] icnocop commented on #815
It could also may be because the AssemblyResolve event is subscribed to, but never unsubscribed?

see `\TechTalk.SpecFlow.Tools\MsBuild\TaskBase.cs` line 56:
[code]

[2017-06-08 02:21] icnocop commented on #815
I set ShowTrace = true and here is the stack trace:
[code]

[2017-06-08 02:40] icnocop commented on #815
I was able to get it to work by using the `IsolatedTask` msbuild task from here:
https://github.com/abrobston/isolated-task

However, it doesn't support the `Output` element, so I create a new issue here:
https://github.com/abrobston/isolated-task/issues/1

[2017-06-08 07:22] mwadams commented on #820
Ah - OK. So, yes, against a new csproj it wasn't working. I'll try that workaround above.

[2017-06-08 07:32] mwadams commented on #820
@SabotageAndi Yup - that worked. I now have a generated feature file in my solution.

Am I expecting the VS2017 feature file editor to locate my step definitions and provide the usual F12 support?

[2017-06-08 07:36] mwadams commented on #820
Ah - hang on. I was using XUnit. And the Feature file has generated me NUnit output...

[2017-06-08 08:24] mwadams commented on #820
One quick switch to NUnit later, and a I have a net47 new-style CSPROJ referencing NetStandard1.6 assemblies and some generated feature files that builds. however NUnit3

[2017-06-08 10:21] SabotageAndi commented on #820
Do you have XUnit configured in the app.config? NUnit is the default value.

[2017-06-08 10:23] mwadams commented on #820
@SabotageAndi : No - it was a slip of the nuget... I meant to use NUnit #doh

[2017-06-08 10:26] SabotageAndi commented on #820
Stef definition discovery is made by the VS Extension. Could be, that this is not working with the new project system. I didn't checked this.
Do you have the NUnit3TestAdapter package added to your project? This has the test adapter for the Test explorer, so that it can display NUnit tests.

[2017-06-08 20:06] felpel commented on #857
I've encountered the same problem as @teknlgyuser, and the logs are pretty similar.
Although, the problem goes away if I shelve my changes in VS and rebuild with VS2015.

[2017-06-09 08:15] Pvlerick commented on #820
I'm having the same issue: I use the new .csproj format along with
```<PackageReference Include="SpecFlow" Version="2.2.0-preview20170523" />  ```

and I have the correct configuration in my ```app.config```:
[code]

But it still generates using xUnit v1 attributes

[code]

[2017-06-09 08:47] chamamo commented on #857
Same bug here.
To resolve it I must return to VS2015, clear scenarios in my feature file, build and set back my scenarios.

[2017-06-12 08:28] mikap83 commented on #857
Hi, I don't know if it can help anybody here, but I solved my issue by deleting the generated file <testName>.feature.cs and letting the tool re-generating it.

I had the same issue on VS2017 15.2 (so no the same version as @teknlgyuser ) and Specflow 2.1.

[2017-06-12 09:11] shamveelcoder opened #868 "Generate all deosn't work from MsBuild as well as Specflow.exe"
i referenced Specflow nuget package in my project and created new feature file with default template . Then created Unit test file by right clicking on 'feature' file. I added new scenario by modifying same feature file , now i expect updated unit test file by using offline tool and referred below link to do the same

https://specflow.org/documentation/Tools/
https://specflow.org/documentation/Gen

[2017-06-12 13:55] richerm opened #869 "FeatureContext throws a NullReferenceException"
We have an issue using SpecFlow 2.1.0.0 when attempting to run features in parallel using NUnit.  The last feature files always fail as it seems there is an issue during tear down and we receive a NullReferenceException with the following stack trace:
[code]

Pulling the source code and PDB's for 2.1.0.0 we find the error is the FeatureContext on the contextManager is null in the middle of a test.

[2017-06-12 17:37] brantkev commented on #854
Update: Here is the error being received
[13:34:55.7124359] VsProjectScope: Starting analysis services...
[13:34:55.9468239] VsProjectScope: Exception: System.NotImplementedException: The method or operation is not implemented.
   at Microsoft.VisualStudioTools.Project.Automation.OAProperty.<get_Value>b__23_0()
   at Microsoft.VisualStudioTools.UIThread.Invoke[T](Func`1 func)
   at Microsoft.Visua

[2017-06-13 00:33] IliaFraedom commented on #835
Hi Guys,
Any updates on that?
Or maybe you need more details?

[2017-06-13 07:00] LeonHagenaarsKeus commented on #869
Same problem here, but with both
[code]
and
[code]

It starts failing after 200+ scenario's, and then fails for all the following scenario's with the same exception:
[code]

[2017-06-13 07:16] SabotageAndi commented on #869
Could you try the latest pre-release of SpecFlow 2.2? There are some internal changes for the FeatureContext made. Perhaps they solve this problem.
If not, please provide us with a project to reproduce this error.

[2017-06-13 08:24] shamveelcoder commented on #868
while looking at the code , i see we are updating feature generated class but not the unit test class. I don't see functionality where we update unit test file as well . I am closing this thread

[2017-06-13 08:24] #868 closed

[2017-06-13 10:35] LeonHagenaarsKeus commented on #869
Upgrading to specflow 2.2 is not helping.
Removing the 'AfterScenario' blocks is not helping.
Is there a way to get more logging out of Specflow?
Because of NDA reasons I cannot provide the actual failing project.

[2017-06-13 10:56] richerm commented on #869
I did see this in my console output:
[code]

I'll check into the source code to see where/when that gets logged.  I'm not even using FeatureContext anywhere explicitly and I commented out/removed all Before/After hooks.

[2017-06-13 11:03] LeonHagenaarsKeus commented on #869
Some more details: this worked with specflow 2.1 and NUnit 3.6.1, it now doesn't work with nunit 3.7.1

[2017-06-13 11:15] richerm commented on #869
I can confirm as well, downgrading NUnit to 3.6.1 and my errors go away.  Still can't create reproducible project that I can share though, as I'm not sure what the triggering conditions are.

[2017-06-13 11:41] SabotageAndi commented on #869
From the Release notes of NUnit 3.7 I see that they changed something with the parallel execution.
As the downgrade to 3.6.1 works for you, it is probably something in NUnit.
The question is, does SpecFlow something wrong and we notice it now, or is there a bug in NUnit.

As long as we don't have a working reproduction for this issue, I wouldn't ask the NUnit guys.

[2017-06-13 11:42] SabotageAndi commented on #869
@richerm You get the  `The previous FeatureContext was not disposed.` messages normally, when there is an exception in the After steps and so SpecFlow can not clean up everything.

[2017-06-13 12:09] richerm commented on #869
Reproducible Project! -- https://github.com/richerm/SpecFlowNUnitParallelism
[code]

Result:
[code]

[2017-06-14 14:18] ManojMN commented on #854
Hi Team,
I am still facing the same issue. Any solution will be greatly appreciated!

[2017-06-14 19:34] hanzra commented on #857
I still see this issue. Tried deleting .feature.cs files and regenerating. Still same issue. Switched back to VS2015

[2017-06-14 19:44] SabotageAndi commented on #857
Because of some strange reason, the assembly resolution happens in the wrong path (somewhere in the VS installation folder and not in the package folder).
Can somebody with the error try to create a project for reproduction. On all my machines I do not have this issues.

[2017-06-15 10:01] Icaroto opened #870 "Possible issue when using AfterFeature(FeatureContext) on MAC Visual Studio/Xamarin"
Hello,

I'm using Specflow CI Box version 2.2.0-ci608 to be able to interact with the Feature Context on After/Before feature. It works fine on VS for Windows but on VS for Mac I get an exception after the AfterFeature.
It does not fail my test but it interrupts the execution of the next Hook I have in code.

I have something like this:

BeforeFeatureMethod()
BeforeFeatureMethod(FeatureContext con

[2017-06-15 10:06] mikap83 commented on #857
Hi @hanzra, I had again the issue today.
What @SabotageAndi said helped me in findiwng a workaround: just searched on the disk for TechTalk.SpecFlow.Generator.dll and found some that were some files at the version 1.9.0.77... Just deleted those as I need SpecFlow Generator Version 2.0.0.0 and now VS2017 seems to be behaving :)

[2017-06-15 10:37] SamJongenelen commented on #854
I've had this issue a couple of times as well. However, restarting the Visual Studio instance fixed it

[2017-06-15 10:45] SamJongenelen commented on #749
My workaround is excluding the _*.feature.cs_ files from source control, and auto-generating the _*.feature.cs_ files as a pre-build action in the _.csproj_.

This way every client can regenerate their own _*.feature.cs_ files

[2017-06-15 19:54] TFiFiE opened #871 "NUnit warnings and report generation"
Now that [NUnit supports warnings](https://github.com/nunit/docs/wiki/Warnings), the report generator should be made to handle them properly. Right now, scenarios in which they occur (but which otherwise succeed) are reported as "pending". Apart from them appearing as their own category, a decision should also be made how they affect the success rate of the entire test (maybe have two figures?).

[2017-06-16 06:06] sumesh-m opened #872 "Specflow project with Platform x64 not able to interact with other set of actual project Dlls which is builded in X64"
I am having SpecFlow test with X64 platform.
Using Mstest as unitTestProvider.
This specflow project having reference to one "Testwrapper" class.
This Test wrapper class having actual code dll references.
All these code projects builded in X64 platform.

While executing ,i am getting below runtime exception.
{"Unable to load DLL 'xxxx.dll': The specified module could not be found. (Exception from

[2017-06-18 09:03] nazarenomanco commented on #857
Hi!
 I have checked on my PC (with only VS2017 installed) and the old version of the TechTalk.SpecFlow.Generator.dll (1.9.0.77) is only on Extension Directory (C:\Users\[user]\AppData\Local\Microsoft\VisualStudio\15.0_ec7d7fbd\Extensions\ln5zapk1.fxe).

This can not be deleted or substituted (obviously).

The "strange" thing is that I do not always have the problem.... and then it happens the solu

[2017-06-19 11:35] vincentsels opened #873 "Feature request: pass ScenarioContext to Before/AfterScenario hooks"
In #779, the `FeatureContext` is passed to the `BeforeFeature` and `AfterFeature` hooks. It would be nice to also have this for *Scenario*'s. This would allow using the `TestError` property in the `AfterScenario` hook in a parallel context.

[2017-06-19 12:00] SabotageAndi commented on #873
For completness:

You can already access the ScenarioContext via Context Injection in a parallel execution.
See Documentation here: http://specflow.org/documentation/ScenarioContext/

[code]

But it would be a nicer and similar syntax like Before/After- Feature.

[code]

[2017-06-19 12:01] SabotageAndi commented on #873
@gasparnagy What do you think?

[2017-06-19 12:05] SabotageAndi commented on #870
Which unit test provider are you using?
Which mono version are you using?

[2017-06-19 12:43] Icaroto commented on #870
I'm using NUnit as test provider and Visual Studio for Mac/Xamarin .
Not sure if there's a mono version.

[2017-06-19 13:05] tekavec commented on #823
Hi Andi, thumbs up for porting SpecFlow to .NET Core! I can start working on this task if you don't mind? Which branch should I fork in your opinion?

[2017-06-19 13:17] SabotageAndi commented on #823
I would start it from the master branch. Except some references to NuGet packages I don't expect much changes in the project files.

[2017-06-20 10:13] RavAngell commented on #869
Just want to confirm that I have similar issue with FeatureContext + specflow 2.1 + unit 3.7.1 and also:
[code]
(One of my Hooks file has DI field of FeatureContext).
All disappeared after downgrading to 3.6.1.
Maybe someone finds this useful.

[2017-06-20 10:43] ManojMN commented on #854
Restarting visual studio is not working every time.

[2017-06-21 07:48] SabotageAndi commented on #872
I am a little confused with the description.
Do you want that the tests run as x64 or x86 process?
How are the projects configured? Any CPU, x64 or x86?

[2017-06-21 12:12] Redheadguy666 commented on #770
o

[2017-06-21 14:30] brianjmitchell commented on #857
I am seeing the same error

#error Generation error: Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find the file specified.

Only seems to happen when I add a new feature file, current feature files are modified correctly when adding new scenarios.

Anything I can do as r

[2017-06-21 14:33] SabotageAndi commented on #857
Could you attach your fusion logs for the assembly?

Workaround would be to use the MSBuild integration, so that the code behind is created at compile time.
See: http://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2017-06-21 15:05] brianjmitchell commented on #857
Apologies, I wrote this comment a little early. After a windows restart I was able to add a file successfully.

I did find it was breaking previous feature files if any changes were made.
After a restart I made a small changed and the auto generated cs file was created.

[2017-06-22 12:58] elv1s42 commented on #842
Can someone please take a look at this?

[2017-06-22 13:27] rocknet commented on #857
If anyone has a repro that you can provide, it will help Andi troubleshoot.  I tried to reduce my solution to something more manageable so I could send it to him, but as I removed projects, it started working.  It seems as if it's an issue related to either project types being loaded, or the total number (perhaps long load time).

As I mentioned earlier, for me it was removing some unknown section

[2017-06-22 13:37] nazarenomanco commented on #857
Same problem... complex project and small ones are working...
As written before in my situation a rollback, close and reopen of Visual Studio usually solve the problem.

If we agree a good time, I can share my VS with any SpecFlow dev if it can help.

[2017-06-23 18:28] kirchsth commented on #840
@SabotageAndi Did you get my first draft? I sent it to your gmail account
the NUnit is basically finished, I will start MSTest and XUnit as soon I have your feedback

[2017-06-23 20:55] GoFightNguyen commented on #856
Sorry for the ignorance, but do I need to provide the project by attaching files or in my repo?

[2017-06-23 21:16] GoFightNguyen commented on #856
Nevermind, after more time to dig into it, this was an issue with the cache used by a Visual Studio instance.

[2017-06-23 21:16] #856 closed

[2017-06-26 08:00] chrisism commented on #857
For me the only thing that seems to work is just to go back to 1.9.
Only that version works normal for me.

[2017-06-26 08:07] SabotageAndi commented on #857
@chrisism Can you provide us a project to reproduce it?
As long we haven't one, we can not have a look at it.
I tested it on 4 different machines of me and it is working on everyone of them.

[2017-06-26 08:21] chrisism commented on #857
Its closed source so I cannot just send the whole solution. Is only specflow test project enough?

One thing I just noticed, after reinstalling specflow extension. After opening the solution fresh and Saving a feature that didnt have the .cs file anymore because of the error, it generated the class correctly with:
//      This code was generated by SpecFlow (http://www.specflow.org/).
//      Spec

[2017-06-26 08:39] chrisism commented on #857
Okay.. I also found this.
In the extension folder: C:\Users\<NAME>\AppData\Local\Microsoft\VisualStudio\15.0_a0b47e14\Extensions\2ok54zmk.ocr
I find the specflow extension with in the manifest:     <Identity Id="TechTalk.SpecFlow.Vs2017Integration" Version="2017.1.6" Language="en-US" Publisher="TechTalk" />
Looking good except for the fact that 'TechTalk.SpecFlow.Generator.dll' in this folder is t

[2017-06-26 08:42] SabotageAndi commented on #857
The Visual Studio Extension uses internal SpecFlow 1.9. So that you find the 1.9er dll there is fine.
The extension loads the used SpecFlow version of your project and uses it to generate the code behind file.

[2017-06-26 08:53] chrisism commented on #857
Okay, but that was the only 1.9 version I still had except for some old project dirs with the old version in packages folder.
I've been overwriting the 1.9 files in the extension folder with 2.1 version, causing errors in VS, so I moved it back again. Restarted Visual Studio. Guess what, now its generating the classes correctly again.

Weird stuff. At the moment the only 1.9 dll left on my machine

[2017-06-26 09:06] nazarenomanco commented on #857
Same here!

Usually, a roll back of the modification, restart of VS and making the same changes to the source code. At the moment this is the correct workaround, but it is annoying.

At your disposal for any test.

[2017-06-26 13:54] lvermeulen commented on #573
This seems to be an XSLT issue. I faced the same problem and simply edited the (NUnit) XSLT until I got what I wanted.

[2017-06-26 18:04] rocknet commented on #857
[This gitter convo](https://gitter.im/Microsoft/msbuild/archives/2017/03/22) seems potentially relevant.  msbuild and antlr exerienced the issue with firing up another app domain.  It appears Specflow does the same thing when I looked at the specflow trace.

That conversation [spawned this bug](https://github.com/Microsoft/msbuild/issues/1900).

I happened to search on this error again because I'm

[2017-06-27 12:57] #575 closed

[2017-06-28 10:46] SabotageAndi commented on #857
I just released SpecFlow 2.2. This version does not depend anymore on MSBuild.
If somebody with this issue could try it out and give us feedback of the result?

[2017-06-28 10:48] nazarenomanco commented on #857
I'll test in one hour.

[2017-06-28 12:06] nazarenomanco commented on #857
@SabotageAndi how I can install it?

[2017-06-28 13:01] nazarenomanco commented on #857
@SabotageAndi it seems working.
I had also to update the NUnit Package (from 2.6.4 to 3.7.1) I imagine for the targetFramework aligned to SpecFlow.
I'll keep you updated.
Thanks!

[2017-06-28 14:22] rocknet commented on #857
@SabotageAndi, it has not fixed the issue for me.  I'm on gitter now if you want to chat.

[2017-06-29 15:32] nazarenomanco commented on #857
@SabotageAndi sorry but today the problem comes out again 😢

[2017-06-30 08:45] SabotageAndi commented on #865
@joshuanapoli
You can use vstest.console.exe in AppVeyor builds and use the AppVeyor- Logger to get the test output reported back.
I created an example for that: https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/AppVeyor_Support

You find the appveyor.yml here: https://github.com/techtalk/SpecFlow.Plus.Examples/blob/master/appveyor.yml

Does this solve your requirements?

[2017-06-30 08:49] SabotageAndi commented on #864
Because of no reaction => issue is closed
Please reopen if you have new input for us. Thanks!

[2017-06-30 08:49] #864 closed

[2017-06-30 08:53] SabotageAndi commented on #804
Please have a look at PR https://github.com/techtalk/SpecFlow/pull/874. It implements it for XUnit. A solution for MSTest will look similar.

[2017-06-30 08:55] SabotageAndi commented on #542
SpecFlow 2.2 was released on Tuesday.
http://specflow.org/2017/specflow-2-2-0-released/

[2017-06-30 08:55] #542 closed

[2017-06-30 08:58] SabotageAndi commented on #701
Should be fixed in SpecFlow 2.2, because we don't have any reference to MSBuild.

[2017-06-30 08:58] #701 closed

[2017-06-30 13:28] paulroho opened #878 "NullReferenceException on Processing an Empty Feature File"
If a feature file contains just blanks, a NullReferenceException occurs:

I think it would be better to either ignore the file just show a proper warning.

(SpecFlow 2.2)

[2017-06-30 13:54] paulroho opened #879 "Support specflow.json Configuration in Visual Studio Extension"
Currently [configuration via specflow.json](http://specflow.org/2017/specflow-2-2-0-released/) only works when building using the [MSBuild integration](http://specflow.org/documentation/Generate-Tests-from-MsBuild/).

As the Visual Studio extensions does not consider specflow.json, these features do not work:
* The code behind generation on saving a feature file
* Editor support including syntax h

[2017-06-30 16:03] mikap83 commented on #857
Apparently the issue is solved

[2017-07-02 15:12] aptester opened #880 "parallel execution using xUnit hangs when steps are calling async methods"
I'm facing an issue when parallel execution using xUnit hangs when the steps are calling async methods. One observation was that execution only seems to hang when number of concurrent tests matches number of processors. Executing 2 or 3 tests in parallel ran fine while 4 tests hang on a quad-core processor. Also got the same result using the newly added 'async/await' support.

I was able to reprod

[2017-07-02 15:23] SabotageAndi commented on #880
Could you provide us a project where we can reproduce this issue? Thanks!

[2017-07-02 15:35] aptester commented on #880
Here is a sample project I have been using to identify the issue - https://github.com/aptester/SpecflowSamples

[2017-07-02 17:07] aptester commented on #804
@SabotageAndi Do you want to support adding TestContext to FeatureContext or ScenarioContext as done in #874?

[2017-07-03 02:47] Bakanych opened #881 "Runtime plugin: ITestExecutionEngine registration doesn't work"
Hi,
i have custom runtime plugin with the following code:

[code]
It worked with version 2.1 and appeared to stop working in version 2.2.
When I debug plugin code I can see runtimePluginEvents registers new type, but according to scenario stack trace default TestExecutionEngine is used.

[2017-07-03 06:24] gasparnagy commented on #881
[EngineConfSample.zip](https://github.com/techtalk/SpecFlow/files/1118567/EngineConfSample.zip)

For me it worked. See attached sample.

[2017-07-03 06:55] Bakanych commented on #881
Just've checked. Looks like it happens with SpecRun plugin only. It does work with mstest and nunit.
Thank you!
Who can I address any SpecRun issues?

[2017-07-03 09:24] gasparnagy commented on #881
@SabotageAndi can check the SpecRun related issues.

[2017-07-03 09:31] SabotageAndi commented on #881
With SpecFlow 2.2 and SpecFlow+Runner 1.6 we are overriding the TestExecutionEngine with our own implementation.
So you registration will be overridden by the SpecRun plugin.

@Bakanych why do you need to register your own test execution engine?

[2017-07-03 10:09] gjarosz commented on #688
I've installed **Specflow 2.2** today. The issue for me was the same the report couldn't be generated, the error _"Operation is not valid due to the current state of the object."_ was returned.
Stackoverflow mentions that **StepDefinition** steps could be the issue here. Indeed I was using them in my project. **Replacing** them with a set of Given/When When/Then combinations **allowed me** to gene

[2017-07-03 10:47] Bakanych commented on #881
@SabotageAndi I'm developing test report plugin for 3rd party test reporting system, so I need to handle all test execution events inclusive binding hooks.

[2017-07-03 15:39] SabotageAndi commented on #881
@Bakanych ok, that is a valid reason.
Currently the class is internal, so you can not reference the plugin and inherit from that. I could make it public, but for that I need to make a new release. That will take some time.

One way that could work and you do not want/can wait:

- create a class which act as a wrapper of ITestExecutionEngine like a decorator.
- resolve the current ITestExecutionEng

[2017-07-03 15:40] SabotageAndi commented on #881
@gasparnagy What do you think about an API, where you can hook events, to get this kind of information?
So you don't have to make your own implementations?

[2017-07-03 15:48] SabotageAndi commented on #804
@aptester Yes, I think that is the best way to get support for it into SpecFlow.
Only difference is, that the TestContext is not injected by the constructor, but by a property: https://msdn.microsoft.com/en-us/library/ms182527.aspx#Anchor_2

[2017-07-03 16:03] aptester commented on #804
I have some code ready to send out where I inject the MSTest TestContext property into the ScenarioContext as done for xUnit. I was inquiring whether that is fine or should I add the TestContext into the FeatureContext as the OP requested.

[2017-07-03 16:08] SabotageAndi commented on #804
Ah, sorry, didn't read it complete. It was a long day...
I think the ScenarioContext is the correct one. As I understood the documentation, TestContext is set for every test and not once per class.

[2017-07-03 16:33] Bakanych commented on #881
@SabotageAndi It makes sense..
Actually I also asked about alternative approach [here](https://groups.google.com/forum/#!topic/specrun/WuyQsahhCrk). I will be more than enough for me to have access to SpecRun test results instead of doing that tricks with SpecFlow events.

[2017-07-04 07:35] SamJongenelen opened #883 "Scoped binding not recognized in editor"
When we use _Scoped Bindings_, the VS editor displays as if the step definitions are not found/binded.
Pressing F12 gives a popup `Multiple matching bindings found. Navigation to first match`.

At runtime the StepDefition is found and executed w/o issue. Am I doing something wrong?

VS2015, specflow 2.**1**

[2017-07-04 07:36] gasparnagy commented on #881
@Bakanych yes, for reporting that should be a better approach

@SabotageAndi I think in general it is pretty bad that SpecRun overrides the execution engine. Overriding that should be rather a last chance backdoor for solving special purpose things. If SpecRun also overrides that it basically closes that backdoor (or forces people not to use SpecRun). I also have other plugins that use the same :(

[2017-07-04 07:37] SabotageAndi commented on #883
This is a known limitation of the Visual Studio Extension.

[2017-07-04 07:42] SabotageAndi commented on #881
In my case, I am not interested in the information. I am enhancing the test execution engine with additional functionality. So I have really to hook into it.
But let's discuss this in a call.

[2017-07-04 07:47] gasparnagy commented on #881
@SabotageAndi I guessed so :) let's talk next week Mon/Tue when I am back.

[2017-07-04 12:26] aptester commented on #880
Did you get a chance to try out the project? I did try out replacing the static ITestRunner object with a class member during code generation, but the problem didn't go away. I can help with further investigation but I would need some pointers where to look.

[2017-07-04 12:35] SabotageAndi commented on #880
No, not yet. Will probably take some days until I find time for it.

[2017-07-04 15:59] elias551 opened #884 "Random test result using nunit + parallel execution"
Hello,

I have reproduced an error that occured randomly on my CI server:
https://github.com/elias551/specflow-nunit-parallelism-error-poc

I'm using specflow + nunit. It seems like the tests executed in parallel tend to fail often.

In the example I have 10 tests, that I allow to execute in parallel (no tests are dependent to each other), if my machine have 8 cores, then the first 8 tests execute

[2017-07-05 14:48] cfeckardt commented on #470
Any news on this?

[2017-07-05 15:27] teknlgyuser commented on #857
SpecFlow 2.2 fixed the issue, but the developer that tested it now has a new issue.  The "Test Explorer" is displaying duplicate names when set to "Group By Traits" and they are all the same specflow tests under each trait name.  We are going to see if another developer has the same issue. We will test it within the next week.  Thanks for your help so far.

[2017-07-05 16:13] SabotageAndi commented on #470
No. But we are working on .NET Core support, perhaps this will then also work for UWP.
What you can do, is to move your logic, that you want to test, into a PCL and reference this from your .NET 4.5 unit test project.

[2017-07-05 16:13] SabotageAndi commented on #857
@teknlgyuser Please open than a new issue for it.

[2017-07-06 08:28] Icaroto commented on #870
Hello,

I dug a little deeper into this after Specflow 2.2 was released. The issue is not related with context injection itself. Even using "normal" hooks I can see the error.

It happens when code goes from [AfterFeature] to [AfterTestRun] hooks.

I created a dummy project to reproduce the error. Works fine on Windows VS but fails to execute the AfterTestRun on Mac Visual Studio. Just add a break

[2017-07-06 10:56] Peter-B- commented on #884
Hello,

I see the same problem.

When I set `[assembly: LevelOfParallelism(1)]`, all unit tests pass.

When I set `[assembly: LevelOfParallelism(4)]`, a lot of tests fail. But never the unit tests that run with the first batch.

When I set `[assembly: LevelOfParallelism(400)]`, all unit tests are started at the same time and all pass.

I use [assembly: `Parallelizable(ParallelScope.Fixtures)]`.

I

[2017-07-06 11:06] SabotageAndi commented on #884
@gasparnagy Do you have an idea?

[2017-07-06 20:15] todoubled711 opened #885 "SpecFlow + Coded UI"
Hi,

I have a quick question about SpecFlow. I have recently build a plugin that allows SpecFlow to work with Coded UI. Now that they're working together I have noticed that the same test that I ran in Coded UI, when synced up with SpecFlow run extremely slow.

My question is could this be because I am on the free version of SpecFlow. I noticed there is another version SpecFlow+, will that improve

[2017-07-07 03:07] Bakanych opened #886 "[SpecRun] System.NullReferenceException during parse [BeforeFeature] hook with FeatureContext parameter"
I've updated my solution to the most recent versions of SpecRun and SpecFlow (1.6 and 2.2 respectively).
I have a hook file with the following bindings:
[code]
When I run scenarios using specrun I get the following error:

[code]
Demo solution which includes specrun and nunit test projects with the same hooks:
[SpecflowNUnitTests.zip](https://github.com/techtalk/SpecFlow/files/1129878/SpecflowNUni

[2017-07-07 09:49] SabotageAndi commented on #886
Thanks for the repo.
I will have a look at this issue.

[2017-07-07 12:56] SabotageAndi commented on #885
@todoubled711 Can you give us some numbers, about what you think is extremely slow?

When you implemented your plugin, did you had a look at our documentation to get CodedUI Support? It is here: http://specflow.org/documentation/Using-SpecFlow-with-CodedUI-API/

SpecFlow+ contains an specialised test runner and other tools. They change currently nothing of the internal performance of SpecFlow.

[2017-07-07 14:23] todoubled711 commented on #885
Hi @SabotageAndi,

Thanks for the response. Yes, I have been through that document that is what helped me build the custom plugin. Our team at the organization is new to automated testing, we have only been doing it a little over a year now. At first we were building everything in Coded UI. We have two layers in our solution/framework one which we are calling the "UI Proxy" layer and the other is

[2017-07-07 18:58] jmb-mage commented on #791
After doing that monkey patch
`<Import Project="..\packages\SpecFlow.2.1.0\tools\TechTalk.SpecFlow.targets" Condition="Exists('..\packages\SpecFlow.2.1.0\tools\TechTalk.SpecFlow.targets')" />`
in the .csproj for a few months we eventually found out about
`[Binding, Scope(Tag ="xyz")]`

Our new process, and what I think is the eventual fix for this issue is to use [Scoped-Bindings](https://github.c

[2017-07-07 19:48] rceraline opened #887 "Step bindings are not not working: System.NullReferenceException"
Hi,

Bindings are not working and I have the following exception when I enable SpecFlow tracing:

![binding_error](https://user-images.githubusercontent.com/3820705/27974330-8ce25096-632b-11e7-9ef7-1659756aa600.JPG)

[code]

I can still run the tests so I assume it must be a problem with the extension. I'm using VS2015 with the SpecFlow for Visual Studio 2015 extension (version: 2017.1.6).

In att

[2017-07-08 22:04] DamirAinullin opened #888 "System of plugins is broken for Specflow 2.2.0"
I support free plugin [https://github.com/DamirAinullin/specflow-retry](https://github.com/DamirAinullin/specflow-retry) for Specflow.

After release of 2.2.0 I found the problem that the plugin is initialized two times (Method Initialize from GeneratorPlugin class is called two times). And in debug mode I see two same plugins in collection Plugins in SpecFlowConfiguration class. It does not repro

[2017-07-09 15:28] jamiefraser opened #889 "Version 2.2 not working with Xamarin Test Cloud"
I'm able to execute my tests locally on iOS (device and simulator) but when I upload to Test Cloud using SpecFlow package v 2.2 I get the following cryptic exception:

1) Test Error : SubaruConnect.SpecFlowTest.Features.LoginFeature.LoginFeature(iOS).Login
   System.BadImageFormatException : MVAR 1 () cannot be expanded in this context with 1 instantiations
  at System.Lazy`1[T].CreateValue () <0x

[2017-07-09 15:31] SabotageAndi commented on #889
Xamarin has some integration into SpecFlow, which they need to adjust to SpecFlow 2.2.

[2017-07-09 15:33] jamiefraser commented on #889
Awesome – thanks for the follow-up.  I’ve got a note out to Xamarin as well.

From: Andreas Willich <notifications@github.com>
Reply-To: techtalk/SpecFlow <reply@reply.github.com>
Date: Sunday, July 9, 2017 at 11:31 AM
To: techtalk/SpecFlow <SpecFlow@noreply.github.com>
Cc: Jamie Fraser <jamie.fraser@imason.com>, Author <author@noreply.github.com>
Subject: Re: [techtalk/SpecFlow] Version 2.2 not w

[2017-07-10 00:57] rodrigoelp opened #890 "SpecFlow dependency on Newtonsoft.Json v9.x"
Hi guys, is it possible to upgrade newtonsoft.json to v10?

I do not have any issue with the library as it is, but we are using v10 (as some other libraries we are using) and it seems SpecFlow is downloading v9 as one of its dependencies even though it does not require it in a project that already has a higher version of json.

[2017-07-10 13:35] mraigonsp commented on #542
Hi @SabotageAndi ,
Is included in the SpecFlow 2.2 the support for Async / Await operations commented here? The notes in http://specflow.org/2017/specflow-2-2-0-released/  doesnt mention anything about this issue number ;-)

Many thanks!

[2017-07-10 13:45] SabotageAndi commented on #542
Ups, we forgot to add this to the changelog.
2.2 has async/await support included.

We will update the information.

[2017-07-10 23:07] jpi-01 opened #891 "SpecFlow 2.2.0 and Coded UI Issue"
The support for coded UI is broken in version 2.2.0. The workaround creating a specialized generator provider as described in [Using SpecFlow with CodedUI API ](http://specflow.org/documentation/Using-SpecFlow-with-CodedUI-API) does not work anymore.

Code generation ends with the following:
**#error 'Generation error: Interface cannot be resolved: TechTalk.SpecFlow.Generator.UnitTestProvider.IUni

[2017-07-11 06:43] SabotageAndi commented on #888
Interesting. In the SpecFlow+Runner I can not see the described behavior.
Could you send us a PR with failing tests, that we can have a look at it?

[2017-07-11 06:47] SabotageAndi commented on #891
@jpi-01 Could you provide us a small project to reproduce the behavior?

@gasparnagy Could this a problem because of the BoDi upgrade or TestThreadContext?

[2017-07-11 06:51] SabotageAndi commented on #885
@gasparnagy I think the performance decrease when coming from unit tests are because of the needed "overhead" from SpecFlow.
But it shouldn't be that bad.
What do you think?

[2017-07-11 06:54] SabotageAndi commented on #890
Interesting.
The dependencies on nuget.org says >= 9.0.1, so it should be fine, if you have already v10 in the project.

[2017-07-11 08:23] gasparnagy commented on #885
@todoubled711 @SabotageAndi The overhead that SpecFlow adds on top of the unit test execution is a matter of milliseconds, not seconds. So that cannot be the reason. You would need to make some measurements with a performance profiler to figure out the reason.

Looking at the code the only thing that comes to my mind is that the SpecFlow version does an additional assertion for each operation. Als

[2017-07-11 08:25] gasparnagy commented on #891
@SabotageAndi I don't think so, because that one is a runtime thing and here we have a container for the generator.

[2017-07-11 08:43] gasparnagy commented on #884
@SabotageAndi No...

@elias551 @Peter-B- Could you please try to place the symbol file (.pdb) next to the techtalk.specflow.dll in order to see a line number for the failure? The sybbol files for v2.2 can be downloaded from [here](https://ci.appveyor.com/api/buildjobs/5tm8f9ky3cbfa25g/artifacts/Installer%2FSpecFlowBinPackage%2Fbin%2FSpecFlowSymbolPackage.zip).

[2017-07-11 08:54] gasparnagy commented on #870
interesting. based on the reference source, the exception is thrown from this method, that would mean that one of the parameters is void, ref or pointer...

[code]

[2017-07-11 08:59] gasparnagy commented on #870
@Icaroto two questions:

1. on win: do you see the expected "Normal After Test Run" message in the test output? Can it happen that the exception is also thrown there, but VS swallows it?
2. does the exception go away if you remove all hooks but the after test run?

[2017-07-11 09:03] gasparnagy commented on #688
@gjarosz this is a bug that needs to be fixed in the reporting... do you want to try fixing it?

[2017-07-11 09:18] elias551 commented on #884
@gasparnagy the dll I got from nuget do not match your pdbs, I have the same stack trace.

I retried with the last source in the repo, I still have null reference exception but not at the same place:

[code]

[2017-07-11 09:32] gasparnagy commented on #884
@elias551 thx for the info. And if you put the lock into the context manager, do you still get the other error or with this "fix" the other error also goes away?

[2017-07-11 09:39] gasparnagy commented on #884
@elias551 one more thing: how does the test output look like (where is shows the executed steps and the called step definition methods)? Do you see things like `#5: Given ...` or just `Given ...`?

[2017-07-11 09:46] Icaroto commented on #870
Hello @gasparnagy

1. I guess you are correct. I ran the dummy project once more and got the following output:

[code]
So, although you can still debug (does not crash when enters the AfterTestRun hook) it does NOT output the "Normal After Test Run" message (I must have confused it with the After Feature output previously, sorry)

Another test I just did was to try to write it to a file, changing

[2017-07-11 09:50] Peter-B- commented on #884
Hello

I copied the pdbs and I get NullReferenceExceptions with differen stacks:

[code]

and

[code]

My steps all look like:
[code]

I have no `#5`.

Does that help you?

[2017-07-11 09:52] Peter-B- commented on #884
@gasparnagy
The first stack trace seems to come up with the first failing test. The second comes for all following scenarios.

[2017-07-11 09:53] elias551 commented on #884
@gasparnagy @Peter-B- my bad, my project was still using 2.1.0, so I updraded to 2.2.0, and the stack traces are now the same as Peter's.

[2017-07-11 10:06] gasparnagy commented on #870
OK. So basically we can say that the AfterTestRun hook is not fired on VS+MAC.

This is probably due to the fact that the test execution frameworks do not usually provide a way to hook for the end of the "last" test. Therefore SpecFlow subscribes to the AppDomain Unload event of the AppDomain that executes the test and fires the AfterTestRun hook.

As it looks like, the test AppDomain handling is

[2017-07-11 10:07] gasparnagy commented on #884
@Peter-B- @elias551 thx. could you make a comment on my question related to the test output? https://github.com/techtalk/SpecFlow/issues/884#issuecomment-314390459

[2017-07-11 10:17] Peter-B- commented on #884
@gasparnagy Sorry, I didn't read properly. When i switch to parallel execution, I don't see the outputs any more. Sometimes I see my own `Console.WriteLine` outputs, but I can't find any information from SpecFlow.

[2017-07-11 10:28] Icaroto commented on #870
I see... well

Is there any work around I can use? I need to execute a few lines of code once the last feature run.
Is there a way to find out under the AfterFeature hook if that's the last feature? With that I could use my code inside a if or something like that to avoid the AfterTestRun

[2017-07-11 11:21] gasparnagy commented on #870
AfterFeature: unfortunately the very last AfterFeature is also called from the same event. So that won't help.

The problem is that whether there will be a next test is a decision of the test runner and this information is not passed in to the test execution.

The only "workaround" I see is to find a test runner framework (maybe xunit?) that support an "after last test" event, so that SpecFlow cou

[2017-07-11 11:28] gasparnagy commented on #884
:( my suspicion is that SpecFlow does not recognize properly that NUnit runs the tests in parallel and it does not initialize the necessary thread safe infrastructures. (e.g. it creates a `ContextManager` per thread, so the tests will not access it concurrently).

Normally, parallel execution is detected if the test runner initialized by the test (at `TechTalk.SpecFlow.TestRunnerManager.GetTestRun

[2017-07-11 11:31] elias551 commented on #884
Indeed logging is strange, only the first running test has the output and it contains the traces of every test:
[code]

The first failing test has the following line in logging:
```-> Using default config```

[2017-07-11 11:33] Peter-B- commented on #884
@gasparnagy Thanks a lot for your effort.

I hope I find some time to take a deeper into this issue later this week. Maybe I can dig out something that might help you.

[2017-07-11 11:36] SabotageAndi commented on #870
In the SpecFlow+Runner the AfterTestRun hook does not depend on the AppDomain event. We will fire it, when really the last scenario was executed. No hacks needed.

[2017-07-11 12:43] Xaiden opened #892 "Individual tests showing as their own class in Test Explorer when ). is used in a table row"
Experiencing an issue when a table cell contains the characters ').', As shown below it picks with each test in the scenario outline as its own class in test explorer.

Example Scenario:

![image](https://user-images.githubusercontent.com/904543/28068251-94d73514-663c-11e7-9996-a78975f8c434.png)

When searching in test explorer for the trait tag, each scenario which contains a close bracket procee

[2017-07-11 12:55] gasparnagy commented on #884
@Peter-B- I will try to figure it out. The logs from @elias551 basically proved that SpecFlow does operate in parallel mode (because you see the thread numbers in the log), so the issue must be something different. Also the last warning on thread 18 is very strange... I will check it.

[2017-07-11 13:03] gasparnagy commented on #892
Unfortunately the "bug" is in the nunit test adapter most probably. The VS test execution integration interface is very limited. Basically the adapters have to pass in a single string that describes the test and the test adapter tries to parse it in order to get the class name. There are some hacks there in the parsing, like that it finds a parenthesis and the last period before that and everythin

[2017-07-11 13:19] SabotageAndi commented on #892
Yes, this is probably in the NUnit Test adapter. The generated code is correct.

@Xaiden are you stuck with NUnit or can you switch test runner? XUnit and the SpecFlow+Runner are better at displaying the tests in the test explorer.

[2017-07-11 13:37] DamirAinullin commented on #888
Yes, sure, I'll do it a bit later.

Also you can try to open solution from [https://github.com/DamirAinullin/specflow-retry](https://github.com/DamirAinullin/specflow-retry). The problem is reproduced when I try to regenerate feature file.

[2017-07-11 14:47] gburghardt opened #893 "Add support to mark steps as 'Obsolete'"
I have been trying to use business terms in our scenarios as much as possible. That's great, because developers speak the same lingo as our client, but our client recently had a change in terminology from "Counselor" to "Field Staff". We have 100+ scenarios that have sometimes multiple steps with the word "Counselor" in them. It's an easy search-and-replace job, but the challenge is communicating

[2017-07-11 15:08] jpi-01 commented on #891
Hi!,

@SabotageAndi Here is a solution with two projects per version, a unit test project that contains a dummy feature we try to generate, and a generator. Legacy is for SpecFlow 2.1, while the other one if for SpecFlow 2.2. PS The packages and binaries have been removed to limit the size of the download. Legacy generate the code behind without a problem, non-legacy exhibit the behavior describe

[2017-07-11 15:46] SabotageAndi commented on #893
I really like the idea.
At runtime to display an error/inconclusive message should be possible.
At compile time without new integration and a lot of new code, this is not possible. The resolution from step to method is only done at runtime. At compile time, we only transform the pure gherkin into code.

A good start to work on this is
https://github.com/SabotageAndi/SpecFlow/blob/4c64ef774b6a416ba

[2017-07-11 16:05] gburghardt commented on #893
@SabotageAndi: Good information. I wasn't really looking for compile time support. Test runtime support would be just fine.

I actually forked the project and was poking around the source code. I'll take a look at TestExecutionEngine.

[2017-07-11 20:29] gasparnagy commented on #893
You can also play with this idea as a plugin. Look at this example: https://github.com/gasparnagy/Sample_SpecFlow.PrivateSteps

[2017-07-12 10:25] rodrigoelp commented on #890
I know, after I tried to update my project, noticed I had added to the repo v9 and v10 which seems weird to me; that's the reason why I have created the ticket 🤓

[2017-07-12 13:02] nazarenomanco commented on #869
On our CI (Visual Studio 2015 installed) we had to fall back to SpecFlow 2.1 and NUnit 2.6.4 to avoid the NullReferenceException

[2017-07-12 13:57] bedegaming-aleksej opened #894 "Parallel execution of test scenarios within a fixture with NUnit 3"
**Background**

I am working on a test solution that utilizes a combination of NUnit v3.7.1 and SpecFlow v2.2.0.

NUnit 3 now supports running test cases within a fixture in parallel with each other by setting ParallelScope to Children on an assembly level.

Tests are run in a single AppDomain.

*Problem*
This seems to kill scenario context injection with following errors:
[code]

[2017-07-12 14:02] bedegaming-aleksej commented on #894
https://github.com/techtalk/SpecFlow/issues/657 could be related.

[2017-07-12 18:39] danieldoran opened #895 "Directory created containing copy of DLL's created by "features""
Hi, When i run SpecFlow version="2.1.0" a directory is created (containing my project DLL's, pdb files etc. ) which has my Windows machine name embedded in it. I thought I could configure Specflow using the"Generator path" to put it somewhere else but that doesn't work. This is a problem because I do not want to save these files in my source control system  and because of the naming structure it i

[2017-07-13 13:04] mikap83 opened #896 "Visual Studio Plugin for VS2017 does not always use Specflow Generator 2.2.0.0"
Hi,

It's been a while our team is not able to generate the correct feature.cs files.

When we re-generate the file, either by saving the .feature file or by right-clicking on it and clicking on "Run Custom Tool", we obtain a file generated by the Specflow Generator 1.9.0.0.

We recently upgraded first to Specflow 2.1 and then to 2.2, so we expect to be able to generate with the new generator, but

[2017-07-13 13:13] SabotageAndi commented on #896
VS2017 does sometimes strange things when it tries to load the generator for generating the code behind file.
Have a look at #857

Workaround and for me best practise is, to not generate the code behind files via saving, but with the MSBuild integration (http://specflow.org/documentation/Generate-Tests-from-MsBuild/). With this, the code- behinds are generated at compile time. So you also do not n

[2017-07-13 13:18] mikap83 commented on #896
HI @SabotageAndi thanks a lot for your reactivity!

For the moment I was using the command line; I had followed the discussion you linked, but I missed that workaround: I'll give it a try.

Cheers

[2017-07-13 15:30] mikap83 commented on #896
Hi, tried the workaround but it didn't perform as expected. I had more luck by setting the following pre-build command (and disabling the re-generate feature file pop-up :D)
$(SolutionDir)..\packages\SpecFlow.2.2.0\tools\specflow.exe generateall $(ProjectPath)

[2017-07-13 16:39] goblinmaks opened #897 "[Question] How to add custom text line to TestItemResult using plugin"
It is possible to add any text to TestItemResult using plugin ?

My problem: I run tests using SpecRun and SharedAppDomain multithreading,
When I try implement plugin based on ITestTracer all my output (Console.Writeline) add to fist test.

Thanks,

[2017-07-13 17:48] csmac3144 commented on #857
I have SpecFlow 2.2 installed and I am still getting the Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0 error...

[2017-07-13 18:36] todoubled711 commented on #885
@SabotageAndi @gasparnagy

It isn't an additional assertion it is just not paired with the interaction due to bindings being separate methods. Before I had one method that had all of the logic within it so I saved all of the assertions until the end of the test. I wouldn't think that if I run it with the action or save it until the end it would change the performance of the overall test.

With the

[2017-07-13 19:42] todoubled711 commented on #885
Do you recommend any particular performance profiler tool or does Visual Studio have one built in? I am not extremely familiar with these.

[2017-07-14 11:08] RenuTanwar commented on #448
Hi All,

Few of the test scenarios are unexpectedly failing with NullReferenceException, i am using parallel execution with Specflow v2.2 + NUnit v3.7.1.

Is there any solution for this or any SpecFlow extension to provide thread safety?

[2017-07-14 13:39] goblinmaks commented on #897
My mistake, all is working. Thanks,

[2017-07-14 13:39] #897 closed

[2017-07-14 13:51] SabotageAndi commented on #448
@RenuTanwar You are in the wrong issue. This is about MsTest and not NUnit.
I think there is already an issue for your problem. Have a look at: https://github.com/techtalk/SpecFlow/issues/884

[2017-07-14 13:52] SabotageAndi commented on #894
Could it be related to https://github.com/techtalk/SpecFlow/issues/884 ?

Do you have a project where we can reproduce this issue?

[2017-07-14 15:38] mriely commented on #857
I'm having the same issue. In Visual Studio 2017 I updated to SpecFlow 2.2 and still get the Microsoft.Build.Framework errors.

[2017-07-16 23:47] aliaksandrbasau commented on #894
@SabotageAndi I faced the same issue today. Here is a sample project that can be used to reproduce the issue:  [NUnitExample.zip](https://github.com/techtalk/SpecFlow/files/1151415/NUnitExample.zip)
Just run runtests.cmd.

[2017-07-17 06:33] jkarthick89 commented on #471
Changing Project ToolsVersion to "12.0". Works well !! Thank you.

[2017-07-17 07:39] SalamiArmy commented on #803
This feature of 2.2.0 is really not working for me... I can't get the deployment item attribute to generate with SpecFlow 2.2.0.
In 2.1.0 it does generate a test category attribute like this:
`[Microsoft.VisualStudio.TestTools.UnitTesting.TestCategoryAttribute("MsTest:DeploymentItem:test.txt")]`
But that same feature file when regenerated with 2.2.0 doesn't generate a deployment item attribute or

[2017-07-17 11:49] nmaarse commented on #896
[SpecflowTest.zip](https://github.com/techtalk/SpecFlow/files/1152420/SpecflowTest.zip)
Hi,
Not sure if if i have the same problem. But i do have weird issue with VS2017 projects vs VS2015 project. I have 3 projects in the zipfile that do exactly the same: In a subfolder create a .feature file and have the steps generated next to the .feature file. Result:
**SpecflowTest_2015 project:**
-works wit

[2017-07-17 22:32] GPetrites opened #898 "Add support for commas and currency symbols in table columns"
Scenario: Integers and decimal numbers in table data should be easily human readable
    SpecFlow is intended to allow us to write specifications that can be share with business users.
    When using a table to provide sample data which contains large integers and decimals, the table
    should support commas so that the data can be easily interpreted by the user.
    NOTE: Users in other countrie

[2017-07-18 06:32] SabotageAndi commented on #898
You can adjust the parsing of values in tables with ValueRetrievers.
Have a look at the documentation here http://specflow.org/documentation/SpecFlow-Assist-Helpers/ under Extensions.

So you can adjust it to your needs.

[2017-07-18 12:48] GPetrites commented on #898
While I understand that I can override the default parsing, using commas in numerical data (both in tables and in steps) seems so common and useful that I suggest it is worthy to be included in the framework itself.

[2017-07-18 13:32] SabotageAndi commented on #898
I stopped making assumption about formatting. Had to many surprises with them.
For your example: In a german locale, comma and point are switched. The point is the thousands separator and comma is the decimal point.

Currently we are using TryParse without Culture in the Retrievers, so this could potential be improved. But every improvement has to consider non us locales.
@GPetrites if you provide

[2017-07-18 19:32] metalphoenix opened #899 "Out of the box, SpecFlow feature file generates: Generation error: Object reference not set to an instance of an object."
As seen here: https://stackoverflow.com/questions/45148420/out-of-the-box-specflow-is-giving-me-a-generation-error?noredirect=1#comment77318969_45148420

Recap:

Setup:
[WebApplication.zip](https://github.com/techtalk/SpecFlow/files/1157070/WebApplication.zip)

VS2017, XUnit, Specflow.XUnit, xunit.runner.visualstudio (and all dependent packages), mvc site. All packages, etc updated.

1. Add a feat

[2017-07-18 19:34] metalphoenix commented on #899
It looks like I accidentally uploaded the project twice. Sorry.

[2017-07-18 19:36] SabotageAndi commented on #899
You have added SpecFlow to your Web- project.
This doesn't work. You have to create a separate unit test project, where you add SpecFlow.

Please follow the steps from the Getting started: http://specflow.org/getting-started/

[2017-07-19 09:00] realfaisalk opened #900 "Tests are duplicated/doubled up in Visual Studio Test Explorer"
Windows 10 version - 1703, build 15063.138
Visual Studio 2017 Enterprise - 15.2
Specflow v2.20
SpecFlow.MsTest v2.2.0
SpecRun.Runner v1.6.0
SpecRun.SpecFlow v1.6.0
SpecRun.SpecFlow.2-2-0 v1.6.0

Hi,

This is not a blocker, but since upgrading SpecFlow from 2.1.0 to 2.2.0 and SpecRun 1.5.2 to 1.6.0 I've noticed that when tests are grouped by "Traits" in Test Explorer they are duplicated/doubled up

[2017-07-19 13:03] metalphoenix commented on #899
I see. PEBKAC. I missed not only your own quick start guide, I've missed the whole Unit testing project bit. Sorry for taking your time but thanks for that time.

[2017-07-19 13:03] #899 closed

[2017-07-19 13:06] SabotageAndi commented on #899
No problem, was easy to spot. ;-)

[2017-07-19 23:28] K-R-M commented on #891
Had exact same error detailed by jpi-01.  My resolution was to roll back by VS project back to SpecFlow 2.1, remove the feature file and then recreate it.  More info on stackoverflow: [https://stackoverflow.com/questions/45202019/specflow-generation-error-interface-cannot-be-resolved/45202637#4520263]

[2017-07-20 11:49] AndrewWinDev commented on #857
Have exactly the same issue after upgrading to VS 2017 and already spent a lot of time to play around it.

One interesting thing I’ve noticed: I have ReSharper and NCrunch VS tools installed.
If I disable both – all is working correctly.
If I enable any – “Could not load file or assembly 'Microsoft.Build.Framework, Version=15.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'”
Hope it could

[2017-07-20 11:58] SabotageAndi commented on #857
@AndrewWinDev that's an interesting new information.
I am using R#, but I don't have this issue.
Does it work when you only disable NCrunch?

[2017-07-20 12:06] nazarenomanco commented on #857
I have only R# and I have the problem (with the version 2.1)

[2017-07-20 12:15] AndrewWinDev commented on #857
If I keep ReSharper enabled  nope.
So, any of this component prevent (conflicts?) of loading 'Microsoft.Build.Framework' assembly

[2017-07-20 12:16] SabotageAndi commented on #857
@nazarenomanco @AndrewWinDev which version of R# are you using? the latest?

[2017-07-20 12:26] SabotageAndi commented on #900
What do you have configured as unitTestProvider in you app.config?

[2017-07-20 12:28] AndrewWinDev commented on #857
2017.1.3

[2017-07-20 12:29] nazarenomanco commented on #857
Same: 2017.1.3

[2017-07-20 13:13] AndrewWinDev commented on #857
Well, after a lot of enable/disable this 2 tools, and a lot of VS restarts - now it's work with enabled NCrunch, but without not with R#.

[2017-07-20 13:27] SabotageAndi commented on #857
😞

[2017-07-20 13:30] p-gintare opened #902 "Specflow v2.2 running tests in parallel (4 tests) feature context for first 3 tests got deleted (using Nunit3)"
I have an issue with newest version 2.2. If tests are run in parallel some feature context in AfterFeature got all the context deleted, and just the last feature context has values that was set during tests. preview 20170523 version works perfectly

[2017-07-20 13:39] nazarenomanco commented on #857
A friend with 2017.1.2 does not have this problem.

We both do not have NCrunch

[2017-07-20 13:44] mikap83 commented on #857
Hi guys, I would exclude that the issue is provoked by ReSharper as a colleague of mine has the same issue, but neither Resharper. nor NCrunch installed.

[2017-07-20 13:46] AndrewWinDev commented on #857
Just created a small test project - no issues. :-(  (with enabled NCrunch and R#)
Will try to play a bit around and attach projects one by one, add packages and so on.

[2017-07-20 13:52] nazarenomanco commented on #857
In my experience sometimes I have the problem, sometimes not.
If the problem arises I have to undo pending changes on that feature (and connected cs file), close VS and restart. 80% of the times it works, 20% I have to these operations twice to make it works.
It seems that sometimes it "points" to a wrong library.

[2017-07-20 13:56] SabotageAndi commented on #857
Something is definitely screwing up the assembly loading within Visual Studio :-/

[2017-07-20 14:41] realfaisalk commented on #900
<unitTestProvider name="SpecRun" />

[2017-07-20 14:49] AndrewWinDev commented on #857
Another interesting observation:
Once I've added Wix 3.5 setup project, looks like SpecFlow starts using version 1.9

headers from generated files:
Without Wix setup project:
[code]

With Wix setup project:
[code]

PS. after removing Wix setup project - things doesn't change untill VS restarts.
Ony Close/Open solution won't help.

[2017-07-20 21:53] zannett opened #903 "Plugins for Visual Studio Integration"
# **Overview**
I would like the ability to register a plugin with the Visual Studio Integration for SpecFlow that would allow me to change the default behavior for step binding resolution. This would hopefully be able to affect syntax highlighting, step suggestions, and the behavior of 'Go To Step Definition' context menu options.

This request is based on the following forum post:
[https://groups

[2017-07-22 11:54] SamJongenelen opened #904 "Specflow 2.2.0 fails to read readonly project.csproj files"
Hey guys,

Since upgrading Specflow to 2.20 (from 2.1.0) the `TechTalk.SpecFlow.Targets` file seems to want to read back into the `.csproj` file.
I use `<Import Project="..\..\packages\SpecFlow.2.2.0\tools\TechTalk.SpecFlow.targets" Condition="Exists('..\..\packages\SpecFlow.2.2.0\tools\TechTalk.SpecFlow.targets')" />` in my `.csproj`.

This crashes my build on the tfs xaml build server. ~~I dont

[2017-07-22 18:31] SamJongenelen commented on #883
So, I've read there is a new extension being built. Any link to the project?

[2017-07-23 11:43] #745 closed

[2017-07-24 06:27] PiotrZienkowicz commented on #900
I have problems with same bug:
![test explorer](https://user-images.githubusercontent.com/20987645/28510654-e710e624-7049-11e7-8539-741dac6c86fb.png)

[2017-07-24 08:54] vasavisoma123 opened #905 "Displaying scenario names multiple times in Testexplorer"
In Testexplorer I could see scenario names multiple times even am not using scenario outlines.
could any one help in this.And when I run scenario is getting executing multiple times.

[2017-07-25 08:17] SabotageAndi commented on #902
@p-gintare Could you provide us a project where this behavior is reproduceable?

[2017-07-25 08:20] SabotageAndi commented on #904
If you use the MSBuild integration, we were always reading the csproj. With 2.1 and before, we were using the MSBuild API and since 2.2 we are parsing the csproj as XML.
See the entry in the changelog here: https://github.com/techtalk/SpecFlow/blob/master/changelog.txt#L25

[2017-07-25 08:21] SabotageAndi commented on #905
Does it look like this? https://github.com/techtalk/SpecFlow/issues/900

[2017-07-25 08:24] SabotageAndi commented on #900
@realfaisalk
Do you have this behavior in every project or only in this one?
Could you check your packages folder, if there are multiple versions of the SpecRun.Runner package.

[2017-07-25 08:25] SabotageAndi commented on #895
SpecFlow doesn't create such a folder.
Could you post a screenshot of this folder with your machine name embedded?

[2017-07-25 08:41] vasavisoma123 commented on #905
yes

[2017-07-25 08:58] SamJongenelen commented on #904
I've made a small change and a PR for my issue. small change

[2017-07-25 09:03] PiotrZienkowicz commented on #900
@SabotageAndi
I have this problem in diffrent projects and only one SpecRun.Runner.1.6.0.

[2017-07-25 11:16] realfaisalk commented on #900
@SabotageAndi

I have 2 projects in 1 solution. Both projects have this problems.

Packages:
![image](https://user-images.githubusercontent.com/23498757/28569756-1b79c770-7133-11e7-8354-4bb3a2a60154.png)

[2017-07-25 12:20] davetheninja commented on #477
Guys this hit me today, have a number of developers blocked at work.  I will get a pull request together to resolve this (at least for the latest resharper).

[2017-07-25 15:27] SamJongenelen commented on #477
Ok
https://github.com/davetheninja/SpecFlow.VisualStudio/commit/74eac83a44c5536f771890cc0e1d83b9ba202ab5

looks good!

[2017-07-25 15:35] davetheninja commented on #477
Current status: Getting dev environment setup (aka MSDN downloads of 2013/2015/2017 VS and doing the installation dance)

[2017-07-25 15:56] davetheninja commented on #477
@SamJongenelen  - Damn! @SabotageAndi and @JMontagu already got the fix in as I was building the VM!

Brilliant!  Saves me time!

[2017-07-25 16:07] SabotageAndi commented on #477
A new VSIX package with this change is on our MyGet feed available: https://www.myget.org/F/specflow-vsix/vsix/
Could somebody with the problems try it out and give feedback?

[2017-07-25 16:08] davetheninja commented on #477
Will do as soon a i get to work in the morning

[2017-07-25 16:16] davetheninja commented on #477
Just tried it on a clean project.  Ctrl+T Ctrl+R resulted in usual error.  After build Ctrl+T Ctrl+R ran the spec.

[2017-07-25 16:18] davetheninja commented on #477
Can confirm Debug test works on the empty shell project also.

[2017-07-25 19:39] SamJongenelen commented on #477
Hmm I just tried without luck/

What happens (in Gherkin because why not):

background:
- the Vsix
- Vs2015
- Resharper 2017.1.3
- SpecFlow 2.2.0
- SpecFlow configured for 'Resharper'  in _options_

[2017-07-26 01:33] davetheninja commented on #477
Try building first. That worked for me

On Wed, 26 Jul 2017 at 3:39 AM, Sam Jongenelen <notifications@github.com>
wrote:

[2017-07-26 08:23] SamJongenelen commented on #477
Haha, yes well I did, ofcourse :) I even made sure all the _.feature.cs_ files were generated with 2.2.0
CTRL+U,CTRL+R is build + test

@davetheninja are you saying all of my scenarios result in working tests on your end ?

[2017-07-26 12:47] SamJongenelen commented on #904
I've actually found some [MSDN remarks](https://msdn.microsoft.com/en-us/library/47ek66wy(v=vs.110).aspx#Anchor_2) on the FileStream ctor, and the why on my change:

My issue was that my .csproj is indeed readonly and so another ctor should be used

[2017-07-26 12:55] SabotageAndi commented on #904
I see. Thanks for the fix. Wasn't aware of this behavior. You learn everyday something new.
Could you add an point to the changelog? I will then merge your PR!

[2017-07-26 13:00] SamJongenelen commented on #904
changelog PR https://github.com/techtalk/SpecFlow/pull/907

[2017-07-26 13:18] SabotageAndi commented on #904
Resolved by #906 and #907

[2017-07-26 13:18] #904 closed

[2017-07-26 14:58] SamJongenelen opened #908 "Is BeforeTestRun 'scopable'?"
Hi,

Can methods, decorated with a `[BeforeTestRun]` attribute, also have a `[Scope]` attribute and would that work as expected with other decorators eg.` [BeforeScenario]`?

If yes no, I was wondering it after reading the docs on hooks en scopes and should we update the docs ?

[2017-07-27 07:06] gasparnagy commented on #908
They are not scopeable. Only those hooks can be scoped that are connected to a scenario. BeforeTestRun is executed outside of the scenario scope, so it does not know what the tags of the first executed scenario will be.

In the documentation the 'Tag filtering' column suppose to highlight whether they are scoeable or not. But this can surely be improved (e.g. mentioning this in the 'Tag Scoping' s

[2017-07-27 07:28] gasparnagy commented on #883
@SamJongenelen having no better name yet, this is it: https://github.com/techtalk/SpecFlow.VisualStudio2

[2017-07-27 07:51] gasparnagy commented on #803
@SalamiArmy This has been released. Did you specify the tag on the `Feature`? As far as I see this works only on feature level, not scenario level.

[2017-07-27 09:38] sumesh-m opened #910 "Specflow tests executing in which order ?Please help"
There are some work flow tests like ...initialization ,Start ,Creation ,Updation ,delete and Stop.
We are planning to write in separate scenarios .
These tests should be execute in certain sequence otherwise it will fail. I know every test should be in independent executable state.Because of component instability or the way component built in , we have to execute tests in certain sequence.

Now if

[2017-07-27 09:47] sumesh-m commented on #872
@SabotageAndi
Hello Thanks for reply  ,I was able figure out the issue some of the dependent dlls was missing ,i have provided that.Now its started working.
Now the issue is  all my projects including specflow tests is in  platform target is X64.
Also unitTestProvider in appconfig is "MsTest".
Now if we execute the test in Mstest Command prompt we are getting error saying

""Unable to load the tes

[2017-07-27 10:12] gasparnagy commented on #910
The order of the test execution is determined and configured by the test execution framework you use. If you would like to force a specific execution order you need to configure it with the test runner (e.g. mstest). (But generally having scenarios that are dependent on each other is a bad practice as it makes the execution and the maintenance much harder.)

But anyway, as it is out of scope for s

[2017-07-27 10:12] #910 closed

[2017-07-27 10:14] gasparnagy commented on #872
@sumesh-m you need to instruct MsTest to run in 64 bit mode. https://msdn.microsoft.com/en-us/library/ee782531.aspx
Please reopen if this does not solve the problem.

[2017-07-27 10:14] #872 closed

[2017-07-27 13:21] Stephen-Mc commented on #898
Further to what Andi says, different countries use different formats. Windows has regional settings that allow these to be defined system-wide (Control Panel | Region | Additional Settings).

In other words, "1,200" should only be represented as "1200" **if** the Digit grouping symbol is a comma. However, that is not a given.

Here's another sample of different formats used around the world:
Style

[2017-07-27 13:49] GPetrites commented on #898
Which is why I expressed my original request in terms of specifications as opposed to implementation details.  My examples were only intended to reflect desired results and not to suggest how the work should be done.

May I propose additional scenarios to my original post to cover the new cases you've identified:

Scenario: Interpret integers and decimal using the current regional settings
Given t

[2017-07-27 15:07] sirlukman opened #911 "Specflow AfterFeature not working once a test fails on Assert within a scenario"
I have this bunch of scenarios within a feature file and I do something like resetting my organisation job reference number back to the state I met it before my feature file was run.
My major problem is that, if the last test in the feature file fails on Assert, then my program does not execute the code in my after feature block.
I think irrespective of the faith of the test, after feature should

[2017-07-27 18:22] gasparnagy commented on #911
So basically you say that the AfterFeature hook is not executed after a failing scenario? Which SpecFlow version you use?

[2017-07-27 19:04] SamJongenelen commented on #908
That's what I figured, thank you for responding. I will see if I can edit the page

[2017-07-27 19:04] #908 closed

[2017-07-27 19:08] SamJongenelen opened #912 "question; nuget.org package publish frequency"
Hi,

I noticed the `disable_publish_on_pr: true` is set in the appveyor.yaml;

On what frequency are the nuget.org packages updated (or am I missing a release strategy point)? I'm asking because I have a merged PR I'm waiting for and I cannot add custom repositories to my build server :)

[2017-07-27 19:26] SamJongenelen commented on #903
https://github.com/techtalk/SpecFlow.VisualStudio2

[2017-07-28 06:24] gasparnagy commented on #912
The build results are not published automatically to nuget.org (we do it manually), however they are always published to the CI nuget feed: https://ci.appveyor.com/nuget/specflow-ci. You should configure your project to accept packages from this feed too (like [this](https://github.com/techtalk/SpecFlow/blob/DotNetCore/nuget.config)), so that you can restore them on your build server as well.

[2017-07-28 07:43] sirlukman commented on #911
I have the latest version of specflow (2.1.0) and thanks for your interest in this matter, I really need all the help I can get, so I can get the bottom of this problem.
Cheers.

[2017-07-28 07:49] SabotageAndi commented on #911
@sirlukman The latest version is 2.2 and not 2.1.
So what are you using really? Please have a look in your package.config.

[2017-07-28 09:07] Bakanych opened #913 "[NUnit generator] Add SingleThreaded Attribute to feature class"
https://github.com/nunit/docs/wiki/SingleThreaded-Attribute

It's mandatory for test scenarios setup logic relies on threads in Feature hooks. For ex. some Threadlocal storage is used in Feature hooks.

[2017-07-28 09:10] SabotageAndi commented on #913
Please add more information to this.
When should we add this attribute to the generated code? Always, only when a special tag is set?

[2017-07-28 09:13] Bakanych commented on #913
@SabotageAndi I'd add it by default to make test execution behavior similar to SpecRun. I think it's better to guarantee all the scenario execution events are processed by the same thread.

[2017-07-28 10:43] Bakanych commented on #913
@SabotageAndi please check POC solution:
https://github.com/Bakanych/SpecflowNUnitTests

If you run tests of SpecflowNUnitTests project you will see them green, but there is an error message in console:
[code]

This will solve the problem:

 [System.CodeDom.Compiler.GeneratedCodeAttribute("TechTalk.SpecFlow", "2.2.0.0")]
    [System.Runtime.CompilerServices.CompilerGeneratedAttribute()]
    [NUnit

[2017-07-28 10:43] SamJongenelen commented on #912
Well unfortunately I am not allowed to add repositories to the build environment and I am waiting for the nuget.org update.

[2017-07-28 10:43] #912 closed

[2017-07-28 11:55] SabotageAndi commented on #913
@gasparnagy Any thoughts about this?
I am not that experienced with NUnit.

[2017-07-28 12:42] sirlukman commented on #911
@SabotageAndi Please find attached, as I am pretty sure I am using specflow version 2.1.0 and Visual Studio didnt give me to option to update 2.2, as 2.1.0 is what I have as the latest stable version.
Could the issue I am having be down to not having version 2.2 ???

[2017-07-28 12:50] PiotrZienkowicz opened #914 "[SpecRun] Multiple thread enter AfterTestRun method."
Hello, I have a problem with running multiple tests in SpecRun. I got one scenario outline with a few Exaples tables. I trying to run tests in parallel mode but I have some issues with it. Here are my config file:

[code]

I am using [BeforeTestRun] and [AfterTestRun] to start/stop service and clean files after tests. This class signature looks like this:

[code]

Only one thread enter CreateWorki

[2017-07-28 13:03] SabotageAndi commented on #911
@sirlukman You have a custom feed selected in your package source (top right corner of the "manage packages for solution"- tab).
Please change that to nuget.org. There we publish our packages.

[2017-07-28 13:21] SabotageAndi commented on #914
The Before/Test- Run Hooks are executed once per Thread in the SpecFlow+Runner.
If you only want to to something once per test run, the best way is to use a custom deployment transformations/steps.

Links:
http://specflow.org/plus/documentation/SpecFlowPlus-Runner-Profiles/#DeploymentTransformation

Example: https://github.com/techtalk/SpecFlow.Plus.Examples/tree/master/CustomDeploymentSteps

[2017-07-28 13:34] #804 closed

[2017-07-28 13:55] gasparnagy commented on #913
Related: #884

[2017-07-28 13:59] gasparnagy commented on #884
@elias551 @Peter-B- There are some hints in the related issues (#869, #902, #913) that would be worth trying.

- check if the issue is related to the NUnit version. #869 mentions that it works on NUnit 3.6.1, but not with nunit 3.7.1
- check if the issue is solved when you put the `[NUnit.Framework.SingleThreaded]` attribute to the generated feature class manually. #913 has more info on this.

Cou

[2017-07-28 15:54] elias551 commented on #884
I ran the tests a few times with the attribute, indeed there is no more errors! I still have all of the logs in the first test though

[2017-07-28 15:55] elias551 commented on #884
My nunit version is 3.7.1 btw

[2017-07-28 18:03] gasparnagy commented on #884
@elias551 and are they still run parallel? Because the [documentation](https://github.com/nunit/docs/wiki/SingleThreaded-Attribute) of that attribute does not say much about what it is good for actually.

[2017-07-28 20:06] Peter-B- commented on #884
@gasparnagy Downgrading to NUnit 3.6.1 indeed solved the problem.

I injected ```[NUnit.Framework.SingleThreaded]``` in all my ```*.feature.cs``` files, but that didn't change the change the behavior: The test still run in parallel and the NullReferenceExceptions keep coming. (That is when using NUnit 3.7.1)

[2017-07-30 01:14] DavidKorn commented on #638
We're seeing this too in 2.2.0  Things are working in 2.10.0-ci424, but it seems something has changed since.  Since we can repro by leaving everything unchanged and just upgrading SpecFlow to 2.2.0, it appears the current issue lies elsewhere in SpecFlow.

@ErikStroeken 's detailed report above from May seems to explain the current case well, but I'm wondering if it was overlooked since this issu

[2017-07-31 19:53] teknlgyuser commented on #900
@SabotageAndi

I have this problem as well.

The traits display fine until I upgrade the packages for the project to these:

<package id="SpecFlow" version="2.2.0" targetFramework="net451" />
<package id="SpecRun.Runner" version="1.6.0" targetFramework="net451" />
<package id="SpecRun.SpecFlow" version="1.6.0" targetFramework="net451" />
<package id="SpecRun.SpecFlow.2-2-0" version="1.6.0" targetF

[2017-08-02 10:50] AndrewWinDev commented on #857
Looks like nothing new about this issue :-(
Can some one else confirm correlation with Wix Setup project in the solution?
(in my case it's Wix 3.5)

[2017-08-02 11:02] godrose commented on #857
Regenerate worked in my case

On 2 Aug 2017 1:50 p.m., "Andrew" <notifications@github.com> wrote:

[2017-08-02 15:07] aptester commented on #880
@SabotageAndi did you get some time to take a look?

[2017-08-02 15:07] bmgandre commented on #439
I also have the same problem here but I am running VS2017 with non admin user.
After opening a feature, I notice that VS2017 CPU consumption is 30% in average.
None of the cited workaround worked here.

Environment:
[code]

[2017-08-02 15:32] SabotageAndi commented on #880
No, not yet. I'm currently moving to a new apartment, so free time is rare.
@gasparnagy: could you have a look at it?

[2017-08-03 06:02] gasparnagy commented on #880
@aptester @SabotageAndi not yet. my next week is also very busy, but I will try.

[2017-08-03 09:19] SabotageAndi commented on #900
Could you try one of the examples from https://github.com/techtalk/SpecFlow.Plus.Examples and see if there you also have duplicated tests?

[2017-08-03 10:23] wilhen01 commented on #857
I'm experiencing this problem too. Updating to 2.2. didn't fix it but disabling NCrunch and R# did. I also have WiX projects in my solution. Would be good to get to the bottom of this one.

[2017-08-03 10:40] realfaisalk commented on #900
Hi,

Have tried with "CustomDeploymentSteps --> CalculatorFeature".
With the 'old' versions of Specflow & SpecRun the tests show fine in Test Explorer, including tags:
![image](https://user-images.githubusercontent.com/23498757/28917787-c59d2de8-783e-11e7-9d8b-4d8d21206935.png)

However when I upgrade to the latest versions then with unitTestProvider 'SpecRun' no tests are being shown in Test Expl

[2017-08-03 19:19] SamJongenelen opened #915 "Specflow StepDefinitionReport"
In the SpecFlow 2.2.0 Report Stepdefinition reporting:

The generated html from the `specflow.exe stepdefinitionreport` has broken [Copy] script.

This issue occurs at works so might be because of restrictions, using Windows 7 IE 9, EDGE and Chrome 59, so not really the IE compatibility issue I've read about

Exception:

[2017-08-04 02:14] lukefan6 commented on #482
Also experiencing this with specflow 1.9.0
If this get fixed, I suppose it will be 2.0+ right?

[2017-08-04 06:40] SalamiArmy commented on #803
Yes, in version 2.2.0...

For anyone interested, my experience was, if I put the tags on a scenario they are completely ignored, it wasn't user friendly. if I put them on a feature they were applied as deployment item attributes to all scenarios in in the feature. Which would make it impossible to apply to just select scenarios, like for example, as an optimization.

[2017-08-04 07:05] SabotageAndi commented on #803
@SalamiArmy You are right.
The code for the deploymentitem tag on scenario is missing (https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/MsTest2010GeneratorProvider.cs#L101).
Please file an issue for this. Thanks!

[2017-08-04 09:50] gasparnagy commented on #482
@lukefan6 yes, based on the date it should be included in v2.2

[2017-08-05 16:09] SamJongenelen commented on #915
Found this:
https://stackoverflow.com/a/17378538

perhaps related? I will try and see if I can do something about it

[2017-08-06 09:24] godrose opened #916 "Right-To-Left display"
The scenario is displayed differently in Visual Studio and GitHub when Hebrew symbols are used:
In Visual Studio:
![screen shot 2017-08-06 at 12 22 13 pm](https://user-images.githubusercontent.com/7791651/29002038-f4711f70-7aa1-11e7-843d-c55db5cbb45f.png)
At GitHub:
![screen shot 2017-08-06 at 12 23 07 pm](https://user-images.githubusercontent.com/7791651/29002048-0fee3044-7aa2-11e7-83bc-74807569c

[2017-08-06 15:56] Bakanych commented on #881
@SabotageAndi, @gasparnagy

register your wrapper in the container.

This is not possible if I understand BoDi well.

I could try do some trick like
[code]
to resolve "CurrentTestExecutionEngine" further in WrappedTestExecutionEngine constructor,
but I have no idea how to get current ITestExecutionEngine registration type from BoDi as registration dictionary is private.

[2017-08-07 23:50] DavidKorn opened #917 "SpecFlow 2.2.0 incorrectly believes tests are multi-threaded if test runner is re-used under NUnit3"
Currently NCrunch + Nunit3 + SpecFlow 2.2.0 is not working for test code that uses SpecFlow's static scenario context .  A SpecFlowException is thrown with the message, "The ScenarioContext.Current static accessor cannot be used in multi-threaded execution."  This code is not running under multi-threaded execution, so the exception itself seems to be erroneous.

The behavior was previously identif

[2017-08-08 06:41] godrose commented on #916
@SabotageAndi

[2017-08-08 06:59] vishwanathshettyk commented on #556
Yes Restart your Visual Studio, Binding will work again.

[2017-08-08 07:27] SabotageAndi commented on #916
I would say this is a limitation of the current Visual Studio Integration and can probably fixed only in the new implementation.
But it will take some time until this is ready for release.
Repo is here: https://github.com/techtalk/SpecFlow.VisualStudio2

@gasparnagy any comments?

[2017-08-08 07:50] #892 closed

[2017-08-08 07:52] SabotageAndi commented on #917
Could you test if the env variable NCrunch or SPECFLOW_DISABLE_PARALLEL is set in your tests?
I don't have NCrunch available.

[2017-08-08 08:03] SabotageAndi commented on #900
I can reproduce the behaviour and will have a look at it.

[2017-08-08 10:06] unickq opened #918 "Specflow 2.2 - is there a way to make test name smaller"
Hi,

I'm using SpecFlow 2.2 with NUnit 3.7 with quite long examples in scenario outlines tests.

[code]
With **2.2** seems like all data from table rows are now in tests
![2 2](https://user-images.githubusercontent.com/6696821/29066402-c560e20a-7c37-11e7-8763-665710b54aa0.png)
**2.1:**
![2 1](https://user-images.githubusercontent.com/6696821/29066403-c560efc0-7c37-11e7-8ffd-e68b809d1bee.png)

It w

[2017-08-08 10:26] PhilipGullick commented on #857
I also have this issue when there are wix projects in the solution, unloading them fixed the generation - however that's not an option for me.

[2017-08-08 17:33] hegsie commented on #857
I was seeing this same issue too and I simply unloaded all the wix projects and restarted VS and it works. Happy to provide problem solution if one hasn't been provided yet.

[2017-08-08 18:47] DavidKorn commented on #917
Both variables have a value set to "1".  I've confirmed this to be true in 2.2.0 and 2.1.0-ci424.  NCrunch sets the NCrunch variable automatically whenever it's running tests, and I believe the SpecFlow code uses this to set SPECFLOW_DISABLE_PARALLEL

[2017-08-08 18:48] DavidKorn commented on #638
I opened this reemerging issue for 2.2.0 as #917.

[2017-08-09 14:03] SabotageAndi commented on #857
@hegsie Could you provide us your solution? We didn't get any yet to reproduce the issue.

[2017-08-09 14:05] SabotageAndi commented on #900
I found the error and I am working on a fix.

[2017-08-09 14:11] hegsie commented on #857
I've also noticed that after doing the above actions, and then reloading all the wix projects the generator seems to be fine, I'm using wix 3.11. I'll prep a copy of the solution for u and share it directly with you.

[2017-08-09 14:14] SabotageAndi commented on #857
Thanks! You can send it to support@specflow.org if you don't want to post it public.

[2017-08-09 14:37] godrose commented on #890
@SabotageAndi  Any progress on this?
More specifically. How do you make sure that SpecFlow assembly doesn't use a *specific* version
but rather a *minimum* version? I mean at the assembly level?
Thanks.

[2017-08-09 14:59] SabotageAndi commented on #890
No, no progress and anything planned in the near future as @rodrigoelp got his issue solved.

We don't do anything special, than any other project that is using an external library and is distributed by NuGet.
Minimum version is handled by NuGet. If you have already a newer version in use, you need some assembly redirects in your app.config, so you don't get assembly load errors. And then hope for

[2017-08-09 15:53] hegsie commented on #857
I've just sent the email, can you confirm you recieved. B

[2017-08-09 16:24] SabotageAndi commented on #857
I got it. Thanks!

[2017-08-09 22:43] shadowfoxish opened #919 "Specflow + Nunit 3.7.1 = Exception"
Hi team, we have a situation where if we update NUnit from 3.6.1 to 3.7.1, our Specflow tests break. I really don't know if this is a Specflow issue or an NUnit issue, but my gut says its Specflow related.

I created a VS2017 project to demonstrate the issue:
https://github.com/shadowfoxish/Temp-NunitIssue
Build the project as it is, and try to run the tests from Visual Studio Test Explorer. They'

[2017-08-10 10:29] Stephen-Mc commented on #919
It indeed appears that a recent version of NUnit has introduced a change that breaks tests with SpecFlow+ Runner. We received the first reports of an issue with NUnit a few days ago, and have taken a look at a number of GitHub issues (including 2267, which you posted).

From what we have been able to determine, this will require a fix to the code in SpecFlow+ Runner in order to execute tests with

[2017-08-10 15:02] shadowfoxish commented on #919
Thanks @Stephen-Mc, we'll keep on 3.6.1 until we hear there's a fix available.

[2017-08-11 13:42] SabotageAndi commented on #865
Closed because of no reaction

[2017-08-11 13:42] #865 closed

[2017-08-14 18:33] SabotageAndi commented on #919
We will close this issue, when it is fixed.

[2017-08-14 19:45] DavidKorn commented on #917
I've stopped seeing bug behavior.  We did a meticulous regeneration of all of our feature.cs files using 2.2.0, and currently they seem to be running under NUnit 3 + NCrunch without throwing this SpecFlow exception.  I had thought I had done this regeneration when I previously tested this setup, but now I'm wondering if I had missed some regenerations there.

At this point my working understanding

[2017-08-14 19:45] #917 closed

[2017-08-15 09:59] gasparnagy commented on #918
@unickq you cannot force this, but what you can do is to add an additional column for your examples table (you don't need to use it in the scenario outline itself) and specify the title what you want. This is not only good for the test name generation but it will also be a good documentation for your examples. As long as the values in the first column are unique within the examples, they will be u

[2017-08-15 09:59] #918 closed

[2017-08-15 10:04] gasparnagy commented on #916
@godrose Could you please share a bit more detail about the problem? I see the two examples, but none of them look good really (the `|`-s are misaligned). But in this two example even the text is different.

Could you describe what is the *expected* look?

[2017-08-15 10:12] gasparnagy commented on #881
@Bakanych I think @SabotageAndi  imagined something like this:

[code]

Alternatively you can also try to register it with a factory delegate... but I'm also not sure if this works, because it might resolve the engine too early. But if your plugin is the last one registered, it might work still. Makes sense to try.

[2017-08-15 10:13] gasparnagy commented on #915
@SamJongenelen Please do so. I am back from holidays and happy to help (on Gitter).

[2017-08-15 12:14] Bakanych commented on #881
@gasparnagy I tried this already and got the following error:
[code]

[2017-08-15 12:26] gasparnagy commented on #881
@SabotageAndi how far you are from fixing this on SF+ side? Because there seem to be no good workaround.

[2017-08-15 12:45] Bakanych commented on #881
@gasparnagy Actually if BoDi could provide method to get current registration it would solve the problem. Something like this:
[code]
And then:
[code]

Which can be applied for other such decorators.

[2017-08-15 13:41] unickq commented on #918
@gasparnagy thanks for your reply,

So I added the first column as you said:
[code]
**And tests names now:**
- SCKS_807_VerifyArticleTags(**"check that"**,"/care-for-your-hair/tutorial-test-page-with-content","Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.","Tutorial Test Page With Content","Lorem ipsum dolor","Heat Styling,Long Hair,Pollution",null)
-

[2017-08-15 13:45] gasparnagy commented on #881
@Bakanych yeah... that's not that easy, because registering a concrete type is just one kind of registration, the interface could have been registered in many other different ways.
BTW: could you maybe override the `ITestRunner` implementation instead of the `ITestExecutionEngine`?

[2017-08-15 13:49] gasparnagy commented on #918
@unickq oh. i misunderstood the problem.

[2017-08-15 14:07] gasparnagy commented on #918
@unickq what if you set the following and re-generate the feature files:

[code]

[2017-08-16 02:11] Bakanych commented on #881
@gasparnagy yes I have some workaround in my mind. Anyway thank you very much for your help!

[2017-08-17 17:42] Earl-Brown commented on #856
Turning of lazy project loading fixed this issue for me.

[2017-08-17 19:45] alexmaie commented on #857
Hey guys,

I'm also encountering this issue with specflow 2.2 and VS 2017. Everything works fine in VS 2015

[2017-08-18 07:02] osmanium opened #920 "Error trying to read the VSIX manifest file "obj\Debug\extension.vsixmanifest". Element 'Identity' has invalid value for attribute 'Version' Input string was not in a correct format."
Hey guys,

Due to issue #369, I wanted to dig into the problem by getting my hands dirty and tried building Specflow VS Extension from master branch: [https://github.com/techtalk/SpecFlow.VisualStudio](url)

After restoring Nuget packages build stops with error "Error trying to read the VSIX manifest file "obj\Debug\extension.vsixmanifest". Element 'Identity' has invalid value for attribute 'Versi

[2017-08-18 15:44] alexmaie commented on #919
Hey guys, we have a similiar issue with Specflow 2.2 and NUnuit 3.7.1 . We are getting the following exception.

Result StackTrace:
at TechTalk.SpecFlow.Infrastructure.ContextManager.InitializeScenarioContext(ScenarioInfo scenarioInfo)
   at TechTalk.SpecFlow.Infrastructure.TestExecutionEngine.OnScenarioStart(ScenarioInfo scenarioInfo)
   at TechTalk.SpecFlow.TestRunner.OnScenarioStart(ScenarioInf

[2017-08-18 21:15] daemontoxa opened #921 "[Speclfow 2.2.0] Unauthorized access error when importing TechTalk.SpecFlow.targets"
I updated Specflow version from 2.1.0 to 2.2.0 in my project. So, after this I updated import statement in .csproj file in order to reference the correct version of the TechTalk.SpecFlow.targets.

**<Import Project="..\packages\SpecFlow.2.2.0\tools\TechTalk.SpecFlow.targets" Condition="Exists('..\packages\SpecFlow.2.2.0\tools\TechTalk.SpecFlow.targets')" />**

But after this update my project even

[2017-08-19 13:06] rodrigoelp commented on #890
In reality, I got the issue solved by not upgrading to that version of SpecFlow. Unfortunately, one of the multiple quality steps is executed by our build script detects the warning and fails the build.

As such, we can execute the tests without problems, so I don't know if you are going to resolve this or not. There are ways to specify in your nuget spec that the minimum version is 9, but is open

[2017-08-19 18:25] jamescarter-le commented on #857
+1, same issue with VS2017 and SpecFlow.MsTest v2.2.0

[2017-08-21 07:26] kanekotic commented on #773
ok i will do an attempt on this one :), thanks for the good product you guys develop

[2017-08-21 09:54] DavidZidar commented on #857
Only way I've gotten SpecFlow generation to work with the VS 2017 plugin is by manually registering Microsoft.Build.Framework 15.1.0.0 in the GAC, however this causes [other problems](https://developercommunity.visualstudio.com/content/problem/94979/cannot-open-any-projects-in-solution-after-install.html) so it is not a good solution.

But since you are unable to reproduce this problem, maybe you

[2017-08-21 12:00] SalamiArmy commented on #857
I am able to replicate this in my open source repo at github.com/warewolf-esb/warewolf.
Just open Dev\AcceptanceTesting.sln in Visual Studio 2017 (With update 3 and SpecFlow 2017 extension installed) and then open any file ending in .feature and save it.
I am yet to find a configuration that matches that description but does not replicate this exact issue consistently.

[2017-08-22 09:12] SabotageAndi commented on #921
It looks like the generator is accessing your recycle bin.
Could you try out the latest version from our CI- Feed?

[2017-08-22 09:17] SabotageAndi commented on #920
Version numbers are generated by GitVersion which is integrated via MSBuild. So after the restore, close VS and reopen the solution again.
For every Visual Studio version, there is a solution file. Please open it with the right Visual Studio Version. It will not work if you mix them.

[2017-08-22 11:36] daemontoxa commented on #921
@SabotageAndi Yes, the issue is reproduced but now with another error access path:

![capturenew](https://user-images.githubusercontent.com/31141915/29563637-2dea44f0-8747-11e7-9159-94308db9f390.JPG)

[2017-08-22 11:40] SabotageAndi commented on #921
it looks like, the generator tries to load all files & directories from C:\
something is wrong with the basefolder where the generator is searching for files.

[2017-08-22 11:43] daemontoxa commented on #921
@SabotageAndi But I specified the path for solution for generator. So why is it trying to find something on disk C?

[2017-08-22 12:02] SabotageAndi commented on #900
This is fixed and will be released with the next release of the runner.

[2017-08-22 12:17] teknlgyuser commented on #900
Great. Thanks for working on this.  When do you anticipate the next release?

[2017-08-22 14:16] realfaisalk commented on #900
Thanks Andi,

Will test soon after the next release.

[2017-08-22 15:46] SabotageAndi commented on #900
@teknlgyuser probably in the next weeks

[2017-08-23 10:44] girirajanprabu opened #922 "Specflow plugin failure for Visual Studio 2017"
Hello,
Just downloaded the specflow for visual studio 2017 to install in VS 2017 professional (15.3.1)
When I try to load the spec flow project it gives an error which asks me to look at the activitylog.xml file

The activitylog.xml file had the following error

  <entry>
    <record>785</record>
    <time>2017/08/23 10:38:52.610</time>
    <type>Error</type>
    <source>Editor or Editor Extension

[2017-08-23 10:47] girirajanprabu commented on #922
Launching the IDE as an administrator gets rid of this issue; however the context menu still doesn't render the much needed items.

[2017-08-23 11:18] SabotageAndi commented on #922
What kind of project is your testing project?
Is it still a .NET Framework project in the old format or already in the new csproj?

[2017-08-23 11:18] SabotageAndi commented on #922
Do you get in also in the example projects?
They are here: https://github.com/techtalk/SpecFlow.Plus.Examples

[2017-08-23 12:58] girirajanprabu commented on #922
Thanks for the message. I am just trying to create a class library with some feature files which will be consumed by my MS Tests.
To do this, I installed the Spec Flow Plugin for Visual Studio 2017. The installation went fine without any issues.

I created a new class library in .net framework 4.5.2 and from the template I tried to add a new specflow feature file. This is the first point of encoun

[2017-08-23 15:00] erapopor commented on #922
Ran into same issue on reinstalling this version of Specflow Integration for Visual 2017. For me it happened when I opened a feature file.  Stack trace shown in Activity.xml was:
System.NullReferenceException: Object reference not set to an instance of an object. at TechTalk.SpecFlow.VsIntegration.LanguageService.ProjectScopeFactory.<.ctor>b__9_0() at TechTalk.SpecFlow.VsIntegration.Utils.SynchIni

[2017-08-23 17:08] maxtar opened #923 "Misssing "Generating Step Definitions" in VS2017"
Hi, I've install "SpecFlow For Visual Studio 2017" version: 2017.1.6.
Added
[code]
into the paket.dependencies file. Install them.
Created Featue file, but couldn't see "Generate Step Definitions" item in context-menu.
I didn't find open issues about this.
What I need to do?

![default](https://user-images.githubusercontent.com/10290098/29628768-1afe5bd0-883f-11e7-8255-96af249a9df0.png)

[2017-08-23 17:53] SabotageAndi commented on #923
What was the issue? How do you fixed it?

[2017-08-23 18:20] maxtar commented on #923
I did paket install, but forget add paket.references file into the project. But now I have "Generation error: Object reference not set to an instance of an object." problem. I see TechTalk.SpecFlow reference item, but couldn't compile solution. I think need do something with paket.

[2017-08-23 19:02] victorsantoss commented on #888
I get something similar to this.
On my case, any exceptions are blown up, but I'm also getting twice the plugin initialization.

Is there a way to avoid that and get the plugin initalized only once?

[2017-08-24 18:32] jaysacco commented on #854
I also see this quite often.  Restarting VS sometimes works, sometimes doesn't.  If anyone has a reliable workaround, please post it.

[2017-08-24 20:40] erapopor commented on #923
I noticed this too. I think this is the same root cause as #922

[2017-08-25 20:10] Addisco commented on #823
Hi guys,
I guess there is no need anymore for using to XUnit as NUnit 3.7.1 and NUnit3TestAdapter 3.8.0 are now supported on netstandard1.6 respectivly netcoreapp1.0.
Just add
[code]
to the <test>.csproj.

[2017-08-29 10:08] SabotageAndi commented on #886
The bug is fixed.
It will be included in the next release.

[2017-08-29 10:08] #886 closed

[2017-08-29 12:26] SabotageAndi commented on #919
With the release of NUnit 3.8 this is fixed on NUnit side.
Issue from NUnit: https://github.com/nunit/nunit/issues/2242

[2017-08-29 12:26] #919 closed

[2017-08-29 13:12] #900 closed

[2017-08-29 13:29] SabotageAndi commented on #851
Closing because of no reaction in more than 3 months.
Please reopen it is still relevant for you and you have new input.

[2017-08-29 13:29] #851 closed

[2017-08-31 13:18] SamJongenelen commented on #915
Had my second attempt at this but still couldn't fix it :-1:

[2017-08-31 13:27] Peter-B- commented on #884
I updated to NUnit 3.8.1 today. That fixed the issue for me.

@elias551 If updating NUnit solves the problem for you also, I think we can close the issue.

[2017-09-01 01:46] AndrewEgorov opened #926 "SpecFlow.VisualStudio Go Do Definition doesn't work in case if binding class uses Scope with tags from const"
Unfortunately i didn't find related theme and issues here https://github.com/techtalk/SpecFlow.VisualStudio . The problem i find out is that if I use Scope attribute for my binding class which uses Tag defined as const somewhere go to definition will not work correctly for steps defined in this binding class and will not work at all for steps with StepArgumentTransformatioin.
Here is an example of

[2017-09-01 13:19] SabotageAndi commented on #857
@hegsie & @DavidZidar: thanks for the projects, but I wasn't able to reproduce the issue.

What I did is, that I added additional logging and improvments for the error output to the Visual Studio Extension.
I published a new version of it on our MyGet VSIX Gallery. Uri: https://www.myget.org/F/specflow-vsix/vsix/ VersionNumber: 2017.1.8.

Somebody with this issue: please install this version and r

[2017-09-01 13:26] gengle commented on #857
I'll give it a whirl.  We've had multiple developers reporting this issue; our work around has been to register msbuild in the GAC.

In our case, we've had reports with the following setups.

- Win7, VS2017 15.2
- Win7, VS2017 15.3
- Win10, VS2017 15.3.3

All setups we've tried with/without Resharper.  I have a strong feeling; the issue relates to how devenv.exe loads the generator; sometimes it r

[2017-09-01 13:40] SabotageAndi commented on #857
@gengle On my machine it works without registering something in the GAC and there is also nothing registered.
It has definitive something to do with a configuration of the machine/ Visual Studio.

Suggested work around from us is still to use the MSBuild integration: http://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2017-09-01 13:52] gengle commented on #857
Appreciate the info on MSBuild integration; we do have some workflows where feature files are sources outside in JIRA/XRay and I think such approach may simplify integration with specflow.

I'll send an update in a couple hours on my progress with the special build.

[2017-09-01 16:17] gengle commented on #857
@SabotageAndi  I was not able to reproduce the MSBuild 15.1 error.

[specflowLog1.txt](https://github.com/techtalk/SpecFlow/files/1270821/specflowLog1.txt)
[specflowLog2.txt](https://github.com/techtalk/SpecFlow/files/1270820/specflowLog2.txt)
[specflowLog3.txt](https://github.com/techtalk/SpecFlow/files/1270822/specflowLog3.txt)

These 3; everything worked fine.  Generated file header.
[code]

I

[2017-09-04 08:28] daemontoxa opened #927 "Automatically removing SpecFlowSingleFileGenerator from Custom Tool when adding the new Feature file"
Are there any ways to do this automatically for all new and already existed feature files?

![image](https://user-images.githubusercontent.com/31141915/30017770-1c431044-9163-11e7-9d17-0bd296791ccb.png)

Is it possible to do it as msbuild step?
I tried this one in my project:
  \<Target Name="AfterUpdateFeatureFilesInProject">
    \<ItemGroup>
     \<Compile Remove="*.feature.cs" />
    \</ItemGro

[2017-09-04 08:41] SabotageAndi commented on #927
No, not yet. You have to remove this manually for every existing file and when you add new files.

[2017-09-04 08:47] daemontoxa commented on #927
Ok, will wait when it will be possible) Thanks

[2017-09-04 11:18] DavidZidar commented on #857
Hi, i just did the following.

1. Installed TechTalk.SpecFlow.Vs2017Integration-2017.1.8.vsix
2. Started VS 2017.3.3
3. Enabled SpecFlow tracing
4. Created a new blank library project (.NET Framework)
5. Added a .feature-file, the generated file looks fine but it is using SpecFlow 1.9
6. Made a change to the feature file, all is well
7. Installed NuGet package SpecFlow v2.2.0
8. Made a change to t

[2017-09-05 07:03] psoszynski commented on #922
Hi,

I am getting the same error. I have Visual Studio Version 15.3.3 and SpecFlow Version 2017.1.6.

Our test project (.NET 4.5.2) with SpecFlow has been used for a number of years without any problems. We have many feature files which are updated from time to time. The problem started occuring right after I reinstalled the Visual Studio (to the same version as before and where SpecFlow was ok) a

[2017-09-05 07:28] SabotageAndi commented on #922
@psoszynski Sorry, but I am not aware that anybody is working on a fix.
Without a project to reproduce the error, we (as in SpecFlow team) has not a really chance to fix this fast.

Could you try to debug it yourself?
The sources are here: https://github.com/techtalk/SpecFlow.VisualStudio
 - open the SpecFlow.VisualStudio.2017.sln
 - starting will launch a experiment instance of VS2017
 - open you

[2017-09-05 07:48] SabotageAndi commented on #927
@daemontoxa What about sending an PR with this feature?
The entry point for it is this file: https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/SingleFileGenerator/SingleFileGeneratorBase.cs

[2017-09-05 07:51] SabotageAndi commented on #921
@daemontoxa Where did you configured it?

[2017-09-05 08:02] daemontoxa commented on #921
@SabotageAndi I tried on my local PC and on different PCs this issue is also reproduced.
Folder with the project is located on Disk C. I tried to move on Disk D but it didn't help.

[2017-09-05 08:42] SabotageAndi commented on #921
You wrote following:

Which configuration do you mean?

[2017-09-05 08:47] SabotageAndi commented on #923
@maxtar We make some assumptions where some dlls are in the package folder. As paket has no version number in the package folders, I am not sure if we find now the dlls.
Do you get this error in the code- behind file?

[2017-09-05 08:48] SabotageAndi commented on #920
@osmanium Did you get it to work?

[2017-09-05 08:50] SabotageAndi commented on #895
Closed because of no response => please reopen the issue if you have new information

[2017-09-05 08:50] #895 closed

[2017-09-05 08:51] SabotageAndi commented on #905
#900 is resolved => closing this

[2017-09-05 08:51] #905 closed

[2017-09-05 08:52] SabotageAndi commented on #869
NUnit 3.8 was released last week. Could anybody try this and see if the issue is solved with it?

[2017-09-05 08:53] SabotageAndi commented on #825
in SpecFlow 2.2

[2017-09-05 08:53] #825 closed

[2017-09-05 08:55] maxtar commented on #923
@SabotageAndi Are you mean "code- behind file" is code that implements feature steps? If yes i've got this error in highlighted file:
![default](https://user-images.githubusercontent.com/10290098/30053337-146fa50c-9231-11e7-8205-cb5d562b354e.png)

[2017-09-05 09:02] SabotageAndi commented on #923
Yes, I meant the highlighted file.

[2017-09-05 09:25] CharlieMott commented on #857
We also recently experiencing this problem (feature.cs code being generated using with SpecFlow Version:1.9.0.77 rather than 2.2.0.0).  I think the mix of 1.9.0.77 and 2.2.0.0 feature files is causing tests to fail with the error: "SpecFlowException: The FeatureContext.Current static accessor cannot be used in multi-threaded execution."
We are using:
- Visual Studio 2013
- MsTest
The only thing we

[2017-09-05 09:31] gasparnagy commented on #927
@daemontoxa @SabotageAndi I am not sure that this is easily possible, because the fact that the `SpecFlowSingleFileGenerator` is added is provided through the registry. Basically it is associated to the `.feature` file extension. So I don't know how we could conditionally skip it.

The only idea I have is to make an (even invisible) add new item wizard and do this from code...

[2017-09-05 09:50] maxtar commented on #923
@SabotageAndi In this case answer is "Yes" to your question. :)

[2017-09-05 09:51] SabotageAndi commented on #927
We could at least make the file empty.

[2017-09-05 09:55] gasparnagy commented on #927
hm... I'm not sure if that would be much better than removing the `SpecFlowSingleFileGenerator`.

BTW @daemontoxa: you can select multiple feature files and clear the `SpecFlowSingleFileGenerator` at once.

[2017-09-05 10:11] gasparnagy commented on #926
@AndrewEgorov It is a known limitation. Unfortunately the way how the Visual Studio extension parses the attributes does not support evaluating expressions (even if they are just simple const references). So we cannot really improve this with the current VS extension design. :(

Currently I am not aware of any good workaround except using string literals in the attribute and not consts...

The `[S

[2017-09-05 10:39] daemontoxa commented on #927
@gasparnagy Our manual testers which adding new Feature files to the project don't want to clear this SpecFlowSingleFileGenerator each time) And also a human factor, they can forget to clear it and it's can produce additional effort for me to find feature files that they missed and clear SpecFlowSingleFileGenerator by myself)

[2017-09-05 10:50] daemontoxa commented on #921
@SabotageAndi
specflow.exe generateAll "C:\IssueBook-Automation\issuebook-automation\Ipreo.FI.Automation.IssueBook\Ipreo.FI.Automation.Tests.IssueBook\Ipreo.FI.Automation.Tests.IssueBook.csproj"

[2017-09-05 11:07] gasparnagy commented on #927
@daemontoxa I understand... makes sense.

[2017-09-05 12:41] gasparnagy commented on #890
@SabotageAndi did you consider the suggestion of @rodrigoelp?

[2017-09-05 13:15] PiotrZienkowicz commented on #914
Thanks. I have another question, what is the best way to pass variable from custom global step to scenario step. I creating folder with timestamp name and I need to know this folder name in all scenarios.

[2017-09-05 13:21] FastNinja commented on #824
@gasparnagy I wonder if this issue will enable running of specflow outside of Visual Studio and outside of windows ecosystem? I would like to be able to run BDD tests on Linux (using dot net core..).
is it something you envision for this product or is it completely outside and out of scope?

[2017-09-05 14:02] gasparnagy commented on #824
@FastNinja absolutely. with this concept you will be able to run the tests also from command line with .net core.

[2017-09-05 14:07] gasparnagy commented on #914
@PiotrZienkowicz you can use static fields for that

[2017-09-05 15:51] PiotrZienkowicz commented on #914
@gasparnagy I tried but value is not passed this way. Maybe I did something wrong, I will check it later. There is any other manner to do this?

[2017-09-05 17:39] BlythMeister opened #930 "Specflow 2.2 forces Json upgrade"
### SpecFlow Version:
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [X]	NUnit
- [ ]	Xunit

Version number: 3.7/3.8

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [X]

[2017-09-05 18:19] SabotageAndi commented on #930
Could you explain us, why you are limited to 7.0.1 from Json.net? This version is more than 2 years old.

[2017-09-05 18:30] BlythMeister commented on #930
The upgrade path involves some pretty major breaking changes which would involve serious cost to our business.
If there were features required, we would obviously take this cost, but for the purpose of testing, it is not justifiable.

Whilst I understand that this is an old version, to flip your question back, is there a reason specflow requires such a recent version as a minimum?
Is there feature

[2017-09-05 18:45] SabotageAndi commented on #930
We will think about this issue.
FYI - we also got the request, to update to Newtonsoft.Json 10.x - https://github.com/techtalk/SpecFlow/issues/890

[2017-09-05 18:47] BlythMeister commented on #930
I guess, I would just like this set 7 to latest 😁

[2017-09-06 03:49] AndrewEgorov commented on #920
@osmanium , Seems you downloaded zip with sources instead of cloning it? =) Open `TechTalk.SpecFlow.VsIntegration.Common.Build.targets` file and change
`<VersionNumber>$(GitVersion_Major).$(GitVersion_Minor).$(GitVersion_Patch)</VersionNumber>`
to some hardcoded string to get it work. E.g.
<VersionNumber>1.0.0.0</VersionNumber>

[2017-09-06 10:11] psoszynski commented on #922
Thanks, but when I am in the experimental instance og VS2017 so this error deos not happen and SpecFlow  works just as expected with all the colorings and bindings. But when I start again in the normal version of VS2017 then SpecFlow is not working and I get the error melding as above. Unfortunatelly, I do not have time right now to investigate it more.

[2017-09-06 12:10] GPMoss opened #931 ""Go to step Definition" is greyed out when right clicking mouse on a feature file"
"Go to step Definition" is greyed out when right clicking mouse on a feature file

- [x] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [ ]	VS 2017
- [x]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ ]	Yes
- [x]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Visual Studio Test Explore

[2017-09-06 13:18] SabotageAndi commented on #931
fixed some markdown in the comment

[2017-09-06 13:19] SabotageAndi commented on #931
@GPMoss Do you have the SpecFlow Nuget package added to your project?
Some features are only available, if the project has a reference to the TechTalk.SpecFlow.dll.

[2017-09-06 13:26] GPMoss commented on #931
Hi,

I do.

I think the issue may be more around how its configured on my VS as it seams to be working fine for other members of my team who are using the same project.

[2017-09-06 15:31] GPMoss commented on #931
SpecFlow 2.1.0 has been installed and is in the packages folder and there is an assemble reference with no errors.

[2017-09-07 02:49] AndrewEgorov commented on #926
@gasparnagy , Thanks for your answer.
The problem in design-time only, in runtime all works fine. Seems really problem with VS SDK (CodeAttributeArgument class). Currently i replaced old const to string literals and all works fine.
If time permit I'll take a look at issue more thoroughly (and possibly try to fix)

[2017-09-07 02:49] #926 closed

[2017-09-07 13:15] increddibelly commented on #792
I've seen this happen when I one forgot the "Examples:" header. Not the first place I'd look.

[2017-09-07 15:23] QAGal2 opened #932 "Specflow 2.2.0 not compatible with NUnit 3.8.x"
### SpecFlow Version:
- [ X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ X]	NUnit
- [ ]	Xunit

Version number: 2.2

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [ x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [ x

[2017-09-07 15:29] SabotageAndi commented on #932
Did you regenerate all your code behind files after the update?
We are using the new attributes since some months: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow.Generator/UnitTestProvider/NUnit3TestGeneratorProvider.cs

[2017-09-07 15:40] QAGal2 commented on #932
I thought I had...I even added new feature files, clean,rebuild ...and still had the issue UNTIL I downgraded Nunit. But you are right, I am now able to compile with nunit 3.8.1
Not sure what the issue was as only one project in the solution uses Nunit.
The new generated code behind still uses TestFixtureAttribute. But it works ok.
Thanks for the quick response.

[2017-09-07 16:03] QAGal2 commented on #932
It appears my success was because project still had nunit 3.7.1 project reference..so I still have not had successful code regeneration with the newer OneTimeSetUpAttribute... will keep trying.

[2017-09-08 11:12] evilC commented on #838
Any progress fixing this?

[2017-09-10 12:25] osmanium commented on #920
Sorry for late reply thanks for answers,

@SabotageAndi, I have restarted VS many times after opening it with VS 2017 with respective sln file but unfortunatelly no luck..

@AndrewEgorov, I have both tried downloading from the release folder and master branch but was the same result. I will try putting hardcodded version as you suggested and let you know.

[2017-09-11 19:26] SabotageAndi commented on #930
@gasparnagy FYI, the Gherkin parser currently also use Json.Net 9. (https://github.com/cucumber/gherkin-dotnet/blob/master/Gherkin/Gherkin.csproj#L28)

[2017-09-12 07:35] ChristopherHaws commented on #927
FYI, not sure if you are using the new VS 2017 project system or not, but if you are, and you also happen to be using MS Test, I was able to get this working for the project I have been working on. I extracted the pieces to make it work and made a sample of it here: https://github.com/ChristopherHaws/SpecFlow.ProjectSystem.Sample

[2017-09-12 07:51] daemontoxa commented on #927
@ChristopherHaws I'm on VS 2017. I'll try your suggestion, thanks

[2017-09-12 08:44] SabotageAndi opened #934 "NuGet package for MSBuild integration"
Create a NuGet package that imports TechTalk.SpecFlow.targets into the project.

See documentation: http://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2017-09-12 09:49] SabotageAndi opened #935 "No Tests found/Invalid Configuration File after adding SpecRun.SpecFlow package"
### SpecFlow Version:
- [x]	2.2
- [x]	2.1

### Used Test Runner
- [x] SpecFlow+Runner

Version number: 1.6.0

### Visual Studio Version
- [x]	VS 2017 (15.3.3)

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Visual Studio Test Explorer
- [ ]	TFS/VSTS – Task – PLEASE SPECIFY THE NAME OF

[2017-09-12 10:20] SabotageAndi commented on #900
SpecFlow+Runner 2.2.1 is released which include the fix for this issue.

[2017-09-12 11:17] hegsie commented on #857
When I saved an edited feature file the specflow output window contains...

[12:14:15.7461998] RemoteAppDomainTestGeneratorFactory: AssemblyResolve Event removed
[12:14:15.7941999] RemoteAppDomainTestGeneratorFactory: AppDomain for generator disposed
[12:14:19.0748288] GherkinProcessingScheduler: Applying task 'Parse Gherkin: SingleLine' on thread: 43
[12:14:19.0753260] EditorParser: Start full pa

[2017-09-12 12:16] SabotageAndi commented on #914
The DeploymentStep and the scenarios are executed in different AppDomains, so you cannot share state between them.
@PiotrZienkowicz please open another issue for this. Thanks.

[2017-09-12 12:17] SabotageAndi commented on #914
Closed, because discussion went to different topic and the actual behavior is the defined behavior.

[2017-09-12 12:17] #914 closed

[2017-09-12 12:29] #663 closed

[2017-09-12 17:04] ChristopherHaws commented on #934
I may work on this sometime this week. Another thing that would be nice would be to have a props file that defined the following:

[code]

This would have been helpful when making SpecFlow work with the new csproj project system:
https://github.com/ChristopherHaws/SpecFlow.ProjectSystem.Sample

Thoughts on nuget package names?
- `SpecFlow.Tools.FeatureGeneration`
- `SpecFlow.Tools.Build.FeatureGen

[2017-09-12 19:35] ChristopherHaws commented on #930
@SabotageAndi As discussed in gitter, perhaps using `System.Runtime.Serialization.Json` would be sufficient for the needs of SpecFlow so we could remove the dependency on `Newtonsoft.Json` entirely. We could even make it look like `Newtonsoft.Json` :)

[code]

[2017-09-12 21:46] gasparnagy commented on #930
@ChristopherHaws yes, but we would do it also for the Gherkin parser as well, as pointed out by @SabotageAndi. (The Gherkin parser will be a runtime dependency for the .net core version.)

[2017-09-13 02:04] ChristopherHaws commented on #930
@gasparnagy Looks like xunit solved this problem by writing their own json parser O_O

https://github.com/xunit/xunit/blob/3fc07b2bd9eb624f7baaa65d1be63ae574b737a1/src/common/Json.cs

[2017-09-13 15:07] KajalJena commented on #584
I'm also having issue around tag. If i will provide one tag then it will work fine. But if I'll add more than 1 tag then all steps turned out to be not implemented.
Packages- NUnitTestAdapter : 3.8.1 Specflow : 2.0.0  Selenium: 2.53.1 and VS community 2015

@tag1 @tag2
Scenario: Successful user login
  Given I am on login page
  When I enter login details
  Then I should be able to login successfu

[2017-09-13 15:23] SabotageAndi commented on #584
@KajalJena this issue is about the display of traits in the test explorer. It has nothing to do with the execution of the scenarios.
Please open a new issue for your problem.

[2017-09-13 15:52] SabotageAndi commented on #934
About the name: it should contain SpecFlow, something with codebehind generation and that it is done at the build.
I wouldn't add Tools in the name, but this are my 2 cents.

Additionally note: As we will drop the code behind generation for SpecFlow 3, I wouldn't invest too much time in it.
My idea was to simply import the already existing TechTalk.SpecFlow.targets (https://github.com/techtalk/Spe

[2017-09-14 09:36] CharlieMott opened #936 "In SpecFlow 2.2.1, how do I access the MsTest TestContext?"
We were using this partial class technique (https://stackoverflow.com/a/16891022) to hold the Microsoft.VisualStudio.TestTools.UnitTesting.TestContext in the TechTalk.SpecFlow.FeatureContext.

I have just upgraded to specflow 2.2.1. The test projects with features using this technique no longer compile as we have two TextContext properties (one in the generated feature.cs code and one in our custo

[2017-09-14 09:45] SabotageAndi commented on #936
Do you have access to the TestContext in a normal binding?

[2017-09-14 10:46] SabotageAndi commented on #936
BTW, *Context.Current.Count is looking into the context dictionary for values, these are not the container registrations.

You can get it from the container directly:

    ScenarioContext.Current.ScenarioContainer.Resolve<Microsoft.VisualStudio.TestTools.UnitTesting.TestContext>()

or via context injection:

    public class MyStepDefs
    {
        private readonly TestContext _testContext;

[2017-09-14 12:37] CharlieMott commented on #936
So the following does indeed work within a Test Definition method.

[code]

But it is not working from within my scoped hook.

[code]

I get an **exception**: "Cannot create an instance of Microsoft.VisualStudio.TestTools.UnitTesting.TestContext because it is an abstract class."

[2017-09-14 13:11] SabotageAndi commented on #936
ok, you get the exception because the class is not registered.
Could you post a sample project somewhere? or at least the code behind file of one of your feature files?

[2017-09-14 15:42] richerm commented on #869
NUnit 3.8.1 resolve the issues for me (also updated to latest SpecFlow but likely unrelated).  This is both for my sample test project above as well as my actual production project I'm working on.

For my part in this issue it can be closed as resolved.

[2017-09-15 08:43] CharlieMott commented on #936
Thanks for you help on this.  I've uploaded a sample project here:
https://1drv.ms/u/s!AqwhWEb4PipXgdgSQw4N3_uWXpXuXw
The "RunTestWithAHook" scenario is currently failing.

[2017-09-19 01:26] Maceage opened #938 "How to use xUnit trait attributes in feature files?"
Referencing this Pull Request: https://github.com/techtalk/SpecFlow/pull/484

How do we actually get [Trait] attributes to appear in our generated code from the .feature file?

I've tried searching like crazy to figure this out (including downloading the source code for Specflow) - does anyone have an example of how to achieve this?

@lindavz28 What exactly did you change in your .feature files to

[2017-09-19 06:14] SabotageAndi commented on #938
You have to use at least SpecFlow 2.0 that you get this feature.

[2017-09-19 06:52] Maceage commented on #938
Hey @SabotageAndi,

OK, great - should we upgrade, how do we achieve this in our feature files?

Cheers,

[2017-09-19 07:25] SabotageAndi commented on #938
Without upgrading you will not get this feature.
Currently we are at 2.2.1.
Please have a look at the update information from 1.9 to 2.0: http://specflow.org/updating-to-specflow-2/

[2017-09-19 13:20] SabotageAndi commented on #936
I found the issue. Look at the generated code of the ScenarioSetup method:

    public virtual void ScenarioSetup(TechTalk.SpecFlow.ScenarioInfo scenarioInfo)
    {
        testRunner.OnScenarioStart(scenarioInfo);
        testRunner.ScenarioContext.ScenarioContainer.RegisterInstanceAs<Microsoft.VisualStudio.TestTools.UnitTesting.TestContext>(TestContext);
    }

The TestContext is registered in t

[2017-09-19 14:16] Maceage commented on #938
Hey @SabotageAndi,

Thanks for the information. However, after upgrading to 2.2.1 can you tell me how we generate the [Trait] attribute in feature files? Is this just by adding a @tag as normal?

Cheers,

[2017-09-19 14:21] SabotageAndi commented on #938
Jup, add a normal tag an save the file to regenerate the code behind file.

[2017-09-20 06:52] jgraber commented on #935
Hi,
I have the same problem with SpecFlow 2.2.1. The workaround works, but it is hard to find. A fix for this problem would be much appreciated.

Thanks,
Johnny

[2017-09-20 07:16] SabotageAndi commented on #935
The bug is in the NuGet client of Visual Studio. As long as they didn't fix it, we can't do a lot about it. :-/

[2017-09-20 11:08] BlythMeister commented on #930
@ChristopherHaws i think xunit were smoking something that day!

I like the idea of not taking a dependency on Newtonsoft.Json at all...that being said, the way nuget should work is you specify the lowest possible version you can use.

If all Specflow uses is SerializeObject<T> and DeserializeObject<T> those existed in a VERY early version.
Therefore, if the Specflow nuget package stated for examp

[2017-09-20 16:16] Mossington opened #939 ""Go to step Definition" is greyed out when right clicking mouse on a feature file"
### SpecFlow Version:
- [ ]	2.2
- [x ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ x] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

### Visual Studio Version
- [ ]	VS 2017
- [x ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x ]	Yes
- [ ]	No

### .NET Framework:
- [x ]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x ]	Visual Studio Test

[2017-09-20 16:17] GPMoss commented on #939
![image](https://user-images.githubusercontent.com/31694751/30655012-9ffc5866-9e27-11e7-84b4-da91e03850c5.png)

[2017-09-20 16:18] #931 closed

[2017-09-21 00:04] ChristopherHaws commented on #930
@BlythMeister You are absolutely correct when speaking of just .NET Framework. The problem is that if SpecFlow takes a dependency on a version of Newtonsoft.Json that is less than v9.0.1 then it can't be .NET Standard compliant, which means that it wouldn't work for .NET Core. The only other alternative I see is targeting multiple frameworks...

[code]

[2017-09-21 05:21] thonghq opened #940 "Building project failed after upgrading Specflow 2.2.0 to 2.2.1"
Building project/solution failed because of invalid parameters in "UsingName".srprofile

### SpecFlow Version:
- [x ]	2.2.1
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x ] SpecFlow+Runner
- [ ]	MSTest
- [x ]	NUnit
- [ ]	Xunit

Version number:
SpecRun 1.6.1

### Visual Studio Version
- [x ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ x]	Ye

[2017-09-21 09:40] SabotageAndi commented on #940
This is a bug in the NuGet client. Please see #935.

[2017-09-21 09:40] #940 closed

[2017-09-21 13:26] jamill opened #941 "Visual Studio integration can deadlock VisualStudio"
There is a logic pattern in the Visual Studio integration that lends itself to deadlocking Visual Studio.

The [dispose](https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/LanguageService/IdleTaskProcessingQueue.cs#L152) method in IdleTaskProcessingQueue will block on background threads. When a Solution is closed, this Dispose method is run on the UI via the event handler

[2017-09-22 08:46] realfaisalk commented on #900
Hi,

Just got round to updating the NuGet packages, but am getting the following error when I try to use the Specflow UnitTestProvider:

[code]
Seems to have some reference to v1.6.0 stuck somewhere?

Also no tests are shown in Test Explorer if I just use Specflow, but if I use the MSTest UnitTestProvder then tests are shown.

I have followed the steps from here https://specflow.org/documentation/

[2017-09-22 08:48] SabotageAndi commented on #900
@realfaisalk This has nothing todo with this issue.
Please open a new one.

[2017-09-22 10:52] 4imble commented on #857
I was having the problem for quite a while now, the fix for me which has fixed in on 2/2 of the affected machines I have tried was to delete the 3 following nuget packages from all projects in the solution. I would then delete the packages folder, restart VS and restore.

[code]

For now it seems to be consistently generating the .cs file with SpecFlow Generator Version:2.2.0.0 instead of randomly

[2017-09-22 13:57] realfaisalk commented on #900
Apologies, I thought it might be something to do with the fix from this issue, but it looks like it was just Visual Studio playing up. Had to completely remove my projects and re-download them from TFS.

**Can confirm that the duplication has gone now and tests are displayed correctly in Test Explorer.

Thanks Specflow team!**

[2017-09-22 14:55] goblinmaks opened #943 "Q: Could you please provide any example of using IThreadSafeTraceListener"
Q: Could you please provide any example of using IThreadSafeTraceListener
I run my test in parallel using SpecFlow+Runner and want to implement IThreadSafeTraceListener, but all my implementation works as ITraceListener.

Could you please provide any example of using IThreadSafeTraceListener?
Thanks,

[2017-09-23 19:08] instecjason opened #944 "External Assembly defaults back to nunit"
CHECKBOX ('[ ]') -->
### SpecFlow Version:
- [ X ]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ X ]	Xunit

Version number: 2.2
I'm also using SpecFlow.xUnit.Adaptor 1.0

### Visual Studio Version
- [ X ]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [ X ]	Yes
- [ ]	No

### .NET Framework:
- [

[2017-09-26 07:05] mVermaat opened #945 "testThreadIsolation set to process gets a CommunicationObjectFaultedException when using DateTime"
### SpecFlow Version:
- [X]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [X] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [ ]	Xunit

Version number: 1.6.1

### Visual Studio Version
- [X]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [X]	Yes
- [ ]	No

### .NET Framework:
- [X]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [X]	Vi

[2017-09-26 07:22] SabotageAndi commented on #945
I can reproduce this issue.
Will have a look at it.

[2017-09-26 11:06] Stephen-Mc commented on #935
SpecFlow+ Runner 1.6.2 includes a fix for this issue. You now only need to enter a GUID if you are using the SpecFlow+ server (for adaptive test scheduling), as the GUID is used as the unique key for the test results.

[2017-09-26 12:48] SabotageAndi commented on #945
fixed markdown in description

[2017-09-27 17:57] SabotageAndi commented on #944
If you don't use the SpecFlow.xUnit.Adaptor do you get the same error?

[2017-09-27 18:16] SabotageAndi opened #946 "Update examples to latest version of SpecFlow and use best practices"
Examples of SpecFlow are here: https://github.com/techtalk/SpecFlow-Examples

They are completely outdated and don't use best practices in writing scenarios and steps.

Todo for Bookshops:

- [x] Upgrade to VS 2017
- [x] Update packages
- [x] use driver pattern for bindings
- [ ] use page object pattern for selenium ui tests
- [ ] use MSBuild integration for generating code- behind files (see http

[2017-09-28 00:18] shanmugamganesan commented on #857
I am facing same issue:

What i did:
1. Added new feature in my feature file.

What i get:
1.Relevant feature file's auto generated .cs file content got deleted and got error message.
![image](https://user-images.githubusercontent.com/15239796/30943653-e3126726-a44e-11e7-9f68-166f7cb3e1a5.png)
2. Discarded the change(removed content) from source tree.
3. Auto generation does not work for any newly

[2017-09-28 13:57] SabotageAndi commented on #710
Forgot to close this issue after the release

[2017-09-28 13:57] #710 closed

[2017-09-29 08:41] SabotageAndi commented on #945
This issue is fixed and will be released in the next bugfix release.

[2017-09-29 09:22] goblinmaks commented on #943
Dear,
Please share if you have any solution for IThreadSafeTraceListener.
Thanks,

[2017-09-29 09:45] SabotageAndi commented on #943
The ITraceListener interface is for output of SpecFlow.
If you want to write your own output, you have to use the way your unit test framework provides.

[2017-09-29 09:46] SabotageAndi commented on #943
Why do you want to implement this at your own at all?

[2017-09-29 09:47] SabotageAndi commented on #943
If you use the SpecFlow+Runner, you can simply use Console.WriteLine to output your messages.

[2017-09-29 14:22] goblinmaks commented on #943
Yes, I use SpecFlow+Runner, but Console.WriteLine does not works correctly for parallel execution.
[FICalloutsAT_Default_2017-09-29T170635.log](https://github.com/techtalk/SpecFlow/files/1344590/FICalloutsAT_Default_2017-09-29T170635.log)

In attached log we can see that tests executes in parallel, but Console.WriteLine (CONSOLE OUTPUT markdown) of both tests present only in thread #3.  As result

[2017-10-03 07:40] testfirstcoder commented on #857
1. Remove an existing .feature file
2. Create a new one and copy the content from deleted .feature file

[2017-10-03 11:00] goblinmaks commented on #943
Anybody have hint for my solution ?
Thanks,

[2017-10-03 11:10] SabotageAndi commented on #943
Ok, this looks like a bug.
No need to implement the Interface yourself. Catching the console output for all threads and the correct threads is job of the SpecFlow+Runner.

Could you create a project where this behavior is reproducible?

[2017-10-03 11:12] SabotageAndi commented on #945
SpecFlow+Runner 1.6.3 was released today. This is fixed with it. Please update the nuget package.

[2017-10-03 11:12] #945 closed

[2017-10-03 11:22] mfmanca2000 commented on #566
In the SpecFlow version I'm currently using (2017.1.6), the only tag that is working is @Ignore with a capital letter. Otherwise (@ignore or @ignore("someComment") ) it is transformed into a category attribute.

[2017-10-03 11:24] SabotageAndi commented on #566
@mfmanca2000 Please open a new issue for that. Thanks!

[2017-10-03 20:45] instecjason commented on #944
We are using .NET Core 2 and I didn't know any other way to make xUnit work.  Plus, the lack of background generated code is really nice.

Have people been able to get this work with .NET Core without the xUnit Adaptor?

[2017-10-03 20:46] SabotageAndi commented on #944
We don't have yet support for .NET Core.
Perhaps it works through the .NET full framework shim, but this is tested by us.

[2017-10-04 06:01] SalamiArmy commented on #857
1. Turn it off.
2. Turn it on again.

[2017-10-04 07:06] Gonnagle opened #947 "NCrunch failing to build a project when updating to SpecFlow 2.2.1 with paket"
### Environment info:

* SpecFlow Version: 2.2.1
* Used Test Runner: NCrunch (3.11.0.5)
* Visual Studio Version: VS 2017 (15.3.5)
* .NET Framework: 4.6.1
* Test Execution Method: NCrunch
* No &lt;SpecFlow> Section in app.config

### Issue Description
We use [paket](https://fsprojects.github.io/Paket/) to manage our nuget dependencies and I'm currently trying to update from SpecFlow 2.1 to 2.2.1. A

[2017-10-04 07:47] SabotageAndi commented on #947
If I remember correctly this NullRef Exception could be, because you don't have a SpecFlow section in your app.config.
Could you add one only to be sure?

[2017-10-04 08:11] goblinmaks commented on #943
Sure, Attached as zip file.

[ConsoleOutputSharedAppDomain.zip](https://github.com/techtalk/SpecFlow/files/1354999/ConsoleOutputSharedAppDomain.zip)

[2017-10-04 08:13] Gonnagle commented on #947
Adding the [example config](http://specflow.org/documentation/Configuration/) seems to resolve the issue:

[code]

Thank you for your quick response 👍

[2017-10-04 08:13] #947 closed

[2017-10-04 08:51] #938 closed

[2017-10-04 09:12] gasparnagy commented on #936
@SabotageAndi a solution could be to extend the OnScenarioStart to accept a delegate that would be called after the context is created but before the hooks are executed.

@CharlieMott a workaround for you could be to use a "BeforeStep" hook and remember if it was called:

[code]

[2017-10-04 09:15] #869 closed

[2017-10-04 09:19] gasparnagy commented on #934
As for the name, my preference would be `SpecFlow.Tools.MsBuild.Generation` or even `SpecFlow.MsBuild.Generation`.

[2017-10-04 09:30] gasparnagy commented on #920
@osmanium it is at the end just an XML file. You can edit it also as a text file.

I am closing this now, but feel free to reopen if editing it as xml is not working for any reason.

[2017-10-04 09:30] #920 closed

[2017-10-04 09:35] gasparnagy commented on #838
@evilC Not unfortunately...

[2017-10-04 13:33] gasparnagy opened #948 "Plugins CustomizeGlobalDependencies invoked multiple times when running the tests parallel"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [ ]	NUnit
- [x]	Xunit

Version number: 2.2.0

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013

### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Vi

[2017-10-05 15:28] mattwynne commented on #667
This might help: https://github.com/MagenTys/SpecNuts

[2017-10-06 00:39] jvelazqu22 commented on #857
The solution in this link fixed it for me: http://specflow.org/documentation/Generate-Tests-from-MsBuild/

[2017-10-06 06:31] SabotageAndi commented on #857
Yes, this is the best way to work-around it. And you other benefits from it, like you don't need to checkin the code-behind files anymore.

[2017-10-06 07:35] oleskm opened #949 "Generated *.feature.cs files for NUnit that could not be compiled when using markFeaturesParallelizable = true"
Generated *.feature.cs files  for NUnit that could not be compiled when using markFeaturesParallelizable = true

When we use **markFeaturesParallelizable="true"** option  in .config (generator section), SpecFlow generates *.feature.cs files for NUnit that could not be compiled.
NUnit  [ParallelizableAttribute] takes param of type NUnit.Framework.ParallelScope.
SpecFlow generates attribute with str

[2017-10-06 07:42] oleskm commented on #949
Root cause: TechTalk.SpecFlow.Generator.UnitTestProvider.NUnit3TestGeneratorProvider.cs
![image](https://user-images.githubusercontent.com/32225249/31267978-05881050-aa83-11e7-8eab-153677617b63.png)

[2017-10-06 09:44] goblinmaks commented on #943
Andi,

Any comment by attached solution ?

[2017-10-06 09:47] SabotageAndi commented on #943
Sorry, had no time yet to have a look at it. Probably next week.

[2017-10-06 09:56] goblinmaks commented on #943
No problem, thanks =)

[2017-10-06 14:04] UncleFirefox opened #950 "Table.CreateSet with Tuples"
### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [ ] SpecFlow+Runner
- [ ]	MSTest
- [x]	NUnit
- [ ]	Xunit

Version number: 3.8

### Visual Studio Version
- [x]	VS 2017
- [ ]	VS 2015
- [ ]	VS 2013
### Are the latest Visual Studio updates installed?
- [x]	Yes
- [ ]	No

### .NET Framework:
- [x]	>= .NET 4
- [ ]	before .NET 4

### Test Execution Method:
- [x]	Visua

[2017-10-06 14:09] SabotageAndi commented on #950
fixed markdown

[2017-10-06 14:13] SabotageAndi commented on #950
There is no support for this and I wasn't aware that this syntax is possible with tuples.
Best way to get it, is that you submit a PR.

The normal Create<T>() method is here: https://github.com/techtalk/SpecFlow/blob/master/TechTalk.SpecFlow/Assist/TableExtensionMethods.cs#L30
This would be a good starting point.

If you have questions how to implement this, please join us in our Gitter channel.

[2017-10-06 15:55] mVermaat commented on #817
I was just looking for exactly this. Any news on this?

[2017-10-06 20:00] todoubled711 commented on #885
Hi - just following up on this issue as we are still encountering it.

Thanks,
Todd

[2017-10-07 10:59] UncleFirefox commented on #950
Hi @SabotageAndi I'm giving it a go, but it seems I get some problems as for some reason the system is doing a pivot on the table effectively executing `FlipThisHorizontalTableToAVerticalTable` I'm trying to do tests on. Any ideas?

[2017-10-09 08:46] Haxy89 opened #952 "How to skip BeforeStep, AfterStep for selected steps bindings?"
Hi,

I have a global method with [BeforeStep] and [AfterStep] attribute. It is calling before and after all steps definitions in my tests dll.
Is it possible to skip execute it before and after selected steps. Something like that:

[code]

[2017-10-09 08:48] SabotageAndi commented on #952
You can use scoping (http://specflow.org/documentation/Scoped-Bindings/) or get the name of the scenario from the ScenarioContext and handle this in your step code.

[2017-10-09 09:02] Haxy89 commented on #952
I am not sure using scope is the correct way, when I am trying this:

[code]

this step is not recognize in feature file.
I also don't want to skip beforestep and afterstep in all scenario steps but in one selected.

[code]

[code]

[2017-10-10 07:59] SabotageAndi commented on #949
fixed markdown

[2017-10-10 08:00] SabotageAndi commented on #949
Which version of NUnit are you using?

[2017-10-10 08:03] CharlieMott commented on #936
Thanks @gasparnagy , this workaround does indeed work for my needs.

[2017-10-10 08:07] SabotageAndi commented on #952
Sorry, I misread step with scenario. Scopes don't work here.
You have to do this in code like this:

    [Binding]
    public class BindingClass
    {
    	private ScenarioStepContext _scenarioStepContext;

    	public BindingClass(ScenarioStepContext scenarioStepContext)
    	{
    		_scenarioStepContext = scenarioStepContext;
    	}

    	[BeforeStep()]
    	[AfterStep()]
    	public BeforeAfter

[2017-10-10 08:17] Haxy89 commented on #952
Thx for help :)
What is under "_scenarioStepContext.StepInfo.Text" name of the step method or step Then/Given/And text attribute?

What when I have 10 steps method, do I need to add 10 ifs in BeforeAfterHook method? Can I mark somehow these steps methods to do not use BeforeAfterHook step method?

[2017-10-10 08:20] SabotageAndi commented on #952
As far as I remember StepInfo.Text should be the text of the scenario in the feature file without the keyword at the beginning.

[2017-10-10 08:29] Haxy89 commented on #952
Yeah. but this is not the best approach :(
The better would be to add attribute to steps method to not use BeforeAfterHook method.

PS. I got nullReferenceException on ScenarioStepContext

[2017-10-10 08:33] SabotageAndi commented on #952
Sorry, we don't have anything else to achieve your requirements. It would need to extend Scoping for a step level. Feel free to submit an PR for that.

[2017-10-10 08:34] SabotageAndi commented on #952
Ah, the ScenarioStepContext is not in the DI container. Yeah, so you need to do ScenarioStepContext.Current.

[2017-10-10 08:39] Haxy89 commented on #952
I solved the problem :)

`ScenarioStepContext.Current.StepInfo.BindingMatch.StepBinding.Method.Type.Name` return the name of class for current step. I just need to put all steps I don want to use  BeforeAfterHook method for in one class, then put it name in if loop.

[2017-10-10 09:37] #952 closed

[2017-10-10 11:49] heilwood commented on #860
i have the same issue.

[2017-10-11 08:29] oleskm commented on #949
NUnit 3.7.1

[2017-10-11 14:55] sbabaei commented on #857
I had same problem
I solve with this way : . I uninstall Specflow extention from visual studio and close visual studio then download extention from marketplace in following url and install outside visual studio

https://marketplace.visualstudio.com/items?itemName=TechTalkSpecFlowTeam.SpecFlowforVisualStudio2017

[2017-10-11 15:03] SabotageAndi commented on #857
@sbabaei Interesting.
Because of removing and reinstalling the extension, it is registered in Visual Studio again.
Not sure why this should change something, but I am glad that it is now working for you.

Can somebody with the problem reproduce this fix?

[2017-10-12 00:50] ChristopherHaws commented on #930
BTW, just found this, which might be useful: https://blog.nuget.org/20170316/NuGet-now-fully-integrated-into-MSBuild.html

This would make it so nuget allows any version of newtonsoft between v1.0.0 and v9.0.1 (not sure what the lowest version that should be supported would be)
[code]

[2017-10-12 05:02] BlythMeister commented on #930
The package that specflow publishes needs to be updated though.

All the time the specflow package is requesting 9 or higher, setting lower will not work.

[2017-10-12 05:07] ChristopherHaws commented on #930
@BlythMeister Correct. In my comment I was referring to SpecFlow's version of Newtonsoft.Json. I didn't make that very clear. :)

[2017-10-12 05:09] BlythMeister commented on #930
Oh right sorry.
Personally, I prefer your original idea whereby you specify a different version per framework.

I've seen a lot of nuget packages require different versions of things like Json between framework and standard.

[2017-10-12 09:48] DavidZidar commented on #857
I can confirm that code generation now works on my machine after installing the extension from outside Visual Studio. Very interesting.

[2017-10-12 10:49] AdamWilks commented on #857
I've just tried removing the extension, downloading and reinstalling outside of VS2017 and still appear to have the issue. The problem appears to be that the SingleFileGenerator is always using the older 1.9.0.77 version of TechTalk.SpecFlow.Generator and accompanying assemblies from the extensions directory rather than the one which ships with the nuget package (2.2.0.0) which works.

As a workar

[2017-10-12 11:27] SabotageAndi commented on #857
@AdamWilks Why do you not use the MSBuild integration? http://specflow.org/documentation/Generate-Tests-from-MsBuild/
So the files are generated when you compile your project?

[2017-10-12 11:30] PWithaarImproveQS opened #954 "Restore: ConfigFileTransformation with parallel test runs leads to Result: test framework error: At least one test thread aborted."
When using multiple threads (testThreadCount > 1) in combination with ConfigFileTransformations the run always fails with: Result: test framework error: At least one test thread aborted.

In the stacktrace: The process cannot access the file because it is being used by another process.

### SpecFlow Version:
- [x]	2.2
- [ ]	2.1
- [ ]	2.0
- [ ]	1.9

### Used Test Runner
- [x] SpecFlow+Runner
- [ ]

[2017-10-12 12:15] SabotageAndi commented on #954
The error comes, because multiple threads want to change the same app.config.
You need a RelocateConfigurationFile step before your ConfigFileTransformationStep when you want to execute this in parallel.
In this step, you duplicate your app.config to a copy per thread.
For that you have to use the TestThreadId placeholder in the filename.

So your Default.srProfile has to look like this:

[2017-10-12 12:26] PWithaarImproveQS commented on #954
Thank you!
Adding <RelocateConfigurationFile target="AcceptanceTest.dll.{TestThreadId}.config" /> does fix the issue!

[2017-10-12 12:26] #954 closed

[2017-10-12 12:27] SabotageAndi commented on #954
Your are welcome!
We will extend the documentation about this topic, so that it is clearer what you need todo in cases like yours.

[2017-10-12 14:12] AdamWilks commented on #857
@SabotageAndi Thanks for the link. I've applied the changes as per the documentation and am just trialing it on a branch. Seems to resolve our issue as far as I can see, the only pain is re-configuring all of the existing feature files and making sure people remember to remove the custom tool property from new feature files in the future.

[2017-10-12 14:19] SabotageAndi commented on #857
@AdamWilks See https://github.com/techtalk/SpecFlow/issues/927
We know, but haven't yet an idea how we could solve this.

[2017-10-13 08:13] AdamWilks commented on #857
@SabotageAndi Thanks again for the information. We are still a little puzzled as to why this issue seems to have suddenly surfaced for us. We have been using the 2.2.0 version of the nuget package and 2017.1.6 of the extension for a little while now without any issues initially, but obviously something has changed which caused the problem to manifest and it would be good to understand the root cau

[2017-10-13 08:20] SabotageAndi commented on #857
@AdamWilks The Visual Studio integration only uses the included SpecFlow version for code-behind file generation, if it can not find any that is added to the project.
See https://github.com/techtalk/SpecFlow.VisualStudio/blob/master/VsIntegration/Generator/VsGeneratorInfoProvider.cs#L50

This is done since years, because you would have to update everytime the VS Integration when a new release of S